<%= render 'pages/certification/hero' %>
<div class="ncce-programmes-activity">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column">
          <h2 class="govuk-heading-l ncce-programmes-activity__title underlined__title">Your
            progress</h2>
        </div>
      </div>
      <%= render 'programmes/primary-certificate/achievement_list' %>
    </div>
  </div>

  <ul class="govuk-list ncce-activity-list ncce-activity-list--programme">
    <li class="ncce-activity-list__item ncce-activity-list__item--incomplete">
      <span class="ncce-activity-list__item-text">Testing</span>
      <div class="ihavedonethis">
        <button aria-expanded="true" class="govuk-button ncce-button__pink ncce-button__pink--rounded ihavedonethis__button">
          I have done this
        </button>
        <div class="ihavedonethis__popup">
          <%= form_for Achievement.new, url: { controller: 'achievements', action: 'create' }, html: { class: '' } do |f| %>
            <div class="govuk-form-group ihavedonethis__group">
              <%= label_tag :self_verification_info, 'Please provide a link to the review', class: 'govuk-label ihavedonethis__text' %>
              <%= text_field :activity_id, Activity.user_removable.available_for(current_user).first.id, class: 'govuk-input' %>
            </div>
            <%= f.submit 'Complete activity', class: 'govuk-button ncce-button__pink' %>
          <% end %>
        </div>
      </div>
    </li>
  </ul>

