<% presenters.each_with_index do |presenter, index| %>
  <% unless presenter.empty? %>
    <% if presenter.complete? %>
      <li class="ncce-activity-list__item">
        <span class="ncce-activity-list__item-text ncce-activity-list__item-text--primary-certificate"><%= presenter.prompt_text(index).html_safe %></span>
        <span class='ncce-activity-list__completed_badge'>Completed</span>
        <span class="ncce-activity-list__item-activity light-blue-bg">
          <span class="ncce-activity-list__course"><%= presenter.activity.title %></span>
        </span>
      </li>
      <% if @issued_badge %>
        <li class="ncce-activity-list__item">
          <%= render DashBadgeComponent.new(badge: @issued_badge, fixed_width: true, tracking_event_category: @badge_tracking_event_category, tracking_event_label: @badge_tracking_event_label) %>
        </li>
      <% end %>
    <% else %>
      <li class="ncce-activity-list__item ncce-activity-list__item--inprogress">
        <span class="ncce-activity-list__item-text ncce-activity-list__item-text--primary-certificate"><%= presenter.prompt_text(index).html_safe %></span>
        <span class='ncce-activity-list__completed_badge'>In Progress</span>
        <span class="ncce-activity-list__item-activity light-blue-bg">
          <span class="ncce-activity-list__course"><%= presenter.activity.title %></span>
        <span>
      </li>
    <% end %>
  <% else %>
    <li class="ncce-activity-list__item ncce-activity-list__item--no-gap ncce-activity-list__item--incomplete">
      <span class="ncce-activity-list__item-text ncce-activity-list__item-text--primary-certificate"><%= presenter.prompt_text(index).html_safe %></span>
      <%= link_to presenter.button_label, presenter.button_url(certificate: @programme.slug, current_user: current_user), class: 'govuk-button button button--small ncce-button__achievements', data: presenter.tracking_data %>
    </li>
  <% end %>
<% end %>
