<% meta_tag :title, 'Primary certificate - Teach Computing' %>
<%= render 'pages/certification/hero', full_width: true  %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
				<h2 class="govuk-heading-m">Your certificate is ready!</h2>
        <p class="govuk-body">Congratulations on completing your learning programme and reaching this important milestone in your professional development.</p>
        <p class="govuk-body"><%= link_to 'Download your certificate', certificate_primary_certificate_path, class: 'govuk-button button', role: 'button', draggable: 'false' %></p>
        <%= render CompletedDashBadgeComponent.new(badge: @issued_badge, tracking_event_category: @badge_tracking_event_category, tracking_event_label: @badge_tracking_event_label) %>
				<h2 class="govuk-heading-m govuk-!-margin-top-6">Next steps for you</h2>

				<h3 class="govuk-heading-s">Continue learning</h3>

				<p class="govuk-body">Take your professional development to the next level with our Computer Science Accelerator programme. The programme is suitable for current or aspiring teachers of GCSE computer science, and offers support to teachers from all backgrounds.</p>
        <p class="govuk-body"><strong><%= link_to 'Find out more', cs_accelerator_path, class: 'govuk-link ncce-link' %></strong></p>
        <p class="govuk-body">Online courses are free and we offer funding to state-funded schools and colleges across England including <%= link_to 'subsidies', '/funding', class: 'govuk-link ncce-link' %> to support supply cover for face to face and remote CPD.</p>
				<p class="govuk-body"><strong><%= link_to 'Browse all courses', courses_path, class: 'govuk-link ncce-link' %></strong></p>

				<h3 class="govuk-heading-s">Have you tried our curriculum resources?</h3>
				<p class="govuk-body">Our teaching resources contain everything you need to teach computing at key stages 1 to 4, including lesson plans, slides, assessments and activities.</p>
				<p class="govuk-body"><strong><%= link_to 'Browse resources', curriculum_key_stages_path, class: 'govuk-link ncce-link' %></strong></p>

        <h3 class="govuk-heading-s">You might also be interested in...</h3>
        <p class="govuk-body">Barefoot empowers primary school teachers to deliver the computing curriculum brilliantly with free workshops, helpful online guides and engaging lesson plans and resources.</p>
        <p class="govuk-body"><strong><%= link_to 'Learn more', 'https://www.barefootcomputing.org/', class: 'govuk-link ncce-link' %></strong></p>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="ncce-aside">
          <h2 class="govuk-heading-m ncce-aside__title">Share your success</h2>
          <p class="govuk-body ncce-aside__text">Do you know someone who would
            benefit from this programme? Invite them to join, and discuss what
            you’ve learnt with someone you know.</p>

          <p class="govuk-body ncce-aside__text">Follow us on
            <a href="https://twitter.com/WeAreComputing?ref_src=twsrc%5Etfw"
              class="ncce-link" data-related="WeAreComputing" data-lang="en"
              data-show-count="false" data-dnt="true" target="_blank">Twitter</a>, <a href="https://www.facebook.com/WeAreComputing/"
              class="ncce-link" data-related="WeAreComputing" data-lang="en"
              data-dnt="true" target="_blank">Facebook</a> or <a href="https://www.linkedin.com/company/national-centre-for-computing-education"
              class="ncce-link" data-related="WeAreComputing" data-lang="en" data-dnt="true" target="_blank">LinkedIn</a>
           and tag us when sharing your achievement</p>

          <p class="govuk-body govuk-!-margin-bottom-2">
            <a href="https://twitter.com/intent/tweet?text=<%=CGI.escape "I have completed the Primary Certificate from @WeAreComputing. Sign up: #{primary_url}"%>"
              class="govuk-link ncce-link complete__social complete__social--twitter" data-size="large"
              data-related="WeAreComputing" data-lang="en" data-dnt="true">Share on Twitter</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </p>
					<p class="govuk-body govuk-!-margin-bottom-2"><a href="https://www.facebook.com/sharer/sharer.php?u=<%=CGI.escape primary_url %>" target="_blank" class="govuk-link ncce-link complete__social complete__social--facebook">Share on Facebook</a></p>
					<p class="govuk-body govuk-!-margin-bottom-2"><a href="https://www.linkedin.com/shareArticle?mini=true&url=<%=CGI.escape primary_url %>" rel="noopener" target="_blank"class="govuk-link ncce-link complete__social complete__social--linkedin">Share on LinkedIn</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ncce-programmes-activity">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper govuk-main-wrapper--xl">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m ncce-programmes-activity__title">Your learning journey</h2>
        </div>
      </div>
      <div class="primary-certificate__complete">
        <%= render 'certificates/achievement_list_complete' %>
      </div>
    </div>
  </div>
</div>
