<% meta_tag :title, t('.page_title') %>
<% meta_tag :url, request.original_url %>

<%= render CmsPageTitleComponent.new(title: "Your Teach primary computing certificate progress") %>

<div class="light-grey-bg">

  <%= render GovGridRowComponent.new do |row| %>
    <%= row.with_column("two-thirds") do %>
      <div class="bg-white-wrapper">
        <h1 class="govuk-heading-l">Progress Bar</h1>
      </div>
    <% end %>
    <%= row.with_column("one-third") do %>
      <div class="bg-test govuk-body">
        Need some help?
      </div>
    <% end %>
  <% end %>

  <%= render GovGridRowComponent.new do |row| %>
    <%= row.with_column("two-thirds") do %>
      <div class="primary-dashboard-cpd-courses__wrapper">
        <h2 class="govuk-heading-m">Step one: CPD courses</h2>
        <% if @achievements.present? %>
          <p class="govuk-heading-s">Booked courses</p>
            <% @achievements.each do |achievement| %>
              <%= link_to achievement.title, course_path(id: achievement.activity.stem_activity_code, name: achievement.activity.slug), class: 'govuk-heading-s ncce-link govuk-link--no-underline' %>
              <span class="govuk-body-s <%= course_icon_class(achievement.activity) %>"></span><span class="govuk-body-s"><%= t("shared.course_types.#{course_category(achievement.activity)}") %></span>
            <% end %>
          <div class="primary-dashboard-cpd-courses__explore">
            <div>
              <p class="govuk-heading-s govuk-!-margin-bottom-0">Discover more courses</p>
            </div>
            <div>
              <%= link_to "Explore courses >", courses_path(certificate: @programme.slug), class: "govuk-button button button--inverted govuk-!-margin-bottom-0" %>
            </div>
          </div>
        <% else %>
        <div class="primary-dashboard-cpd-courses__content">
          <div class="govuk-body govuk-!-margin-bottom-0">Find a CPD course to get started</div>
          <div>
            <%= link_to "Explore courses >", courses_path(certificate: @programme.slug), class: "govuk-button button govuk-!-margin-bottom-0" %>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= render GovGridRowComponent.new do |row| %>
    <%= row.with_column("two-thirds") do %>
      <div class="primary-dashboard-activities__wrapper">
        <h2 class="govuk-heading-m">Step two: Putting it into practice</h2>
        <p class="govuk-body">Choose an activity</p>
        <div class="primary-dashboard-activities__content">
          <div>
            <select name="term" id="term" class="govuk-select" data-cms-enrichment-list-component-target="" data-action="">
              <option value="">Select from the list</option>
              <option value="Autumn">Autumn</option>
              <option value="Spring">Spring</option>
              <option value="Summer">Summer</option>
            </select></div>
          <div><a class="govuk-button button govuk-!-margin-bottom-0" href="#">Choose an activity</a></div>
        </div>
      </div>
    <% end %>
    <%= row.with_column("one-third") do %>
      <div class="bg-test">
        Aside
      </div>
    <% end %>
  <% end %>

  <%= render GovGridRowComponent.new do |row| %>
    <%= row.with_column("two-thirds") do %>
      <div class="primary-dashboard-activities__wrapper">
        <h2 class="govuk-heading-m">Step three: Sharing with others</h2>
        <p class="govuk-body">Choose an activity</p>
        <div class="primary-dashboard-activities__content">
          <div>
            <select name="term" id="term" class="govuk-select" data-cms-enrichment-list-component-target="" data-action="">
              <option value="">Select from the list</option>
              <option value="Autumn">Autumn</option>
              <option value="Spring">Spring</option>
              <option value="Summer">Summer</option>
            </select>
          </div>
          <div><a class="govuk-button button govuk-!-margin-bottom-0" href="#">Choose an activity</a></div>
        </div>
      </div>
    <% end %>
    <%= row.with_column("one-third") do %>
      <div class="bg-test">
        Aside
      </div>
    <% end %>
  <% end %>
</div>
