<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field" data-controller="pathway-activities-field--pathway-activities-field">
  <table data-pathway-activities-field--pathway-activities-field-target="pathwayTable">
    <thead>
      <tr>
        <th>Programme</th>
        <th>Pathway</th>
        <th>Supplementary</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for field.attribute do |attribute_fields| %>

        <tr>
          <td><%= attribute_fields.object.pathway.programme.title %></td>
          <td><%= attribute_fields.object.pathway.title %></td>
          <td><%= attribute_fields.check_box :supplementary  %></td>
          <td><%= attribute_fields.check_box :_destroy  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="add-field">
    <p>Add to Pathway</p>
    <%= select_tag :new_pathway, grouped_options_for_select(field.new_pathway_options),
      { 
        prompt: 'Select Pathway',
        data: {
          'pathway-activities-field--pathway-activities-field-target': 'pathwaySelect'
        }
      } %>
    <button data-action="click->pathway-activities-field--pathway-activities-field#addNewPathway" type="button">Add</button>
  </div>
</div>

