<div class='page-card-component--card <%= @class_name %>'>
  <% if @image_url.present? %>
    <div class="page-card-component--image-wrapper">
      <%= image_pack_tag @image_url, alt: @title, class: 'page-card-component--image' %>
    </div>
  <% end %>
  <h2 class="govuk-heading-m"><%= @title %></h2>
  <p class="govuk-body"><%= @text %></p>
  <p class="govuk-body"><%= link_to @link_title, @link_url, class: 'ncce-link' %></p>
</div>
