<%= render GovGridRowComponent.new(background_color: @background_color) do |row|  %>
  <%= row.with_column("full") do %>
    <%= title_html if @title %>
    <% if @intro_text %>
      <div class="govuk-!-margin-bottom-3">
        <%= render @intro_text.render %>
      </div>
    <% end %>
    <div class="cms-card-wrapper__grid" style="<%= cards_per_row %>">
      <% @cards_block.each do |card| %>
        <div class="cms-card-wrapper__card">
          <%= render card.render %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
