<ul class="govuk-list ncce-activity-list" role="list">
  <% achievements.each do |achievement| %>
  <li class="ncce-activity-list__item ncce-activity-list__item--dashboard">
    <span class="screen-reader-only">Achievements:</span>
    <span class="ncce-activity-list__item-text <%= 'ncce-activity-list__item-text--incomplete' unless achievement.current_state == :complete.to_s %>">
      <%= achievement.activity.title %>
    </span>
    <span class="ncce-activity-list__item--dashboard-tags">
      <span class="govuk-body-s ncce-activity-list__item--dashboard-tags--course <%= get_course_tag_class(achievement) %>">
        <strong><%= get_course_strings(achievement) %></strong>
      </span>
      <span class="govuk-body-s ncce-activity-list__item--dashboard-tags-date"><%= get_date_string(achievement) %></span>
    </span>
  </li>
  <% end %>
</ul>
