<ul class="govuk-list ncce-activity-list" role="list">
  <% achievements.each do |achievement| %>
  <li class="ncce-activity-list__item ncce-activity-list__item--dashboard dashboard-border %>">
    <div class="ncce-activity-list__item-text <%= 'ncce-activity-list__item-text--incomplete' unless achievement.current_state == :complete.to_s %>">
      <% if achievement.active_course? %>
        <%= link_to achievement.activity.title, course_path(id: achievement.activity&.stem_activity_code, name: achievement.activity.slug), class: 'ncce-link' if achievement.activity.stem_activity_code %>
      <% else %>
        <%= achievement.activity.title %>
      <% end %>
    </div>
    <div class="ncce-activity-list__info">
      <div class="govuk-body ncce-activity-list__tags">
        <% achievement.activity.programmes.select { _1.user_enrolled?(current_user) }.each do |programme| %>
          <strong class="dashboard-tags--<%= programme.slug %>"><%= programme.certificate_name %></strong>
        <% end %>
      </div>
      <% details = stem_course_details(user_course_info, achievement.activity.stem_course_template_no) %>
      <% if details.present? %>
        <div class="govuk-body ncce-activity-list__subtext <%= course_icon_class(achievement.activity) %>">
          <%= t("shared.course_types.#{achievement.activity.category}") %>:
            <% if achievement.activity.online? %>
              <%= online_course_availability(Date.parse(details.start_date)) unless started?(details.start_date) %>
            <% else %>
              <strong><%= course_start_date(details.start_date) %></strong>
            <% end %>
        </div>
        <% unless achievement.activity.remote_delivered_cpd || achievement.activity.online? %>
          <div class="govuk-body ncce-activity-list__subtext ncce-activity-list__subtext--address">
            <%= "#{details.address_venue_name}, #{details.address_line_one}, #{details.address_town}, #{details.address_postcode}" %>
          </div>
        <% end %>
      <% else %>
        <div class="govuk-body ncce-activity-list__subtext <%= course_icon_class(achievement.activity) %>">
          <%= t("shared.course_types.#{course_category(achievement.activity)}") %>
        </div>
      <% end %>
      <div class="govuk-body ncce-activity-list__subtext ncce-activity-list__subtext--date">
        <%= get_date_string(achievement) %>
      </div>
      <div class="ncce-activity-list__subtext govuk-!-margin-top-0">
        <%= render ProviderLogosComponent.new(dashboard: true, provider: achievement.provider) %>
      </div>
    </div>
  </li>
  <% end %>
</ul>
