<h3 class="govuk-heading-m">Your progress</h3>
<p class="govuk-body">Your activities are logged here. Face-to-face course completion is updated automatically and online courses will be soon as well, but for now you can add them manually. We will also be including the credits you’ve earned that will help you track your progress towards <%= link_to 'certification', certification_path, class: 'ncce-link' %>.</p>

<ul class="govuk-list ncce-activity-list">
  <li class="ncce-activity-list__item">
    <span class="ncce-activity-list__item-text"><strong>Signed up</strong> to the NCCE</span>
  </li>
  <% @achievements.each do |achievement| %>
    <li class="ncce-activity-list__item">
      <span class="ncce-activity-list__item-text"><strong><%= achievement.activity.title %></strong></span>
    </li>
  <% end %>
  <% @delegate_course_list.each do |course| %>
    <li class="ncce-activity-list__item">
      <span class="ncce-activity-list__item-text"><strong>Completed course</strong> <%= course.activity_title %></span>
    </li>
  <% end %>
  <li class="ncce-activity-list__item">
    <span class="ncce-activity-list__item-text"><strong>Add a completed CPD Activity</strong></span>
    <span class="govuk-form-group ncce-activity-form">
      <%= form_for Achievement.new, url: { controller: 'achievements', action: 'create' }, html: { class: 'ncce-activity-form"' } do |f| %>
        <%= f.select :activity_id,
          options_for_select(Activity.cpd.available_for(current_user).collect { |activity| [ activity.title, activity.id ] }),
          { include_blank: 'Select an activity' },
          { class: 'govuk-select ncce-activity-form__select' }
        %>
        <%= f.submit 'Add', class: 'govuk-button ncce-button__pink ncce-activity-form__button' %>
      <% end %>
    </span>
  </li>
</ul>
