<h2 class="govuk-heading-m">Certificates</h2>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-third">
		<div class="shadow_card card--dashboard">
			<span>Not enrolled</span>
			<h3 class="govuk-heading-m card--resource__title"><%= link_to 'Teach primary computing', '/primary-certificate', class: 'govuk-link ncce-link' %></h3>
			<ul class="govuk-list govuk-list--bullet">
				<li>blended course and activity programme</li>
				<li>flexible and tailored to your needs</li>
				<li>bursaries for eligible schools</li>
			</ul>
			<%= link_to 'Enrol', '/', class: 'govuk-button button button--aside' %>
		</div>
	</div>
	<div class="govuk-grid-column-one-third">
		<div class="shadow_card card--dashboard">
			<span>Not enrolled</span>
			<h3 class="govuk-heading-m card--resource__title"><%= link_to 'Teach primary computing', '/primary-certificate', class: 'govuk-link ncce-link' %></h3>
			<ul class="govuk-list govuk-list--bullet">
				<li>blended course and activity programme</li>
				<li>flexible and tailored to your needs</li>
				<li>bursaries for eligible schools</li>
			</ul>
			<%= link_to 'Enrol', '/', class: 'govuk-button button button--aside' %>
		</div>
	</div>
	<div class="govuk-grid-column-one-third">
		<div class="shadow_card card--dashboard">
			<span>Not enrolled</span>
			<h3 class="govuk-heading-m card--resource__title"><%= link_to 'Teach primary computing', '/primary-certificate', class: 'govuk-link ncce-link' %></h3>
			<ul class="govuk-list govuk-list--bullet">
				<li>blended course and activity programme</li>
				<li>flexible and tailored to your needs</li>
				<li>bursaries for eligible schools</li>
			</ul>
			<span>Progress section</span>
			<%= link_to 'Enrol', '/', class: 'govuk-button button button--aside' %>
 			<li class="govuk-header__navigation-item ncce-header__navigation-item">
        <%= certificate_progress_for_user(current_user) %>
        </li>
		</div>
	</div>
</div>
