<% meta_tag :title, 'Your dashboard - Teach Computing' %>

<%= render CmsPageTitleComponent.new(title: "Progress overview", intro_text: nil) %>

<%= render GovGridRowComponent.new(background_color: "light-grey", padding: {top: 7, bottom: 2}) do |row| %>
  <%= row.with_column("two-thirds") do %>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Enrolled certificates</h1>
    <% @enrolled_certificates.each do |certificate| %>
      <%= render DashboardCertificateComponent.new(certificate: certificate, button_text: "Check my progress", button_color: "ncce-button") %>
    <% end %>
  <% end %>
<% end %>

<%= render GovGridRowComponent.new(background_color: "light-grey", padding: {top: 3, bottom: 4}) do |row| %>
  <%= row.with_column("two-thirds") do %>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Other certificates</h1>
    <% @unenrolled_certificates.each do |certificate| %>
      <%= render DashboardCertificateComponent.new(certificate:, button_text: "Find out more", button_color: "ncce-button--white") %>
    <% end %>
  <% end %>
<% end %>

<%= render GovGridRowComponent.new(padding: {top: 7, bottom: 4}) do |row| %>
  <%= row.with_column("two-thirds") do %>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Your courses</h1>
    <%= render 'achievement_list', user_course_info: @user_course_info, achievements: @incomplete_achievements if @incomplete_achievements.present? %>
  <% end %>
<% end %>
