<div class="govuk-width-container">
  <div
    class="govuk-main-wrapper govuk-main-wrapper--xl ncce-main-wrapper--intro">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Your dashboard</h1>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">Welcome to your personal dashboard where you can
            discover and book face-to-face and online training courses and view
            your progress.</p>
          <p class="govuk-body">If you need help finding a course that’s
            suitable for you, use our
            <%= link_to 'diagnostic tool', activities_download_path(Activity.downloaded_diagnostic_tool.id, :file => { name: 'NCCE.Diagnostic.pdf', type: 'application/pdf' }), class: 'ncce-link', target: :_blank %>
            to identify the areas of subject knowledge where you need most
            support.</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <aside class="ncce-aside">
            <h2 class="govuk-heading-m ncce-aside__title">Find a course</h2>
            <p class="govuk-body ncce-aside__text">See the list of current face
              to face and online courses.</p>
            <p class="govuk-body">
              <%= link_to 'Browse available courses', courses_path, class: 'govuk-button ncce-button__pink ncce-aside__button', role: 'button', draggable: 'false' %>
            </p>
          </aside>
        </div>
    </div>
  </div>
</div>
</div>
<%= render 'dashboard/certificate' if @certification_enabled %>
<%= render 'dashboard/activity' %>
<%= render 'dashboard/courses' %>

