<% meta_tag :title, 'Your dashboard - Teach Computing' %>

<%= render CmsPageTitleComponent.new(title: "Progress overview", intro_text: nil) %>

<% if @enrolled_certificates.any? %>
  <%= render GovGridRowComponent.new(background_color: "light-grey", padding: {top: 7, bottom: 0}) do |row| %>
    <%= row.with_column("two-thirds") do %>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Enrolled certificates</h1>
      <% @enrolled_certificates.each do |certificate| %>
        <%= render DashboardCertificateComponent.new(certificate: certificate, button_text: "Check my progress", button_color: "ncce-button") %>
      <% end %>
    <% end %>
  <% end %>
<% end%>

<%= render GovGridRowComponent.new(background_color: "light-grey", padding: {top: 7, bottom: 4}) do |row| %>
  <%= row.with_column("two-thirds") do %>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      <% if @enrolled_certificates %>
        Choose your next certificate
      <% else %>
        Choose your certificate
      <% end %>
    </h1>
    <% @unenrolled_certificates.each do |certificate| %>
      <%= render DashboardCertificateComponent.new(certificate:, button_text: "Find out more", button_color: "ncce-button--white") %>
    <% end %>
  <% end %>
<% end %>

<% if @incomplete_achievements.any? %>
  <%= render GovGridRowComponent.new(padding: {top: 7, bottom: 0}) do |row| %>
    <%= row.with_column("two-thirds") do %>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Booked courses</h1>
      <% @incomplete_achievements.each do |achievement| %>
        <%= render DashboardCourseComponent.new(achievement:) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= render GovGridRowComponent.new(padding: {top: 7, bottom: 0}) do |row| %>
  <%= row.with_column("two-thirds") do %>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Other courses</h1>
    <div class="other-courses govuk-body-m">
      <div class="other-courses__image">
        <%= image_pack_tag("media/images/icons/compass.svg") %>
      </div>
      <div class="other-courses__text">
        <%= link_to "Find a course", courses_path, class: "ncce-link govuk-link--no-underline"%> and kickstart your certification.
      </div>
    </div>
  <% end %>
<% end %>

<% if @completed_achievements.any? %>
  <%= render GovGridRowComponent.new(padding: {top: 7, bottom: 2}) do |row| %>
    <%= row.with_column("two-thirds") do %>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Completed courses</h1>
      <% @completed_achievements.each do |achievement| %>
        <%= render DashboardCourseComponent.new(achievement:) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
