<div class="govuk-width-container">
  <div
    class="govuk-main-wrapper ncce-main-wrapper--intro">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Welcome!</h1>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">We are delighted that you have decided to enrol on this professional development programme.</p>
          <p class="govuk-body">This is your personal dashboard where you can track your progress and record your face-to-face and online learning. It’s only visible to you.</p>
          <p class="govuk-body">Not sure where to begin? Use our
            <%= link_to 'diagnostic tool', activities_download_path(Activity.downloaded_diagnostic_tool.id, :file => { name: 'NCCE.Diagnostic.pdf', type: 'application/pdf' }), class: 'ncce-link', target: :_blank %>
            to see which courses or topics might be a good place to start.</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <aside class="ncce-aside">
            <h2 class="govuk-heading-m ncce-aside__title">Find a course</h2>
            <p class="govuk-body ncce-aside__text">See the list of current face
              to face and online courses.</p>
            <p class="govuk-body">
              <%= link_to 'Browse available courses', courses_path, class: 'govuk-button ncce-button__pink ncce-aside__button', role: 'button', draggable: 'false' %>
            </p>
          </aside>
        </div>
    </div>
  </div>
</div>
</div>
<% if @certification_enabled %>
  <% @programmes.each do |programme| %>
    <%= render "dashboard/programmes/#{programme.slug}", programme: programme %>
  <% end %>
<% end %>
<%= render 'dashboard/activity' %>
<%= render 'dashboard/courses' %>

