<%= content_tag :div, class: ['non-bordered-cards-component', { "#{@class_name}": @class_name.present? }], style: custom_properties do %>
  <% @cards.each do | card | %>
    <%= content_tag :div, class: ['non-bordered-card', { "#{card[:class_name]}": card[:class_name].present? }] do %>
      <% if card[:image_url].present? %>
        <div class="non-bordered-card__image-wrapper">
          <%= image_pack_tag card[:image_url], alt: card[:title], class: 'non-bordered-card__image' %>
        </div>
      <% end %>
      <h2 class="govuk-heading-m non-bordered-card__title"><%= card[:title] %></h2>
      <% if card[:text].present? %>
        <p class="govuk-body non-bordered-card__text"><%= card[:text] %></p>
      <% end %>
      <p class="govuk-body">
        <% if card[:link][:link_url].present? %>
          <%= link_to card[:link][:link_title], card[:link][:link_url], method: link_method(card), class: [{ 'ncce-link': card[:link][:button].blank?, "govuk-button button button--full-width": card[:link][:button].present? }], data: {
            event_action: 'click', event_category: card[:link][:tracking_page], event_label: card[:link][:tracking_label]
          } %>
        <% else %>
          <strong><%= card[:link][:link_title] %></strong>
        <% end %>
      </p>
    <% end %>
  <% end %>
<% end %>
