<div class='recommended-courses-wrapper'>
  <% if pathway.present? %>
    <div data-controller='expander'>
      <p class="govuk-!-margin-top-0">
          <button data-action="expander#toggleAll"
                  data-expander-target="expanderButton"
                  start-expanded="true"
                  aria-expanded="true"
                  class="govuk-body expander__button recommended-courses-wrapper_expander-button"
                  data-event-action="click"
                  data-event-label="Show additional courses"
                  data-event-category="CSA enrolled">
              <strong><%= defined?(title) ? title : t('.courses_intro.html') %></strong>
          </button>
      </p>

      <div data-expander-target="expander" class="expander">
        <% recommended_activities.each do |pa| %>
          <div class="ncce-pathway-courses__course">
            <p class="ncce-pathway-courses__link">
              <%= link_to pa.title, course_path(id: pa.stem_activity_code, name: pa.slug), class: 'ncce-link' if pa.stem_activity_code %>
            </p>

            <div class="ncce-grid__no-space-between">
              <p class="ncce-pathway-courses__location <%= activity_icon_class(pa) %> govuk-!-margin-top-0">
                <%= activity_type(pa) %>
              </p>
              <% course = Achiever::Course::Template.maybe_find_by_activity_code(pa.stem_activity_code)%>
              <% if course&.duration_present? %>
                <p class="ncce-pathway-courses__location icon-clock govuk-!-margin-top-0">
                  <%=  course.formatted_duration %>
                </p>
              <% end %>
              <% if @current_user.achievements.find_by_activity_id(pa.activity_id) %>
                <strong class="govuk-tag ncce-pathway-courses__status ncce-courses__tag">
                  <%= @current_user.achievements.find_by_activity_id(pa.activity_id).complete? ? 'Completed' : 'In progress' %>
                </strong>
              <% end %>
            </div>
          </div>
        <% end %>
        <p class='govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0'><%= t('.other_formats') %></p>
      </div>
    </div>
  <% end %>

  <div class="ncce-pathway-courses__buttons">
    <%= link_to t('.all_courses_button'),
      courses_path(certificate: @programme.slug), class: 'govuk-button button--inverted button govuk-!-margin-bottom-0',
      data: { event_action: 'click', event_category: event_category, event_label: 'View all certificate courses' } %>
  </div>
</div>
