<div class='mailer__content'>
  <p class='govuk-body'>Hi <%= @user.first_name %>,</p>
  <p class="govuk-body">You are now on the journey to gain your Key Stage 3 and GCSE Computer Science subject knowledge certificate! This nationally recognised certificate is awarded by BCS, The Chartered Institute for IT.</p>

  <p class='govuk-body'><strong>Not sure where to start?</strong></p>
  <ul class='govuk-list'>
    <li>Choose the courses that are right for you. Complete our short questionnaire to assess your confidence and subject knowledge. We'll then update your <%= link_to 'personal dashboard', cs_accelerator_certificate_url, class: 'ncce-link' %> to show you recommended courses, based on the learning pathway we think is right for you</li>
    <li>Use our mock test to check what you’ve learnt</li>
    <li>When you're ready, take and pass our test to receive your certificate</li>
    <li>Our <%= link_to 'handbook', 'https://ncce.io/csa-handbook', class: 'ncce-link' %> provides a great overview of the programme, and useful guidance</li>
  </ul>

  <p class='govuk-body'><strong>Not the right time?</strong></p>

  <p class='govuk-body'>If you don't want to continue on the programme at this time, then <%= link_to 'let us know', unenrol_cs_accelerator_certificate_url(@enrolment_id), class: 'ncce-link' %> and we'll update our records. You can still re-enrol yourself in the future <%= link_to 'on our website', cs_accelerator_url, class: 'ncce-link' %>.<p>
</div>
