<div class='mailer__content'>
  <p class='govuk-body'>Welcome <%= @user.first_name %>, we are delighted to have you on board!</p>
  <p class='govuk-body'>You’ve successfully joined our Computer Science Accelerator programme, and we look forward to guiding you on your journey to achieving your subject knowledge certificate.</p>
  <p class='govuk-body'>This qualification is awarded by BCS and accredited by the Royal Academy of Engineering, and can even set you on the path towards chartered status.</p>
  <p class='govuk-body'>Now you’re enrolled on the programme, you’ll find all of the resources and support you need on your <%= link_to 'personal dashboard', dashboard_url, class: 'ncce-link' %>, including our <%= link_to 'handbook', 'http://ncce.io/csa-handbook', class: 'ncce-link' %>, which will walk you through what to expect as you progress. </p>
  <p class='govuk-body'><strong>Next steps...</strong></p>
  <ol class="govuk-list govuk-list--number">
    <li>Complete our short questionnaire to assess your confidence and subject knowledge</li>
    <li>Explore your personalised dashboard which shows you the learning pathway and courses we recommend you take</li>
    <li>Complete a minimum of ten hours of CPD, which must include a face to face or remote course</li>
    <li>Use our mock test to check what you’ve learnt</li>
    <li>When you’re ready, take and pass our test to receive your certificate</li>
  </ol>
  <p class='govuk-body'><strong>Bursary funding</strong></p>
  <p class='govuk-body'>If you work in state-funded secondary education, you are eligible for bursary funding of up to £1,800, paid to your school or college. <%= link_to 'Check your eligibility', 'https://teachcomputing.org/bursary', class: 'ncce-link' %>
  <p class='govuk-body'><strong>Get help from a CS Champion</strong></p>
  <p class='govuk-body'>If you're a teacher from a state-funded school or college in England, start your journey by booking a course. One of our CS Champions will then be in touch to support you through. Need help now? Contact <%= mail_to 'CSChampionSupport@stem.org.uk', 'CSChampionSupport@stem.org.uk', class: 'ncce-link' %>.
</div>
