<div class="ncce-programmes-activity">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column">
          <h2 class="govuk-heading-m ncce-programmes-activity__title">Your
            progress</h2>
        </div>
      </div>
      <ul class="govuk-list ncce-activity-list">
      <% if @face_to_face_achievements.empty? %>
        <li
          class="ncce-activity-list__item ncce-activity-list__item--incomplete">
          <span class="ncce-activity-list__item-text"> Complete your first face
            to face course </span>
          <%= link_to 'Find a face to face course', '#', class: 'govuk-button ncce-button__pink ncce-button__pink--rounded' %>
        </li>
        <li
          class="ncce-activity-list__item ncce-activity-list__item--incomplete">
          <span class="ncce-activity-list__item-text"> Complete your second face
            to face course </span>
          <%= link_to 'Find a face to face course', '#', class: 'govuk-button ncce-button__pink ncce-button__pink--rounded' %>
        </li>
      <% elseif @face_to_face_achievements.count == 1 %>
      <% @face_to_face_achievements.each do |f2f| %>
        <li class="ncce-activity-list__item">
          <span class="ncce-activity-list__item-text"> Completed your first
            online course <%= f2f.activity.title %>
          </span>
        </li>
      <% end %>
        <li
          class="ncce-activity-list__item ncce-activity-list__item--incomplete">
          <span class="ncce-activity-list__item-text"> Complete your second face
            to face course </span>
          <%= link_to 'Find a face to face course', '#', class: 'govuk-button ncce-button__pink ncce-button__pink--rounded' %>
        </li>
      <% else %>
        <% @face_to_face_achievements.each_with_index do |f2f, index| %>
          <% if index < 0 %>
            <li
              class="ncce-activity-list__item ncce-activity-list__item--incomplete">
              <span class="ncce-activity-list__item-text"> Complete your first face
                to face course </span>
              <%= link_to 'Find a face to face course', '#', class: 'govuk-button ncce-button__pink ncce-button__pink--rounded' %>
            </li>
            <li
              class="ncce-activity-list__item ncce-activity-list__item--incomplete">
              <span class="ncce-activity-list__item-text"> Complete your second face
                to face course </span>
              <%= link_to 'Find a face to face course', '#', class: 'govuk-button ncce-button__pink ncce-button__pink--rounded' %>
            </li>
          <% end %>
          <% if index == 1 %>
              <li class="ncce-activity-list__item">
                <span class="ncce-activity-list__item-text"> Completed your <%= index ==1? 'first': 'second' %>
                  online course <%= f2f.activity.title %>
                </span>
              </li>
          <% else %>
            <li class="ncce-activity-list__item">
              <span class="ncce-activity-list__item-text"> Completed your second
                online course <%= f2f.activity.title %>
              </span>
            </li>
          <% end %>
        <% end %>
      <% end %>
      </ul>

      <ul class="govuk-list ncce-activity-list">
        <li
          class="ncce-activity-list__item ncce-activity-list__item--incomplete">
          <span class="ncce-activity-list__item-text"> Pass the final exam
          </span>
          <%= link_to_if(can_take_accelerator_test?(current_user, @programme), 'Take the final exam', '#', class: 'govuk-button ncce-button__pink ncce-button__pink--rounded') do %>
          <span class="ncce-activity-list__item-sub-text">The exam will be
            available when all the above is complete</span>
          <% end %>
        </li>

        <p>List all to compare the results</p>
        <% @online_achievements.each do |online| %>
          <li> Online 1 <%= online.activity.title %> </li>
        <% end %>

        <% @action_achievements.each do |action| %>
          <li> Action 2 <%= action.activity.title %> </li>
        <% end %>

        <% @face_to_face_achievements.each do |f2f| %>
          <li> Face 3 <%= f2f.activity.title %> </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>