<div class="ncce-programmes-activity">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column">
          <h2 class="govuk-heading-m ncce-programmes-activity__title">Your progress</h2>
        </div>
      </div>
      <ul class="govuk-list ncce-activity-list">
          <li class="ncce-activity-list__item">
            <span class="ncce-activity-list__item-text"> Registered with the National Centre </span>
          </li>
          <li class="ncce-activity-list__item ncce-activity-list__item--incomplete">
            <span class="ncce-activity-list__item-text"> Complete the diagnostic test </span>
            <%= link_to 'Do the diagnostic', '#', class: 'govuk-button ncce-button__pink ncce-button__pink--rounded' %>
          </li>
          <li class="ncce-activity-list__item ncce-activity-list__item--incomplete">
            <span class="ncce-activity-list__item-text"> Complete your first face to face course </span>
            <%= link_to 'Find a face to face course', '#', class: 'govuk-button ncce-button__pink ncce-button__pink--rounded' %>
          </li>
          <li class="ncce-activity-list__item ncce-activity-list__item--incomplete">
            <span class="ncce-activity-list__item-text"> Complete your second face to face course </span>
            <%= link_to 'Find a face to face course', '#', class: 'govuk-button ncce-button__pink ncce-button__pink--rounded' %>
          </li>
          <li class="ncce-activity-list__item ncce-activity-list__item--incomplete">
            <span class="ncce-activity-list__item-text"> Complete your first online course </span>
            <%= link_to 'Find an online course', '#', class: 'govuk-button ncce-button__pink ncce-button__pink--rounded' %>
          </li>
          <li class="ncce-activity-list__item ncce-activity-list__item--incomplete">
            <span class="ncce-activity-list__item-text"> Complete your second online course </span>
            <%= link_to 'Find an online course', '#', class: 'govuk-button ncce-button__pink ncce-button__pink--rounded' %>
          </li>
      </ul>

      <ul class="govuk-list ncce-activity-list">
          <li class="ncce-activity-list__item ncce-activity-list__item--incomplete">
            <span class="ncce-activity-list__item-text"> Pass the final exam </span>
            <%= link_to 'Take the final exam', '#', class: 'govuk-button ncce-button__pink ncce-button__pink--rounded' %>
          </li>
      </ul>
    </div>
  </div>
</div>
