<% presenters.each do |presenter|%>
  <div class="ihavedonethis">
    <li class="ncce-activity-list__item<%= presenter.list_item_classes %>">
      <span class="ncce-activity-list__item-text">
        <span><%= presenter.title %></span>
        <spa class="ncce-activity-list__item-description"><%= presenter.description %></span>
      </span>
      <% unless presenter.completed? %>
        <button aria-expanded="true" class="govuk-button ncce-button__pink ncce-button__pink--rounded ihavedonethis__button">
        I have done this
        </button>
        <div class="ihavedonethis__popup">
          <%= form_for Achievement.new, url: { controller: 'achievements', action: 'create' }, html: { class: '' } do |f| %>
            <div class="govuk-form-group ihavedonethis__group">
              <%= label_tag :self_verification_info, 'Please provide a link to the review', class: 'govuk-label ihavedonethis__text' %>
              <%= text_field :activity_id, Activity.user_removable.available_for(current_user).first.id, class: 'govuk-input' %>
              </div>
              <%= f.submit 'Complete activity', class: 'govuk-button ncce-button__pink' %>
          <% end %>
        </div>
      <% end %>
    </li>
  </div>
<% end %>

