<% one_complete = presenters.any?(&:completed?) %>
<% presenters.each do |presenter|%>
  <li class="ncce-activity-list__item<%= presenter.list_item_classes(one_complete) %>">
    <span class="ncce-activity-list__item-text"><%= presenter.title %>
    </span>
    <span class="ncce-activity-list__item-description ncce-activity-list__item-description--mobile"><%= presenter.description %></span>
    <% unless presenter.completed? || one_complete %>
      <%= link_to presenter.button_label, '#', class: 'govuk-button ncce-button__pink ncce-button__pink--rounded' %>
    <% end %>
    <span class="ncce-activity-list__item-description"><%= presenter.description %></span>
  </li>
<% end %>
