<%= render 'pages/certification/hero' %>
<div class="ncce-programmes-activity">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column">
          <h2 class="govuk-heading-l ncce-programmes-activity__title underlined__title">Your
            progress</h2>
        </div>
      </div>
      <ul class="govuk-list ncce-activity-list">
      <%= render 'programmes/action_activity' %>
      <%= render 'programmes/face_to_face_activity' %>
      <%= render 'programmes/online_activity' %>
      </ul>

      <ul class="govuk-list ncce-activity-list">
          <li class="ncce-activity-list__item ncce-activity-list__item--incomplete">
            <span class="ncce-activity-list__item-text"> Pass the final exam </span>
            <%= link_to_if(@enough_credits_for_test, 'Take the final exam', assessment_attempts_path(assessment_attempt: { assessment_id: @programme.assessment.id, user_id: current_user }), method: :post, class: 'govuk-button ncce-button__pink ncce-button__pink--rounded') do %>
              <span class="ncce-activity-list__item-sub-text">The exam will be available when all the above is complete</span>
            <% end %>
          </li>
      </ul>
    </div>
  </div>
</div>
