<li class="ncce-activity-list__item ncce-activity-list__item--incomplete ncce-activity-list__item--position">
  <span class="ncce-activity-list__item-text">Pass the final test</span>
  <ul class="govuk-!-width-full">
    <li><%= image_tag 'question-mark.svg' %> 25 multiple-choice questions</li>
    <li><%= image_tag 'time-30-minutes.svg' %> 30 minute time limit</li>
    <li><%= image_tag 'tick-plain.svg' %> Pass mark of 65%</li>
  </ul>
  <ul class="govuk-list govuk-list--bullet">
    <li>You must finish in one sitting</li>
    <li>You can't go back and change your answers</li>
    <li>You can't skip a question</li>
  </ul>
  <hr>
  <% unless @passed_assessment %>
    <% if @enough_credits_for_test %>
      <% if @currently_taking_test %>
        <span class="ncce-activity-list__item-sub-text">Currently taking the test!</span>
      <% elsif @can_take_test_at == 0 %>
        <span class="ncce-activity-list__item-sub-text">You are allowed two initial attempts at the test before a 48 hour cool off period between each subsequent attempt. Good luck!</span>
        <%= link_to 'Take the final exam', assessment_attempts_path(assessment_attempt: { assessment_id: @programme.assessment.id, user_id: current_user }), method: :post, class: 'govuk-button ncce-button__pink ncce-button__pink--rounded' %>
      <% else %>
        <span class="ncce-activity-list__item-sub-text">Your <%= to_word_ordinal(@num_attempts + 1) %> attempt at the test can be done <strong>after <%= "#{(Time.zone.now + @can_take_test_at).strftime('%l%P on %A')}" %></strong>, please come back then!</span>
      <% end %>
    <% else %>
      <span class="ncce-activity-list__item-sub-text">The test will be available when you have completed the necessary courses</span>
    <% end %>
  <% end %>
  <%= image_tag(%"/images/notepad-right.svg", alt: '', class: 'certification-progress__image') %>
</li>
