<% if @face_to_face_achievements.try(:first) %>
  <% if @face_to_face_achievements.first.current_state == 'complete' %>
    <li class="ncce-activity-list__item">
      <span class="ncce-activity-list__item-text"> Completed your first
        face to face course
      </span>
      <span class="ncce-activity-list__item-activity">
        <span class="govuk-tag govuk-phase-banner__content__tag ncce-activity-list__tag">Complete
        </span>
        <span class="ncce-activity-list__course"><%= @face_to_face_achievements.first.activity.title %></span>
      </span>
    </li>
  <% else %>
    <li class="ncce-activity-list__item ncce-activity-list__item--inprogress">
      <span class="ncce-activity-list__item-text"> Complete your first
        face to face course
      </span>
      <span class="ncce-activity-list__item-activity">
        <span class="govuk-tag govuk-phase-banner__content__tag ncce-activity-list__tag">Upcoming</span>
        <span class="ncce-activity-list__course"><%= @face_to_face_achievements.first.activity.title %></span>
      <span>
    </li>
  <% end %>
<% else%>
  <li class="ncce-activity-list__item ncce-activity-list__item--incomplete">
    <span class="ncce-activity-list__item-text"> Complete your first face
      to face course </span>
    <%= link_to 'Find a face to face course', courses_path(location: 'Face to face', workstream: 'CS Accelerator'), class: 'govuk-button ncce-button__pink ncce-button__pink--rounded' %>
  </li>
<% end %>

<% if @face_to_face_achievements.try(:second) %>
  <% if @face_to_face_achievements.second.current_state == 'complete' %>
  <li class="ncce-activity-list__item">
    <span class="ncce-activity-list__item-text"> Completed your second
      face to face course
    </span>
    <span class="ncce-activity-list__item-activity">
      <span class="govuk-tag govuk-phase-banner__content__tag ncce-activity-list__tag">Complete
      </span>
      <span class="ncce-activity-list__course"><%= @face_to_face_achievements.second.activity.title %></span>
    </span>
  </li>
  <% else %>
    <li class="ncce-activity-list__item ncce-activity-list__item--inprogress">
      <span class="ncce-activity-list__item-text"> Complete your second
        face to face course
      </span>
      <span class="ncce-activity-list__item-activity">
        <span class="govuk-tag govuk-phase-banner__content__tag ncce-activity-list__tag">Upcoming</span>
        <span class="ncce-activity-list__course"><%= @face_to_face_achievements.second.activity.title %></span>
      <span>
    </li>
  <% end %>
<% else %>
  <li class="ncce-activity-list__item ncce-activity-list__item--incomplete">
    <span class="ncce-activity-list__item-text"> Complete your second face
    to face course </span>
    <%= link_to 'Find a face to face course', courses_path(location: 'Face to face', workstream: 'CS Accelerator'), class: 'govuk-button ncce-button__pink ncce-button__pink--rounded' %>
  </li>
<% end %>
