<footer class="govuk-footer ncce-footer" role="contentinfo">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s ncce-footer__heading">
          <%= link_to 'National Centre for<br>Computing Education'.html_safe, root_path, class: 'govuk-footer__link ncce-footer__link--homepage' %>
        </h3>
      </div>
      <div class="govuk-grid-column-one-half ncce-footer__links">
        <ul class="govuk-footer__inline-list ncce-footer__nav">
          <li class="govuk-footer__inline-list-item">
            <%= link_to 'About Us', about_path, class: 'govuk-footer__link ncce-link ncce-link--on-dark' %>
          </li>
          <li class="govuk-footer__inline-list-item">
            <%= mail_to 'info@teachcomputing.org', 'Contact', class: 'govuk-footer__link ncce-link ncce-link--on-dark', target: '_top' %>
          </li>
          <li class="govuk-footer__inline-list-item ncce-footer__list--item">
            <%= link_to 'Privacy', privacy_path, class: 'govuk-footer__link ncce-link ncce-link--on-dark' %>
          </li>
        </ul>
        <ul class="govuk-footer__inline-list ncce-footer__nav">
          <li class="govuk-footer__inline-list-item  ncce-footer__list--item">
            <%= link_to 'https://facebook.com/WeAreComputing', class: 'govuk-footer__link ncce-link ncce-link--on-dark' do %>
              <%= image_tag "facebook.png", alt: 'Facebook logo', class: 'ncce-link__icon ncce-link__icon--footer' %>Facebook
            <% end %>
          </li>
          <li class="govuk-footer__inline-list-item  ncce-footer__list--item">
            <%= link_to 'https://twitter.com/WeAreComputing', class: 'govuk-footer__link ncce-link ncce-link--on-dark' do %>
              <%= image_tag "twitter.png", alt: 'Twitter logo', class: 'ncce-link__icon ncce-link__icon--footer' %>Twitter
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
