<footer class="govuk-footer ncce-footer">
  <div class="govuk-width-container ncce-footer__grid">
    <div class="ncce-footer__grid-logos">
      <%= image_pack_tag 'media/images/logos/stem-logo-white.svg', class: 'ncce-footer__logos-img', alt: 'STEM Learning' %>
      <div>
        <p class="govuk-body govuk-!-font-size-14 ncce-footer__text">Funded by</p>
        <%= link_to 'https://www.gov.uk/government/organisations/department-for-education', class: 'govuk-footer__link ncce-link', data: { event_action: 'click', event_category: 'Site Navigation: Footer', event_label: 'DfE' } do %>
          <%= image_pack_tag 'media/images/logos/dfe.svg', class: 'ncce-footer__logos-img', alt: 'Department for Education website' %>
        <% end %>
      </div>
    </div>

    <nav class="ncce-footer__grid-links" aria-label="Footer Navigation">
      <ul class="ncce-footer__list">
        <li class="ncce-footer__list-item">
          <%= link_to 'Courses', courses_path, class: 'govuk-footer__link ncce-link ncce-link--on-dark', data: { event_action: 'click', event_category: 'Site Navigation: Footer', event_label: 'Courses' } %>
        </li>
        <li class="ncce-footer__list-item">
          <%= link_to 'Funding', '/funding', class: 'govuk-footer__link ncce-link ncce-link--on-dark', data: { event_action: 'click', event_category: 'Site Navigation: Footer', event_label: 'Bursaries' } %>
        </li>
        <li class="ncce-footer__list-item">
          <%= link_to 'Pedagogy', '/pedagogy', class: 'govuk-footer__link ncce-link ncce-link--on-dark', data: { event_action: 'click', event_category: 'Site Navigation: Footer', event_label: 'Pedagogy' } %>
        </li>
        <li class="ncce-footer__list-item">
          <%= link_to 'Teaching resources', curriculum_key_stages_path, class: 'govuk-footer__link ncce-link ncce-link--on-dark', data: { event_action: 'click', event_category: 'Site Navigation: Footer', event_label: 'Teaching resources' } %>
        </li>
        <li class="ncce-footer__list-item">
          <%= link_to 'About us', about_path, class: 'govuk-footer__link ncce-link ncce-link--on-dark', data: { event_action: 'click', event_category: 'Site Navigation: Footer', event_label: 'About us' } %>
        </li>
      </ul>
      <ul class="ncce-footer__list">
        <li class="ncce-footer__list-item">
          <%= link_to 'News', news_url, class: 'govuk-footer__link ncce-link ncce-link--on-dark', data: { event_action: 'click', event_category: 'Site Navigation: Footer', event_label: 'News' } %>
        </li>
        <li class="ncce-footer__list-item">
          <%= link_to 'Get involved', get_involved_path, class: 'govuk-footer__link ncce-link ncce-link--on-dark', data: { event_action: 'click', event_category: 'Site Navigation: Footer', event_label: 'Get involved' } %>
        </li>
        <li class="ncce-footer__list-item">
          <%= link_to 'Computing hubs', '/hubs', class: 'govuk-footer__link ncce-link ncce-link--on-dark', data: { event_action: 'click', event_category: 'Site Navigation: Footer', event_label: 'Computing hubs' } %>
        </li>
        <li class="ncce-footer__list-item">
          <%= link_to 'ITE providers', '/support-for-ite-providers', class: 'govuk-footer__link ncce-link ncce-link--on-dark', data: { event_action: 'click', event_category: 'Site Navigation: Footer', event_label: 'ITE providers' } %>
        </li>
      </ul>
      <ul class="ncce-footer__list">
        <li class="ncce-footer__list-item">
          <%= link_to 'Accessibility', accessibility_statement_path, class: 'govuk-footer__link ncce-link ncce-link--on-dark', data: { event_action: 'click', event_category: 'Site Navigation: Footer', event_label: 'Accessibility' }%>
        </li>
        <li class="ncce-footer__list-item">
          <%= link_to 'Privacy', cms_page_path('privacy'), class: 'govuk-footer__link ncce-link ncce-link--on-dark', data: { event_action: 'click', event_category: 'Site Navigation: Footer', event_label: 'Privacy' } %>
        </li>
        <li class="ncce-footer__list-item">
          <%= link_to 'Terms and Conditions', terms_conditions_path, class: 'govuk-footer__link ncce-link ncce-link--on-dark',data: { event_action: 'click', event_category: 'Site Navigation: Footer', event_label: 'Terms and Conditions' } %>
        </li>
        <li class="ncce-footer__list-item">
          <%= link_to 'Safeguarding', cms_page_path('safeguarding'), class: 'govuk-footer__link ncce-link ncce-link--on-dark',data: { event_action: 'click', event_category: 'Site Navigation: Footer', event_label: 'Safeguarding' } %>
        </li>
      </ul>
    </nav>

    <nav class="ncce-footer__nav-social" aria-label="Footer Contact Navigation">
      <ul class="ncce-footer__list ncce-footer__grid-social">
        <li class="ncce-footer__list-item">
          <%= link_to 'https://www.linkedin.com/company/national-centre-for-computing-education', class: 'govuk-footer__link ncce-link ncce-link--on-dark', data: { event_action: 'click', event_category: 'Site Navigation: Footer', event_label: 'LinkedIn' } do %>
            <%= image_pack_tag "media/images/social-media/linkedin_white.svg", alt: 'LinkedIn logo', class: 'ncce-link__icon ncce-link__icon--footer' %>LinkedIn
          <% end %>
        </li>
        <li class="ncce-footer__list-item">
          <%= link_to 'https://facebook.com/WeAreComputing', class: 'govuk-footer__link ncce-link ncce-link--on-dark', data: { event_action: 'click', event_category: 'Site Navigation: Footer', event_label: 'Facebook' } do %>
            <%= image_pack_tag "media/images/social-media/facebook_small.png", alt: 'Facebook logo', class: 'ncce-link__icon ncce-link__icon--footer' %>Facebook
          <% end %>
        </li>
        <li class="ncce-footer__list-item">
          <%= link_to 'https://twitter.com/WeAreComputing', class: 'govuk-footer__link ncce-link ncce-link--on-dark', data: { event_action: 'click', event_category: 'Site Navigation: Footer', event_label: 'X' } do %>
            <%= image_pack_tag "media/images/social-media/x.svg", alt: 'X logo', class: 'ncce-link__icon ncce-link__icon--footer' %>X
          <% end %>
        </li>
        <li class="ncce-footer__list-item">
          <%= mail_to 'info@teachcomputing.org', class: 'govuk-footer__link ncce-link ncce-link--on-dark', data: { event_action: 'click', event_category: 'Site Navigation: Footer', event_label: 'Email' } do %>
            <%= image_pack_tag "media/images/icons/email.svg", alt: '', class: 'ncce-link__icon ncce-link__icon--footer' %>Email
          <% end %>
        </li>
        <li class="ncce-footer__list-item">
          <%= link_to 'tel:01904 328 300', class: 'govuk-footer__link ncce-link ncce-link--on-dark', data: { event_action: 'click', event_category: 'Site Navigation: Footer', event_label: 'Telephone' } do %>
            <%= image_pack_tag "media/images/icons/telephone.svg", alt: '', class: 'ncce-link__icon ncce-link__icon--footer' %>01904 328 300
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</footer>
