<footer class="govuk-footer ncce-footer">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h1 class="govuk-heading-s ncce-footer__heading">
          <%= link_to root_path, class: 'govuk-footer__link ncce-footer__link--homepage' do %>
            <svg width="221px" height="119px" viewBox="0 0 221 119" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <title>Teach Computing</title>
              <g transform="translate(-1883.000000, -1060.000000)" fill="#FFFFFF">
                <path d="M1913.10074,1060 L2021.63969,1060 L2021.63969,1102.1211 L2104,1102.1211 L2104,1148.77524 L2073.90309,1179 L1896.54629,1179 L1896.54629,1136.8789 L1883,1136.8789 L1883,1090.22668 L1913.10074,1060 Z M1917.61681,1102.1211 L2017.12554,1102.1211 L2017.12554,1064.53496 L1917.61681,1064.53496 L1917.61681,1102.1211 Z M1931.15927,1106.65607 L1931.15927,1144.24028 L2099.48585,1144.24028 L2099.48585,1106.65607 L2021.63969,1106.65607 L1931.15927,1106.65607 Z M1933.10365,1076.24602 L1927.25403,1076.24602 L1927.25403,1072.40371 L1943.54599,1072.40371 L1943.54599,1076.24602 L1937.69636,1076.24602 L1937.69636,1091.94812 L1933.10365,1091.94812 L1933.10365,1076.24602 Z M1949.85296,1077.34504 C1954.33646,1077.34504 1957.40018,1080.41965 1957.40018,1084.86611 C1957.40018,1085.22398 1957.40018,1085.80119 1957.34462,1086.10135 L1946.38304,1086.07441 C1946.73751,1088.0504 1948.07873,1089.33951 1949.93535,1089.33951 C1951.46626,1089.33951 1952.75191,1088.46214 1953.19068,1087.22691 L1956.87903,1087.74832 C1956.19692,1090.49393 1953.24433,1092.49686 1949.82806,1092.49686 C1945.31582,1092.49686 1942.14671,1089.33951 1942.14671,1084.81224 C1942.14671,1080.41965 1945.34456,1077.34504 1949.85296,1077.34504 Z M1953.24433,1083.60394 C1952.99908,1081.81843 1951.63104,1080.50239 1949.77249,1080.50239 C1947.9676,1080.50239 1946.71068,1081.7357 1946.3543,1083.60394 L1953.24433,1083.60394 Z M1970.07564,1077.89454 L1974.17402,1077.89454 L1974.17402,1091.94774 L1970.07564,1091.94774 L1970.07564,1090.00061 C1968.98159,1091.56293 1967.31274,1092.49801 1965.31816,1092.49801 C1961.38264,1092.49801 1958.62165,1089.36952 1958.62165,1084.92114 C1958.62165,1080.47276 1961.38264,1077.34427 1965.31816,1077.34427 C1967.31274,1077.34427 1968.98159,1078.27935 1970.07564,1079.84167 L1970.07564,1077.89454 Z M1970.0469,1084.92114 C1970.0469,1082.64115 1968.516,1080.96723 1966.38538,1080.96723 C1964.25285,1080.96723 1962.72194,1082.64115 1962.72194,1084.92114 C1962.72194,1087.20113 1964.25285,1088.87504 1966.38538,1088.87504 C1968.516,1088.87504 1970.0469,1087.20113 1970.0469,1084.92114 Z M1990.8145,1082.91802 L1986.9882,1083.41057 C1986.63182,1081.90213 1985.23887,1080.8035 1983.67923,1080.8035 C1981.68464,1080.8035 1980.12692,1082.53321 1980.12692,1084.92095 C1980.12692,1087.30868 1981.65782,1089.03839 1983.67923,1089.03839 C1985.29252,1089.03839 1986.63182,1087.93977 1987.01694,1086.43132 L1990.84324,1086.92387 C1990.32208,1090.16396 1987.26219,1092.49782 1983.65432,1092.49782 C1979.25129,1092.49782 1976.02662,1089.31353 1976.02662,1084.92095 C1976.02662,1080.52836 1979.22447,1077.346 1983.65432,1077.346 C1987.31584,1077.346 1990.37765,1079.67793 1990.8145,1082.91802 Z M1996.74038,1071.58061 L1996.74038,1079.48457 C1997.66965,1078.11465 1999.33659,1077.34504 2001.03228,1077.34504 C2004.25886,1077.34504 2006.36265,1079.70583 2006.36265,1083.02673 L2006.36265,1091.94851 L2002.26236,1091.94851 L2002.26236,1083.87908 C2002.26236,1082.1763 2001.27753,1080.99686 1999.63933,1080.968 C1998.05286,1080.968 1996.74038,1082.25904 1996.74038,1084.04262 L1996.74038,1091.94851 L1992.64009,1091.94851 L1992.64009,1071.58061 L1996.74038,1071.58061 Z M1958.11103,1125.39161 L1962.40292,1125.96882 C1961.74573,1130.27674 1957.701,1133.3783 1952.72509,1133.3783 C1946.7126,1133.3783 1942.33832,1128.98764 1942.33832,1122.92114 C1942.33832,1116.85464 1946.7126,1112.46205 1952.72509,1112.46205 C1957.64735,1112.46205 1961.69208,1115.64826 1962.40292,1120.06586 L1958.08229,1120.56034 C1957.53622,1118.14374 1955.35004,1116.41595 1952.8343,1116.41595 C1949.36438,1116.41595 1946.93103,1119.10384 1946.93103,1122.92114 C1946.93103,1126.73651 1949.38929,1129.42632 1952.8343,1129.42632 C1955.29447,1129.42632 1957.5094,1127.72547 1958.11103,1125.39161 Z M1979.31414,1125.66597 C1979.31414,1130.13937 1976.14312,1133.24285 1971.52358,1133.24285 C1966.93087,1133.24285 1963.75985,1130.13937 1963.75985,1125.66597 C1963.75985,1121.16372 1966.93087,1118.0891 1971.52358,1118.0891 C1976.14312,1118.0891 1979.31414,1121.16372 1979.31414,1125.66597 Z M1975.18702,1125.66597 C1975.18702,1123.36097 1973.68294,1121.71207 1971.52358,1121.71207 C1969.39296,1121.71207 1967.88697,1123.36097 1967.88697,1125.66597 C1967.88697,1127.97097 1969.39296,1129.61988 1971.52358,1129.61988 C1973.68294,1129.61988 1975.18702,1127.97097 1975.18702,1125.66597 Z M1981.13704,1132.69334 L1981.13704,1118.63822 L1985.07256,1118.63822 L1985.07256,1120.31214 C1985.94818,1118.8845 1987.47908,1118.08987 1989.17285,1118.08987 C1991.19617,1118.08987 1992.89185,1119.04997 1993.68317,1120.58728 C1994.58562,1119.04997 1996.44416,1118.08987 1998.3851,1118.08987 C2001.55612,1118.08987 2003.77104,1120.47761 2003.77104,1123.8543 L2003.77104,1132.69334 L1999.67075,1132.69334 L1999.67075,1124.67779 C1999.67075,1123.00387 1998.63226,1121.76671 1997.07262,1121.71284 C1995.48807,1121.71284 1994.42276,1122.95 1994.42276,1124.67779 L1994.42276,1132.69334 L1990.32055,1132.69334 L1990.32055,1124.67779 C1990.32055,1122.89228 1989.33571,1121.71284 1987.80481,1121.71284 C1986.249,1121.71284 1985.23734,1122.89228 1985.23734,1124.67779 L1985.23734,1132.69334 L1981.13704,1132.69334 Z M2014.69391,1133.24285 C2012.7798,1133.24285 2011.19525,1132.41936 2010.07438,1130.99172 L2010.07438,1139.00727 L2005.97409,1139.00727 L2005.97409,1118.63938 L2010.01881,1118.63938 L2010.01881,1120.34023 C2011.13969,1118.94145 2012.75298,1118.0891 2014.69391,1118.0891 C2018.57578,1118.0891 2021.33677,1121.21759 2021.33677,1125.66597 C2021.33677,1130.11436 2018.6026,1133.24285 2014.69391,1133.24285 Z M2017.23648,1125.66597 C2017.23648,1123.41485 2015.67875,1121.7948 2013.57304,1121.7948 C2011.4405,1121.7948 2009.9096,1123.44371 2009.9096,1125.66597 C2009.9096,1127.88824 2011.4405,1129.53714 2013.57304,1129.53714 C2015.70557,1129.53714 2017.23648,1127.88824 2017.23648,1125.66597 Z M2033.19159,1132.69334 L2033.19159,1130.77122 C2032.20867,1132.30853 2030.56856,1133.24169 2028.73684,1133.24169 C2025.59264,1133.24169 2023.46202,1130.80008 2023.46202,1127.42339 L2023.46202,1118.63822 L2027.56232,1118.63822 L2027.56232,1126.70957 C2027.56232,1128.41043 2028.54524,1129.61872 2030.15853,1129.61872 C2031.77182,1129.61872 2033.08238,1128.32769 2033.08238,1126.54411 L2033.08238,1118.63822 L2037.18267,1118.63822 L2037.18267,1132.69334 L2033.19159,1132.69334 Z M2040.72847,1121.76729 L2038.76071,1121.76729 L2038.76071,1118.6388 L2040.92199,1118.6388 L2041.38566,1115.09664 L2044.83068,1115.09664 L2044.83068,1118.6388 L2047.99978,1118.6388 L2047.99978,1121.76729 L2044.83068,1121.76729 L2044.83068,1127.72604 C2044.83068,1128.90548 2045.54152,1129.70203 2046.6873,1129.70203 C2047.07242,1129.70203 2047.67214,1129.6193 2048.13773,1129.48269 L2048.13773,1132.80166 C2047.29085,1133.07873 2046.1968,1133.24227 2045.32118,1133.24227 C2042.53336,1133.24227 2040.72847,1131.12775 2040.72847,1128.13779 L2040.72847,1121.76729 Z M2050.3197,1132.69392 L2050.3197,1118.6388 L2054.42,1118.6388 L2054.42,1132.69392 L2050.3197,1132.69392 Z M2049.99206,1114.43862 C2049.99206,1113.09371 2050.9769,1112.13362 2052.36985,1112.13362 C2053.76471,1112.13362 2054.74955,1113.09371 2054.74955,1114.43862 C2054.74955,1115.81046 2053.76471,1116.77248 2052.36985,1116.77248 C2050.9769,1116.77248 2049.99206,1115.81046 2049.99206,1114.43862 Z M2061.22284,1118.6388 L2061.22284,1120.53206 C2062.20768,1119.02361 2063.84588,1118.09045 2065.6776,1118.09045 C2068.82179,1118.09045 2070.95433,1120.53206 2070.95433,1123.90875 L2070.95433,1132.69392 L2066.85212,1132.69392 L2066.85212,1124.62257 C2066.85212,1122.92171 2065.8692,1121.71342 2064.25591,1121.71342 C2062.64261,1121.71342 2061.33205,1123.00445 2061.33205,1124.78803 L2061.33205,1132.69392 L2057.23176,1132.69392 L2057.23176,1118.6388 L2061.22284,1118.6388 Z M2083.79591,1132.41936 L2083.79591,1130.74544 C2082.70186,1132.09035 2081.1173,1132.88497 2079.17637,1132.88497 C2075.32133,1132.88497 2072.53351,1129.92003 2072.53351,1125.66597 C2072.53351,1121.24645 2075.32133,1118.11604 2079.17637,1118.11604 C2081.14413,1118.11604 2082.72868,1118.94145 2083.79591,1120.31329 L2083.79591,1118.63938 L2087.8962,1118.63938 L2087.8962,1132.5271 C2087.8962,1136.89275 2084.83439,1139.55562 2080.40646,1139.55562 C2076.57824,1139.55562 2073.48961,1137.19483 2073.07958,1133.95667 L2076.7411,1133.54492 C2077.09748,1135.1361 2078.57282,1136.2886 2080.24168,1136.2886 C2082.32057,1136.2886 2083.79591,1134.86096 2083.79591,1132.41936 Z M2083.95877,1125.66597 C2083.95877,1123.38599 2082.42786,1121.71207 2080.29725,1121.71207 C2078.16471,1121.71207 2076.63381,1123.38599 2076.63381,1125.66597 C2076.63381,1127.88824 2078.16471,1129.50828 2080.29725,1129.50828 C2082.42786,1129.50828 2083.95877,1127.88824 2083.95877,1125.66597 Z"></path>
              </g>
            </svg>
          <% end %>
        </h1>
      </div>
      <nav class="govuk-grid-column-two-thirds ncce-footer__links" aria-label="Footer Navigation">
        <ul class="govuk-footer__list ncce-footer__list">
          <li class="govuk-footer__list-item">
            <%= link_to 'Courses', courses_path, class: 'govuk-footer__link ncce-link ncce-link--on-dark' %>
          </li>
          <li class="govuk-footer__list-item">
            <%= link_to 'Our offer', offer_path, class: 'govuk-footer__link ncce-link ncce-link--on-dark' %>
          </li>
          <li class="govuk-footer__list-item">
            <%= link_to 'Bursaries', bursary_path, class: 'govuk-footer__link ncce-link ncce-link--on-dark' %>
          </li>
          <li class="govuk-footer__list-item">
            <%= link_to 'Computing Hubs', hubs_path, class: 'govuk-footer__link ncce-link ncce-link--on-dark' %>
          </li>
          <li class="govuk-footer__list-item">
            <%= link_to 'News', news_path, class: 'govuk-footer__link ncce-link ncce-link--on-dark' %>
          </li>
          <li class="govuk-footer__list-item">
            <%= link_to 'Press', press_path, class: 'govuk-footer__link ncce-link ncce-link--on-dark' %>
          </li>
          <li class="govuk-footer__list-item">
            <%= link_to 'About Us', about_path, class: 'govuk-footer__link ncce-link ncce-link--on-dark' %>
          </li>
          <li class="govuk-footer__list-item">
            <%= mail_to 'info@teachcomputing.org', 'Contact', class: 'govuk-footer__link ncce-link ncce-link--on-dark', target: '_top' %>
          </li>
          <li class="govuk-footer__list-item">
            <%= link_to 'Privacy', privacy_path, class: 'govuk-footer__link ncce-link ncce-link--on-dark' %>
          </li>
          <li class="govuk-footer__list-item">
          <%= link_to 'Accessibility statement', accessibility_statement_path, class: 'govuk-footer__link ncce-link ncce-link--on-dark' %>
        </li>
          <li class="govuk-footer__list-item">
            <%= link_to 'https://facebook.com/WeAreComputing', class: 'govuk-footer__link ncce-link ncce-link--on-dark', target: '_blank' do %>
              <%= image_tag "facebook.png", alt: 'Facebook logo', class: 'ncce-link__icon ncce-link__icon--footer' %>Facebook
            <% end %>
          </li>
          <li class="govuk-footer__list-item">
            <%= link_to 'https://twitter.com/WeAreComputing', class: 'govuk-footer__link ncce-link ncce-link--on-dark', target: '_blank' do %>
              <%= image_tag "twitter.png", alt: 'Twitter logo', class: 'ncce-link__icon ncce-link__icon--footer' %>Twitter
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
