<% colour = 'plain' if local_assigns[:colour].nil? %>
<div class="hero<%= " hero--#{colour}" %><%= " hero--#{glyph_position}-glyph" unless local_assigns[:glyph_position].nil? %><%= " hero--glyph-#{glyph_num}" unless local_assigns[:glyph_num].nil? %>">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <% unless local_assigns[:status_message].nil? %>
        <span class="govuk-body-m hero__status"><%= status_message %></span>
      <% end %>
      <div class="hero__heading-wrapper">
        <h1 class="<%= local_assigns[:small_title] ? 'govuk-heading-m' : 'govuk-heading-l'%> hero__heading"><%= title %></h1>
        <% unless local_assigns[:subtitle].nil? %>
          <p class="govuk-body-s hero__text"><%= subtitle %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
