<div class="govuk-width-container">
  <div class="ncce-feat">
    <h2 class="govuk-heading-l ncce-heading-l__centered">News and Updates</h2>
    <div class="ncce-feat__grid">
      <div class="ncce-feat__main">
        <img src="<%= @main_feature['feature_image'] %>" alt="" class="ncce-feat__image">
        <p class="govuk-body ncce-feat__date"><%= published_date(@main_feature["published_at"]) %></p>
        <p class="govuk-heading-s ncce-feat__heading"><%= link_to @main_feature['title'], @main_feature["url"], class: 'ncce-link' %></p>
        <p class="govuk-body ncce-feat__excerpt"><%= @main_feature['custom_excerpt'] %></p>
      </div>
      <div class="ncce-feat__panel-container">
        <% @featured_posts.each do |post| %>
          <div class="ncce-feat__panel">
            <p class="govuk-body ncce-feat__date"><%= published_date(post["published_at"]) %></p>
            <p class="govuk-heading-s ncce-feat__heading"><%= link_to post["title"], post["url"], class: "ncce-link" %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="ncce-feat__button-container">
      <p class="govuk-body">
        <%= link_to "View all news & updates", news_url, class: "govuk-button button hero-button--home" %>
      </p>
    </div>
  </div>
</div>
