<div class='govuk-width-container'>
  <div class='govuk-main-wrapper'>
    <h2 class='govuk-heading-l ncce-feat__title'>News and Updates</h2>
    <div class="ncce-feat__main">
      <img src="<%= @main_feature['feature_image'] %>" alt="" class="ncce-news-and-updates__image">
      <p class="govuk-body govuk-!-font-size-14 ncce-feat__date"><%= published_date(@main_feature['published_at']) %></p>
      <p class="govuk-heading-s ncce-feat__heading"><%= link_to @main_feature['title'], @main_feature['url'], class: 'ncce-link ncce-link--heading' %></p>
      <p class="govuk-body ncce-feat__excerpt"><%= @main_feature['custom_excerpt'] %></p>
    </div>
      <div class="ncce-feat__panel-container">
        <% @featured_posts.each do |post| %>
          <div class="ncce-feat__panel">
            <p class="govuk-body govuk-!-font-size-14 ncce-news-and-updates__date"><%= published_date(post['published_at']) %></p>
            <p class="govuk-heading-s ncce-feat__heading"><%= link_to post['title'], post['url'], class: 'ncce-link ncce-link--heading' %></p>
          </div>
        <% end %>
      </div>
  </div>
</div>
