<%= render GovGridRowComponent.new(additional_classes: "enrolment-testimonial-wrapper", background_color: @background_color) do |row| %>
  <%= row.with_column("two-thirds") do %>
    <%= render @testimonial.render %>
  <% end %>

  <%= row.with_column("one-third") do %>
    <% if @enrolled %>
      <%= render_parent %>
    <% else %>
      <p>Enrol Button</p>
    <% end %>
  <% end %>
<% end %>