<div class="cms-testimonial">
  <div class="cms-testimonial__quote">
    <%= render @quote.render %>
  </div>
  <div class="cms-testimonial__bio">
    <div class="cms-testimonial__bio-avatar">
      <%= render Cms::ImageComponent.new(@avatar) if @avatar %>
    </div>
    <div class="cms-testimonial__bio-content">
      <span class="name">
        <%= @name %>
      </span>
      <span class="<%= job_title_classes %>">
        <%= @job_title %>
      </span>
    </div>
  </div>
</div>
