<%= content_tag :div, class: ['ncce-aside', 'bursary-component', { 'bursary-component--no-margin': !@bottom_margin, "#{@class_name}": @class_name.present? }] do %>
  <h2 class="govuk-heading-s bursary-component__title"><%= @title || t('.title') %></h2>
    <% if content.present? %>
      <%= content %>
    <% else %>
      <p class="govuk-body-s ncce-aside__text">
        <%= @text || t('.text') %>
      </p>
      <p class="govuk-body-s bursary-component__link">
        <%= link_to @link_title || 'Funding information', '/funding',
          class: 'ncce-link axe-skip-a11y-test',
          data: tracking_data
        %>
      </p>
    <% end %>
<% end %>
