<%= render GovGridRowComponent.new(additional_classes: wrapper_classes) do |row| %>
  <%= row.with_column("full") do %>

    <% if @title %>
      <h2 class="govuk-heading-l cms-full-width-banner__heading"><%= @title %></h2>
    <% end %>

    <%= content_tag :div, class: banner_classes do %>

      <% if @image %>
        <div class="cms-full-width-banner__media cms-full-width-banner__media--<%= @image_fit %>">
          <% if @i_belong_flag %>
            <%= content_tag(:div, nil, class: "cms-full-width-banner__media--with-flag") %>
          <% end %>
          <% if @corner_flourish %>
            <%= content_tag(:div, nil, class: "cms-full-width-banner__media--with-flourish-#{@image_side}") %>
          <% end %>
          <%= render Cms::ImageComponent.new(@image, show_caption: false, link: @image_link) %>
        </div>
      <% end %>

      <%= content_tag :div, class: box_classes do %>
        <%= render @text_content.render %>

        <% if @buttons %>
          <div class="cms-full-width-banner__content-buttons">
            <% @buttons.each do |button| %>
              <%= render button.render %>
            <% end %>
          </div>
        <% end %>
      <% end %>

    <% end %>
  <% end %>
<% end %>
