<%= render 'components/hero', hero_title: @programme.title, subtitle: 'Certification awarded by BCS, The Chartered Institute for IT', glyph_position: 'bottom', colour: 'purple' %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row ncce-diagnostic__row">
      <div class="govuk-grid-column-two-thirds">
        <div class="ncce-diagnostic__question">
          <%= link_to 'Back', previous_wizard_path, class: 'govuk-back-link' %>
          <h2 class="govuk-heading-m ncce-diagnostic__question-progress">
            <%= current_position(@steps, @step) %>
          </h2>
          <%= form_for(:diagnostic, url: wizard_path, method: :put) do |form| %>
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend">
                <p class="govuk-body-l">How confident are you that you could create a simple program which uses sequence, selection (e.g. if), iteration (e.g. for loop) and define your own functions</p>
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <%= form.radio_button :question_2, '1', class: 'govuk-radios__input', :checked => @answer == '1' || !@answer %>
                  <label class="govuk-label govuk-radios__label" for='diagnostic_question_2_1'>Not at all confident</label>
                </div>
                <div class="govuk-radios__item">
                  <%= form.radio_button :question_2, '2', class: 'govuk-radios__input', :checked => @answer == '2' %>
                  <label class="govuk-label govuk-radios__label" for='diagnostic_question_2_2'>A little confident</label>
                </div>
                <div class="govuk-radios__item">
                  <%= form.radio_button :question_2, '3', class: 'govuk-radios__input', :checked => @answer == '3' %>
                  <label class="govuk-label govuk-radios__label" for='diagnostic_question_2_3'>Fairly confident</label>
                </div>
                <div class="govuk-radios__item">
                  <%= form.radio_button :question_2, '4', class: 'govuk-radios__input', :checked => @answer == '4' %>
                  <label class="govuk-label govuk-radios__label" for='diagnostic_question_2_4'>Very confident</label>
                </div>
              </div>
            </fieldset>
            <%= form.submit 'Continue', class: 'govuk-button ncce-diagnostic__button' %>
          <% end %>
        </div>
      </div>
      <%= render 'aside' %>
    </div>
  </div>
</div>
