<div class="hero hero hero--orange-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <div class="i-belong-hero__wrapper i-belong hero__heading-wrapper--full-width">
          <div class="i-belong-hero__area--text">
            <h1 class="govuk-heading-xl hero__heading">I Belong: encouraging girls into computer science</h1>
          </div>
          <div class="i-belong-hero__area--logo">
            <%= render(IBelongFlagComponent.new(label: false)) %>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="light-grey-bg govuk-!-padding-top-9">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full-width video-with-text">
        <section class='ncce-section govuk-!-margin-top-0 govuk-!-margin-bottom-0'>
          <p class="govuk-body">Computer science is the fastest-growing STEM subject, and yet, despite its popularity, girls are consistently outnumbered by boys. The gender gap in computing can be traced back to gender stereotypes developed in the primary years. To improve the diversity both in and beyond the classroom, we need to show girls from a young age that they belong in computer science.</p>
          <p class="govuk-body">Our <%= link_to "evidence-informed", gender_insights_in_computing_url %> programme aims to help teachers and leaders understand the barriers to girls’ participation in computer science and make a plan to overcome them. We offer curated resources, training and implementation support to empower you with the tools to help develop positive attitudes towards computing among female students, resulting in more girls choosing computer science qualifications and careers.</p>
        </section>
        <div>
          <%= video_tag("https://static.teachcomputing.org/How_important_is_the_I_Belong_programme.mp4", controls: true) %>
          <ul class="govuk-list govuk-list--bullet govuk-!-padding-left-4 govuk-!-margin-top-4">
            <li>Girls intent to study computing drops off between ages 8-11 and 12-13</li>
            <li>One in five GCSE Computer Science entries were from girls in 2023</li>
            <li>Girls made up 15% of A level Computer Science entries in 2023</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="light-grey-bg govuk-!-padding-bottom-3">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--xl govuk-!-padding-top-6 govuk-!-padding-bottom-0">
      <div class="govuk-grid-row">
        <div class="lp-support__cards">
          <div class="lp-support__card white-bg lp-support__card--bordered">
            <h2 class="govuk-heading-m">
              Who is it for?
            </h2>
            <ul class="govuk-list govuk-list--bullet">
              <li>Key stage 2 and 3 educators aspiring to narrow the gender gap in computing education.</li>
            </ul>
          </div>
          <div class="lp-support__card white-bg lp-support__card--bordered">
            <h2 class="govuk-heading-m">
              What are the benefits?
            </h2>
            <ul class="govuk-list govuk-list--bullet">
              <li>Develop an understanding of the factors affecting girls’ participation in computer science.</li>
              <li>Work with colleagues to implement high-impact strategies to have a more inclusive computing curriculum.</li>
            </ul>
          </div>
          <div class="lp-support__card white-bg lp-support__card--bordered">
            <h2 class="govuk-heading-m"><%= t(".#{session_state}.where_to_start_card.heading")%></h2>
            <ol class="govuk-list govuk-list--number"><%= t(".#{session_state}.where_to_start_card.body_html")%></ol>
            <%= link_to t(".#{session_state}.where_to_start_card.link_text"), cta_link_path, method: cta_link_method, class: 'button govuk-button govuk-!-margin-bottom-0' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="purple-bg">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m">
            I Belong Champions
          </h2>
          <p class="govuk-body">
            We're looking for teachers who are paving the way for girls in computer science to join our mission by becoming I Belong Champions. Once you've completed our 'Encouraging girls into GCSE computer science' course, you can claim your digital badge to become a champion.
          </p>
          <%= link_to 'Learn more about becoming a champion',
                      i_belong_info_pack_url,
                      class: 'button govuk-button govuk-!-margin-bottom-3'
          %>
        </div>
        <div class="govuk-grid-column-one-half">
          <%= render TestimonialComponent.new(
            name: "Pete",
            text: "“I’ve really appreciated being part of a peer-supported network of like-minded Champions: it’s been great to read about other people’s success stories and share ideas for how we can promote inclusion and diversity for the benefit of all our students.”",
            image: "media/images/pages/i-belong/pete.png",
            bio: "Head of Computing at Fulford School"
          ) %>
        </div>
      </div>
    </main>
    </div>
  </div>
  <div class="white-bg">
    <div class=" govuk-main-wrapper">
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l ncce-heading-l__centered">Resources to support you</h2>
              <%= render NonBorderedCardsComponent.new(
                class_name: 'resource-cards',
                cards_per_row: 3,
                cards: [
                {
                  image_url: 'pages/i-belong/book_icon.svg',
                  title: t('.resources.primary_handbook.title'),
                  text: t('.resources.primary_handbook.body'),
                  link: {
                    link_title: handbook_download_title,
                    link_url: primary_handbook_download_url
                  }
                },
                {
                    image_url: 'pages/i-belong/secondary_handbook.svg',
                    title: t('.resources.secondary_handbook.title'),
                    text: t('.resources.secondary_handbook.body'),
                    link: {
                      link_title: handbook_download_title,
                      link_url: secondary_handbook_download_url
                    }
                },
                {
                    image_url: 'pages/i-belong/faces.svg',
                    title: t('.resources.posters.title'),
                    text: t('.resources.posters.body'),
                    link: {
                      link_title: posters_link_title,
                      link_url: posters_link,
                      link_method: posters_link_method
                    }
                },
                {
                    image_url: 'pages/i-belong/text_icon.svg',
                    title: t('.resources.survey.title'),
                    text: t('.resources.survey.body'),
                    link: {
                      link_title: t('.resources.survey.link'),
                      link_url: i_belong_student_survey_url,
                    }
                },
                {
                    image_url: 'pages/i-belong/i_belong_poster_template.svg',
                    title: t('.resources.poster_template.title'),
                    text: t('.resources.poster_template.body'),
                    link: {
                      link_title: t('.resources.poster_template.link'),
                      link_url: cms_post_url('i-belong-poster-template'),
                    }
                },
                {
                    image_url: 'pages/i-belong/gcse_options.svg',
                    title: t('.resources.gcse_options.title'),
                    text: t('.resources.gcse_options.body'),
                    link: {
                      link_title: t('.resources.gcse_options.link'),
                      link_url: cms_post_url('gcse-options-process'),
                    }
                },
                {
                    image_url: 'pages/i-belong/student_events.svg',
                    title: t('.resources.student_events.title'),
                    text: t('.resources.student_events.body'),
                    link: {
                      link_title: t('.resources.student_events.link'),
                      link_url: ncce_student_events_url,
                    }
                }
                ]
              ) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
