<%= render 'components/hero', hero_title: 'I Belong: encouraging girls into computer science', colour: 'jaffa-bg', full_width: true %>
<div class="light-grey-bg govuk-!-padding-bottom-9">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--xl">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <section class='ncce-section govuk-!-margin-top-0'>
            <p class="govuk-body">We offer a curated package of training, resources and implementation support for teachers and school leaders to raise understanding of the barriers to girls’ participation in computer science.</p>
            <p class="govuk-body">Although computer science is growing in popularity amongst students, girls are consistently outnumbered by their male counterparts. In 2022, only one in five GCSE Computer Science and 15.2% of all A level Computer Science entries, were from female students in England. Our evidence-informed programme aims to support more girls into computer science qualifications and careers by providing teachers with the tools to guide and support them.</p>
          </section>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="aside-component__image">
            <%= image_pack_tag("media/images/pages/i-belong/students.jpg") %>
          </div>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="lp-support__cards">
          <div class="lp-support__card white-bg lp-support__card--bordered">
            <h2 class="govuk-heading-m">
              Who is it for?
            </h2>
            <ul class="govuk-body">
              <li>Educators aspiring to narrow the gender gap in computing education.</li>
              <li>Our resources are currently focused on key stage 3 but teachers of other key stages are welcome to access and use the materials.</li>
            </ul>
          </div>
          <div class="lp-support__card white-bg lp-support__card--bordered">
            <h2 class="govuk-heading-m">
              What are the benefits?
            </h2>
            <ul class="govuk-body">
              <li>Develop an understanding of the factors affecting girls’ participation in computer science.</li>
              <li>Work with colleagues to produce an action plan with strategies to make computer science in your school more inclusive.</li>
            </ul>
          </div>
          <div class="lp-support__card white-bg lp-support__card--bordered">
            <h2 class="govuk-heading-m"><%= t(".#{session_state}.where_to_start_card.heading")%></h2>
            <ol class="govuk-body"><%= t(".#{session_state}.where_to_start_card.body_html")%></ol>
            <%= link_to t(".#{session_state}.where_to_start_card.link_text"), cta_link_path, method: cta_link_method, class: 'button govuk-button govuk-!-margin-bottom-0' %>
          </div>
            <% case false %>
            <% when :enrolled  %>
              <h2 class="govuk-heading-m">Completing the programme</h2>
              <ol class="govuk-body">
                <li>Complete our ‘Encouraging Girls into GCSE Computer Science’ short course</li>
                <li>Participate in a range of recommended activity</li>
                <li>Claim your school certificate</li>
              </ol>
              <%= link_to 'Visit dashboard', i_belong_certificate_path, class: 'button govuk-button govuk-!-margin-bottom-0' %>
            <% when :unenrolled %>
            <% when :guest %>
              <h2 class="govuk-heading-m">Where to start?</h2>
              <ol class="govuk-body">
                <li>Enrol on the programme</li>
                <li>Obtain your free handbook and posters</li>
                <li>Explore the programme</li>
              </ol>
              <%= link_to 'Log into your account', login_path, class: 'button govuk-button govuk-!-margin-bottom-0' %>
            <% end %>
        </div>
      </div>
      <div class="govuk-grid-row">
        <section class="ncce-section govuk-grid-column-full">
          <h2 class="govuk-heading-m">
            I Belong Champions
          </h2>
          <p class="govuk-body">
            Join our champions initiative, which recognises teachers paving the way for girls in computer science and supports them to create wider change.
          </p>
          <%= link_to 'Become a champion',
                      champion_path,
                      method: cta_link_method,
                      class: 'button govuk-button govuk-!-margin-bottom-0'
          %>
        </section>
      </div>
    </main>
  </div>
  <div class="white-bg">
    <div class=" govuk-main-wrapper">
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l ncce-heading-l__centered">Resources to support you</h2>
              <%= render NonBorderedCardsComponent.new(
                class_name: 'resource-cards',
                cards_per_row: 3,
                cards: [
                {
                    image_url: 'pages/i-belong/book_icon.png',
                    title: 'I Belong handbook',
                    text: 'Our evidence-informed handbook is key to developing your action plan for increasing uptake computer science by girls in your school.',
                    link: {
                    link_title: 'Coming soon',
                    }
                },
                {
                    image_url: 'pages/i-belong/faces.png',
                    title: 'I Belong in computer science posters',
                    text: "Printed 'I Belong in computer science' posters are available on request!​",
                    link: {
                    link_title: posters_link_title,
                    link_url: cta_link_path,
                    link_method: cta_link_method
                    }
                },
                {
                    image_url: 'pages/i-belong/text_icon.png',
                    title: 'Gender Balance in computing research',
                    text: 'Read our reports from the Gender Balance in computing research project.',
                    link: {
                    link_title: 'Explore the research',
                    link_url: gender_balance_path,
                    }
                }
                ]
              ) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
