<% meta_tag :title, 'Secondary certificate - Teach Computing' %>
<%= render 'pages/certification/hero_with_certificate_logo' %>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--xl">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-full">
        <section class='ncce-section govuk-!-margin-top-0'>
          <% t('.intro').each do |line| %>
            <p class="govuk-body"><%= line %></p>
          <% end %>
        </section>

        <section class='ncce-section'>
          <%= render BorderedCardsComponent.new(
            cards: programme_pathway_card_data(@programme),
            cards_per_row: 3,
            class_name: 'bordered-cards--tops'
          ) %>
        </section>

        <hr class="ncce-pathways__hr govuk-!-margin-bottom-7" />
      </div>

      <div class="govuk-grid-column-full-width">
        <section class='ncce-section'>
          <h2 class="govuk-heading-m"><%= t('.benefits_to_you') %></h2>
          <ul class="govuk-list govuk-list--bullet">
            <% t('.benefits').each do |benefit| %>
              <li><%= benefit %></li>
            <% end %>
          </ul>
        </section>

        <section class='ncce-section'>
          <h2 class="govuk-heading-m"><%= t('.how_does_it_work') %></h2>
          <p class="govuk-body"><b><%= t(
            '.how_does_it_work_subheading',
          ) %></b></p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <%= t(
                    '.how_does_it_work_1',
                    create_an_account: link_to('Create an account', create_account_url, data: { event_action: 'click', event_category: 'Primary enrolment', event_label: 'Create an account' }),
                    log_in: link_to('log in', auth_url, data: { event_action: 'click', event_category: 'Primary enrolment', event_label: 'Log in' }, method: :post)
              ).html_safe %>
            </li>
            <li><%= t('.how_does_it_work_2') %></li>
            <li><%= t('.how_does_it_work_3') %></li>
            <li>
              <%= t(
                    '.how_does_it_work_4',
                    link: link_to('the Key stage 3 and GCSE Computer Science subject knowledge programme', '#')
              ).html_safe %>
            </li>
            <li><%= t('.how_does_it_work_5') %></li>
          </ul>
        </section>
      </div>
    </div>
  </main>
</div>
