<%= render 'components/hero', hero_title: @programme.title, subtitle: 'Certification awarded by BCS, The Chartered Institute for IT', glyph_position: 'bottom', colour: 'orange' %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="ncce-primary-diagnostic__question">
          <%= link_to 'Back', previous_wizard_path, class: 'govuk-back-link' %>
          <h2 class="govuk-heading-m ncce-primary-diagnostic__question-progress"><%= current_position(@steps, @step) %></h2>
          <p class="govuk-body-l">How confident are you in effectively teaching the whole of the KS2 Computing National Curriculum?</p>
          <p class="govuk-body">For example, are you able to develop pupils’ understanding of computer networks, including the Internet, or how to support children in developing a range of programs, systems and content, using digital devices?</p>
          <%= form_for(:diagnostic, url: wizard_path(:question_4), method: :put) do |form| %>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <%= form.radio_button 'question_3', '5', class: 'govuk-radios__input', :checked => true %>
                <label class="govuk-label govuk-radios__label" for='diagnostic_question_3_5'>Not at all confident</label>
              </div>
              <div class="govuk-radios__item">
                <%= form.radio_button 'question_3', '10', class: 'govuk-radios__input' %>
                <label class="govuk-label govuk-radios__label" for='diagnostic_question_3_10'>A little confident</label>
              </div>
              <div class="govuk-radios__item">
                <%= form.radio_button 'question_3', '15', class: 'govuk-radios__input' %>
                <label class="govuk-label govuk-radios__label" for='diagnostic_question_3_15'>Fairly confident</label>
              </div>
              <div class="govuk-radios__item">
                <%= form.radio_button 'question_3', '20', class: 'govuk-radios__input' %>
                <label class="govuk-label govuk-radios__label" for='diagnostic_question_3_20'>Very confident</label>
              </div>
            </div>
            <%= form.submit 'Continue', class: 'govuk-button ncce-primary-diagnostic__button' %>
          <% end %>
        </div>
      </div>
      <%= render 'aside' %>
    </div>
  </div>
</div>
