<%= render GovGridRowComponent.new(additional_classes: "cms-horizontal-card", padding: padding) do |row|  %>
  <%= row.with_column("full") do %>
    <%= content_tag :div, class: wrapper_classes do %>
      <div class="horizontal-card-component__content">
        <h1 class="govuk-heading-m"><%= @title %></h1>
        <%= render CmsRichTextBlockComponent.new(blocks: @body_blocks, with_wrapper: false) %>
        <%= render @icon_block.render if @icon_block%>
      </div>
      <% if @image %>
        <div class="horizontal-card-component__image">
          <%= render CmsImageComponent.new(@image, link: @image_link) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
