<%= render GovGridRowComponent.new(padding: {top: 6, bottom: 0}) do |row|  %>
  <%= row.with_column("full") do %>
    <%= content_tag :div, class: ["horizontal-card-component__wrapper", "horizontal-card-component__wrapper--ribbon-#{@ribbon_colour}"] do %>
      <div class="horizontal-card-component__content">
        <h1 class="govuk-heading-m"><%= @title %></h1>
        <%= render CmsRichTextBlockComponent.new(blocks: @body_blocks, with_wrapper: false) %>
        <% if @icon_block.present? %>
          <div class="horizontal-card-component__icon-wrapper">
            <% @icon_block.each do |icon| %>
              <div class="horizontal-card-component__icon-block">
                <div class="horizontal-card-component__icon-image">
                  <%= render CmsImageComponent.new(icon[:image]) %>
                </div>
                <div class="horizontal-card-component__icon-text">
                  <p class="govuk-body-s govuk-!-margin-bottom-0"><%= icon[:text] %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <% if @image.present? %>
        <div class="horizontal-card-component__image">
            <%= @image_link&.then { |link| link_to(link) { render CmsImageComponent.new(@image) } } || render(CmsImageComponent.new(@image)) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
