<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Certificates</h2>
          <p class="govuk-body">
            <%= @landing_page.certificates_text %>
          </p>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <% if @landing_page.secondary? %>
            <div class="card card--cs-accelerator card--bottom-glyph card--landing-page lp-certs--card">
              <div class="lp-certs--card-header">
                <h2 class="govuk-heading-m card__heading lp-certs--card-heading">
                  <%= csa_programme_title %>
                </h2>
                <%= render 'pages/certification/programme-enrolment-status', programme: @landing_page.cs_accelerator %>
              </div>
              <p class="govuk-body card__text card__text-landing-page">
                Our certificate is designed to help you develop or refresh your computer science subject knowledge.
              </p>
              <p class="govuk-body govuk-!-margin-bottom-0">
                <%= link_to @landing_page.csa_link_text, cs_accelerator_path,
                  class: 'button govuk-button lp-certs--button',
                  data: { event_action: 'click',
                          event_category: @landing_page.event_tracking_category,
                          event_label: @landing_page.csa_tracking_event }
                %>
              </p>
            </div>

            <div class="card card--cs-accelerator card--bottom-glyph card--landing-page lp-certs--card">
              <div class="lp-certs--card-header">
                <h2 class="govuk-heading-m card__heading lp-certs--card-heading">
                  Teach secondary computing
                </h2>
                <%= render 'pages/certification/programme-enrolment-status', programme: @landing_page.secondary_certificate %>
              </div>

              <p class="govuk-body card__text">
              This certificate will help you to put your subject knowledge into classroom practice that raises student attainment.
              </p>

                <p class="govuk-body govuk-!-margin-bottom-0">
                  <%= link_to @landing_page.secondary_cert_link_text, secondary_path,
                    class: 'button govuk-button lp-certs--button',
                    data: { event_action: 'click',
                            event_category: @landing_page.event_tracking_category,
                            event_label: @landing_page.secondary_tracking_event }
                  %>
                </p>
            </div>
          <% else %>
            <div class="card card--primary-certificate card--bottom-glyph card--landing-page lp-certs--card">
              <div class="lp-certs--card-header">
                <h2 class="govuk-heading-m card__heading lp-certs--card-heading">
                  Teach primary computing
                </h2>
                <%= render 'pages/certification/programme-enrolment-status', programme: @landing_page.primary_certificate %>
              </div>
              <p class="govuk-body card__text card__text-landing-page">
                Our nationally recognised qualification will support you to demonstrate your commitment to developing your own practice and to computing as a school subject.
              </p>
              <p class="govuk-body govuk-!-margin-bottom-0">
                <%= link_to @landing_page.primary_cert_link_text, primary_path,
                  class: 'button govuk-button lp-certs--button',
                  data: { event_action: 'click',
                          event_category: @landing_page.event_tracking_category,
                          event_label: @landing_page.primary_tracking_event }
                %>
              </p>
            </div>
          <% end %>
        </div>

        <div class="govuk-grid-column-one-third">
          <%= render BursaryComponent.new(
            tracking_event_category: @landing_page.event_tracking_category,
            tracking_event_label: 'Bursaries certificate'
          ) %>
          <%= render 'landing_pages/champions-aside' if @landing_page.secondary? %>
        </div>
      </div>
    </div>
  </div>
</div>
