<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds bottom-margin">
          <h2 class="govuk-heading-l">Resources</h2>
          <p class="govuk-body-l">
            <%= @landing_page.resources_text %>
          </p>
          <%= link_to 'Browse teaching resources', curriculum_key_stages_path,
            class: 'button govuk-button',
            data: { event_action: 'click',
                    event_category: @landing_page.event_tracking_category,
                    event_label: 'Browse resources' }
          %>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <% @landing_page.resources.each do |resource| %>
            <div class="card <%= @landing_page.secondary? ? 'card--subject-knowledge' : 'card--primary-certificate' %> lp-resources--card card--no-glyph">
              <span class="govuk-body-s lp-resources--featured-outer">
                <span class="govuk-body-s lp-resources--featured-inner">
                  <span class="icon-star">
                    <%= resource[:updated_at] %>
                  </span>
                </span>
              </span>
              <h2 class="card__heading govuk-heading-m">
                <%= link_to resource[:title], resource[:url], class: 'ncce-link ncce-link--heading lp-resources--heading govuk-link--no-underline',
                  data: {
                    event_action: 'click',
                    event_category: @landing_page.event_tracking_category,
                    event_label: resource[:event_label]
                  } %>
              </h2>
              <p class="govuk-body card__text lp-resources--card-text">
                <%= resource[:description] %>
              </p>
            </div>
          <% end %>
        </div>
        <div class="govuk-grid-column-one-third">
          <%= render 'landing_pages/contributing-partners-aside' if @landing_page.secondary? %>
        </div>
      </div>
    </div>
  </div>
</div>
