<% meta_tag :title, 'The essential toolkit for secondary computing teachers' %>
<% meta_tag :description, 'Training and inspiration that grows your confidence, transforms your teaching and brings your lessons to life.' %>
<% meta_tag :url, request.original_url %>
<% meta_tag :image, asset_pack_path('media/images/secondary-teachers/hero.jpg') %>
<% meta_tag :image_alt, 'Secondary Teachers - Teach Computing' %>
<div class="tapestry-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="text-photo-hero white-bg">
        <div class="text-photo-hero__block--text">
          <h1 class="govuk-heading-l">The essential toolkit for secondary computing teachers</h1>
          <p class="govuk-body-l">
            Training and inspiration that grows your confidence and transforms your teaching.
          </p>
        </div>
        <div class="text-photo-hero__block--photo">
          <%= image_pack_tag 'media/images/secondary-teachers/hero.png', alt: '' %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'landing_pages/dedicated_pages' %>
<%= render partial: 'landing_pages/certificates' %>
<%= render partial: 'landing_pages/testimonials' %>
<%= render partial: 'landing_pages/courses' %>
<%= render partial: 'landing_pages/resources' %>
<%= render partial: 'landing_pages/isaac' %>
<%= render partial: 'landing_pages/support' %>
