<div class="<%= @background_color %>-bg banner-component">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper govuk-!-padding-<%= @padding %>">
      <div class="govuk-grid-row govuk-!-padding-2">

        <%= media_block if @image_side == :left %> 

        <div class="<%= text_column_class %>">
          <div class="banner-component_title">
            <h2 class="govuk-heading-m">
              <%= @title %>
            </h2>
          </div>
          <div class="banner-component_body">
            <p class="govuk-body">
              <%= @text %>
            </p>
            <% if @link %>
              <%= @link %>
            <% end %>
          </div>
        </div>

        <%= media_block if @image_side == :right %> 
      </div>
    </div>
  </div>
</div>