<div class='mailer__content'>
  <p class="govuk-body">Dear <%= @user.first_name %>,</p>
  <p class="govuk-body">
    Congratulations on your progress towards completing the I Belong: encouraging girls into computer science programme. Take the next step towards achieving a nationally recognised certificate to show your school’s commitment to improving girls’ uptake of computer science by engaging with free, evidence-informed resources to progress your practice.
  </p>
  <p class="govuk-body">
    Discover our handbook, which includes a wealth of information and guidance, and access our I Belong in Computer Science posters, a resource for your classroom to showcase inspiring careers in computer science. We also encourage you to utilise our recommended key stage 3 curriculum resources, aligned to evidence-based approaches supporting girls' engagement.
  </p>
  <p class="govuk-body">
    There are additional resources to support your engagement with female students – use our
    <%= link_to 'DIY posters', cms_post_url(page_slug: "i-belong-poster-template") %> and key stage 3
    <%= link_to 'student surveys', cms_page_url(page_slug: "student-surveys-attitudes-to-computing") %>
    to inspire girls through relatable role models and gain better understanding of the attitudes towards computing education in your school.
  </p>
  <%= link_to 'Discover more in your dashboard', i_belong_url, class: 'govuk-button button' %>
  <p class="govuk-body"><strong>Already completed these activities?</strong></p>
  <p class="govuk-body">
    Has your school completed some of the activities required to achieve the certificate? Remember to tick them off by submitting
    <%= link_to 'evidence', structuring_your_i_belong_evidence_url %>
    in your dashboard
  </p>
</div>
