<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
		<div class="card card--no-glyph card--orange card--resource">
			<h3 class="govuk-heading-s"><%= link_to 'Key stage 1', '', class: 'govuk-link ncce-link' %></h3>
			<p><strong>Year 1-2</strong>, Age 5-7</p>
			<strong><%= link_to 'View resources', '', class: 'govuk-link ncce-link' %></strong>
		</div>
  </div>
  <div class="govuk-grid-column-one-quarter">
		<div class="card card--no-glyph card--orange card--resource">
			<h3 class="govuk-heading-s"><%= link_to 'Key stage 1', '', class: 'govuk-link ncce-link' %></h3>
			<p><strong>Year 1-2</strong>, Age 5-7</p>
			<strong><%= link_to 'View resources', '', class: 'govuk-link ncce-link' %></strong>
		</div>
  </div>
  <div class="govuk-grid-column-one-quarter">
		<div class="card card--no-glyph card--purple card--resource">
			<h3 class="govuk-heading-s"><%= link_to 'Key stage 1', '', class: 'govuk-link ncce-link' %></h3>
			<p><strong>Year 1-2</strong>, Age 5-7</p>
			<strong><%= link_to 'View resources', '', class: 'govuk-link ncce-link' %></strong>
		</div>
  </div>
  <div class="govuk-grid-column-one-quarter">
		<div class="card card--no-glyph card--purple card--resource">
			<h3 class="govuk-heading-s"><%= link_to 'Key stage 1', '', class: 'govuk-link ncce-link' %></h3>
			<p><strong>Year 1-2</strong>, Age 5-7</p>
			<strong><%= link_to 'View resources', '', class: 'govuk-link ncce-link' %></strong>
		</div>
  </div>
</div>
