<% meta_tag :title, 'Curriculum teaching resources' %>
<% meta_tag :description, 'Curriculum resources contain everything you need to teach computing at key stages 1 to 4. Content is free to access, and has been created by subject experts.' %>
<% meta_tag :image, asset_pack_path('media/images/curriculum/curriculum.png') %>
<% meta_tag :url, request.original_url %>
<%= render HeroMediaComponent.new(
  title: t('.hero.title'),
  text: t('.hero.text'),
  class_name: 'lime-green-bg',
  video: {
    url: 'https://www.youtube.com/embed/6VsXL8g4yNs',
    tracking_category: tracking_category,
    tracking_label: 'video'
  }
) %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m"><%= t('.intro.heading') %></h2>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
          <li><%= t('.intro.bullet_1') %></li>
          <li><%= t('.intro.bullet_2') %></li>
          <li><%= t('.intro.bullet_3') %></li>
          <li><%= t('.intro.bullet_4') %></li>
          <li><%= t('.intro.bullet_5') %></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= render AsideComponent.new(
          text: t(
            '.aside.text.html',
            journey_link: (
              link_to t('.aside.text.journey_link_text'),
              'https://static.teachcomputing.org/curriculum_journey.pdf',
              class: 'ncce-link',
              title: t('.aside.title'),
              data: tracking_data('journey poster')
            ),
          ),
          image: {
            file: 'media/images/icons/curriculum-journey.png',
            title: t('.aside.title'),
            url: 'https://static.teachcomputing.org/curriculum_journey.pdf',
            tracking_label: 'journey poster'
          },
          tracking_category: tracking_category,
        ) %>
      </div>
    </div>
  </div>
  <div class="govuk-main-wrapper govuk-main-wrapper--xl govuk-!-padding-top-0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m"><%= t('.key_stage_heading') %></h2>
        <%= render partial: 'key_stages', locals: { key_stages: @key_stages } %>
      </div>
    </div>
  </div>
  
</div>
<%= render IsaacCardComponent.new(
  tracking_category: tracking_category,
  padding_class: "govuk-!-padding-bottom-1"
) %>

<%= render BannerComponent.new(
  title: t(".at_work.heading"),
  text:  t(".at_work.content"),
  background_color: "isaac",
  box_color: "white",
  video: { url: cs_topic_video_1_url },
  media_column_size: :half,
  media_side: :right,
  wrapper_padding: "top-0"
) %>

<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= render NoticeComponent.new(
          class_name: 'light-blue-bg',
          icon: {
            url: 'media/images/icons/raspberry-pi.svg',
            title: 'Raspberry Pi'
          },
          title: t('.notice.title'),
          text: t(
          '.notice.text.html',
            kit_link: (
              link_to t('.notice.text.kit_link_text'),
              'https://static.teachcomputing.org/Guide-for-physical-computing-kits.pdf',
              class: 'ncce-link',
              data: tracking_data('Hubs kit')
            )
          ),
          link: {
            url: '/hubs',
            text: t('.notice.link_text'),
            tracking_label: 'Contact hubs'
          },
          tracking_category: tracking_category
        ) %>
      </div>
    </div>
  </div>
</div>