<% meta_tag :title, @key_stage.title %>
<% meta_tag :description, @key_stage.description %>
<% meta_tag :image, asset_pack_path('media/images/curriculum/curriculum.png') %>
<div class="hero hero--resources <%= ['1', '2'].include?(@key_stage.level) ? 'hero--orange' : 'hero--purple' %> hero--bottom-glyph">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <div class="hero__heading-wrapper <%= 'hero__heading-wrapper--full-width' if local_assigns[:full_width] %>">
        <h1 class="govuk-heading-xl hero__heading">Key stage <%= @key_stage.level %> resources</h1>
      </div>
    </div>
  </div>
</div>
<div class="govuk-width-container curriculum">
  <%= render partial: 'curriculum/breadcrumb', locals: { current: @key_stage.short_title } %>
	<div class="govuk-main-wrapper resources__wrapper">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<p class="govuk-body govuk-!-margin-bottom-8"><%= @key_stage.description %></p>
			</div>
      <div class="govuk-grid-column-one-third">
        <% asset_key_stage_type = key_stage_type(@key_stage.level) %>
        <% asset_icon = asset_key_stage_type == "primary" ? "media/images/icons/curriculum-journey-primary.png" : "media/images/icons/curriculum-journey-secondary.png" %>
        <% asset_path = asset_key_stage_type == "primary" ? "Journey_Primary.1-2.pdf" : "Journey_Secondary.3-4.pdf" %>
        <%= render AsideComponent.new(
          text: t(
            ".#{asset_key_stage_type}.aside.text.html",
            journey_link: (
              link_to t(".#{asset_key_stage_type}.aside.text.journey_link_text"),
                      "https://static.teachcomputing.org/journey/Curriculum.#{asset_path}",
                      class: "ncce-link",
                      title: t(".#{asset_key_stage_type}.aside.title"),
                      data: tracking_data("#{key_stage_type(@key_stage.level)} journey poster")
            ),
            ),
          image: {
            file: asset_icon,
            title: t(".#{asset_key_stage_type}.aside.title"),
            url: "https://static.teachcomputing.org/journey/Curriculum.#{asset_path}",
            tracking_label: "#{key_stage_type(@key_stage.level)} journey poster"
          },
          tracking_category: tracking_category,
          ) %>
      </div>
		</div>
    <div class="govuk-grid-row">
	    <div class="govuk-grid-column-full">
          <%= render FileCardsComponent.new(cards: @key_stage.curriculum_maps.unshift(@key_stage.teacher_guide)) %>
      </div>
    </div>
		<%= render partial: 'years', locals: { key_stage: @key_stage, years: @key_stage.year_groups } %>
		<%= render 'curriculum/feedback' %>
	</div>
</div>
