<div class="hero hero--resources hero--orange hero--bottom-glyph">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <div class="hero__heading-wrapper <%= 'hero__heading-wrapper--full-width' if local_assigns[:full_width] %>">
        <h1 class="govuk-heading-xl hero__heading">Key stage <%= @key_stage.level %> resources</h1>
      </div>
    </div>
  </div>
</div>
<div class="govuk-width-container">
	<p class="govuk-body govuk-!-padding-top-4 govuk-!-margin-bottom-0"><%= link_to 'Curriculum', curriculum_key_stages_path, class: 'govuk-link ncce-link' %> > <%= @key_stage.short_title %></p>
	<div class="govuk-main-wrapper resources__wrapper external-content">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<p class="govuk-body-l govuk-!-margin-bottom-8">World-class lesson plans, unit guides and teacher guides to help you <strong>teach computing.</strong></p>
			</div>
		</div>
		<hr class="curriculum__line">
		<%= render partial: 'years', locals: { key_stage: @key_stage, years: @key_stage.year_groups } %>
		<%= render 'curriculum/feedback' %>
	</div>
</div>
