<div class="community-activity-component <%= @class_name %>">
  <% if @achievement&.rejected? %>
    <div class="community-activity-component__rejected">
    <i class="icon-feedback"></i>
      <span class="community-activity-component__rejected-text govuk-body-s">
        Please provide more evidence to this activity for review.
      </span>
    </div>
  <% end %>
  <div class="community-activity-component__content">
    <div class="community-activity-component__objective">
      <div class="community-activity-component__objective-text">
        <span><%= sanitize @activity.title %></span>
      </div>
      <% if @achievement&.community_achievement_complete? %>
        <div class="community-activity-component__completed_badge_container" >
          <div class="community-activity-component__completed-badge">Completed</div>
        </div>
      <% elsif @activity.coming_soon? %>
        <%= button_to "Coming soon",
          '#',
          class: 'govuk-button button community-activity-component__objective-button button--full-width',
          disabled: true
        %>
      <% elsif @activity.booking_programme_slug.present? %>
        <%= link_to "Book a course",
          courses_path(certificate: @activity.booking_programme_slug),
          class: 'govuk-button button community-activity-component__objective-button'
        %>
      <% end %>
      <%= render CommunityEvidenceSubmissionModalComponent.new(
        activity: @activity,
        achievement: @achievement,
        button_class: @button_class
      ) %>
    </div>
    <% if @activity.description.present? %>
      <div class="community-activity-component__description"><%= @activity.description.html_safe %></div>
    <% end %>
  </div>
</div>
