<%= content_tag :div, class: ['course-activity-component', { "#{@class_name}": @class_name.present? }] do %>
  <span class="course-activity-component__objective">
    <%= content_tag :div, class: ['course-activity-component__objective-text', { "course-activity-component__objective-text--incomplete": @achievements.blank? }] do %>
      <%= @objective %>
    <% end %>
    <%= link_to t('.book_button_text'), @booking[:path], class: 'govuk-button button button--small course-activity-component__objective-button', data: tracking_data(@booking[:tracking_label]) %>
  </span>
  <% unless @achievements.blank? %>
    <%= content_tag :div, class: 'course-activity-component__course-wrapper' do %>
      <% @achievements.each do |achievement| %>
        <div class="course-activity-component__course">
          <p>
            <% if achievement.stem_activity_code.present? %>
              <%= link_to(achievement.title, course_path(id: achievement.stem_activity_code, name: achievement.slug), class: 'ncce-link') %>
            <% else %>
              <%= achievement.title %>
            <% end %>
          </p>
          <div class="ncce-flex__space-between">
            <span class="govuk-body-s course-activity-component__course_type <%= activity_icon_class(achievement.activity) %>"><%= activity_type(achievement.activity) %> course</span>
            <strong class="govuk-tag course-activity-component__status ncce-courses__tag"><%= achievement.complete? ? 'Completed' : 'In progress' %></strong>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
