<% if programme.user_enrolled?(current_user) %>
  <div class="certification">
    <div class="govuk-width-container">
      <div class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column">
              <h2 class="govuk-heading-m certification__title">Your certificate</h2>
            </div>
          </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="certification-progress">
              <p class="govuk-body-s">The National Centre for Computing Education certificate in</h2>
              <h3 class="govuk-body-l"><%= link_to 'GCSE computer science subject knowledge', programme_path(programme.slug), class: 'ncce-link' %></h3>
              <div class="certification-progress__fudge">
                <% credits_for_accelerator(current_user, programme) do |total_credits| %>
                  <progress class="certification-progress__fudge-bar" aria-label="Progress towards test: <%= total_credits %>/80 credits" value="<%= total_credits %>" max="80"></progress>
                <% end %>
                <% if can_take_accelerator_test?(current_user, programme) %>
                  <span class="certification-progress__fudge-bar-target certification-progress__fudge-bar-target--ready" aria-label="You are eligible for the test"></span>
                <% else %>
                  <span class="certification-progress__fudge-bar-target" aria-label="You are not eligible for the test yet"></span>
                <% end %>
                <span class="certification-progress__fudge-bar-dummy"></span>
              </div>
              <%= image_tag(%"/images/notepad-right.svg", alt: '', class: 'certification-progress__image') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="certification-hero">
    <div class="govuk-width-container">
      <div class="govuk-main-wrapper govuk-main-wrapper--xl">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <img src="/images/notepad.svg" alt="" class="certification-hero__image"/>
            </div>
            <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-s certification-hero__text">Enrol on the National Centre for Computing Education certificate in</h1>
              <h2 class="govuk-heading-m certification-hero__text">GCSE computer science subject knowledge</h2>
              <p class="govuk-body-s certification-hero__text">Certification Awarded by BCS, The Chartered Institute for IT and acredited by Royal Academy of Engineering.</h2>
              <p class="govuk-body">
                <%= link_to 'Find out more & enrol', cs_accelerator_path, class: 'govuk-button ncce-button__pink', role: 'button', draggable: 'false' %>
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
