<div class="certification">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <h2 class="govuk-heading-m">Your certificates</h2>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <% current_user.programmes.each do |programme| %>
            <div class="card card--<%= programme.slug %>">
              <%= render 'pages/certification/programme-enrolment-status', programme: programme %>
              <h3 class="govuk-heading-m card__heading"><%= link_to programme.title, programme_path(programme.slug), class: 'ncce-link' %></h3>
              <p class="govuk-body card__text">Certificate awarded by BCS, The Chartered Institute for IT</p>
              <%
                achieved_credits = programme.credits_achieved_for_certificate(current_user)
                max_credits = programme.max_credits_for_certificate
              %>
              <progress class="card__progress-bar" aria-label="You have <%= achieved_credits %> out of <%= max_credits %> credits" value="<%= achieved_credits %>" max="<%= max_credits %>"></progress>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
