<div class="certification">
    <div class="govuk-width-container">
      <div class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column">
              <h2 class="govuk-heading-m underlined__title">Your certificate</h2>
            </div>
          </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="certification-progress">
              <p class="govuk-body-s govuk-!-font-weight-bold">The National Centre for Computing Education certificate in</h2>
              <h3 class="govuk-body-l govuk-!-font-weight-bold"><%= link_to programme.title, programme_path(programme.slug), class: 'ncce-link' %></h3>
              <% credits_for_programme(current_user, programme) do |total_credits, max_credits| %>
                <progress class="certification-progress__bar" aria-label="You have <%= total_credits %> out of <%= max_credits %> credits" value="<%= total_credits %>" max="<%= max_credits %>"></progress>
              <% end %>
              <%= image_tag(%"/images/notepad-right.svg", alt: '', class: 'certification-progress__image') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
