<% meta_tag :title, 'A level Computer Science subject knowledge - Teach Computing' %>
<%= render 'pages/certification/hero' %>
<% content_for(:main_class, 'ncce-concrete-container') %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l">Your certificate is ready!</p>
        <p class="govuk-body">Thank you for completing the A level subject knowledge certificate. Congratulations on your achievement, you have demonstrated your broad knowledge of computer science and commitment to your professional development.</p>
        <p class="govuk-body">
          <%= link_to 'Download your certificate', certificate_a_level_path, class: 'govuk-button button', role: 'button', draggable: 'false' %>
        </p>
        <p class="govuk-body-l">Next steps for your development</p>
        <ol class="govuk-list govuk-list--bullet govuk-body-s">
          <li>
            complete more
            <%= link_to 'A level CPD', courses_path(level: 'Post 16') %>
            to improve pedagogy and teaching approaches, alongside enhancing your subject knowledge
          </li>
          <li>
            enrol and complete the
            <%= link_to 'Secondary Computing certificate', secondary_path %>
            to demonstrate commitment and practice in teaching and learning, curriculum enrichment, subject leadership and more
          </li>
          <li>
            register on the
            <%= link_to 'Isaac Computer Science', 'https://isaaccomputerscience.org/' %>
            platform and encourage your students to attend events to improve their engagement and attainment
          </li>
        </ol>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="ncce-aside govuk-!-margin-bottom-8">
          <h2 class="govuk-heading-m ncce-aside__title">Share your achievement</h2>
          <p class="govuk-body-s ncce-aside__text">
            Share your certificate on social media. Follow us on
            <a href="https://twitter.com/WeAreComputing?ref_src=twsrc%5Etfw" class="ncce-link" data-related="WeAreComputing" data-lang="en" data-show-count="false" data-dnt="true" target="_blank">X</a>,
            <a href="https://www.facebook.com/WeAreComputing/" class="ncce-link" data-related="WeAreComputing" data-lang="en" data-dnt="true" target="_blank">Facebook</a>
            or
            <a href="https://www.linkedin.com/company/national-centre-for-computing-education" class="ncce-link" data-related="WeAreComputing" data-lang="en" data-dnt="true" target="_blank">LinkedIn</a>
            and tag us when sharing your achievement.
          </p>
          <p class="govuk-body-s ncce-aside__text">
            <a href="https://twitter.com/intent/tweet?text=<%=CGI.escape "I have completed the A-Level programme from @WeAreComputing. Find out more #{about_a_level_url}"%>" class="govuk-link ncce-link complete__social complete__social--twitter" data-size="large" data-related="WeAreComputing" data-lang="en" data-dnt="true">Share on X</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </p>
          <p class="govuk-body-s ncce-aside__text">
            <a href="https://www.facebook.com/sharer/sharer.php?u=<%=CGI.escape about_a_level_url %>" target="_blank" class="govuk-link ncce-link complete__social complete__social--facebook">Share on Facebook</a>
          </p>
          <p class="govuk-body-s">
            <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%=CGI.escape about_a_level_url %>" rel="noopener" target="_blank"class="govuk-link ncce-link complete__social complete__social--linkedin">Share on LinkedIn</a>
          </p>
        </div>
        <div>
          <%= render FeedbackComponent.new(heading: "What can we do better?", area: :a_level_subject_knowledge_certificate) %>
        </div>
      </div>
    </div>
  </div>
</div>
