<%= content_tag :div, class: wrapper_classes do %>
  <div class="cms-resource-card__top-content">
    <div class="cms-resource-card__top-content-title">
      <h2 class="govuk-heading-m"><%= @title %></h1>
    </div>
    <div class="cms-resource-card__top-content-image">
      <%= render CmsImageComponent.new(@icon) if @icon %>
    </div>
  </div>
  <div class="cms-resource-card__body-text">
    <%= render @body_text.render %>
  </div>
  <%= link_to @button_text, @button_link, class: "govuk-button ncce-button--white" if @button_link %>
<% end %>
