<div class="pathway-wrapper light-grey-bg">
  <h2 class="govuk-heading-s">Learning pathways for teachers</h2>
	<p class="govuk-body">Our learning pathways will help you to get started and offer a structured route through the programme based on your level of experience.</p>
  <ul class="govuk-list">
		<li class="pathway__item">
			<%= link_to 'Advanced GCSE computer science', '', class: 'govuk-link ncce-link icon-resources' %>
			<span class="pathway__item--pdf">PDF</span>
		</li>
		<li class="pathway__item">
			<%= link_to 'New to GCSE computer science', '', class: 'govuk-link ncce-link icon-resources' %>
			<span class="pathway__item--pdf">PDF</span>
		</li>
		<li class="pathway__item">
			<%= link_to 'New to algorithms & programming', '', class: 'govuk-link ncce-link icon-resources' %>
			<span class="pathway__item--pdf">PDF</span>
		</li>
		<li class="pathway__item">
			<%= link_to 'Computing non-specialist', '', class: 'govuk-link ncce-link icon-resources' %>
			<span class="pathway__item--pdf">PDF</span>
		</li>
		<li class="pathway__item">
			<%= link_to 'New to computer systems', '', class: 'govuk-link ncce-link icon-resources' %>
			<span class="pathway__item--pdf"><%= link_to 'PDF', '', class: 'govuk-link' %></span>
		</li>
  </ul>
	<p class='govuk-body'>
	<%= link_to 'Browse our courses', courses_url(certificate: @programme.slug), class: 'govuk-button button' %>
</p>
</div>
