<div class="pathway-wrapper light-grey-bg">
  <h2 class="govuk-heading-s">Learning pathways for teachers</h2>
	<p class="govuk-body">Our learning pathways will help you to get started and offer a structured route through the programme based on your level of experience.</p>
  <ul class="govuk-list">
		<li class="pathway__item">
			<%= link_to 'Advanced GCSE computer science', '', class: 'govuk-link ncce-link icon-resources'%>
			<span class="pathway__item--pdf"><%= link_to 'PDF', 'https://static.teachcomputing.org/pathways/05_Teaching_advanced_GCSE_computer_science.pdf' %></span>
		</li>
		<li class="pathway__item">
			<%= link_to 'New to GCSE computer science', '', class: 'govuk-link ncce-link icon-resources' %>
			<span class="pathway__item--pdf"><%= link_to 'PDF', 'https://static.teachcomputing.org/pathways/02_New_to_GCSE_computer+science.pdf' %></span>
		</li>
		<li class="pathway__item">
			<%= link_to 'New to algorithms & programming', '', class: 'govuk-link ncce-link icon-resources' %>
			<span class="pathway__item--pdf"><%= link_to 'PDF', 'https://static.teachcomputing.org/pathways/03_New_to_algorithms_and_programming.pdf' %></span>
		</li>
		<li class="pathway__item">
			<%= link_to 'Computing non-specialist', '', class: 'govuk-link ncce-link icon-resources' %>
			<span class="pathway__item--pdf"><%= link_to 'PDF', 'https://static.teachcomputing.org/pathways/01_New_to_computing.pdf' %></span>
		</li>
		<li class="pathway__item">
			<%= link_to 'New to computer systems', '', class: 'govuk-link ncce-link icon-resources' %>
			<span class="pathway__item--pdf"><%= link_to 'PDF', 'https://static.teachcomputing.org/pathways/04_New_to_computer_systems.pdf' %></span>
		</li>
  </ul>
	<p class='govuk-body'>
	<%= link_to 'Browse our courses', courses_url(certificate: @programme.slug), class: 'govuk-button button' %>
</p>
</div>
