<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper--xl">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-one-third">
 					<div class="testimonial">
            <p class="govuk-body-s testimonial__text">
              “We’re teaching kids to use technologies that don’t exist yet for problems that they don’t know. It’s going to be a completely different world when they leave school.”
            </p>
            <div class="testimonial__bio">
    					<%= image_pack_tag 'media/images/pages/careers-week/helen_brant.jpg', alt: 'Helen Brant', class: 'testimonial__image' %>
              <p class="govuk-body-s">
                <strong>Helen Brant</strong><br>
                Music teacher
              </p>
							<p class="govuk-body-s testimonial__bio-cell--span-2">
              <strong><%= link_to 'Read Helen’s interview', 'https://www.teachcomputing.org/blog/music-computing', class: 'ncce-link axe-skip-a11y-test' %></strong>
            </p>
            </div>
          </div>
				</div>
				<div class="govuk-grid-column-one-third">
 					<div class="testimonial">
            <p class="govuk-body-s testimonial__text">
             “The hard work paid off and studying has made me feel confident teaching computer science. I’m now part of an exciting future.”
            </p>
            <div class="testimonial__bio">
              <%= image_pack_tag 'media/images/pages/careers-week/julie_simmons.jpg', alt: 'Julie Simmons', class: 'testimonial__image' %>
              <p class="govuk-body-s">
                <strong>Julie Simmons</strong><br>
                English teacher
              </p>
							<p class="govuk-body-s testimonial__bio-cell--span-2">
              <strong><%= link_to 'Read Julie’s interview', 'https://www.teachcomputing.org/blog/poetry-programming/', class: 'ncce-link axe-skip-a11y-test' %></strong>
            </p>
            </div>
          </div>
				</div>
				<div class="govuk-grid-column-one-third">
           <div class="testimonial">
            <p class="govuk-body-s testimonial__text">
              “I definitely feel more confident as I have picked up a range of skills and techniques that I will be able to use within my classroom and also to enhance my subject knowledge.”
            </p>
            <div class="testimonial__bio">
            	<%= image_pack_tag 'media/images/pages/careers-week/leroy_david.jpg', alt: 'Leroy David', class: 'testimonial__image' %>
              <p class="govuk-body-s">
                <strong>Leroy David</strong><br>
                Computer science teacher
              </p>
							<p class="govuk-body-s testimonial__bio-cell--span-2">
              <strong><%= link_to 'Read Leroy’s interview', 'https://www.teachcomputing.org/blog/getting-the-most-from-summer-cpd/', class: 'ncce-link axe-skip-a11y-test' %></strong>
            </p>
            </div>
          </div>
				</div>
			</div>
    </div>
  </div>
</div>
