<%= render GovGridRowComponent.new(additional_classes: "question-answer-row") do |row| %>
  <%= row.with_column("two-thirds") do %>

    <div class="question-answer__question">
      <div class="question-answer__question-content">
        <%= @question %>
      </div>
    </div>

    <div class="question-answer__answer">
      <div class="question-answer__answer-content">
        <%= render CmsRichTextBlockComponent.new(blocks: @answer, with_wrapper: false) %>

        <% if @answer_icon_block %>
          <%= render @answer_icon_block.render %>
        <% end %>
      </div>
    </div>

  <% end %>
  <%= row.with_column("one-third") do %>
    <%= render_parent %>
  <% end %>
<% end %>