<% title = @article['meta_title'] || @article['title'] %>
<% meta_tag(:title, "#{title} - Teach Computing") %>
<% meta_tag(:description, @article['meta_description']) if @article['meta_description'] %>
<% meta_tag(:url, request.original_url) %>
<% meta_tag(:image, @article['feature_image']) if @article['feature_image'] %>
<% meta_tag(:image_alt, "#{title} - Teach Computing") if @article['feature_image'] %>
<%= render 'components/hero', hero_title: title, small_title: title.size > 25  %>
<div class="govuk-width-container">
  <%= render BreadcrumbComponent.new(ancestors: [[root_path, 'Home'], [cms_posts_path, 'Articles']], current_page_name: 'This Article') if @article_type == :post %>
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds external-content <%= @style_slug %>">
        <% if @article['feature_image'].present? %>
          <%= image_tag @article['feature_image'], alt: @article['feature_image_alt'], class: 'article-cover-image' %>
        <% end %>
        <%= @article['html']&.html_safe %>
      </div>
    </div>
  </div>
</div>
