<% title = @page['meta_title'] || @page['title'] %>
<% meta_tag(:title, "#{title} - Teach Computing") %>
<% meta_tag(:description, @page['meta_description']) if @page['meta_description'] %>
<% meta_tag(:url, request.original_url) %>
<% meta_tag(:image, @page['feature_image']) if @page['feature_image'] %>
<% meta_tag(:image_alt, "#{title} - Teach Computing") if @page['feature_image'] %>
<%= render 'components/hero', hero_title: title, small_title: title.size > 25  %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds external-content <%= @style_slug %>">
        <%= render BreadcrumbComponent.new(ancestors: [[root_path, 'Home'], [cms_posts_path, 'Articles']], current_page_name: 'This Article') %>
        <% if @page['feature_image'].present? %>
          <%= image_tag @page['feature_image'], alt: @page['feature_image_alt'] %>
        <% end %>
        <%= @page['html']&.html_safe %>
      </div>
    </div>
  </div>
</div>
