<% meta_tag(:title, "#{@title.titlecase} - Teach Computing") %>
<%= render 'components/hero', hero_title: @title.titlecase, small_title: true %>
<div class="govuk-width-container">
  <%= render BreadcrumbComponent.new(ancestors: [[root_path, 'Home']], current_page_name: @page_name) %>
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full <%= @style_slug %>">
      <div class="<%= @collection_wrapper_class %>">
        <% @collection.resources.each do |resource| %>
          <% resource.data_models.each do |data_model| %>
            <%= render data_model.render %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <% if @collection.previous_page %>
          <hr class="ncce-hr">
          <%= link_to "#{@path}?page=#{@collection.previous_page}", class: 'icon-arrow-left search__paging' do %>
            <p class="govuk-heading-s">Previous page</p>
            <p class="govuk-body-s"><%= @collection.previous_page %> of <%= @collection.page_number %></p>
          <% end %>
        <% end %>
        <% if @collection.next_page %>
          <hr class="ncce-hr">
          <%= link_to "#{@path}?page=#{@collection.next_page}", class: 'icon-arrow-right search__paging' do %>
            <p class="govuk-heading-s">Next page</p>
            <p class="govuk-body-s"><%= @collection.next_page %> of <%= @collection.page_number %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
