<% meta_tag :title, 'Pathways - Teach Computing' %>
<%= render HeroComponent.new(title: programme_t('hero.title'), subtitle: programme_t('hero.subtitle')) %>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <section class="ncce-section govuk-!-margin-top-0">
          <p class="govuk-body"><%= programme_t('intro') %></p>
          <p class="govuk-body"><%= programme_t('taking_part') %></p>
          <ul class="govuk-list govuk-list--bullet">
            <% programme_t('taking_part_steps').each do |step| %>
              <li><%= step %></li>
            <% end %>
          </ul>
        </section>
        <section class="ncce-section govuk-!-margin-top-0">
          <div class="ncce-enrichment-cards"%>
            <% @groupings.each_with_index do |grouping, index| %>
              <div>
                  <% if grouping.coming_soon %>
                    <p class="govuk-body ncce-enrichment-this-term">
                      <%= 'Coming soon' %>
                    </p>
                  <% elsif index == 0 %>
                    <p class="govuk-body ncce-enrichment-this-term">
                      <%= 'This term' %>
                    </p>
                  <% else %>
                    <div class="ncce-enrichment-no-this-term"></div>
                  <% end %>
                <div class="ncce-enrichment-card">
                  <h3 class="govuk-heading-m"><%= grouping.title %></h3>
                  <div class="ncce-enrichment-card--entries">
                    <% if grouping.coming_soon %>
                      <div class="ncce-enrichment-card--coming-soon">
                        <p class="govuk-body-s">More enrichment activities coming soon!</p>
                      </div>
                    <% else %>
                      <% grouping.enrichment_entries.each do |entry| %>
                        <div class="ncce-enrichment-card--entry">
                          <div class="ncce-enrichment-card--entry-copy">
                            <%= link_to entry.title, entry.title_url, class: 'govuk-link govuk-heading-s' %>
                            <p class="govuk-body-s"><%= entry.body.html_safe %></p>
                          </div>
                          <%= link_to entry.title_url do %>
                            <img src="<%= entry.image_url %>"/>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </section>
        <section class="ncce-section govuk-!-margin-top-0">
          <p class="govuk-body">
            <%= programme_t(
              'footer',
              stem_community: link_to('STEM Community', 'https://community.stem.org.uk/')
            ).html_safe %>
          </p>
        </section>
      </div>
    </div>
  </main>
</div>
