<ul class="govuk-list ncce-activity-list ncce-activity-list--programme" role="list">
  <li class="ncce-activity-list__item">
    <span class="ncce-activity-list__item-text">Created your account with the National Centre for Computing Education</span>
  </li>
  <%= render 'programmes/achievements', presenters: @user_programme_achievements.diagnostic_achievements %>
  <%= render 'programmes/achievements', presenters: @user_programme_achievements.face_to_face_achievements(to_show = 2) %>
  <%= render 'programmes/achievements', presenters: @user_programme_achievements.online_achievements(to_show = 2) %>
</ul>
<%= render 'programmes/cs-accelerator/teacher_reference_number' %>
<%= render 'programmes/cs-accelerator/recommendation' %>

<ul class="govuk-list ncce-activity-list ncce-activity-list--programme">
    <%= render 'programmes/cs-accelerator/exam_activity' %>
</ul>
