<ul class="govuk-list ncce-activity-list ncce-activity-list--programme" role="list">
<% if current_user.teacher_reference_number.present? %>
  <li class="ncce-activity-list__item ncce-activity-list__item--trn">
    <span class="ncce-activity-list__item-text">Provide us with your teacher reference number</span>
    <span class="ncce-activity-list__item-activity ncce-activity-list__item-activity--trn"><%= current_user.teacher_reference_number %></span>
  </li>
<% else %>
  <li class="ncce-activity-list__item ncce-activity-list__item--incomplete">
    <span class="ncce-activity-list__item-text">Provide us with your teacher reference number</span>
    <%= form_for(current_user, url: user_teacher_reference_number_path(current_user),
          html: {
            class: 'ncce-activity-list__form'
          }
        ) do |f| %>
      <%= f.text_field :teacher_reference_number,
          class: 'govuk-input ncce-input',
          'aria-label': 'Enter your teacher reference number'
      %>
      <%= hidden_field_tag 'redirect_path', programme_path(@programme.slug) %>
      <%= f.submit 'Add', class: 'govuk-button button button--small' %>
    <% end %>
    <span class="ncce-activity-list__item-activity ncce-activity-list__item-activity--no-padding">
      <%= link_to 'What is my teacher reference number?', 'https://www.gov.uk/guidance/individual-teacher-records-information-for-teachers#your-teacher-reference-number-trn', class: 'ncce-link', target: '_blank' %>
    </span>
  </li>
<% end %>
</ul>
