<% meta_tag :title, 'CS Accelerator - Teach Computing' %>
<%= render 'pages/certification/hero', full_width: true  %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Your certificate is ready!</h2>
        <p class="govuk-body">Congratulations on completing your learning programme, and reaching this important milestone in your professional development.</p>
        <p class="govuk-body">
          <%= link_to 'View your certificate', programme_certificate_path('cs-accelerator'), class: 'govuk-button button', role: 'button', draggable: 'false' %>
        </p>
        <h2 class="govuk-heading-m">Next steps for you</h2>
        <h3 class="govuk-heading-s">Continue learning</h3>
        <p class="govuk-body">Now you've completed the programme, you can participate in any of our huge range of professional development courses for free!</p>
        <p class="govuk-body">
          <%= link_to 'Browse all courses', courses_path, class: 'govuk-link ncce-link' %>
        </p>
        <h3 class="govuk-heading-s">Join a CAS Community meeting</h3>
        <p class="govuk-body">CAS Communities offer a supportive environment to reflect on your professional learning and encourage others. Think about attending one of your local meetings to share your experience with other teachers.</p>
        <p class="govuk-body">
          <%= link_to 'Find out more', 'https://www.computingatschool.org.uk', class: 'govuk-link ncce-link' %>
        </p>
        <h3 class="govuk-heading-s">Support an after school club</h3>
        <p class="govuk-body">Use your skills and confidence to run a <%= link_to 'Code Club', 'https://codeclub.org/en', class: 'govuk-link ncce-link' %>, hackathon, or school programme to encourage more pupils to engage with computing.</p>
        <p class="govuk-body">
          <%= link_to 'Learn more', 'https://www.raspberrypi.org/community', class: 'govuk-link ncce-link' %>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="ncce-aside">
          <h2 class="govuk-heading-m ncce-aside__title">Share your success</h2>
          <p class="govuk-body ncce-aside__text">Do you know someone who would
            benefit from this programme? Invite them to join and discuss what
            you’ve learnt with someone you know.</p>
          <p class="govuk-body ncce-aside__text">You can also
            <a href="https://twitter.com/WeAreComputing?ref_src=twsrc%5Etfw"
              class="ncce-link" data-related="WeAreComputing" data-lang="en"
              data-show-count="false" data-dnt="true" target="_blank">follow
              @WeAreComputing</a>
          </p>
          <p class="govuk-body">
            <a href="https://twitter.com/intent/tweet?text=I%20have%20completed%20the%20Computer%20Science%20Accelerator%20Programme%20from%20%40WeAreComputing.%20Sign%20up:%20https://teachcomputing.org%2Fcs-accelerator"
              class="govuk-button button--aside" data-size="large"
              data-related="WeAreComputing" data-lang="en" data-dnt="true">Tweet
              your certificate</a>
            <script async src="https://platform.twitter.com/widgets.js"
              charset="utf-8"></script>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ncce-programmes-activity">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l ncce-programmes-activity__title">Your learning journey</h2>
        </div>
      </div>
      <ul class="govuk-list ncce-activity-list ncce-activity-list--programme" role="list">
        <%= render 'programmes/cs-accelerator/achievements' %>
      </ul>
    </div>
  </div>
</div>
