<div class="govuk-width-container">
  <div class="govuk-main-wrapper ncce-confidence">
    <div class="ncce-confidence__card">
      <%= image_pack_tag 'media/images/home/card_courses.jpg', loading: 'lazy', class: 'ncce-confidence__icon', alt: '' %>
      <%= link_to t("pages.home.confidence.courses.title"), courses_path, class: "ncce-confidence__link" %>
      <p class="ncce-confidence__description">
        <%= t("pages.home.confidence.courses.description") %>
      </p>
    </div>

    <div class="ncce-confidence__card">
      <%= image_pack_tag 'media/images/home/card_funding.jpg', loading: 'lazy', class: 'ncce-confidence__icon', alt: '' %>
      <%= link_to t("pages.home.confidence.funding.title"), bursary_path, class: "ncce-confidence__link" %>
      <p class="ncce-confidence__description">
        <%= t("pages.home.confidence.funding.description") %>
      </p>
    </div>

    <div class="ncce-confidence__card">
      <%= image_pack_tag 'media/images/home/card_teaching_resources.jpg', loading: 'lazy', class: 'ncce-confidence__icon', alt: '' %>
      <%= link_to t("pages.home.confidence.teaching_resources.title"), home_teaching_resources_path, class: "ncce-confidence__link" %>
      <p class="ncce-confidence__description">
        <%= t("pages.home.confidence.teaching_resources.description") %>
      </p>
    </div>

    <div class="ncce-confidence__card ncce-confidence__card--orange">
      <%= image_pack_tag 'media/images/home/card_i_belong.jpg', loading: 'lazy', class: 'ncce-confidence__icon', alt: '' %>
      <%= link_to t("pages.home.confidence.i_belong.title"), i_belong_path, class: "ncce-confidence__link" %>
      <p class="ncce-confidence__description">
        <%= t("pages.home.confidence.i_belong.description") %>
      </p>
    </div>

    <div class="ncce-confidence__card">
      <%= image_pack_tag 'media/images/home/card_non_gcse.jpg', loading: 'lazy', class: 'ncce-confidence__icon', alt: '' %>
      <%= link_to t("pages.home.confidence.non_gcse.title"), non_gcse_path, class: "ncce-confidence__link" %>
      <p class="ncce-confidence__description">
        <%= t("pages.home.confidence.non_gcse.description") %>
      </p>
    </div>

    <div class="ncce-confidence__card ncce-confidence__card--pink">
      <%= image_pack_tag 'media/images/home/card_cqf.jpg', loading: 'lazy', class: 'ncce-confidence__icon', alt: '' %>
      <%= link_to t("pages.home.confidence.computing_quality.title"), computing_quality_framework_url, class: "ncce-confidence__link" %>
      <p class="ncce-confidence__description">
        <%= t("pages.home.confidence.computing_quality.description") %>
      </p>
    </div>

  </div>
</div>
