<div class="govuk-width-container">
  <div class="ncce-confidence__header">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-0"><%= t("pages.home.confidence.heading") %></h1>
  </div>

  <div class="govuk-main-wrapper ncce-confidence">
    <div class="ncce-confidence__card">
      <%= link_to image_pack_tag('media/images/home/card_courses.jpg', loading: 'lazy', alt: 'Teachers having a meeting'), courses_path, class: 'ncce-confidence__icon', aria_label: 'Link to course listing' %>
      <%= link_to t("pages.home.confidence.courses.title"), courses_path, class: "ncce-confidence__link" %>
      <p class="ncce-confidence__description">
        <%= t("pages.home.confidence.courses.description") %>
      </p>
    </div>

    <div class="ncce-confidence__card">
      <%= link_to image_pack_tag('media/images/home/card_teaching_resources.jpg', loading: 'lazy', alt: 'A classroom full of school students raising their hands'), curriculum_key_stages_path, class: 'ncce-confidence__icon', aria_label: 'Link to curriculum' %>
      <%= link_to t("pages.home.confidence.teaching_resources.title"), curriculum_key_stages_path, class: "ncce-confidence__link" %>
      <p class="ncce-confidence__description">
        <%= t("pages.home.confidence.teaching_resources.description") %>
      </p>
    </div>

    <div class="ncce-confidence__card ncce-confidence__card--orange">
      <%= link_to image_pack_tag('media/images/home/card_i_belong.jpg', loading: 'lazy', alt: 'School students collaborating on laptops in classroom'), about_i_belong_path, class: 'ncce-confidence__icon', aria_label: 'Link to I Belong programme' %>
      <%= link_to t("pages.home.confidence.i_belong.title"), about_i_belong_path, class: "ncce-confidence__link" %>
      <p class="ncce-confidence__description">
        <%= t("pages.home.confidence.i_belong.description") %>
      </p>
    </div>

    <div class="ncce-confidence__card">
      <%= link_to image_pack_tag('media/images/home/card_non_gcse.jpg', loading: 'lazy', alt: 'School students playing with robots'), cms_page_path("gcse-cs-support"), class: 'ncce-confidence__icon', aria_label: 'Link to GCSE Computer Science support' %>
      <%= link_to t("pages.home.confidence.non_gcse.title"), cms_page_path("gcse-cs-support"), class: "ncce-confidence__link" %>
      <p class="ncce-confidence__description">
        <%= t("pages.home.confidence.non_gcse.description") %>
      </p>
    </div>

    <div class="ncce-confidence__card ncce-confidence__card--pink">
      <%= link_to image_pack_tag('media/images/home/card_cqf.jpg', loading: 'lazy', alt: 'Group of teachers holding a certificate'), computing_quality_framework_url, class: 'ncce-confidence__icon', aria_label: 'Link to Computing Quality Framework' %>
      <%= link_to t("pages.home.confidence.computing_quality.title"), computing_quality_framework_url, class: "ncce-confidence__link" %>
      <p class="ncce-confidence__description">
        <%= t("pages.home.confidence.computing_quality.description") %>
      </p>
    </div>

  </div>
</div>
