<div class="govuk-width-container">
  <div class="ncce-feat">
    <h2 class="govuk-heading-l ncce-heading-l__centered">News and Updates</h2>
    <div class="ncce-feat__grid">
      <div class="ncce-feat__main">
        <% if @main_feature.present? %>
          <img src="<%= @main_feature['feature_image'] %>" alt="" class="ncce-feat__image">
          <p class="govuk-body ncce-feat__date"><%= published_date(@main_feature["published_at"]) %></p>
          <p class="govuk-heading-s ncce-feat__heading"><%= link_to @main_feature['title'], cms_post_path(@main_feature['slug']), class: 'ncce-link', data: { event_action: 'click', event_category: 'Homepage', event_label: 'News' } %></p>
          <p class="govuk-body ncce-feat__excerpt"><%= @main_feature['custom_excerpt'] %></p>
        <% end %>
      </div>

      <div class="ncce-feat__panel-container">
        <% @featured_posts.each do |post| %>
          <div class="ncce-feat__panel">
            <p class="govuk-body ncce-feat__date"><%= published_date(post["published_at"]) %></p>
            <p class="govuk-heading-s ncce-feat__heading"><%= link_to post["title"], cms_post_path(post['slug']), class: "ncce-link", data: { event_action: 'click', event_category: 'Homepage', event_label: 'News' } %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="ncce-feat__button-container">
      <p class="govuk-body">
        <%= link_to "View all news and updates", news_url, class: "govuk-button button hero-button--home", data: { event_action: 'click', event_category: 'Homepage', event_label: 'News' } %>
      </p>
    </div>
  </div>
</div>
