<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="ncce-news-and-updates">
      <div class='ncce-news-and-updates__heading'>
        <h1 class='govuk-heading-l'>News & Updates</h1>
      </div>
      <div class='ncce-news-and-updates__archive-link'>
        <p class='govuk-heading-s ncce-news-and-updates__heading'>
          <%= link_to 'View all news & updates', news_url, class: 'ncce-link ncce-news-and-updates__archive-link' %>
        </p>
      </div>
      <% @featured_posts.each do |post| %>
        <div class="ncce-news-and-updates__panel">
          <img src="<%= post['feature_image'] %>" alt="" class="ncce-news-and-updates__image">
          <p class="govuk-body govuk-!-font-size-14 ncce-news-and-updates__date"><%= published_date(post['published_at']) %></p>
          <p class="govuk-heading-s ncce-news-and-updates__heading"><%= link_to post['title'], post['url'], class: 'ncce-link ncce-news-and-updates__link' %></p>
          <p class="govuk-body"><%= post['custom_excerpt'] %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
