<div class="ncce-stay-in-touch" id="stay-up-to-date">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-l ncce-stay-in-touch__heading">Stay up to date</h2>
          <p class="govuk-body ncce-stay-in-touch__body">Sign up to our emails to hear about the latest CPD, resources and events.</p>
          <form action="<%= ENV.fetch("ADESTRA_ENDPOINT") %>" method="post" accept-charset="UTF-8">
            <div class="govuk-form-group">
              <label class="govuk-label ncce-stay-in-touch__label" for="amf-input-first_name_11">First name</label>
              <input type="text" class="govuk-input ncce-stay-in-touch__input" name="first_name_11" id="amf-input-first_name_11" value="" maxlength="255" onkeyup="if (this.length>255) this.value=this.value.substr(0, 255)" onblur="this.value=this.value.substr(0, 255)">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label ncce-stay-in-touch__label" for="amf-input-email_10">Email address</label>
              <input type="text" class="govuk-input ncce-stay-in-touch__input" name="email_10" id="amf-input-email_10" value="" maxlength="255" onkeyup="if (this.length>255) this.value=this.value.substr(0, 255)" onblur="this.value=this.value.substr(0, 255)">
            </div>
            <p class="govuk-body ncce-stay-in-touch__footnote">From time to time the consortium will contact you with updates. We will only use your data in accordance with the terms of our <%= link_to 'privacy policy', privacy_path, class: 'govuk-link ncce-link ncce-link--on-dark' %>.</p>
            <input type="submit" class="govuk-button button" name="submit" id="submit" value="Get updates">
            <%= javascript_tag id: '0.80171781796847', nonce: true do -%>
              (function(){
                var script			= document.getElementById('0.80171781796847');
                var form			= script.parentNode;
                var inputs			= form.getElementsByTagName('INPUT');
                var submit_count	= 0;

                var enable_double_submit = false;

                for (var i=0; i<inputs.length; i++) {
                  var my_input = inputs[i];
                  if ( my_input.type === 'submit' ) {
                    var container = my_input.parentNode;
                    if (container.className.match(/enable-double-submit/)) {
                      enable_double_submit = true;
                    }
                  }
                }

                form.addEventListener('submit', function( evt ){
                  if (submit_count >= 1 && !enable_double_submit) {
                    evt.preventDefault();
                  }
                  submit_count++;
                });

              })();
            <% end -%>
          </form>
        </div>
        <div class="govuk-grid-column-one-half">
          <ul class="govuk-list ncce-stay-in-touch__list">
          <li>
            <%= link_to 'http://facebook.com/WeAreComputing', class: 'govuk-link ncce-link ncce-link--on-dark', target: '_blank' do %>
              <%= image_tag "facebook.png", alt: 'Facebook logo', class: 'ncce-link__icon' %>Like us on Facebook
            <% end %>
          </li>
          <li>
            <%= link_to 'https://twitter.com/WeAreComputing', class: 'govuk-link ncce-link ncce-link--on-dark', target: '_blank' do %>
              <%= image_tag "twitter.png", alt: 'Twitter logo', class: 'ncce-link__icon' %>Follow us on Twitter
            <% end %>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
