<div class='ncce-journey__container'>
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
        <div class='ncce-journey'>
          <div class='ncce-journey__aside'>
            <p class='govuk-body ncce-journey__aside-text'>
              Teachers can transform lives, so we are giving them the power to <strong class='ncce-journey__aside-highlight'>change computing education</strong> across England.
            </p>
          </div>
          <div class="ncce-journey__panel">
            <div class='ncce-journey__heading'>
              <h2 class="govuk-heading-s">Computer Science Accelerator Programme</h2>
            </div>
            <p class="govuk-body">A supportive development programme to help you confidently teach GCSE computer science</p>
            <%= image_tag '/images/arrow-pink.svg', class: 'ncce-journey__arrow' %> <%= link_to 'Start your learning journey', cs_accelerator_path, class: 'ncce-link ncce-journey__link' %>
          </div>
          <div class="ncce-journey__panel">
            <div class='ncce-journey__heading'>
              <h2 class="govuk-heading-s">Attractive bursaries</h2>
            </div>
            <p class="govuk-body">Funding for your school or college to make it easier for you to participate in training</p>
            <%= image_tag '/images/arrow-pink.svg', class: 'ncce-journey__arrow' %> <%= link_to 'Check your eligibility', bursary_path, class: 'ncce-link ncce-journey__link' %>
          </div>
          <div class="ncce-journey__panel">
            <div class='ncce-journey__heading'>
              <h2 class="govuk-heading-s">Teacher training</h2>
            </div>
            <p class="govuk-body">Face-to-face and online courses to help you teach computing or develop your practice</p>
            <%= image_tag '/images/arrow-pink.svg', class: 'ncce-journey__arrow' %> <%= link_to 'Browse our courses', courses_path, class: 'ncce-link ncce-journey__link' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
