<div class="ncce-partners">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body ncce-footer__text govuk-!-margin-top-3">
            The National Centre for Computing Education is funded by the Department for Education and is run by a consortium of <%= link_to 'STEM Learning', 'https://www.stem.org.uk/', class: 'ncce-link ncce-link--on-dark' %>,
            the <%= link_to 'Raspberry Pi Foundation', 'https://www.raspberrypi.org/', class: 'ncce-link ncce-link--on-dark' %> and <%= link_to 'BCS, The Chartered Institute for IT', 'https://www.bcs.org/', class: 'ncce-link ncce-link--on-dark' %>.
          </p>
        </div>
        <div class="govuk-grid-column-one-half">
          <div class='ncce-partners__list'>
            <%= link_to 'https://www.raspberrypi.org/', class: 'ncce-partners__link ncce-link ncce-link--on-dark' do %>
              <img src="/images/rpi.png" class="ncce-partners__link-raspberry-pi" alt="Raspberry Pi Foundation">
            <% end %>
            <%= link_to 'https://www.bcs.org/', class: 'ncce-partners__link ncce-link ncce-link--on-dark' do %>
              <img src="/images/bcs.png" class="ncce-partners__link-bcs" alt="BCS">
            <% end %>
            <%= link_to 'https://www.stem.org.uk/', class: 'ncce-partners__link ncce-link ncce-link--on-dark' do %>
              <img src="/images/stem.png" class="ncce-partners__link-stem-learning" alt="STEM Learning">
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
