<nav class="govuk-pagination" aria-label="Pagination">
  <% if @show_previous %>
    <div class="govuk-pagination__prev">
      <%= link_to page_url(@current_page - 1), class: ["govuk-link", "govuk-pagination__link"], rel: :prev do %>
        <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
          <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
        </svg>
        <span class="govuk-pagination__link-title">
          Previous<span class="govuk-visually-hidden"> page</span>
        </span>
      <% end %>
    </div>
  <% end %>
  <ul class="govuk-pagination__list">
    <%= page_link(1) %>
    <%= dots if @show_first_dots %>
    <% @page_numbers.each do |pn| %>
      <%= page_link(pn) %>
    <% end %>
    <%= dots if @show_last_dots %>
    <%= page_link(@page_count) if @page_count != 1 %>
  </ul>
  <% if @show_next %>
    <div class="govuk-pagination__next">
      <%= link_to page_url(@current_page + 1), class: ["govuk-link", "govuk-pagination__link"], rel: :next do %>
        <span class="govuk-pagination__link-title">
          Next<span class="govuk-visually-hidden"> page</span>
        </span>
        <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
          <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
        </svg>
      <% end %>
    </div>
  <% end %>
</nav>