<div class="ncce-pathway-courses">
  <% if pathway.present? %>
    <p class="govuk-body">
      <strong>Recommended courses</strong> based on your pathway.
    </p>
    <% pathway.recommended_courses.each do |c| %>
      <div class="ncce-pathway-courses__course">
        <p>
          <%= link_to clean_course_title(c.title), course_path(id: c.activity_code, name: c.title.parameterize), class: 'ncce-link' %>
        </p>
        <p>
          <%= c.meta_description %>
        </p>

        <p class="ncce-pathway-courses__location <%= course_icon_class(c) %>">
          <%=  course_subtitle_text(c) %>
        </p>
      </div>
    <% end %>

  <% end %>
  <div class="ncce-pathway-courses__buttons">
    <%= link_to 'View all CSA courses', courses_path(certificate: @programme.slug), class: 'govuk-button button' %>
  </div>
</div>
