<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper govuk-main-wrapper--xl">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Welcome to the Computer Science Accelerator Programme!</h2>
          <div class="govuk-body-m">
            To unlock our test and get your certificate you’ll need to take at
            least one face to face or remote course, and one further CSA course.
            But we encourage you to take as many courses as you need to gain the
            subject knowledge to confidently teach computer science.
          </div>

          <%= render partial: 'certificates/cs_accelerator/v2/pathway-prompt', locals: { user_programme_pathway: @csa_dash.user_programme_pathway }%>

          <div class="govuk-body ncce-activity-list ncce-activity-list--programme">
            <%= render partial: 'certificates/cs_accelerator/v2/achievements', locals: {
              compulsory_achievement: @csa_dash.compulsory_achievement,
              user_completed_non_compulsory_achievement: @csa_dash.user_completed_non_compulsory_achievement?,
              non_compulsory_achievements: @csa_dash.non_compulsory_achievements
            } %>
            <%= render partial: 'certificates/cs_accelerator/v2/recommended-courses', locals: { pathway: @csa_dash.user_programme_pathway } %>
          </div>

          <div class="govuk-body ncce-activity-list ncce-activity-list--programme">
            <%= render partial: 'certificates/cs_accelerator/v2/supplementary-courses', locals: { pathway: @csa_dash.user_programme_pathway } %>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <%= render 'components/bursary-aside' %>
          <%= render partial: 'certificates/pathway-aside', locals: {
            foo: 'asdf',
            other_programme_pathways_for_user: @csa_dash.other_programme_pathways_for_user,
            user_pathway: @csa_dash.user_programme_pathway,
          } %>
          <%= render 'components/support-aside' %>
        </div>
      </div>
    </div>
  </div>

</div>
