<div class="<%= aside_classes %>">
  <% if @image.present? %>
    <div class="aside-component__image">
      <%= link_to aside_image_tag(@image[:file], alt: @image[:alt], title: @image[:title]),
        @image[:url],
        class: 'ncce-link',
        role: 'button',
        draggable: 'false'
      %>
    </div>
  <% end %>
  <% if @title.present? %>
    <% if @title_icon.present? %>
      <%= render SectionTitleWithIconComponent.new(text: @title, icon: @title_icon, text_size: :small) %>
    <% else %>
      <h2 class="govuk-heading-s aside-component__heading">
        <%= @title %>
      </h2>
    <% end %>
  <% elsif heading? %>
    <h2 class="govuk-heading-s aside-component__heading">
      <%= heading %>
    </h2>
  <% end %>
  <% if @text %>
    <%= content_tag :p, class: ['govuk-body-s', 'aside-component__text', { 'govuk-!-margin-top-3': @title.blank? }] do %>
      <%= @text %>
    <% end %>
  <% elsif @cms_content %>
    <div class="aside-component__cms-content">
      <%= render @cms_content.render %>
    </div>
  <% elsif body? %>
    <%= body %>
  <% end %>
  <% if @link.present? %>
    <p class="govuk-body-s aside-component__link">
      <%= link_to @link[:text],
        @link[:url],
        class: @link[:class] || (@use_button ? 'govuk-button button button--aside' : 'ncce-link'),
        role: 'button',
        draggable: 'false'
      %>
    </p>
  <% end %>
  <% if @aside_icons %>
    <%= render Cms::IconBlockComponent.new(icons: @aside_icons.icons) %>
  <% end %>
</div>
