<div class="aside-component<%= " #{@class_name || ''}" %>">
  <% if @image.present? %>
    <div class="aside-component__image">
      <%= link_to aside_image_tag(@image[:file], alt: @image[:alt], title: @image[:title]),
        @image[:url],
        class: 'ncce-link',
        role: 'button',
        draggable: 'false',
        data: tracking_data(@image[:tracking_label])
      %>
    </div>
  <% end %>
  <% if @title.present? %>
    <h2 class="govuk-heading-s aside-component__heading">
      <%= @title %>
    </h2>
  <% elsif heading? %>
    <h2 class="govuk-heading-s aside-component__heading">
      <%= heading %>
    </h2>
  <% end %>
  <% if @text %>
    <%= content_tag :p, class: ['govuk-body-s', 'aside-component__text', { 'govuk-!-margin-top-3': @title.blank? }] do %>
      <%= @text %>
    <% end %>
  <% elsif body? %>
    <%= body %>
  <% end %>
  <% if @link.present? %>
    <p class="govuk-body-s aside-component__link">
      <%= link_to @link[:text],
        @link[:url],
        class: @link[:class] || (@use_button ? 'govuk-button button button--aside' : 'ncce-link'),
        role: 'button',
        draggable: 'false',
        data: tracking_data(@link[:tracking_label])
      %>
    </p>
  <% end %>
</div>
