<div class="aside-component<%= " #{@class_name || ''}" %>">
  <% if @image.present? %>
    <div class="aside-component__image">
      <%= link_to image_pack_tag(@image[:file], alt: @image[:alt], title: @image[:title]),
        @image[:url],
        class: 'ncce-link',
        role: 'button',
        draggable: 'false',
        data: tracking_data(@image[:tracking_label])
      %>
    </div>
  <% end %>
  <% if @title.present? %>
    <h2 class="<%= @use_button? 'govuk-heading-s' : 'govuk-heading-s' %> aside-component__heading">
      <%= @title %>
    </h2>
  <% end %>
  <%= content_tag :p, class: ['govuk-body-s', 'aside-component__text', { 'govuk-!-margin-top-3': @title.blank? }] do %>
    <%= @text %>
  <% end %>
  <% if @link.present? %>
  <p class="govuk-body-s aside-component__link">
    <%= link_to @link[:text],
      @link[:url],
      class: @use_button ? 'govuk-button button button--aside' : 'ncce-link',
      role: 'button',
      draggable: 'false',
      data: tracking_data(@link[:tracking_label])
    %>
  <% end %>
  </p>
</div>
