<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-form-group">
            <%= form_tag('/admin/imports', multipart: true) do %>
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">Import</h1>
                </legend>
                <div class="govuk-form-group">
                  <%= label_tag(:csv_file, 'CSV File', class: 'govuk-label') %>
                  <%= hidden_field_tag :provider, 'future-learn' %>
                  <%= hidden_field_tag :triggered_by, @admin_email %>
                  <%= file_field_tag :csv_file, required: true, class: 'govuk-file-upload' %><br>
                </div>
                <div class="govuk-form-group">
                  <%= submit_tag 'Import', class: 'govuk-button button' %>
                </div>
              </fieldset>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
