<div class="ncce-courses__course">
  <h2 id="<%= @course.title %>" class="govuk-heading-s ncce-courses__heading">
    <%= link_to @course.title, course_path(id: @course.activity_code, name: @course.title.parameterize), class: 'ncce-link' %><span class="ncce-courses__heading-code"><%= @course.activity_code %></span>
  </h2>
  <p class="govuk-body"><%= stripped_summary(@course.meta_description) %></p>
  <% if @course.always_on %>
    <div class="govuk-body-s govuk-!-font-weight-bold ncce-courses__locations--always-open">
      <span class='ncce-courses__locations-type <%= course_meta_icon_class(@course) %>'>Free online course</span>
      <div class='ncce-courses__locations-info'>
        <span class='ncce-courses__locations-name'>Join anytime</span>
      </div>
    </div>
  <% elsif @course.occurrences.present? %>
    <div class="govuk-body-s govuk-!-font-weight-bold ncce-courses__locations">
      <button type="button" aria-expanded="false">
      <span class='ncce-courses__locations-type <%= course_meta_icon_class(@course) %>'><%= course_type(@course) %></span>
      <div class='ncce-courses__locations-info'>
        <% if @course.nearest_occurrence_distance.present? %>
          <span class='ncce-courses__locations-nearest'>Nearest <strong><%= @course.nearest_occurrence_distance %> miles</strong> away</span>
        <% end %>
        <span class='ncce-courses__locations-name'>
          <%= view_course_phrase(@course) %>
        </span>
      </div>
      </button>
    </div>
  <% else %>
    <div class="govuk-body-s govuk-!-font-weight-bold ncce-courses__locations--always-open">
      <span><%= t('.no_occurrences_html', hubs_link: link_to('your local Computing Hub', '/hubs', class: 'ncce-link', data: tracking_data('Coming soon'))) %></span>
    </div>
  <% end %>
  <%= render CourseOccurrencesComponent.new(course: @course) %>

  <% unless @course.subjects.nil? && @course.key_stages.nil? && @course.workstream.nil?%>
    <h3 class="screen-reader-only">Tags for this course:</h3>
      <% @course.subjects.each do |subject| %>
        <% if @course_filter&.subjects&.has_value?(subject.to_i) %>
          <strong class="govuk-tag ncce-courses__tag"><%= @course_filter.subjects.key(subject.to_i) %></strong>
        <% end %>
      <% end %>
      <% @course.age_groups.each do |group| %>
          <% if @course_filter&.age_groups&.has_value?(group.to_i) %>
            <strong class="govuk-tag ncce-courses__tag"><%= @course_filter.age_groups.key(group.to_i) %></strong>
          <% end %>
      <% end %>
      <% @course.programmes.each do |programme| %>
        <strong class="govuk-tag ncce-courses__tag ncce-courses__tag ncce-courses__filter-tag--<%= programme.parameterize %>"><%= display_programme_tag programme %></strong>
      <% end %>
  <% end %>
</div>
