<div class="hub-component">
  <h2 class="govuk-heading-s hub-component__heading"><%= @hub.name %></h2>
  <div class="hub-component__address">
    <% if @hub.satellite? %>
      <p class="govuk-body hub-component__content">
        <%= t('.satellite_hub', info: @hub.satellite_info) %>
      </p>
    <% else %>
      <p class="govuk-body hub-component__content">
        <%= @hub.address %>
      </p>
      <p class="govuk-body hub-component__content">
        <%= @hub.postcode %>
      </p>
    <% end %>
  </div>
  <div class="hub-component__contact">
    <p class="govuk-body hub-component__content">
      <%= mail_to @hub.email, @hub.email, class: 'ncce-link', data: { event_action: 'click', event_category: 'Hubs', event_label: 'Hub email' } %>
    </p>
    <% if @hub.phone.present? %>
      <p class="govuk-body hub-component__content">
        <%= link_to @hub.phone, "tel:#{@hub.phone}", class: 'ncce-link' %>
      </p>
    <% end %>
  </div>
  <div class="hub-component__social">
    <%= render HubSocialLinkComponent.new(type: 'website', value: @hub.website) %>
    <%= render HubSocialLinkComponent.new(type: 'facebook', value: @hub.facebook) %>
    <%= render HubSocialLinkComponent.new(type: 'x', value: @hub.twitter) %>
    <%= render HubSocialLinkComponent.new(type: 'linkedin', value: @hub.linkedin) %>
    <%= render HubSocialLinkComponent.new(type: 'instagram', value: @hub.instagram) %>
  </div>
  <%= link_to t('.button_text'), hub_path(@hub.subdeliverer_id), class: 'govuk-button button', data: { event_action: 'click', event_category: 'Hubs', event_label: 'Hub courses' } %>
</div>
