<%= render 'components/hero', hero_title: t('.heading'), glyph_position: 'bottom', colour: 'lime-green'  %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          <%= t('.paragraph_one') %>
        </p>
        <p class="govuk-body">
          <%= t('.paragraph_two') %>
        </p>
        <h2 class="govuk-heading-s">
          <%= t('.start_conversation') %>
        </h2>
        <p class="govuk-body">
          <%= t('.paragraph_three') %>
       </p>
        <%= render HubSearchComponent.new(location: @hubs_index.current_location) %>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= render AsideComponent.new(
          title: t('.sme_section_title'),
          text: t('.sme_section_text_html'),
          use_button: true,
          link: {
            text: t('.sme_section_link_text'),
            url: t('.sme_section_link_url'),
            tracking_label: 'SME contact'
          },
          tracking_category: tracking_category
        ) %>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= render AsideComponent.new(
          title: t('.kit_aside_title'),
          text: t('.kit_aside_text'),
          link: {
            text: t('.kit_aside_link_text'),
            url: t('.kit_aside_link_url'),
            tracking_label: 'Hubs kit'
          },
          tracking_category: tracking_category
        ) %>
      </div>
    </div>
  </div>
</div>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render HubRegionComponent.with_collection(@hubs_index.hub_regions) %>
      <%= render SortedHubsComponent.new(sorted_hubs: @hubs_index.sorted_hubs, formatted_address: @hubs_index.formatted_address) %>
      <%= render NoHubsComponent.new(sorted_hubs: @hubs_index.sorted_hubs, hub_regions: @hubs_index.hub_regions) %>
    </div>
  </div>
</div>

