<div data-controller="modal" data-modal-confirm-value="true" data-modal-modal-id-value="<%= modal_id %>" class="<%= class_name %>">
  <% if reopen_button %>
    <%= reopen_button %>
  <% elsif reopen_button_text.present? %>
    <button class="govuk-button button ncce-modal--reopen <%= reopen_button_class %>" data-action="modal#toggle"><%= reopen_button_text %></button>
  <% end %>

  <% if confirmation %>
    <div data-modal-target="confirmation">
      <%= confirmation %>
    </div>
  <% end %>

  <div class="ncce-modal <%= 'ncce-modal--expanded' if expanded %>" style="<%= z_index %>" data-modal-target="modal">
    <div tabindex="0" data-modal-target="topFocus" aria-hidden="true"></div>
    <div id="<%= modal_id %>" class="ncce-modal--body <%= 'corner-decoration' if show_corner_decoration %>" tabindex="0">
      <div class="ncce-modal--header">
        <% if header %>
          <%= header %>
        <% elsif close_button? %>
          <h2 class="govuk-heading-m"><%= title %></h2>
          <%= close_button %>
        <% else %>
          <h2 class="govuk-heading-m"><%= title %></h2>
          <div class="icon-close" data-action="click->modal#toggle"></div>
        <% end %>
      </div>
      <%= body %>
    </div>
    <div tabindex="0" data-modal-target="bottomFocus" aria-hidden="true"></div>
  </div>
</div>
