<div data-controller="modal" class="<%= class_name %>">
  <div class="ncce-modal <%= 'ncce-modal--expanded' if expanded %>" data-modal-target="modal">
    <div class="ncce-modal--body <%= 'corner-decoration' if show_corner_decoration %>" tabindex="0">
      <div class="ncce-modal--header">
        <h2 class="govuk-heading-m"><%= title %></h2>
        <% if close_button? %>
          <%= close_button %>
        <% else %>
          <div class="icon-close" data-action="click->modal#toggle"></div>
        <% end %>
      </div>
      <%= body %>
    </div>
  </div>
  <% if reopen_button_text.present? %>
    <button class="govuk-button button ncce-modal--reopen <%= button_class %>" data-action="modal#toggle"><%= reopen_button_text %></button>
  <% end %>
</div>
