<% meta_tag :title, 'About Us - Teach Computing' %>
<%= render HeroMediaComponent.new(
  class_name: 'lime-green-bg',
  title: t('.hero.title'),
  text: t('.hero.text.html'),
  image: {
    url: 'media/images/pages/about/enfield-primary.jpg',
    title: t('.hero.image_title')
  }
) %>
<div class='ncce-about__wrapper'>
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper govuk-main-wrapper--xl">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-l govuk-!-margin-bottom-0">
            <%= t('.intro_text.html',
              stem_link: (link_to 'STEM Learning', 'https://www.stem.org.uk/', class: 'ncce-link govuk-link--no-underline')
            ) %>
          </p>
        </div>
      </div>
      <div class="govuk-grid-row govuk-!-margin-top-7">
        <div class="govuk-grid-column-full">
          <%= render NonBorderedCardsComponent.new(
            class_name: 'resource-cards',
            cards_per_row: 3,
            cards: [
              {
                image_url: 'media/images/logos/ncce-logo-with-bg.svg',
                title: t('.tc_card.title'),
                text: t('.tc_card.text'),
                link: {
                  link_title: t('.tc_card.link_title'),
                  link_url: '/curriculum',
                  tracking_page: tracking_category,
                  tracking_label: 'Teaching resources'
                }
              },
              {
                image_url: 'media/images/logos/isaac-logo-with-bg.svg',
                title: t('.isaac_card.title'),
                text: t('.isaac_card.text'),
                link: {
                  link_title: t('.isaac_card.link_title'),
                  link_url: '/a-level-computer-science',
                  tracking_page: tracking_category,
                  tracking_label: 'A level resources'
                }
              },
              {
                image_url: 'media/images/logos/computing_quality_framework_logo.png',
                title: t('.computing_quality_framework_card.title'),
                text: t('.computing_quality_framework_card.text'),
                link: {
                  link_title: t('.computing_quality_framework_card.link_title'),
                  link_url: 'https://computingqualityframework.org/',
                  tracking_page: tracking_category,
                  tracking_label: 'Computing Quality Framework'
                }
              }
            ]
          ) %>
        </div>
      </div>
    </div>
  </div>
  <div class='govuk-main-wrapper govuk-main-wrapper--xl foam-bg'>
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class='govuk-heading-l'><%= t('.ambition.title') %></h2>
          <p class='govuk-body govuk-!-margin-bottom-0'><%= t('.ambition.text') %></p>
        </div>
      </div>
      <div class="govuk-grid-row govuk-!-margin-top-7">
        <div class="govuk-grid-column-full">
          <%= render ReportCardComponent.new(
            class_name: 'impact-and-evaluation-report-card',
            title: t('.report_card.title'),
            text: t('.report_card.text'),
            bullets: [
              t('.report_card.engagements.html'),
              t('.report_card.enrolments.html'),
              t('.report_card.downloads.html'),
              t('.report_card.isaac.html')
            ],
            stats_date: t('.report_card.stats_date'),
            button: {
              button_title: t('.report_card.button_title'),
              button_url: '/impact-and-evaluation',
              tracking_page: tracking_category,
              tracking_label: 'Impact and evaluation'
            }
          ) %>
        </div>
      </div>
      <div class="govuk-grid-row govuk-!-margin-top-8">
        <div class="govuk-grid-column-one-half">
          <%= image_pack_tag 'media/images/pages/about/inclusion-in-the-classroom.jpg', alt: 'Inclusion in the classroom', class: 'ncce-about__image' %>
        </div>
        <div class="govuk-grid-column-one-half">
          <h2 class='govuk-heading-l'><%= t('.diversity.title') %></h2>
          <p class='govuk-body govuk-!-margin-bottom-0'><%= t('.diversity.text') %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-width-container">
    <div class='govuk-main-wrapper govuk-main-wrapper--xl'>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class='govuk-heading-l'><%= t('.programmes.title') %></h2>
          <p class='govuk-body govuk-!-margin-bottom-0'>
            <%= t('.programmes.text.html',
              resources_link: (link_to 'resources', '/curriculum', class: 'ncce-link govuk-link--no-underline', data: tracking_data('Resources')),
              training_link: (link_to 'training courses', '/courses', class: 'ncce-link govuk-link--no-underline', data: tracking_data('Courses')),
              funding_link: (link_to ' Funding is available', '/funding', class: 'ncce-link govuk-link--no-underline', data: tracking_data('Bursaries'))
            ) %>
          </p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-top-7">
          <%= render BorderedCardsComponent.new(
            class_name: 'programme-cards',
            cards: [
              {
                class_name: 'bordered-card--primary-cert',
                title: t('.primary_card.title'),
                text: t('.primary_card.text'),
                link: {
                  link_title: t('.primary_card.link_title'),
                  link_url: '/primary-teachers',
                  tracking_page: tracking_category,
                  tracking_label: t('.primary_card.title')
                }
              },
              {
                class_name: 'bordered-card--secondary-cert',
                title: t('.secondary_card.title'),
                text: t('.secondary_card.text'),
                link: {
                  link_title: t('.secondary_card.link_title'),
                  link_url: '/secondary-teachers',
                  tracking_page: tracking_category,
                  tracking_label: t('.secondary_card.title')
                }
              }
            ]
          ) %>
        </div>
        </div>
    </div>
  </div>
  <div class='govuk-main-wrapper govuk-main-wrapper--xl light-grey-bg'>
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class='govuk-heading-l'><%= t('.support.title') %></h2>
          <p class='govuk-body govuk-!-margin-bottom-0'><%= t('.support.text') %></p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-top-7">
          <%= render BorderedCardsComponent.new(
            class_name: 'support-cards',
            cards: [
              {
                class_name: 'involvement-card',
                title: t('.involvement_card.title'),
                text: t('.involvement_card.text'),
                link: {
                  link_title: t('.involvement_card.link_title'),
                  link_url: '/get-involved',
                  tracking_page: tracking_category,
                  tracking_label: t('.involvement_card.title')
                }
              },
              {
                class_name: 'governors-card',
                title: t('.governors_card.title'),
                text: t('.governors_card.text'),
                link: {
                  link_title: t('.governors_card.link_title'),
                  link_url: '/governors-and-trustees/',
                  tracking_page: tracking_category,
                  tracking_label: 'Governors'
                }
              }
            ]
          ) %>
        </div>
      </div>
    </div>
  </div>
</div>
