<% title "About - Teach Computing" %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l ncce-about__title">About Us</h1>
        </div>
        <div class="govuk-grid-column-two-thirds ncce-about__content">
          <p class="govuk-body-l">The National Centre for Computing Education is funded by the Department for Education and marks a significant investment in improving the provision of computing education in England.</p>
          <p class="govuk-body">Run by a consortium made up of <%= link_to 'STEM Learning', 'https://www.stem.org.uk/', class: 'ncce-link', target: '_blank' %>, the <%= link_to 'Raspberry Pi Foundation', 'https://www.raspberrypi.org/', class: 'ncce-link', target: '_blank' %> and <%= link_to 'BCS, The Chartered Institute for IT', 'https://www.bcs.org/', class: 'ncce-link', target: '_blank' %>, our vision is to achieve a world-leading computing education for every child in England.</p>

          <h2 class="govuk-heading-m">What we offer</h2>
          <p class="govuk-body">We provide high-quality support for the teaching of computing in schools and colleges, from Key Stage 1 through to A level. Our extensive range of training, resources and support covers elements of the curriculum at every Key Stage, catering for all levels of subject knowledge and experience.</p>
          <p class="govuk-body-s"><%= link_to 'Find out more', offer_path, class: 'govuk-button ncce-button__pink ncce-about__link' %></p>

          <h2 class="govuk-heading-m">How we can support you</h2>
          <p class="govuk-body">Whether you’re a teacher, employer or resource provider, there are plenty of ways you can engage with us.</p>
          <p class="govuk-body-s"><%= link_to 'Find out more', offer_path, class: 'govuk-button ncce-button__pink ncce-about__link' %></p>

          <h2 class="govuk-heading-m">Work with us</h2>
          <p class="govuk-body"> To ensure every young person can benefit from a high-quality computing education, we are calling on businesses to partner with us.</p>
          <p class="govuk-body">Find out more about how you can work with us.</p>
          <p class="govuk-body"><%= link_to 'Get involved', get_involved_path, class: 'govuk-button ncce-button__pink ncce-about__button' %></p>
        </div>
      </div>
  </div>
</div>
