<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l ncce-bursary__title">Bursary entitlement</h1>
        </div>
        <div class="govuk-grid-column-two-thirds ncce-bursary__content">
          <p class="govuk-body">We understand it can be difficult to get out of the classroom to study, so we offer bursaries to schools and colleges across England to help.</p>
          <p class="govuk-body">These bursaries can contribute towards the costs associated with attending continuing professional development, including course fees, travel and supply cover.</p>
          <h2 class="govuk-heading-m">For Primary Teachers</h2>
          <h3 class="govuk-heading-s">What financial support is available to help you access CPD?</h3>
          <p class="govuk-body">We offer <strong>one free place</strong> to each primary priority school, on each course. A further £100 per day bursary is payable to the school, on successful completion of the CPD.</p>
          <p class="govuk-body">Priority schools are those located in Local Authority Districts 5 and 6: <%= link_to 'check this list', 'https://drive.google.com/file/d/1RX7bJpA1P3992Q4Nfe_7xHjVy80KGvsW/view', class: 'ncce-link' %> or <%= mail_to 'mailto:info@teachcomputing.org', 'Contact us', class: 'ncce-link' %> for details.</p>
          <h3 class="govuk-heading-s">What is the standard fee?</h3>
          <p class="govuk-body">For any teachers in non-priority schools, and for the second and subsequent teachers in priority primary schools, the fee is £35 per day of CPD</p>

          <h2 class="govuk-heading-m">For Secondary Computing Teachers</h2>
          <h3 class="govuk-heading-s">What kind of bursaries do we offer on face-to-face CPD?</h3>
          <ol class="govuk-list govuk-list--number">
            <li>A bursary to support any secondary teachers of computing in priority schools</li>
          </ol>
          <h3 class="govuk-heading-s">Am I eligible for support?*</h3>
          <h3 class="govuk-heading-s">How much will the school receive if I’m eligible?</h3>
          <p class="govuk-body"><%= link_to 'The Computer Science Accelerator programme', accelerator_path, class: 'ncce-link' %> and its online CPD is free to all teachers and the face-to-face CPD activities are free to secondary teachers meeting the eligibility criteria.</p>
          <p class="govuk-body">If you are eligible your school will receive:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>up to a maximum of <strong>£880</strong>, payable after successful completion of each face-to-face CPD activity</li>
            <li><strong>£870</strong> for participants who complete online CPD and sit the final test by 31 July 2019, payable on completion of the programme</li>
          </ul>
          <h3 class="govuk-heading-s">How much will I need to pay if I am NOT eligible?</h3>
          <p class='govuk-body'>Teachers with a Post A level qualification can access any of our online CPD for free.</p>
          <p class='govuk-body'>A fee of £220 per day is payable for face to face courses.</p>

          <h2 class="govuk-heading-m">General Bursary</h2>
          <p class='govuk-body'>This CPD is free for <strong>all teachers</strong> of computing in priority secondary schools.   A further  bursary of £100 per day following successful completion of the CPD is payable to schools.</p>
          <p class="govuk-body">Priority schools are those located in Local Authority Districts 5 and 6: <%= link_to 'check this list', 'https://drive.google.com/file/d/1RX7bJpA1P3992Q4Nfe_7xHjVy80KGvsW/view', class: 'ncce-link' %> or <%= mail_to 'mailto:info@teachcomputing.org', 'Contact us', class: 'ncce-link' %> for details.</p>
          <h3 class="govuk-heading-s">How much will I need to pay if I am NOT from a priority school?</h3>
          <p class='govuk-body'>For any teachers in non-priority schools, the fee is £35 per day of CPD.</p>
        </div>
      </div>
    </div>
  </div>
</div>
