<% meta_tag :title, 'Careers in computing' %>
<% meta_tag :description, 'With the demand for digital skills growing, there has never been a more important time to prepare young people for their future' %>
<% meta_tag :url, request.original_url %>
<% meta_tag :image, asset_pack_path('media/images/pages/careers-week/hero.jpg') %>
<% meta_tag :image_alt, 'Careers in computing' %>
<div class="lime-green-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="text-photo-hero white-bg">
        <div class="text-photo-hero__block--text">
          <h1 class="govuk-heading-l">Careers in computing</h1>
          <p class="govuk-body-l">With the demand for digital skills growing, there has never been a more important time to prepare young people for their future.</p>
        </div>
        <div class="text-photo-hero__block--photo">
          <%= image_pack_tag 'media/images/pages/careers-week/hero.jpg', alt: '' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Gain inspiration from our hand-picked selection of resources and stories, to support your students to better understand how digital skills will benefit a wide range of future career choices and contribute to Gatsby benchmarks 4 and 5.</p>
        <h2 class="govuk-heading-m">Useful resources</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>access a selection of <%= link_to 'resources, videos and job profiles', 'https://www.stem.org.uk/stem-careers/computing', class: 'ncce-link' %> on the STEM Learning website to help you to link your computing curriculum to careers.</li>
            <li>explore how volunteer <%= link_to 'STEM Ambassadors', 'https://teachcomputing.org/courses/CP446/enriching-secondary-computing-with-stem-ambassadors', class: 'ncce-link' %> can support your secondary students to learn about careers linked to computing and digital skills.</li>
            <li>develop the skills needed to hold relevant and exciting discussions in the classroom with our <%= link_to 'Impact of technology: how to lead classroom discussions course', 'https://teachcomputing.org/courses/CO215/impact-of-technology-how-to-lead-classroom-discussions', class: 'ncce-link' %>.</li>
            <li>find ideas for linking to the wider curriculum in the <%= link_to 'STEM careers guide for teachers', 'https://www.stem.org.uk/resources/elibrary/resource/482786/teachers-guide-linking-careers-stem-curriculum', class: 'ncce-link' %>.
          </ul>
      </div>
    </div>
  </div>
</div>
<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper--xl">
      <h2 class="govuk-heading-m">Meet our professionals</h2>
      <p class=govuk-body>Read about the experiences of these professionals working in non-traditional roles and industries which rely on computing skills and show your students how essential it is to have a foundational knowledge of the subject, regardless of the career path you decide to follow.</p>
      </div>
    </div>
  </div>
</div>
<%= render TestimonialsComponent.new(
  testimonials: [
    {
      text: "“I loved studying computer science. It’s so exciting, and being in the tech field means that I am constantly surrounded by optimism and growth. You have complete control over what you want to create and build.”",
      image: "media/images/pages/careers-week/nabilah.jpg",
      name: "Nabilah Joarder",
      link_target: "https://isaaccomputerscience.org/pages/cs_journeys_nabilah",
      bio: "Graduate Software Developer",
      tracking_event: nil,
    },
    {
      text: "“I would love women to realise that they know so much more than they think they do. An engineer is not just someone who can take apart a clock and put it back together, or a man who builds bridges and roads. If you follow your interests and have confidence in your abilities, you will be an excellent engineer.”",
      image: "media/images/pages/careers-week/daisy.jpg",
      name: "Daisy Tyrer",
      link_target: "https://isaaccomputerscience.org/pages/cs_journeys_daisy",
      bio: "Energy Consultant at Element Energy",
      tracking_event: nil,
    },
    {
      text: "“I can’t think of any other job that would present me with the opportunity to be involved in the delivery of technologies, ranging from airfield telecommunications and aircraft airbridges, to the latest generation security screening equipment.”",
      image: "media/images/pages/careers-week/rb.jpg",
      name: "Mark Bardsley",
      link_target: "https://www.teachcomputing.org/blog/flying-high",
      bio: "Transformation Programme IT Executive at Manchester Airport Group",
      tracking_event: nil
    },
    {
      text: "“The thing I love is when you read stories about how Alexa has helped people. The leader of a charity for blind people said how much Alexa has helped him, because its users are now able to access RNIB-verified information via voice commands.”",
      image: "media/images/pages/careers-week/beth.jpg",
      name: "Beth Holmes",
      link_target: "https://www.teachcomputing.org/blog/alexa-can-you-tell-me-more-about-digital-careers",
      bio: "Knowledge Engineer at Amazon",
      tracking_event: nil,
    },
    {
      text: "“I feel incredibly fortunate to be in a role that allows my interests as a scientist to be used to support the care of cancer patients. Knowing my research has the potential to further improve the outcomes of patients is such a strong driving force.”",
      image: "media/images/pages/careers-week/marcus.jpg",
      name: "Marcus Tyyger",
      link_target: "https://www.teachcomputing.org/blog/using-coding-to-help-advance-healthcare",
      bio: "Clinical Scientist - Medical Physics (Radiotherapy) at NHS",
      tracking_event: nil,
    },
    {
      text: "“I think computer science is super interesting and can help tackle all sorts of real-world problems. There are still so many open research questions and computer science is definitely a valuable skill in academia!”",
      image: "media/images/pages/careers-week/risa.jpg",
      name: "Risa Ueno",
      link_target: "https://www.teachcomputing.org/blog/using-computational-thinking-to-tackle-real-world-problems",
      bio: "PhD student at British Antarctic Survey",
      tracking_event: nil,
    },
    {
      text: "“For me, the most interesting thing is understanding behaviours - I enjoy and learn more when we go above and beyond current technology and think more about everyday habits and general consumer behaviour.”",
      image: "media/images/pages/careers-week/swetha.jpg",
      name: "Swetha Sethu-Jones",
      link_target: "https://www.teachcomputing.org/blog/researching-the-right-career",
      bio: "Senior UX Researcher at Just Eat",
      tracking_event: nil,
    },
    {
      text: "“It’s been great to apply what I’ve been taught at university to real-life scenarios instead of those you read about in a textbook and see how they can be used to make a difference in practice.”",
      image: "media/images/pages/careers-week/sam.jpg",
      name: "Sam Parker",
      link_target: "https://www.teachcomputing.org/blog/flying-start",
      bio: "Technology Degree Apprenticeship and student at PwC",
      tracking_event: nil
    }
  ],
  event_tracking_category: "",
  testimonials_per_row: 3,
) %>
