<% meta_tag :title, 'The essential toolkit for secondary computing teachers' %>
<% meta_tag :description, 'Training and inspiration that grows your confidence, transforms your teaching and brings your lessons to life.' %>
<% meta_tag :url, request.original_url %>
<% meta_tag :image, image_url('/images/secondary-teachers/hero.jpg', skip_pipeline: true) %>
<% meta_tag :image_alt, 'Secondary Teachers - Teach Computing' %>
<div class="deep-cerulean-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="text-photo-hero white-bg">
        <div class="text-photo-hero__block--text">
          <h1 class="govuk-heading-l">National Careers Week: think, learn, compute</h1>
          <p class="govuk-body-l">National Careers Week takes place from 2.7
            March 202 and celebrates the importance of good careers education in
            schools and colleges.</p>
        </div>
        <div class="text-photo-hero__block--photo">
          <%= image_tag '/images/careers-week/hero.jpg', alt: '' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">With the demand for computing skills growing,
          there has never been a more important time to ensure young people are
          equipped for the future workplace. This National Careers Week, we’re
          raising awareness of how computational thinking can empower us as
          individuals and as a society.</p>
        <p class="govuk-body">We spoke to six professionals working in
          non-stereotypical roles and industries which rely on computing skills
          to show how essential it is to have a foundational knowledge of the
          subject, regardless of the career path you decide to follow.</p>
      </div>
    </div>
  </div>
</div>
<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper--xl">
      <div class="careers-week__testimonials">
        <div>
          <p class="govuk-body-s testimonial__text">
            “The online courses let me go through the content at my own pace,
            while the face-to-face gave me more hands-on experience with
            practical programming, with concepts explained more in-depth.”
          </p>
          <div class="testimonial__bio">
            <%= image_tag '/images/careers-week/swetha-sethu-jones.png', alt: 'Swetha Sethu-Jones', class: 'testimonial__image' %>
            <p class="govuk-body-s">
              <strong>Swetha Sethu-Jones</strong><br>Senior UX
              Researcher<br>Just Eat</p>
            <p class="govuk-body-s testimonial__bio-cell--span-2">
              <strong><%= link_to 'Read Swetha’s interview', '#', class: 'ncce-link ncce-link--contrast axe-skip-a11y-test' %></strong>
            </p>
          </div>
        </div>
        <div>
          <p class="govuk-body-s testimonial__text">
            “The online courses let me go through the content at my own pace,
            while the face-to-face gave me more hands-on experience with
            practical programming, with concepts explained more in-depth.”
          </p>
          <div class="testimonial__bio">
            <%= image_tag '/images/careers-week/sam-parker.png', alt: 'Sam Parker', class: 'testimonial__image' %>
            <p class="govuk-body-s">
              <strong>Sam Parker</strong><br>Technology Degree Apprenticeship and student<br>PwC</p>
            <p class="govuk-body-s testimonial__bio-cell--span-2">
              <strong><%= link_to 'Read Sam’s interview', '#', class: 'ncce-link ncce-link--contrast axe-skip-a11y-test' %></strong>
            </p>
          </div>
        </div>
        <div>
          <p class="govuk-body-s testimonial__text">
            “The online courses let me go through the content at my own pace,
            while the face-to-face gave me more hands-on experience with
            practical programming, with concepts explained more in-depth.”
          </p>
          <div class="testimonial__bio">
            <%= image_tag '/images/careers-week/marcus-tyyger.png', alt: 'Marcus Tyyger', class: 'testimonial__image' %>
            <p class="govuk-body-s">
              <strong>Marcus Tyyger</strong><br>Clinical Scientist - Medical<br>Physics (Radiotherapy)<br>NHS</p>
            <p class="govuk-body-s testimonial__bio-cell--span-2">
              <strong><%= link_to 'Read Marcus’s interview', '#', class: 'ncce-link ncce-link--contrast axe-skip-a11y-test' %></strong>
            </p>
          </div>
        </div>
        <div>
          <p class="govuk-body-s testimonial__text">
            “The online courses let me go through the content at my own pace,
            while the face-to-face gave me more hands-on experience with
            practical programming, with concepts explained more in-depth.”
          </p>
          <div class="testimonial__bio">
            <%= image_tag '/images/careers-week/swetha-sethu-jones.png', alt: 'Swetha Sethu-Jones', class: 'testimonial__image' %>
            <p class="govuk-body-s">
              <strong>Beth Holmes</strong><br>Knowledge Engineer<br>Amazon</p>
            <p class="govuk-body-s testimonial__bio-cell--span-2">
              <strong><%= link_to 'Read Beth’s interview', '#', class: 'ncce-link ncce-link--contrast axe-skip-a11y-test' %></strong>
            </p>
          </div>
        </div>
        <div>
          <p class="govuk-body-s testimonial__text">
            “The online courses let me go through the content at my own pace,
            while the face-to-face gave me more hands-on experience with
            practical programming, with concepts explained more in-depth.”
          </p>
          <div class="testimonial__bio">
            <%= image_tag '/images/secondary-teachers/kasim.png', alt: 'Kasim Rashid', class: 'testimonial__image' %>
            <p class="govuk-body-s">
              <strong>Kasim Rashid</strong><br>Maths and Computer Science teacher, London</p>
            <p class="govuk-body-s testimonial__bio-cell--span-2">
              <strong><%= link_to 'Read Kasim’s interview', 'https://blog.teachcomputing.org/getting-with-the-programming/', class: 'ncce-link ncce-link--contrast axe-skip-a11y-test' %></strong>
            </p>
          </div>
        </div>
        <div>
          <p class="govuk-body-s testimonial__text">
            “The online courses let me go through the content at my own pace,
            while the face-to-face gave me more hands-on experience with
            practical programming, with concepts explained more in-depth.”
          </p>
          <div class="testimonial__bio">
            <%= image_tag '/images/secondary-teachers/kasim.png', alt: 'Kasim Rashid', class: 'testimonial__image' %>
            <p class="govuk-body-s">
              <strong>Kasim Rashid</strong><br>Maths and Computer Science teacher, London</p>
            <p class="govuk-body-s testimonial__bio-cell--span-2">
              <strong><%= link_to 'Read Kasim’s interview', 'https://blog.teachcomputing.org/getting-with-the-programming/', class: 'ncce-link ncce-link--contrast axe-skip-a11y-test' %></strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
