<div class="lime-green-bg careers-support-hero">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="careers-support-hero__block white-bg">
        <div class="careers-support-hero__block--text">
          <h1 class="govuk-heading-l"><%= t(".hero.title") %></h1>
          <p class="govuk-body-m govuk-!-margin-bottom-0"><%= t(".hero.subtitle") %></p>
        </div>
        <div class="careers-support-hero__block--photo">
          <%= image_pack_tag 'media/images/pages/careers-support/computer_science_careers.jpeg', alt: '' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p class="govuk-body-s">
          <%= t(".intro.paragraph_1_html",
                digital_skills_link: link_to("digital skills are critical to the future of most jobs", "https://www.gov.uk/government/publications/labour-market-and-skills-demand-horizon-scanning-and-scenarios"),
                job_stats_link: link_to("82% of all jobs posted online", "https://assets.publishing.service.gov.uk/media/5cfe713fed915d097daca4b5/No_Longer_Optional_Employer_Demand_for_Digital_Skills.pdf")) %>
        </p>
        <p class="govuk-body-s">
          <%= t(".intro.paragraph_2_html",
                gatsby_link: link_to("Gatsby Benchmarks", "https://www.goodcareerguidance.org.uk/benchmarks-and-background")) %>
        </p>
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
      </div>
    </div>
  </div>
</div>

<%= render BenchmarkBannerComponent.new(icons: [
  "media/images/pages/careers-support/benchmark_4.svg",
  "media/images/pages/careers-support/benchmark_5.svg",
  "media/images/pages/careers-support/benchmark_7.svg",
], class_name: "benchmark-banner--width-float two-headings")%>

<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-!-padding-bottom-0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l"><%= t(".student-resources.heading") %></h2>
        <h3 class="govuk-heading-m">
          <a href="https://isaaccomputerscience.org/pages/computer_science_journeys_gallery"><%= t(".student-resources.subheading") %></a>
        </h3>
        <p class="govuk-body-m"><%= t(".student-resources.content") %></p>
      </div>
    </div>
  </div>
</div>

<%= render BannerComponent.new(
  title: t(".student-resources.topics_to_life.heading"),
  title_link: tech_careers_videos_path,
  text:  t(".student-resources.topics_to_life.content.html"),
  video: { url: cs_topic_video_1_url },
  media_column_size: :half,
  media_side: :left,
  padding: 0,
  button: { text: "Explore careers videos",
  link: tech_careers_videos_path,
  class: "ncce-button--white"},
) %>

<%= render TestimonialsComponent.new(
  testimonials: careers_support_testimonal_data,
  testimonials_per_row: 2,
  event_tracking_category: "",
) %>

<%= render BenchmarkBannerComponent.new(icons: [
  "media/images/pages/careers-support/benchmark_5.svg",
  "media/images/pages/careers-support/benchmark_6.svg",
  "media/images/pages/careers-support/benchmark_7.svg",
], class_name: "benchmark-banner--width-float")%>

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l">
          <%= link_to t(".isaac.events-link"), "https://isaaccomputerscience.org/events" %>
        </p>
        <p class="govuk-body-m"><%= t(".isaac.content") %></p>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="govuk-!-margin-top-9">
          <%= image_pack_tag "media/images/logos/isaac-logo.svg" %>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m"><%= t(".resources.heading") %></h2>
          <%= render BenchmarkBorderedCardsComponent.new(
            cards: careers_support_resource_cards,
            class_name: 'bordered-card--careers-support',
            cards_per_row: 3
          ) %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render BenchmarkBannerComponent.new(icons: [
  "media/images/pages/careers-support/benchmark_2.svg",
  "media/images/pages/careers-support/benchmark_3.svg",
], class_name: "benchmark-banner--width-float")%>

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m"><%= t(".careers-website.heading") %></h2>
        <p class="govuk-body-m">
          <%= t(".careers-website.content.description") %>
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-body-s">
          <li><%= t(".careers-website.content.point_1_html",
            link: link_to("computing, technology and digital", "https://nationalcareers.service.gov.uk/job-categories/computing-technology-and-digital")) %></li>
          <li><%= t(".careers-website.content.point_2_html",
            link: link_to("career guidance", "https://www.ucas.com/careers-advice")) %></li>
          <li><%= t(".careers-website.content.point_3_html",
            link: link_to("Kudos", "https://www.cascaid.co.uk/kudos/")) %></li>
          <li><%= t(".careers-website.content.point_4_html",
            link: link_to("Tech Jobs Quiz", "https://www.bcs.org/it-careers/tech-job-quiz/in-demand-tech-jobs/")) %></li>
          <li><%= t(".careers-website.content.point_5_html",
            nscs_link: link_to("NCSC", "https://www.ncsc.gov.uk/section/education-skills/schools"),
            comp_link: link_to("Cyber First Girls competition", "https://www.ncsc.gov.uk/cyberfirst/girls-competition")) %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
