<% meta_tag :title, 'CS Accelerator - Teach Computing' %>
<%= render 'pages/certification/hero', full_width: true %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-m">Welcome to Computer Science Accelerator</h1>
        <p class="govuk-body">Computer Science Accelerator is a flexible professional development programme designed to give you the subject knowledge and confidence to teach GCSE computer science. </p>
				<p class="govuk-body">The programme is suitable for current or aspiring teachers of GCSE computer science, and offers support to teachers from all backgrounds.</p>
        <h2 class="govuk-heading-s">Programme benefits</h2>
        <ul class="govuk-list govuk-list--bullet govuk-body">
          <li>Gain the subject knowledge required to teach the GCSE curriculum with confidence and drive attainment in your school
          </li>
          <li>Access a network of on and offline support to guide you through your professional development journey</li>
          <li>Obtain a professionally-recognised training certificate, awarded by BCS, The Chartered Institute for IT</li>
        </ul>
        <%= render 'pages/certification/pathway' %>
				<h2 class="govuk-heading-s">Funding your programme</h2>
        <p class="govuk-body">If you’re a teacher working in state-funded secondary education, you are eligible for  <%= link_to 'bursary funding', bursary_path, class: 'govuk-link ncce-link' %>, paid to your school or college upon completion of the programme. If you’re a trainee teacher, you’ll need to claim your bursary within one year of gaining Qualified Teacher Status.</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="ncce-aside">
          <% if current_user %>
          <h2 class="govuk-heading-s ncce-aside__title">Enrol on the programme</h2>
          <% else %>
          <h2 class="govuk-heading-m ncce-aside__title">Enrol on the programme</h2>
          <% end %>
          <ol
            class="govuk-list govuk-list--number ncce-aside__text govuk-body-s cs-accelerator-aside__list">
            <li>
              Enrol with the click of a button
            </li>
            <li>Complete an questionaire to gauge your confidence with computing</li>
            <li>We will recommend a training package for you</li>
            <li>Complete the training, pass the test and receive your qualification</li>
          </ol>
          <% if current_user %>
          <p class="govuk-body">
            <%= link_to 'Enrol on this certificate', user_programme_enrolment_path(slug: Programme.cs_accelerator.slug, user_programme_enrolment: { user_id: current_user.id, programme_id: Programme.cs_accelerator.id }), method: :post, class: 'govuk-button button--aside', role: 'button', draggable: 'false' %>
          </p>
          <% else %>
          <p class="govuk-body">
            <%= link_to 'Enrol now', create_account_url, class: 'govuk-button button--aside', role: 'button', draggable: 'false' %>
          </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/certification/statement' %>
