<% meta_tag :title, t('.page_title') %>
<% meta_tag :description, t('.page_description') %>
<% meta_tag :image, asset_pack_path('media/images/pages/isaac/meta-image.jpg') %>
<%= render HeroMediaComponent.new(
  title: t('.page_title'),
  text: t('.page_description'),
  class_name: 'tapestry-bg',
   video: {
    url: 'https://www.youtube.com/embed/ci6_Du_NHZA',
    tracking_page: 'GCSE revision',
    tracking_label: 'Introductory video'
  }
) %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body"><%= t('.paragraph_1') %></p>
        <p class="govuk-body"><%= t('.paragraph_2') %></p>
        <p class="govuk-body"><%= t('.paragraph_3') %></p>
        <p class="govuk-body"><%= t('.list_1_heading') %></p>
        <ul class="govuk-list govuk-list--bullet" role="list">
          <% t('.list_1_points').each_line do |point| %>
            <li><%= point %></li>
          <% end %>
        </ul>
        <p class="govuk-heading-m"><%= t('.list_2_heading') %></p>
        <ul class="govuk-list govuk-list--bullet" role="list">
          <% t('.list_2_points').each_line do |point| %>
            <li><%= point %></li>
          <% end %>
        </ul>
        <p class="govuk-heading-m"><%= t('.list_3_heading') %></p>
        <ul class="govuk-list govuk-list--bullet" role="list">
          <% t('.list_3_points').each_line do |point| %>
            <li><%= point %></li>
          <% end %>
        </ul>
				<h2 class="govuk-heading-m"><%= t('.list_4_heading') %></h2>
				<ul class="govuk-list govuk-list--bullet" role="list">
          <% t('.list_4_points').each_line do |point| %>
            <li><%= point %></li>
          <% end %>
				</ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= render AsideComponent.new(
          title: t('.aside.title'),
          text: t('.aside.text'),
          use_button: true,
          link: {
            text: t('.aside.link_title'),
            url: 'https://isaaccomputerscience.org/',
            tracking_label: 'Isaac GCSE'
          },
          tracking_category: 'Isaac Computer Science'
        ) %>
      </div>
    </div>
  </div>
</div>

