<% meta_tag :title, 'Gender Balance in Computing' %>
<% meta_tag :description, 'Find out how we are researching ways to empower young women to take an interest in computing, and to choose Computer Science at GCSE and A level.' %>
<% meta_tag :url, request.original_url %>
<% meta_tag :image, asset_pack_path('media/images/pages/gender-balance/hero-teacher.jpg') %>
<% meta_tag :image_alt, 'Gender balance' %>
<%= render HeroMediaComponent.new(
  title: 'Gender Balance in Computing',
  text: 'Researching the best ways to encourage more women to study Computer Science.',
  class_name: 'lime-green-bg',
  image: {
    url: 'media/images/pages/gender-balance/hero-teacher.jpg',
    title: 'Gender Balance in Computing',
  }
) %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
				<div class="light-blue-bg padded-box govuk-!-margin-bottom-6">
					<h2 class="govuk-heading-m">The programme at a glance</h2>
					<p class="govuk-list govuk-list--bullet">
						This research project has now concluded.

            For information about our new programme to support girls into computer science, visit our <%= link_to "I Belong", about_i_belong_path %> page.
          </p>
				</div>
				<p class="govuk-body">Gender Balance in Computing is a collaboration between the Raspberry Pi Foundation; STEM Learning; BCS, The Chartered Institute for IT; the Behavioural Insights Team; Apps for Good; and WISE.</p>
				<h2 class="govuk-heading-m">Why this research is important</h2>
				<p class="govuk-body">Sadly, many young women do not see computing-related subjects as an option for their future career. Research suggests that a variety of factors are likely to be responsible, including feeling like they don’t belong in the subject or its community, a lack of sustained encouragement, and a lack of computing role models when they are learning about the subject.</p>
				<p class="govuk-body">The Gender Balance in Computing research programme aims to find out what works to encourage girls to develop an interest during their primary and secondary school years, and increase the number of young women who choose to study Computer Science at GCSE and A level. We are running a number of pilot studies and Randomised Control Trials (RCTs) to assess the impact of different types of intervention on female pupil's engagement in computing. We use standardised surveys measuring different aspects of engagement and attitudes towards computing, as well as intention to study GCSE computing, to measure the impact of the interventions.</p>
        <h2 class="govuk-heading-m">Interventions</h2>
        <p class="govuk-body"><%= link_to 'Teaching Approach', 'https://teachcomputing.org/teaching-approach/', class: 'ncce-link' %>: Trialling pair programming, peer instruction and storytelling as approaches to teaching Computing.</p>
        <p class="govuk-body"><%= link_to 'Belonging', 'https://teachcomputing.org/belonging/', class: 'ncce-link' %>: Encouraging a sense of belonging in the subject, including work with role models and involving parents and carers.</p>
        <p class="govuk-body"><%= link_to 'Informal learning', 'https://teachcomputing.org/informal-learning/', class: 'ncce-link' %>: Making the link between non formal activities and future opportunities in computing.</p>
        <p class="govuk-body"><%= link_to 'Relevance', 'https://teachcomputing.org/relevance/', class: 'ncce-link' %>: Supporting teachers to bring students interest and things they care about into their teaching.</p>
        <p class="govuk-body"><%= link_to 'Subject choice and options materials', 'https://teachcomputing.org/subject-choice-exploratory-research/', class: 'ncce-link' %>: Exploratory research into potential barriers to choosing to study the subject further.</p>
        <h2 class="govuk-heading-m">What's currently happening with the programme?</h2>
        <p class="govuk-body">Our school interventions are complete, and their corresponding reports have been published. A summary of our findings for each report can be accessed through the Interventions section of this page.</p>
				<div class="light-blue-bg padded-box govuk-!-margin-bottom-3">
					<h2 class="govuk-heading-m">How can I learn more about the research?</h2>
					<p class='govuk-body'>Over the last two years, we have been writing regular blog posts on issues relating to gender balance in computing, including tips for teachers to try out in their classrooms.</p>
					<%= link_to 'Discover our research articles', 'https://blog.teachcomputing.org/tag/gbic-article/', class: 'govuk-button button govuk-!-margin-bottom-3', data: tracking_data('research articles') %>
				</div>
      </div>
    </div>
  </div>
</div>

<div class="purple-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper--xl">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
					<p class="govuk-body">Recently as part of <%= link_to 'Careers Week', 'https://teachcomputing.org/careers-week', class: 'ncce-link ncce-link--on-dark' %> we spoke to women working in tech about their experiences with computer science.</p>
        </div>
      </div>
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-one-third">
 					<div class="testimonial">
            <p class="govuk-body-s testimonial__text">
              “For me, the most interesting thing is understanding behaviours - I enjoy and learn more when we go above and beyond current technology and think more about everyday habits and general consumer behaviour.”
            </p>
            <div class="testimonial__bio">
    					<%= image_pack_tag 'media/images/pages/careers-week/swetha.jpg', alt: 'Swetha Sethu-Jones', class: 'testimonial__image' %>
              <p class="govuk-body-s">
                <strong>Swetha Sethu-Jones</strong><br>
                Senior UX Researcher<br>
								Just Eat
              </p>
							<p class="govuk-body-s testimonial__bio-cell--span-2">
              <strong><%= link_to "Read Swetha's interview", 'https://blog.teachcomputing.org/researching-the-right-career', class: 'ncce-link ncce-link--on-dark axe-skip-a11y-test' %></strong>
            </p>
            </div>
          </div>
				</div>
				<div class="govuk-grid-column-one-third">
 					<div class="testimonial">
            <p class="govuk-body-s testimonial__text">
              “The thing I love is when you read stories about how Alexa has helped people. The leader of a charity for blind people said how much Alexa has helped him, because its users are now able to access RNIB-verified information via voice commands.”
            </p>
            <div class="testimonial__bio">
              <%= image_pack_tag 'media/images/pages/careers-week/beth.jpg', alt: 'Beth Holmes', class: 'testimonial__image' %>
              <p class="govuk-body-s">
                <strong>Beth Holmes</strong><br>
                Knowledge Engineer<br>
								Amazon
              </p>
							<p class="govuk-body-s testimonial__bio-cell--span-2">
              <strong><%= link_to "Read Beth's interview", 'https://blog.teachcomputing.org/alexa-can-you-tell-me-more-about-digital-careers', class: 'ncce-link ncce-link--on-dark axe-skip-a11y-test' %></strong>
            </p>
            </div>
          </div>
				</div>
				<div class="govuk-grid-column-one-third">
           <div class="testimonial">
            <p class="govuk-body-s testimonial__text">
              “I think computer science is super interesting and can help tackle all sorts of real-world problems. There are still so many open research questions and computer science is definitely a valuable skill in academia!”
            </p>
            <div class="testimonial__bio">
            	<%= image_pack_tag 'media/images/pages/careers-week/risa.jpg', alt: 'Risa Ueno', class: 'testimonial__image' %>
              <p class="govuk-body-s">
                <strong>Risa Ueno</strong><br>
                PhD student<br>
								British Antarctic Survey
              </p>
							<p class="govuk-body-s testimonial__bio-cell--span-2">
              <strong><%= link_to "Read Risa's interview", 'https://blog.teachcomputing.org/using-computational-thinking-to-tackle-real-world-problems', class: 'ncce-link ncce-link--on-dark axe-skip-a11y-test' %></strong>
            </p>
            </div>
          </div>
				</div>
			</div>
    </div>
  </div>
</div>
