<div class="hero hero--plain">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <span class="govuk-body-m hero__status">User-related status</span>
      <div class="hero__heading-wrapper">
        <h1 class="govuk-heading-l hero__heading">Page title</h1>
      </div>
    </div>
  </div>
</div>
<%# same header with the component - set hero_title and status %>
<%= render 'components/hero', hero_title: 'Page title', status_message: 'User-related status' %>

<div class="hero hero--center-glyph hero--glyph-2">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <div class="hero__heading-wrapper">
        <h1 class="govuk-heading-m hero__heading">Blue 'action' colour with a longer title with smaller text size for demo</h1>
      </div>
    </div>
  </div>
</div>
<%# same header with the component - set hero_title, small_title, glyph-position, glyph-number & specifically set colour to blue specifically %>
<%= render 'components/hero', hero_title: "Blue 'action' colour with a longer title with smaller text size for demo", small_title: true, glyph_num: '2', glyph_position: 'center', colour: 'lime-green' %>

<div class="hero hero--primary-certificate hero--bottom-glyph">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <div class="hero__heading-wrapper">
        <h1 class="govuk-heading-l hero__heading">Teach primary computing</h1>
        <p class="govuk-body-s hero__text">Certification awarded by BCS, The Chartered Institute for IT</p>
      </div>
    </div>
  </div>
</div>
<%# same header with the component - set hero_title, subtitle, glyph-position, colour to orange (same as primary-certificate) %>
<%= render 'components/hero', hero_title: 'Teach primary computing', subtitle: 'Certification awarded by BCS, The Chartered Institute for IT', glyph_position: 'bottom', colour: 'lime-green' %>

<div class="hero hero--glyph-3">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <div class="hero__heading-wrapper">
        <h1 class="govuk-heading-l hero__heading">Change and move the glyphs</h1>
        <p class="govuk-body-s hero__text">Glyphs 1-4, with top, center, bottom options</p>
      </div>
    </div>
  </div>
</div>
<%# same header with the component - set hero_title, subtitle, glyph-num, colour to blue %>
<%= render 'components/hero', hero_title: 'Change and move the glyphs', subtitle: 'Glyphs 1-4, with top, center, bottom options', glyph_num: '3', colour: 'lime-green' %>

<div class="hero hero--secondary-certificate hero--center-glyph hero--glyph-3">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <span class="govuk-body-m hero__status">You are enrolled</span>
      <div class="hero__heading-wrapper">
        <h1 class="govuk-heading-l hero__heading">Teach Secondary Computing</h1>
        <p class="govuk-body-s hero__text">Certification awarded by BCS, The Chartered Institute for IT</p>
      </div>
    </div>
  </div>
</div>
<%# same header with the component - set _all_the_things_, colour to yellow %>
<%= render 'components/hero', hero_title: 'Teach Secondary Computing', status_message: 'You are enrolled', subtitle: 'Certification awarded by BCS, The Chartered Institute for IT', glyph_num: '3', glyph_position: 'center', colour: 'yellow' %>

<div class="hero hero--subject-knowledge hero--bottom-glyph hero--glyph-4">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <span class="govuk-body-m hero__status">You have completed</span>
      <div class="hero__heading-wrapper hero__heading-wrapper--full-width">
        <h1 class="govuk-heading-xl hero__heading"><%= csa_programme_title %></h1>
        <p class="govuk-body-s hero__text">Certification awarded by BCS, The Chartered Institute for IT</p>
      </div>
    </div>
  </div>
</div>

<%# same header with the component - set _all_the_things_, colour to purple %>
<%= render 'components/hero', hero_title: csa_programme_title, status_message: 'You have completed', subtitle: 'Certification awarded by BCS, The Chartered Institute for IT', glyph_num: '4', glyph_position: 'bottom', colour: 'purple' %>
<%# same header with the component - set _all_the_things_, colour to purple & full_width title %>
<%= render 'components/hero', hero_title: csa_programme_title, status_message: 'You have completed', full_width: true, subtitle: 'Allow the main title to extend to 100% width', glyph_num: '4', glyph_position: 'bottom', colour: 'purple' %>
