<% title "Hubs - Teach Computing"%>
<%= render 'components/hero', hero_title: 'Network of Computing Hubs', glyph_num: '4', colour: 'yellow' %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Our network of Computing Hubs are led by schools
          and colleges with an exceptional track record in teaching computing.
        </p>

        <p class="govuk-body">They offer local, responsive and appropriately
          tailored support to teachers in state-funded schools and colleges in
          their area.</p>

        <p class="govuk-body">Computing Hubs are the focal point for local
          computing CPD, providing a range of opportunities for primary and
          secondary teachers.</p>

        <p class="govuk-body">We also have a number of Regional Delivery
          Partners that deliver courses locally and support our network of
          Computing Hubs</p>
        <%= link_to 'Browse local courses', courses_path, class: 'govuk-button button' %>
      </div>
    </div>
    <h2 class="govuk-heading-m hubs-area">Cumbria and NE</h2>
    <div class="hubs-location">
      <p class="govuk-body hubs-location__school"><strong>Cardinal Hume Catholic School</strong></p>
      <p class="govuk-body hubs-location__area">Newcastle, Durham and East Cumbria</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@cardinalhume.com', 'TeachComputing@cardinalhume.com', class: 'ncce-link' %></p>
    </div>
    <div class="hubs-location">
      <p class="govuk-body hubs-location__school"><strong>Carmel College</strong></p>
      <p class="govuk-body hubs-location__area">Tees Valley and Durham</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@carmel.org.uk', 'TeachComputing@carmel.org.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs-location hubs-location--last">
      <p class="govuk-body hubs-location__school"><strong>Kings Priory School</strong></p>
      <p class="govuk-body hubs-location__area">North East and Northumberland</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@kps.woodard.co.uk', 'TeachComputing@kps.woodard.co.uk', class: 'ncce-link' %></p>
    </div>
    <h2 class="govuk-heading-m hubs-area">East and South Yorkshire, Humber and Lincs</h2>
    <div class="hubs-location hubs-location--last">
      <p class="govuk-body hubs-location__school"><strong>All Saints RC School</strong></p>
      <p class="govuk-body hubs-location__area">North Lincolnshire, York, East and South Yorkshire</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@allsaints.york.sch.uk', 'TeachComputing@allsaints.york.sch.uk', class: 'ncce-link' %></p>
    </div>
    <h2 class="govuk-heading-m hubs-area">East Midlands</h2>
    <div class="hubs-location">
      <p class="govuk-body hubs-location__school"><strong>Beauchamp College</strong></p>
      <p class="govuk-body hubs-location__area">Leicester and East Midlands</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@lionhearttrust.org.uk', 'TeachComputing@lionhearttrust.org.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs-location hubs-location--last">
      <p class="govuk-body hubs-location__school"><strong>Denbigh School</strong></p>
      <p class="govuk-body hubs-location__area">Milton Keynes and Northamptonshire</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@denbigh.net ', 'TeachComputing@denbigh.net', class: 'ncce-link' %></p>
    </div>
    <h2 class="govuk-heading-m hubs-area">East of England</h2>
    <div class="hubs-location">
      <p class="govuk-body hubs-location__school"><strong>Chesterton Community College</strong></p>
      <p class="govuk-body hubs-location__area">Cambridge and Northamptonshire</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'hellison@chesterton.cambs.sch.uk', 'hellison@chesterton.cambs.sch.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs-location">
      <p class="govuk-body hubs-location__school"><strong>Dereham Neatherd High School</strong></p>
      <p class="govuk-body hubs-location__area">Norfolk</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@neatherd.org', 'TeachComputing@neatherd.org', class: 'ncce-link' %></p>
    </div>
    <div class="hubs-location">
      <p class="govuk-body hubs-location__school"><strong>Saffron Walden County High School</strong></p>
      <p class="govuk-body hubs-location__area">London, Hertfordshire and  Essex</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@swchs.net', 'TeachComputing@swchs.net', class: 'ncce-link' %></p>
    </div>
    <div class="hubs-location">
      <p class="govuk-body hubs-location__school"><strong>West Suffolk College</strong></p>
      <p class="govuk-body hubs-location__area">Suffolk</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'computerhub@wsc.ac.uk', 'computerhub@wsc.ac.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs-location hubs-location--last">
      <p class="govuk-body hubs-location__school"><strong>Westcliff High School for Girls</strong></p>
      <p class="govuk-body hubs-location__area">London and Essex</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@setsa.info', 'TeachComputing@setsa.info', class: 'ncce-link' %></p>
    </div>
    <h2 class="govuk-heading-m hubs-area">Greater Manchester, Merseyside and Cheshire</h2>
    <div class="hubs-location">
      <p class="govuk-body hubs-location__school"><strong>Priestley College</strong></p>
      <p class="govuk-body hubs-location__area">Warrington and Merseyside</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@bca.warrington.ac.uk', 'TeachComputing@bca.warrington.ac.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs-location hubs-location--last">
      <p class="govuk-body hubs-location__school"><strong>The Fallibroome Academy</strong></p>
      <p class="govuk-body hubs-location__area">Cheshire</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@eatonbank.org', 'TeachComputing@eatonbank.org', class: 'ncce-link' %></p>
    </div>
    <h2 class="govuk-heading-m hubs-area">Lancs, North and West Yorks</h2>
    <div class="hubs-location">
      <p class="govuk-body hubs-location__school"><strong>Bingley Grammar School</strong></p>
      <p class="govuk-body hubs-location__area">West Yorkshire and NW Greater Manchester</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@bingleygrammar.org', 'TeachComputing@bingleygrammar.org', class: 'ncce-link' %></p>
    </div>
    <div class="hubs-location">
      <p class="govuk-body hubs-location__school"><strong>Bishop Rawstorne Church of England Academy</strong></p>
      <p class="govuk-body hubs-location__area">Lancashire</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@bishopr.co.uk', 'TeachComputing@bishopr.co.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs-location hubs-location--last">
      <p class="govuk-body hubs-location__school"><strong>Harrogate Grammar School</strong></p>
      <p class="govuk-body hubs-location__area">North Yorkshire, Leeds and Wakefield</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@rklt.co.uk', 'TeachComputing@rklt.co.uk', class: 'ncce-link' %></p>
    </div>
    <h2 class="govuk-heading-m hubs-area">London and Buckinghamshire</h2>
    <div class="hubs-location">
      <p class="govuk-body hubs-location__school"><strong>Langley Grammar School</strong></p>
      <p class="govuk-body hubs-location__area">London and Home Counties</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@lgs.slough.sch.uk', 'TeachComputing@lgs.slough.sch.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs-location">
      <p class="govuk-body hubs-location__school"><strong>Sandringham School</strong></p>
      <p class="govuk-body hubs-location__area">London and Hertfordshire</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'teachcomputing@albantsa.co.uk', 'teachcomputing@albantsa.co.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs-location hubs-location--last">
      <p class="govuk-body hubs-location__school"><strong>St Clements Danes School</strong></p>
      <p class="govuk-body hubs-location__area">Oxfordshire and Buckinghamshire</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'teachcomputing@stclementdanes.herts.sch.uk', 'teachcomputing@stclementdanes.herts.sch.uk', class: 'ncce-link' %></p>
    </div>
    <h2 class="govuk-heading-m hubs-area">South East</h2>
    <div class="hubs-location">
      <p class="govuk-body hubs-location__school"><strong>Dartford Grammar School</strong></p>
      <p class="govuk-body hubs-location__area">Dartford and East Sussex</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@dartfordgrammarschool.org.uk ', 'TeachComputing@dartfordgrammarschool.org.uk ', class: 'ncce-link' %></p>
    </div>
    <div class="hubs-location">
      <p class="govuk-body hubs-location__school"><strong>Maidstone Grammar School for Girls</strong></p>
      <p class="govuk-body hubs-location__area">Maidstone and Kent</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@mggs.org ', 'TeachComputing@mggs.org', class: 'ncce-link' %></p>
    </div>
    <div class="hubs-location">
      <p class="govuk-body hubs-location__school"><strong>Newstead Wood School</strong></p>
      <p class="govuk-body hubs-location__area">London, Surrey and West Sussex</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'jvallely@newsteadwood.co.uk', 'jvallely@newsteadwood.co.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs-location hubs-location--last">
      <p class="govuk-body hubs-location__school"><strong>Park House School</strong></p>
      <p class="govuk-body hubs-location__area">West Berkshire and Hampshire</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@parkhouseschool.org', 'TeachComputing@parkhouseschool.org', class: 'ncce-link' %></p>
    </div>
    <h2 class="govuk-heading-m hubs-area">South West</h2>
    <div class="hubs-location">
      <p class="govuk-body hubs-location__school"><strong>Exeter Mathematics School</strong></p>
      <p class="govuk-body hubs-location__area">Devon, East Dorset</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@exeterms.ac.uk', 'TeachComputing@exeterms.ac.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs-location">
      <p class="govuk-body hubs-location__school"><strong>The Castle School</strong></p>
      <p class="govuk-body hubs-location__area">Somerset, West Dorset</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@castle.somerset.sch.uk', 'TeachComputing@castle.somerset.sch.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs-location">
      <p class="govuk-body hubs-location__school"><strong>Truro and Penwith College</strong></p>
      <p class="govuk-body hubs-location__area">Cornwall</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@truro-penwith.ac.uk', 'TeachComputing@truro-penwith.ac.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs-location hubs-location--last">
      <p class="govuk-body hubs-location__school"><strong>Pate's Grammar School</strong></p>
      <p class="govuk-body hubs-location__area">City of Bristol, Glousestershire, Wiltshire and North Somerset</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@odesseyts.org', 'TeachComputing@odesseyts.org', class: 'ncce-link' %></p>
    </div>
    <h2 class="govuk-heading-m hubs-area">West Midlands</h2>
    <div class="hubs-location">
      <p class="govuk-body hubs-location__school"><strong>Bishop Challoner Catholic School</strong></p>
      <p class="govuk-body hubs-location__area">Birmingham, Warwickshire, West Midlands</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@bishopchalloner.bham.sch.uk', 'TeachComputing@bishopchalloner.bham.sch.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs-location">
      <p class="govuk-body hubs-location__school"><strong>City of Stoke-on-Trent Sixth Form</strong></p>
      <p class="govuk-body hubs-location__area">Stoke-on-Trent, Staffordshire and Derbyshire</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@potteries.ac.uk', 'TeachComputing@potteries.ac.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs-location hubs-location--last">
      <p class="govuk-body hubs-location__school"><strong>The Chase School</strong></p>
      <p class="govuk-body hubs-location__area">Herefordshire, Shropshire, West Midlands, Worcestershire</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'TeachComputing@chase.worcs.sch.uk', 'TeachComputing@chase.worcs.sch.uk', class: 'ncce-link' %></p>
    </div>
    <h2 class="govuk-heading-m hubs-area">Regional Delivery Partner</h2>
    <div class="hubs-location">
      <p class="govuk-body hubs-location__school"><strong>University of York</strong></p>
      <p class="govuk-body hubs-location__area">York, East and South Yorkshire</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'cs-ncce@york.ac.uk', 'cs-ncce@york.ac.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs-location">
      <p class="govuk-body hubs-location__school"><strong>Edge Hill University</strong></p>
      <p class="govuk-body hubs-location__area">Lancashire</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'ncce@edgehill.ac.uk', 'ncce@edgehill.ac.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs-location">
      <p class="govuk-body hubs-location__school"><strong>University of Southampton</strong></p>
      <p class="govuk-body hubs-location__area">West Berkshire and Hampshire</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'mslc@southampton.ac.uk', 'mslc@southampton.ac.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs-location hubs-location--last">
      <p class="govuk-body hubs-location__school"><strong>MGL</strong></p>
      <p class="govuk-body hubs-location__area">Warrington and Merseyside</p>
      <p class="govuk-body hubs-location__email"><%= mail_to 'andrew.procter@mglworld.com', 'andrew.procter@mglworld.com', class: 'ncce-link' %></p>
    </div>
  </div>
</div>
