<% title "Hubs - Teach Computing"%>
<%= render 'components/hero', hero_title: 'Network of Computing Hubs', glyph_num: '4', colour: 'yellow' %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Our network of Computing Hubs are led by schools
          and colleges with an exceptional track record in teaching computing.
        </p>

        <p class="govuk-body">They offer local, responsive and appropriately
          tailored support to teachers in state-funded schools and colleges in
          their area.</p>

        <p class="govuk-body">Computing Hubs are the focal point for local
          computing CPD, providing a range of opportunities for primary and
          secondary teachers.</p>

        <p class="govuk-body">We also have a number of Regional Delivery
          Partners that deliver courses locally and support our network of
          Computing Hubs</p>
        <%= link_to 'Browse local courses', courses_path, class: 'govuk-button button' %>
      </div>
    </div>
    <h2 class="govuk-heading-m hubs__area">Greater London</h2>
    <div class="hubs__location">
      <p class="govuk-body"><strong>London, Surry and West Sussex</strong></p>
      <p class="govuk-body">Newstead Wood School, Orpington</p>
      <p class="govuk-body"><%= mail_to '#', 'Email', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location hubs__location--last">
      <p class="govuk-body"><strong>ABC</strong></p>
      <p class="govuk-body">123</p>
      <p class="govuk-body"><%= mail_to '#', 'Email', class: 'ncce-link' %></p>
    </div>
    <h2 class="govuk-heading-m hubs__area">Greater London</h2>
    <div class="hubs__location">
      <p class="govuk-body"><strong>London, Surry and West Sussex</strong></p>
      <p class="govuk-body">Newstead Wood School, Orpington</p>
      <p class="govuk-body"><%= mail_to '#', 'Email', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location hubs__location--last">
      <p class="govuk-body"><strong>ABC</strong></p>
      <p class="govuk-body">123</p>
      <p class="govuk-body"><%= mail_to '#', 'Email', class: 'ncce-link' %></p>
    </div>
  </div>
</div>
