<% title "Hubs - Teach Computing"%>
<%= render 'components/hero', hero_title: 'Network of Computing Hubs', glyph_num: '4', colour: 'yellow' %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Our network of Computing Hubs are led by schools
          and colleges with an exceptional track record in teaching computing.
        </p>

        <p class="govuk-body">They offer local, responsive and appropriately
          tailored support to teachers in state-funded schools and colleges in
          their area.</p>

        <p class="govuk-body">Computing Hubs are the focal point for local
          computing CPD, providing a range of opportunities for primary and
          secondary teachers.</p>

        <p class="govuk-body">We also have a number of Regional Delivery
          Partners that deliver courses locally and support our network of
          Computing Hubs</p>
        <%= link_to 'Browse local courses', courses_path, class: 'govuk-button button' %>
      </div>
    </div>
    <h2 class="govuk-heading-m hubs__area">Cumbria and NE</h2>
    <div class="hubs__location">
      <p class="govuk-body"><strong>Cardinal Hume Catholic School</strong></p>
      <p class="govuk-body">Newcastle, Durham and East Cumbria</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@cardinalhume.com', 'Email TeachComputing@cardinalhume.com', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location">
      <p class="govuk-body"><strong>Carmel College</strong></p>
      <p class="govuk-body">Tees Valley and Durham</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@carmel.org.uk', 'Email TeachComputing@carmel.org.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location hubs__location--last">
      <p class="govuk-body"><strong>Kings Priory School</strong></p>
      <p class="govuk-body">North East and Northumberland</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@kps.woodard.co.uk', 'Email TeachComputing@kps.woodard.co.uk', class: 'ncce-link' %></p>
    </div>
    <h2 class="govuk-heading-m hubs__area">East and South Yorkshire, Humber and Lincs</h2>
    <div class="hubs__location hubs__location--last">
      <p class="govuk-body"><strong>All Saints RC School</strong></p>
      <p class="govuk-body">York, East and South Yorkshire</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@allsaints.york.sch.uk', 'Email TeachComputing@allsaints.york.sch.uk', class: 'ncce-link' %></p>
    </div>
    <h2 class="govuk-heading-m hubs__area">East Midlands</h2>
    <div class="hubs__location">
      <p class="govuk-body"><strong>Beauchamp College</strong></p>
      <p class="govuk-body">Leicester and East Midlands</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@lionhearttrust.org.uk', 'Email TeachComputing@lionhearttrust.org.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location hubs__location--last">
      <p class="govuk-body"><strong>Denbigh School</strong></p>
      <p class="govuk-body">Milton Keynes and Northamptonshire</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@denbigh.net ', 'Email TeachComputing@denbigh.net', class: 'ncce-link' %></p>
    </div>
    <h2 class="govuk-heading-m hubs__area">East of England</h2>
    <div class="hubs__location">
      <p class="govuk-body"><strong>Chesterton Community College</strong></p>
      <p class="govuk-body">Cambridge and Northamptonshire</p>
      <p class="govuk-body"><%= mail_to '#', 'Email', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location">
      <p class="govuk-body"><strong>Dereham Neatherd High School</strong></p>
      <p class="govuk-body">Norfolk</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@neatherd.org', 'Email TeachComputing@neatherd.org', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location">
      <p class="govuk-body"><strong>Saffron Walden County High School</strong></p>
      <p class="govuk-body">London, Hertfordshire and  Essex</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@swchs.net', 'Email TeachComputing@swchs.net', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location">
      <p class="govuk-body"><strong>West Suffolk College</strong></p>
      <p class="govuk-body">Suffolk</p>
      <p class="govuk-body"><%= mail_to 'computerhub@wsc.ac.uk', 'Email computerhub@wsc.ac.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location hubs__location--last">
      <p class="govuk-body"><strong>Westcliff High School for Girls</strong></p>
      <p class="govuk-body">London and Essex</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@setsa.info', 'Email TeachComputing@setsa.info', class: 'ncce-link' %></p>
    </div>
    <h2 class="govuk-heading-m hubs__area">Greater Manchester, Merseyside and Cheshire</h2>
    <div class="hubs__location">
      <p class="govuk-body"><strong>Priestley College</strong></p>
      <p class="govuk-body">Warrington and Merseyside</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@bca.warrington.ac.uk', 'Email TeachComputing@bca.warrington.ac.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location hubs__location--last">
      <p class="govuk-body"><strong>The Fallibroome Academy</strong></p>
      <p class="govuk-body">Cheshire</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@eatonbank.org', 'Email TeachComputing@eatonbank.org', class: 'ncce-link' %></p>
    </div>
    <h2 class="govuk-heading-m hubs__area">Lancs, North and West Yorks</h2>
    <div class="hubs__location">
      <p class="govuk-body"><strong>Bingley Grammar School</strong></p>
      <p class="govuk-body">West Yorkshire and NW Greater Manchester</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@bingleygrammar.org', 'Email TeachComputing@bingleygrammar.org', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location">
      <p class="govuk-body"><strong>Bishop Rawstorne Church of England Academy</strong></p>
      <p class="govuk-body">Lancashire</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@bishopr.co.uk', 'Email TeachComputing@bishopr.co.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location hubs__location--last">
      <p class="govuk-body"><strong>Harrogate Grammar School</strong></p>
      <p class="govuk-body">North Yorkshire, Leeds and Wakefield</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@rklt.co.uk', 'Email TeachComputing@rklt.co.uk', class: 'ncce-link' %></p>
    </div>
    <h2 class="govuk-heading-m hubs__area">London and Buckinghamshire</h2>
    <div class="hubs__location">
      <p class="govuk-body"><strong>Langley Grammar School</strong></p>
      <p class="govuk-body">London and Home Counties</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@lgs.slough.sch.uk', 'Email TeachComputing@lgs.slough.sch.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location">
      <p class="govuk-body"><strong>Sandringham School</strong></p>
      <p class="govuk-body">London and Hertfordshire</p>
      <p class="govuk-body"><%= mail_to 'teachcomputing@albantsa.co.uk', 'Email teachcomputing@albantsa.co.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location hubs__location--last">
      <p class="govuk-body"><strong>St Clements Danes School</strong></p>
      <p class="govuk-body">Oxfordshire and Buckinghamshire</p>
      <p class="govuk-body"><%= mail_to 'teachcomputing@stclementdanes.herts.sch.uk', 'Email teachcomputing@stclementdanes.herts.sch.uk', class: 'ncce-link' %></p>
    </div>
    <h2 class="govuk-heading-m hubs__area">South East</h2>
    <div class="hubs__location">
      <p class="govuk-body"><strong>Dartford Grammar School</strong></p>
      <p class="govuk-body">Dartford and East Sussex</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@dartfordgrammarschool.org.uk ', 'Email TeachComputing@dartfordgrammarschool.org.uk ', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location">
      <p class="govuk-body"><strong>Maidstone Grammar School for Girls</strong></p>
      <p class="govuk-body">Maidstone and Kent</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@mggs.org ', 'Email TeachComputing@mggs.org', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location">
      <p class="govuk-body"><strong>Newstead Wood School</strong></p>
      <p class="govuk-body">London, Surrey and West Sussex</p>
      <p class="govuk-body"><%= mail_to '#', 'Email', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location hubs__location--last">
      <p class="govuk-body"><strong>Park House School</strong></p>
      <p class="govuk-body">West Berkshire and Hampshire</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@parkhouseschool.org', 'Email TeachComputing@parkhouseschool.org', class: 'ncce-link' %></p>
    </div>
    <h2 class="govuk-heading-m hubs__area">South West</h2>
    <div class="hubs__location">
      <p class="govuk-body"><strong>Exeter Mathematics School</strong></p>
      <p class="govuk-body">Devon</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@exeterms.ac.uk', 'Email TeachComputing@exeterms.ac.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location">
      <p class="govuk-body"><strong>The Castle School</strong></p>
      <p class="govuk-body">Somerset</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@castle.somerset.sch.uk', 'Email TeachComputing@castle.somerset.sch.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location">
      <p class="govuk-body"><strong>Truro and Penwith College</strong></p>
      <p class="govuk-body">Cornwall</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@truro-penwith.ac.uk', 'Email TeachComputing@truro-penwith.ac.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location hubs__location--last">
      <p class="govuk-body"><strong>Pate's Grammar School</strong></p>
      <p class="govuk-body">Glousestershire, Wiltshire and North Somerset</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@odesseyts.org', 'Email TeachComputing@odesseyts.org', class: 'ncce-link' %></p>
    </div>
    <h2 class="govuk-heading-m hubs__area">West Midlands</h2>
    <div class="hubs__location">
      <p class="govuk-body"><strong>Bishop Challoner Catholic School</strong></p>
      <p class="govuk-body">Birmingham and West Midlands</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@bishopchalloner.bham.sch.uk', 'Email TeachComputing@bishopchalloner.bham.sch.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location">
      <p class="govuk-body"><strong>City of Stoke-on-Trent Sixth Form</strong></p>
      <p class="govuk-body">Stoke-on-Trent, Staffordshire and Derbyshire</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@potteries.ac.uk', 'Email TeachComputing@potteries.ac.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location hubs__location--last">
      <p class="govuk-body"><strong>The Chase School</strong></p>
      <p class="govuk-body">West Midlands</p>
      <p class="govuk-body"><%= mail_to 'TeachComputing@chase.worcs.sch.uk', 'Email TeachComputing@chase.worcs.sch.uk', class: 'ncce-link' %></p>
    </div>
    <h2 class="govuk-heading-m hubs__area">Regional Delivery Partner</h2>
    <div class="hubs__location">
      <p class="govuk-body"><strong>University of York</strong></p>
      <p class="govuk-body">York, East and South Yorkshire</p>
      <p class="govuk-body"><%= mail_to 'cs-ncce@york.ac.uk', 'Email cs-ncce@york.ac.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location">
      <p class="govuk-body"><strong>Edge Hill University</strong></p>
      <p class="govuk-body">Lancashire</p>
      <p class="govuk-body"><%= mail_to '#', 'Email', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location">
      <p class="govuk-body"><strong>University of Southampton</strong></p>
      <p class="govuk-body">West Berkshire and Hampshire</p>
      <p class="govuk-body"><%= mail_to 'mslc@southampton.ac.uk', 'Email mslc@southampton.ac.uk', class: 'ncce-link' %></p>
    </div>
    <div class="hubs__location hubs__location--last">
      <p class="govuk-body"><strong>MGL</strong></p>
      <p class="govuk-body">Warrington and Merseyside</p>
      <p class="govuk-body"><%= mail_to 'andrew.procter@mglworld.com', 'Email andrew.procter@mglworld.com', class: 'ncce-link' %></p>
    </div>
  </div>
</div>
