<% meta_tag :title, 'Impact and evaluation - Teach Computing' %>
<%= render 'components/hero', hero_title: t('.hero.title'), small_title: false, full_width: true, colour: 'lime-green'  %>
<div class='ncce-impact__wrapper'>
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper govuk-main-wrapper--xl">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-l govuk-!-margin-bottom-0">
            <%= t('.intro_text.html') %>
          </p>
        </div>
        <div class="govuk-grid-column-one-third">
          <%= render RelatedLinksComponent.new(
            links: [
              {
                link_title: t('pages.about.hero.title'),
                link_url: '/about',
                tracking_page: tracking_category,
                tracking_label: 'about'
              }
            ]
          ) %>
        </div>
      </div>
    </div>
  </div>
  <div class='govuk-main-wrapper govuk-main-wrapper--xl govuk-!-padding-top-3'>
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class='govuk-heading-l'><%= t('.impact_reports_title') %></h2>
          <%= render ImageReportCardComponent.new(
            class_name: 'impact-report-card',
            show_border: true,
            title: t('.impact_report_card_2.title'),
            date: t('.impact_report_card_2.date'),
            text: t('.impact_report_card_2.text'),
            image: {
              path: 'media/images/pages/impact/impact_report.png',
              alt: t('.impact_report_card_2.image_alt')
            },
            button: {
              button_title: t('.impact_report_card_2.button_title'),
              button_url: 'https://static.teachcomputing.org/NCCE-Impact-report-2022.pdf',
              tracking_page: tracking_category,
              tracking_label: 'Impact report 2018 to 2022'
            }
          ) %>
        </div>
      </div>
      <div class="govuk-grid-row govuk-!-margin-top-7">
        <div class="govuk-grid-column-full">
          <%= render DocumentCardsComponent.new(
            class_name: 'evaluation-cards',
            show_border: true,
            tracking_category: tracking_category,
            cards: [
              {
                class_name: 'impact-graduates-card',
                title_link: {
                  title: t('.graduates_card_2.title'),
                  url: 'https://static.teachcomputing.org/Computer_Science_Accelerator_Cohort_2_Evaluation.pdf',
                  tracking_label: 'CSA cohort 2'
                },
                date: t('.graduates_card_2.date'),
                body: {
                  text: t('.graduates_card_2.text.html', executive_summary_link: (
                    link_to 'our Executive Summary',
                            'https://static.teachcomputing.org/CSA_Graduates_Evaluation_Executive_Summary.pdf',
                            class: 'ncce-link', data: tracking_data('CSA 2 exec summary')
                    )
                  ),
                }
              },
              {
                class_name: 'impact-report-card',
                title_link: {
                  title: t('.impact_report_card.title'),
                  url: 'https://static.teachcomputing.org/NCCE_Impact_Report_Final.pdf',
                  tracking_label: 'Impact report'
                },
                date: t('.impact_report_card.date'),
                body: {
                  text: t('.impact_report_card.text')
                }
              },
              {
                class_name: 'impact-graduates-card',
                title_link: {
                  title: t('.graduates_card.title'),
                  url: 'https://static.teachcomputing.org/Computer_Science_Accelerator_Cohort.pdf',
                  tracking_label: 'CSA cohort 1'
                },
                date: t('.graduates_card.date'),
                body: {
                  text: t('.graduates_card.text')
                }
              }
            ]
          ) %>
        </div>
      </div>
    </div>
  </div>
  <div class='govuk-main-wrapper govuk-main-wrapper--xl foam-bg'>
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class='govuk-heading-l'><%= t('.curriculum_reports_title') %></h2>
          <%= render ReportCardComponent.new(
            class_name: 'literacy-report-card',
            title: t('.literacy_report_card.title'),
            date: t('.literacy_report_card.date'),
            text: t('.literacy_report_card.text'),
            bullets: [
              t('.literacy_report_card.item_1.html'),
              t('.literacy_report_card.item_2.html'),
              t('.literacy_report_card.item_3.html')
            ],
            button: {
              button_title: t('.literacy_report_card.button_title'),
              button_url: 'https://static.teachcomputing.org/Programming+and+Algorithms+Report.pdf',
              tracking_page: tracking_category,
              tracking_label: 'Programming and Algorithms'
            }
          ) %>
        </div>
      </div>
      <div class="govuk-grid-row govuk-!-margin-top-7">
        <div class="govuk-grid-column-full">
          <%= render DocumentCardsComponent.new(
            class_name: 'curriculum-cards',
            tracking_category: tracking_category,
            cards: [
              {
                class_name: 'impact-gender-insights-card',
                title_link: {
                  title: t('.gender_insights_card.title'),
                  url: 'https://static.teachcomputing.org/Gender_Insights_in_Computing_Education_Foundational_Evidence_Review.pdf',
                  tracking_label: 'Gender insights'
                },
                date: t('.gender_insights_card.date'),
                body: {
                  text: t('.gender_insights_card.text')
                }
              },
              {
                class_name: 'impact-practical-programming-card',
                title_link: {
                  title: t('.practical_programming_card.title'),
                  url: 'https://static.teachcomputing.org/Practical+Work+in+Computing+Apr+22.pdf',
                  tracking_label: 'Practical programming'
                },
                date: t('.practical_programming_card.date'),
                body: {
                  text: t('.practical_programming_card.text')
                }
              },
              {
                class_name: 'computer-systems',
                title_link: {
                  title: t('.computer_systems.title'),
                  url: 'https://static.teachcomputing.org/Computer_Systems_%26_Networking_Report_-_Final.pdf',
                  tracking_label: 'computer systems'
                },
                date: t('.computer_systems.date'),
                body: {
                  text: t('.computer_systems.text')
                }
              },
              {
                class_name: 'impact-literacy-card',
                title_link: {
                  title: t('.literacy_card.title'),
                  url: 'https://static.teachcomputing.org/Digital-Literacy-Within-the-Computing-Curriculum.pdf',
                  tracking_label: 'Digital literacy'
                },
                date: t('.literacy_card.date'),
                body: {
                  text: t('.literacy_card.text')
                }
              },
              {
                class_name: 'impact-textbook-card',
                title_link: {
                  title: t('.textbook_card.title'),
                  url: 'https://static.teachcomputing.org/International_Textbook_Review.pdf',
                  tracking_label: 'Textbook review'
                },
                date: t('.textbook_card.date'),
                body: {
                  text: t('.textbook_card.text')
                }
              }
            ]
          ) %>
        </div>
      </div>
    </div>
  </div>
  <div class='govuk-main-wrapper govuk-main-wrapper--xl'>
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class='govuk-heading-l'><%= t('.research_resources_title') %></h2>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <%= render BorderedCardsComponent.new(
            class_name: 'research-resource-cards',
            cards_per_row: 3,
            cards: [
              {
                title: t('.gender_balance_card.title'),
                text: t('.gender_balance_card.text'),
                link: {
                  link_title: t('.gender_balance_card.link_title'),
                  link_url: '/gender-balance',
                  tracking_page: tracking_category,
                  tracking_label: t('.gender_balance_card.title')
                }
              },
              {
                title: t('.pedagogy_card.title'),
                text: t('.pedagogy_card.text'),
                link: {
                  link_title: t('.pedagogy_card.link_title'),
                  link_url: '/pedagogy',
                  tracking_page: tracking_category,
                  tracking_label: t('.pedagogy_card.title')
                }
              }
            ]
          ) %>
        </div>
      </div>
    </div>
  </div>
  <div class='govuk-main-wrapper govuk-main-wrapper--xl light-grey-bg'>
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class='govuk-heading-l'><%= t('.partner_resources_title') %></h2>
          <p class="govuk-body-m govuk-!-margin-bottom-0">
            <%= t('.partner_resources_text') %>
          </p>
        </div>
      </div>
      <div class="govuk-grid-row govuk-!-margin-top-7">
        <div class="govuk-grid-column-full">
          <%= render LogoCardsComponent.new(
            class_name: 'partner-resources',
            cards_per_row: 3,
            cards: [
              {
                image_url: 'media/images/logos/stem-logo-with-bg.svg',
                title_link: {
                  title: t('.stem_card.link_title'),
                  title_url: 'https://www.stem.org.uk/impact-and-evaluation',
                  tracking_page: tracking_category,
                  tracking_label: 'STEM'
                }
              }
            ]
          ) %>
        </div>
      </div>
    </div>
  </div>
</div>
