<% meta_tag :title, 'Meet our National Partners, and find out how you and your students can benefit from their complementary programmes.' %>
<%= render 'components/hero', hero_title: 'National partners', full_width: true %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l govuk-!-padding-bottom-5">We have six National Programme Partners. These partnerships provide complementary programmes that contribute to the overall offer for teachers and students.</p>
      </div>
    </div>
		<div class="landing-page-resources__grid">
      <div class="shadow_card dark_card">
				<%= link_to 'https://www.barefootcomputing.org/', class: 'govuk-footer__link ncce-link' do %>
          <img src="/images/partners/barefoot.svg" class="dark_card--image" alt="Barefoot logo">
        <% end %>
				<h2 class="govuk-heading-m dark_card--title"><%= link_to 'Barefoot from Computing at School and BT', 'https://www.barefootcomputing.org/', class: 'ncce-link' %></h2>
				<p class="govuk-body govuk-!-margin-bottom-0">Barefoot empowers primary school teachers to deliver the computing curriculum brilliantly, with free workshops, helpful online guides and engaging lesson plans and resources. Through the BT Skills for Tomorrow programme, Barefoot is helping 5 million children across the UK make the most of life in the digital world.</p>
      </div>
      <div class="shadow_card dark_card">
				<%= link_to 'https://codeclub.org/en/start-a-code-club', class: 'govuk-footer__link ncce-link' do %>
          <img src="/images/partners/code-club.svg" class="dark_card--image" alt="Code club logo">
        <% end %>
				<h2 class="govuk-heading-m dark_card--title"><%= link_to 'Code Club from Raspberry Pi Foundation', 'https://codeclub.org/en/start-a-code-club', class: 'ncce-link' %></h2>
				<p class="govuk-body govuk-!-margin-bottom-0">Code Club is an extracurricular club for young people aged 9-13. Clubs are organised by teachers and volunteers, and supported by free projects and resources from Code Club. Young people can progress through projects to create games, animations and web pages using Scratch, Python or HTML/CSS. Find out how to start your own Code Club.</p>
      </div>
      <div class="shadow_card dark_card">
				<%= link_to 'https://www.ncsc.gov.uk/cyberfirst/overview', class: 'govuk-footer__link ncce-link' do %>
          <img src="/images/partners/cyber-first.svg" class="dark_card--image" alt="Cyber Security Centre logo">
        <% end %>
				<h2 class="govuk-heading-m dark_card--title"><%= link_to 'CyberFirst', 'https://www.ncsc.gov.uk/cyberfirst/overview', class: 'ncce-link' %></h2>
				<p class="govuk-body govuk-!-margin-bottom-0">Part of the National Cyber Security Centre, CyberFirst helps young people, aged 11 to 17, to explore their passion for tech by introducing them to the fast-paced world of cyber security. They offer a broad range of activities which are available for teachers and schools to use. Each activity is designed to give learners the support, skills, experience and exposure needed to be the future first line of defence in our CyberFirst world.</p>
      </div>
      <div class="shadow_card dark_card">
				<%= link_to 'https://www.stem.org.uk/about-us/enthuse-charitable-trust', class: 'govuk-footer__link ncce-link' do %>
          <img src="/images/partners/enthuse.svg" class="dark_card--image" alt="Enthuse logo">
        <% end %>
				<h2 class="govuk-heading-m dark_card--title"><%= link_to 'ENTHUSE Charitable Trust', 'https://www.stem.org.uk/about-us/enthuse-charitable-trust', class: 'ncce-link' %></h2>
				<p class="govuk-body govuk-!-margin-bottom-0">The objectives of the Charity are to advance the education of the public, by fostering and promoting the continuing professional development (CPD) of STEM teachers and other educators of STEM subjects. Enthuse provides grants and bursaries to: schools, education service providers, and any organisation that promotes, arranges or organises courses and meetings which provide CPD to STEM educators.</p>
      </div>
      <div class="shadow_card dark_card">
				<%= link_to 'https://www.stem.org.uk/stem-ambassadors', class: 'govuk-footer__link ncce-link' do %>
          <img src="/images/partners/stem.svg" class="dark_card--image" alt="Stem Ambassadors logo">
        <% end %>
				<h2 class="govuk-heading-m dark_card--title"><%= link_to 'STEM Ambassadors', 'https://www.stem.org.uk/stem-ambassadors', class: 'ncce-link' %></h2>
				<p class="govuk-body govuk-!-margin-bottom-0">STEM Ambassadors help you bring computing to life in the classroom. With over 30,000 volunteers, including computing professionals, they are a fantastic free resource for schools. STEM Ambassadors can help in many areas from running code clubs, giving practical demonstrations, or giving a careers talk, to help break down some of the stereotypes around computing professionals.</p>
      </div>
      <div class="shadow_card dark_card">
				<%= link_to 'https://www.saferinternet.org.uk/', class: 'govuk-footer__link ncce-link' do %>
          <img src="/images/partners/safer-internet.svg" class="dark_card--image" alt="UK Safer Internet Centre logo">
        <% end %>
				<h2 class="govuk-heading-m dark_card--title"><%= link_to 'UK Safer Internet Centre', 'https://www.saferinternet.org.uk/', class: 'ncce-link' %></h2>
				<p class="govuk-body govuk-!-margin-bottom-0">UK Safer Internet Centre is a partnership of three charities (SWGfL, IWF and Childnet) with a mission to make the internet a better place for young people. One of the 32 national centres of the <%= link_to 'European Insafe network', ' https://www.betterinternetforkids.eu/web/portal/policy/insafe-inhope', class: 'ncce-link' %> - they provide advice, support, and coordinate Safer Internet Day across the UK. The Centre supports professionals working with young people with online safety issues, and offers a safe place to report and remove child sexual abuse content.</p>
      </div>
    </div>
  </div>
</div>
