<% title "Offer - Teach Computing" %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l ncce-about__title">What We Offer</h1>
        </div>
        <div class="govuk-grid-column-two-thirds ncce-about__content">
          <p class="govuk-body-l">We provide a comprehensive package of support to meet the needs of computing teachers across England, with specific support for GCSE and A level computer science.</p>
          <p class="govuk-body">Our training, resources and support are available both nationally and regionally across England, giving you access to the tools and training wherever you are.</p>

          <h2 class="govuk-heading-s">A one-stop shop for computing education</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li><%= link_to 'Face-to-face and online CPD', '/courses' %></li>
            <li><%= link_to 'Certification', '#certification' %></li>
            <li><%= link_to 'Resources, support and guidance', '#resources' %></a></li>
          </ul>

          <h2 class="govuk-heading-s"><%= content_tag :a, 'Face-to-face CPD', id: 'face-to-face-cpd' %></h2>
          <p class="govuk-body">Whether you are new to teaching computing and computer science, or are more experienced and want to help your students achieve their full potential, we have the CPD for you.</p>
          <p class="govuk-body-s"><%= link_to 'Browse available courses', courses_path, class: 'govuk-button ncce-button__pink ncce-about__link' %></p>

          <h3 class="govuk-heading-s">National Centre for Computing Education face-to-face CPD</h3>
          <p class="govuk-body">We have developed a selection of bursary-supported, face-to-face courses for teachers looking to gain confidence in teaching across the computing curriculum. There are currently a selection of primary courses available to book at venues across England, with more courses coming soon.</p>
          <ul class="govuk-list">
            <li>Outstanding teaching of key stage 1 computing</li>
            <li>Outstanding teaching of key stage 2 computing</li>
            <li>Primary programming and algorithms</li>
          </ul>
          <p class="govuk-body-s"><%= link_to 'Browse available courses', courses_path, class: 'govuk-button ncce-button__pink' %></p>

          <h3 class="govuk-heading-s">The Computer Science Accelerator Programme</h3>
          <p class="govuk-body">If you’re a secondary school teacher without a post A level qualification in computer science or a related subject then the Computer Science Accelerator Programme is specifically designed to help you. <%= link_to 'Find out more', accelerator_path, class: 'ncce-link' %></p>
          <p class="govuk-body">Face-to-face courses currently available are:</p>
          <ul class="govuk-list">
            <li>Algorithms in GCSE computer science</li>
            <li>Python programming essentials for GCSE computer science</li>
            <li>Data and computer systems in GCSE computer science</li>
            <li>Networks and cyber-security in GCSE computer science</li>
          </ul>
          <p class="govuk-body-s"><%= link_to 'Browse available courses', courses_path, class: 'govuk-button ncce-button__pink' %></p>

          <h3 class="govuk-heading-s">A Level CPD</h3>
          <p class="govuk-body">We are currently developing a comprehensive programme of support including face-to-face training for teachers and students in England for AS/A level computer science. You can read more about this in our <%= link_to 'recent article', a_level_path, class: 'ncce-link' %>.</p>

          <h2 class="govuk-heading-s"><%= content_tag :a, 'Online CPD', id: 'online-cpd' %></h2>
          <p class="govuk-body">We have created a number of free, online courses available on the FutureLearn Platform which you can access at a time and place that suits you. Interact with your peers and access the support of expert moderators, who are available to support you throughout your learning.</p>
          <p class="govuk-body">Some of the courses form part of the Computer Science Accelerator Programme, and can contribute towards the 40 hours of CPD required to complete the programme.</p>
          <p class="govuk-body-s"><%= link_to 'Browse available courses', courses_path, class: 'govuk-button ncce-button__pink' %></p>
          <p class="govuk-body">More coming online in the next few months.</p>
          <h2 class="govuk-heading-s"><%= content_tag :a, 'Certification', id: 'certification' %></h2>
          <p class="govuk-body">We are working on a system of certification to provide a pathway to chartered status for teachers of computing education. More details will be available soon.</p>
          <p class="govuk-body-s"><%= link_to 'Find out more about certification', certification_path, class: 'govuk-button ncce-button__pink' %></p>

          <h2 class="govuk-heading-s"><%= content_tag :a, 'Resources, support and guidance', id: 'resources' %></h2>
          <p class="govuk-body">Once you have registered you’ll be able to access a wide range of free resources, support and guidance, as well as network with other computing teachers and experts in your local area.</p>
          <p class="govuk-body-s"><%= link_to 'Access resources', '/resources', class: 'govuk-button ncce-button__pink', target: '_blank' %></p>
          <p class="govuk-body">We are developing a collection of quality assured learning materials which you will be able to access straight from your dashboard, to give you inspiration for planning, delivering and assessing learning.</p>

          <h3 class="govuk-heading-s">CAS local communities</h3>
          <p class="govuk-body">A CAS Local Community meeting is a great way to share ideas and network with fellow computing teachers in your locality. Getting involved in CAS is easy, follow the link below to join the community.</p>
          <p class="govuk-body">As well as having face-to-face meetings the CAS is a great way to discuss topics and view resources to help you deliver engaging teaching in the classroom.</p>
          <p class="govuk-body-s"><%= link_to 'Find your local community', 'https://www.computingatschool.org.uk/', class: 'govuk-button ncce-button__pink', target: '_blank' %></p>
        </div>

        <div class="govuk-grid-column-one-third ncce-aside">
          <h2 class="govuk-heading-s ncce-aside__title">Bursary support for your school or college</h2>
          <p class="govuk-body-s ncce-aside__text">We offer bursaries to eligible teachers to make it as easy as possible to access and attend our face-to-face CPD.</p>
          <p class="govuk-body-s"><%= link_to 'Find out more', bursary_path, class: 'ncce-link ncce-link--on-dark' %></p>
        </div>
      </div>
    </div>
</div>
