<% meta_tag :title, 'Pedagogy' %>
<%= render 'components/hero', hero_title: 'Promoting effective computing pedagogy', colour: 'green-bg', full_width: true %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Effective pedagogy is at the heart of good teaching and learning;
          successful computing teachers combine their knowledge of the subject with evidence-based teaching practices.
          As computing is a relatively new discipline, evidence of effective teaching approaches
          continues to emerge and evolve.</p>
        <h2 class="govuk-heading-m">How we teach computing</h2>
        <p class="govuk-body">The work of the NCCE is underpinned by our 12 principles of
          Computing Pedagogy, below. They are also available to <%= link_to "download as a poster (PDF, 234Kb)", "#", class: "ncce-link" %>
        </p>
        <%= render "/pages/how_to_teach_computing.html.erb" %>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="ncce-aside ncce-aside__csa-info-page">
          <h2 class="govuk-heading-s ncce-aside__title">Enrol on the programme</h2>
          <ol
            class="govuk-list govuk-list--number ncce-aside__text govuk-body-s cs-accelerator-aside__list">
            <li>
              Enrol with the click of a button
            </li>
            <li>Complete a questionnaire to assess your subject knowledge</li>
            <li>Participate in a mix of courses to suit your experience</li>
            <li>Pass a short test to receive your qualification</li>
          </ol>
          <% if current_user %>
          <p class="govuk-body">
            <%= link_to 'Enrol on this certificate', enrol_cs_accelerator_certificate_path(user_programme_enrolment: { user_id: current_user.id, programme_id: Programme.cs_accelerator.id }), method: :post, class: 'govuk-button button--aside', role: 'button', draggable: 'false' %>
          </p>
          <% else %>
          <p class="govuk-body">
            <%= link_to 'Log in', auth_url, method: :post, class: 'govuk-button button--aside', role: 'button', draggable: 'false' %>
          </p>
          <% end %>
        </div>
        <h2 class="govuk-heading-s ncce-aside__title">Useful documents</h2>
        <p class="govuk-body-s">
          <%= link_to 'Computer Science Accelerator brochure', 'https://static.teachcomputing.org/CSA.brochure.pdf', class: 'ncce-link' %>
        </p>
        <p class="govuk-body-s">
          <%= link_to 'GCSE specifications to Computer Science Accelerator course map', 'https://static.teachcomputing.org/GCSE_specifications_to_CSA_course_map.pdf', class: 'ncce-link' %> (September 2020)
        </p>
      </div>
    </div>
  </div>
</div>
