<div class="jaffa-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="text-photo-hero white-bg">
        <div class="text-photo-hero__block--text">
          <h1 class="govuk-heading-l">Inspiration and support for teaching primary computing</h1>
          <p class="govuk-body-l">Training and enrichment to help you teach and lead the computing curriculum and improve learning across your school.          </p>
        </div>
        <div class="text-photo-hero__block--photo">
          <%= image_tag '/images/primary-teachers/hero.jpg', alt: '' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l">Develop your understanding of what outstanding teaching of computing looks like, to enable you create a curriculum that provides progression for all at Key Stage 1 and 2.  </p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="light-blue-bg padded-box">
          <p class="govuk-body"><strong>
              <%= link_to 'Programming Pedagogy in Primary Schools', 'https://www.futurelearn.com/courses/primary-programming-pedagogy', class: 'ncce-link ncce-link--contrast' %></strong>
          </p>
          <p class="govuk-body">Investigate a range of pedagogical approaches suitable for teaching programming to primary school pupils (aged 5 to 11 years old).</p>
          <video poster="//view.vzaar.com/21003295/image" controls="true" playsinline="true" crossorigin="anonymous" preload="none" tabindex="-1" src="//view.vzaar.com/21003295/download/sd_lower">
            <source src="//view.vzaar.com/21003295/download/sd_lower" type="video/mp4">
            <track class="track" src="/images/primary-teachers/PrimaryPedagogy.vtt" kind="subtitles" srclang="EN" label="English">
          </video>
          <p class="govuk-body-s icons"><strong><span class="icon-online">Free
                online course</span><span class="icon-calendar">4
                weeks</span><span class="icon-clock">2 hours per
                week</span></strong></p>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="ncce-aside landing-page__aside">
          <p class="govuk-body"><strong>
              <%= link_to 'Primary programming and algorithms', 'https://ncce.stem.org.uk/cpd/ondemand/445946/primary-programming-and-algorithms', class: 'ncce-link' %></strong>
          </p>
          <p class="govuk-body-s">Discover engaging and effective ways to help children use computational thinking</p>
          <%= image_tag '/images/primary-teachers/aside.jpg', alt: '' %>
          <ul class="govuk-body-s govuk-list govuk-list--bullet">
            <li>Essential algorithm & programming knowledge</li>
            <li>Algorithms and algorithmic evaluation in KS1</li>
            <li>Sequence and repetition in KS2 apply evidence</li>
            <li>Selection and variables in KS2</li>
          </ul>
          <p class="govuk-body-s icons"><strong><span
                class="icon-face-to-face">Face to face course</span><span
                class="icon-calendar">1 day</span></strong></p>
        </div>
      </div>
    </div>
    <div class="center-button">
      <%= link_to 'Browse our courses', courses_path, class: 'govuk-button button' %>
    </div>
  </div>
</div>
<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="card card--plain card--bottom-glyph">
          <h2 class="govuk-heading-m card__heading">
            <%= link_to 'Teach primary computing', primary_path, class: 'ncce-link' %>
          </h2>
          <p class="govuk-body card__text">Our nationally recognised qualification will support you to demonstrate your commitment to developing your own practice and to computing as a school subject.</p>
          <%= link_to 'Find out more', primary_path, class: 'ncce-link' %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Your local computing community</h2>
        <h3 class="govuk-body"><strong>Hubs</strong></h3>
        <p class="govuk-body">Computing Hubs deliver face-to-face courses and provide local support to primary teachers. They are led by schools and colleges across England with an exceptional record in teaching computing.
        <%= link_to 'Find out your Hub', '/hubs' %>.
        </p>
        <h3 class="govuk-body"><strong>Local experts</strong></h3>
        <p class="govuk-body">Your local Computing Hub can connect you with a Subject Matter Expert, to help you assess your school’s computing education needs and work with you to maximise benefit from our range of primary support.
          <%= link_to 'Contact your local Subject Matter Expert', 'https://docs.google.com/forms/d/1AIL-jTMcHCxKd50eS3n7NqVSr2fzi8Plmqv0IuQ9TP4/viewform' %>.</p>
        <h3 class="govuk-body"><strong>Communities of Practice</strong></h3>
        <p class="govuk-body">Communities of Practice - run by
          <%= link_to 'Computing at School', 'https://www.computingatschool.org.uk/' %>
          (CAS) - are local networks of computing teachers that share expertise,
          resources and best practice to encourage strong and effective
          teaching.
          <%= link_to 'Find your local community', 'https://community.computingatschool.org.uk/hubs' %>.
        </p>
        <h3 class="govuk-body"><strong>Barefoot</strong></h3>
        <p class="govuk-body">Barefoot provides local computational thinking workshops and classroom-ready resources to help you teach primary computing.
        <%= link_to 'Read more about Barefoot', 'https://www.barefootcomputing.org/ncce-partnership' %>.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="light-grey-bg">
  <div class="landing-page-resources">
    <div class="govuk-width-container">
      <div class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-l">Access our free teaching resources</h2>
            <p class="govuk-body landing-page-resources__intro">Boost the
              quality of your lessons with our free
              online resource bank. You’ll get access to full units of work,
              lesson
              plans, assessments and activities.</p>
            <%= link_to 'Browse teaching resources', resources_path, class: 'govuk-button button landing-page-resources__button' %>
          </div>
        </div>
        <div class="landing-page-resources__grid">
          <div class="shadow_card">
            <h3 class="govuk-body icon-resources"><strong>Year 2 - Computer systems and networks - IT around us </strong>
            </h3>
            <p class="govuk-body">In this unit, learners will look at information technology at school and beyond, in settings such as shops, hospitals, and libraries. Learners will investigate how information technology improves our world, and they will learn about using information technology responsibly.</p>
            <%= link_to 'Access unit 2', 'https://ncce.io/Year2', class: 'govuk-body ncce-link' %>
          </div>
          <div class="shadow_card">
            <h3 class="govuk-body icon-resources"><strong>Year 3 - Computer systems and networks - Connecting Computers</strong></h3>
            <p class="govuk-body">During this unit, learners develop their understanding of digital devices, with an initial focus on inputs, processes, and outputs. They also compare digital and non-digital devices. Following this, learners are introduced to computer networks, including devices that make up a network’s infrastructure, such as wireless access points and switches.</p>
            <%= link_to 'Acces unit 3', 'https://ncce.io/Year3', class: 'govuk-body ncce-link' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>