<% meta_tag :title, 'Primary early career and trainee teachers' %>
<% meta_tag :description, 'We support early career and trainee teachers to develop their teaching of primary computing through professional development, resources and local communities.' %>

<%= render 'components/hero', hero_title: 'Primary early career and trainee teachers', subtitle: 'We support early career and trainee teachers to develop their teaching of primary computing through professional development, resources and local communities.', colour: 'lime-green-bg', full_width: true %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">First time teaching computing</h2>
        <p class="govuk-body">
          If you’re starting out teaching computing, our introductory courses and resources will build your knowledge and skills to enable you to confidently deliver computing lessons at key stage 1 and 2.
        </p>
        <%= link_to 'Access our introductory support', '/starting-out', class: 'govuk-button button', data: {event_action: 'click', event_category: 'Primary ECT', event_label: 'Introductory support'} %>

        <hr class="govuk-section-break govuk-section-break--m">

        <h2 class="govuk-heading-l">Professional development</h2>
        <p class="govuk-body">
          Our courses grow your knowledge and offer practical and effective ways to teach computing. We offer learning pathways for subject specialists and those developing their practice, leading to national certification.
        </p>
        <%= link_to 'Browse all courses', '/courses', class: 'govuk-button button', data: {event_action: 'click', event_category: 'Primary ECT', event_label: 'Browse courses'} %>
      </div>

      <div class="govuk-grid-column-one-third">
        <%= render BursaryComponent.new(
          text: 'We offer financial support to state-funded schools across England, including subsidies for supply cover to enable you to participate in professional development.',
          link_title: 'Check your eligibility',
          tracking_event_category: 'Primary ECT',
          tracking_event_label: 'Funding',
          bottom_margin: false
        ) %>
      </div>
    </div>
  </div>
</div>

<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-xl">Resources</h2>
            <div class="card card--primary-certificate card--bottom-glyph card--landing-page lp-certs--card lp-certs__card--wide">
              <div class="lp-certs--card-header">
                <h2 class="govuk-heading-m card__heading lp-certs--card-heading">Early career support guide</h2>
              </div>
              <p class="govuk-body card__text card__text-landing-page">
                We can support trainee and early career teachers at all levels to meet and evidence the teacher standards. The early careers support guidance we have put together maps out our offer against the eight areas of performance you are working to achieve.
              </p>
              <p class="govuk-body govuk-!-margin-bottom-3">
                <%= link_to 'Download early career support guide', 'https://static.teachcomputing.org/NCCE-early_career_support_for_teachers.pdf', class: 'ncce-link', data: tracking_data('ECT guide') %>
              </p>
            </div>

            <div class="card card--primary-certificate card--bottom-glyph card--landing-page lp-certs--card lp-certs__card--wide">
              <div class="lp-certs--card-header">
                <h2 class="govuk-heading-m card__heading lp-certs--card-heading">Teach Computing Curriculum</h2>
              </div>
              <p class="govuk-body card__text">
                If you're on placement or have started your first year of teaching and would like support with lesson planning, our curriculum contains everything you need to teach computing. It includes lesson plans, slides, worksheets, homework and assessments.
              </p>
              <p class="govuk-body govuk-!-margin-bottom-3">
                <%= link_to 'Browse curriculum resources', curriculum_key_stages_path, class: 'ncce-link', data: tracking_data('Curriculum') %>
              </p>
            </div>

            <div class="card card--primary-certificate card--bottom-glyph card--landing-page lp-certs--card lp-certs__card--wide">
              <div class="lp-certs--card-header">
                <h2 class="govuk-heading-m card__heading lp-certs--card-heading">Pedagogy</h2>
              </div>
              <p class="govuk-body card__text">
                Augment your curriculum knowledge with evidence-based teaching practices. Our <%= link_to '12 principles of computing pedagogy', 'https://www.teachcomputing.org/blog/how-we-teach-computing', class: 'ncce-link', data: tracking_data('Pedagogy principles') %> are embedded across everything we do, including our Teach Computing Curriculum and CPD.
              </p>
              <p class="govuk-body govuk-!-margin-bottom-3">
                <%= link_to 'Discover pedagogy resources', pedagogy_path, class: 'ncce-link', data: tracking_data('Pedagogy resources') %>
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<%= render 'communities' %>
