<% meta_tag :title, t('.hero.title') %>
<% meta_tag :description, t('.hero.subtitle') %>
<% meta_tag :url, request.original_url %>

<%# Hero: Support for primary senior leaders %>
<%= render HeroComponent.new(
  title: t('.hero.title'),
  subtitle: t('.hero.subtitle'),
  color: 'primary',
  small_title: true
) %>

<%# How we can help you and your school %>
<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l"><%= t(".support.title") %></h2>

          <p class="govuk-body">
            <%= t(".support.paragraph_1") %>
          </p>
          <p class="govuk-body">
            <%= t(".support.paragraph_2") %>
          </p>
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-margin-top-6">
        <div class="govuk-grid-column-full">
          <%= render IconRowComponent.new(
            icons: [
              { image_url: "media/images/icons/curriculum.svg", text: "Curriculum design"},
              { image_url: "media/images/icons/subject_knowledge.svg", text: "Subject knowledge"},
              { image_url: "media/images/icons/physical_computing_kits.svg", text: "Physical computing kits"},
              { image_url: "media/images/icons/real_world.svg", text: "Real-world contexts"},
              { image_url: "media/images/icons/subject_matter_experts.svg", text: "Subject matter experts support"},
            ]
          ) %>
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-margin-top-6">
        <div class="govuk-grid-column-two-thirds senior-leaders">

          <%= render partial: 'pages/computing_quality_framework' %>
         
        </div>
        <div class="govuk-grid-column-one-third">
          <%= render AsideComponent.new(
            title: "Guidance for offering computing",
            text: "Our network of #{link_to('Computing Hubs', hubs_url)} is there to support you and your school to offer exemplary computing education for all.".html_safe
          ) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="govuk-width-container">
  <div class='govuk-main-wrapper'>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= render NonBorderedCardsComponent.new(
          class_name: 'senior-leaders',
          cards_per_row: 3,
          cards: [
            {
              title: t('.objectives.cards.confidence.title'),
              text: t('.objectives.cards.confidence.text.html',
                  subsidies_link: (link_to('subsidies', cms_page_url('funding', anchor: 'primary-subsidy')))),
              image_url: 'media/images/pages/primary-senior-leaders/build_confidence_in_your_teachers.svg',

              link: { link_url: courses_url, link_title: t('.objectives.cards.confidence.link_text')}
            },
            {
              title: t('.objectives.cards.teach-primary.title'),
              text: t('.objectives.cards.teach-primary.text.html'),
              image_url: 'media/images/pages/primary-senior-leaders/teach_primary_computing.svg',
              link: { link_url: primary_certificate_url, link_title: t('.objectives.cards.teach-primary.link_text')}
            },
            {
              title: t('.objectives.cards.download-brochure.title'),
              text: t('.objectives.cards.download-brochure.text.html'),
              image_url: 'media/images/pages/primary-senior-leaders/download_brochure.svg',
              link: { link_url: 'https://static.teachcomputing.org/NCCE_Primary_Brochure_Digital_September.pdf', link_title: t('.objectives.cards.download-brochure.link_text')}
            },
          ]
        )%>
      </div>
    </div>
  </div>
</div>

<%= render partial: "pages/inspire_with_computing_ambassador" %>

<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class='govuk-main-wrapper'>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <h1 class="govuk-heading-l"><%= t(".resources.title") %></h1>

          <p class="govuk-body"><%= t(".resources.description") %></p>

          <%= render BorderedCardsComponent.new(
            cards_per_row: 3,
            class_name: 'resources-help-cards',
            cards: [
              {
                class_name: 'bordered-card--primary-cert',
                title: t('.resources.cards.curriculum.title'),
                text: t('.resources.cards.curriculum.text.html'),
                link: {
                  link_title: t('.resources.cards.curriculum.link.title'),
                  link_url: t('.resources.cards.curriculum.link.url'),
                  tracking_page: 'Primary SLT',
                  tracking_label: t('.resources.cards.curriculum.link.event-label')
                }
              },
              {
                class_name: 'bordered-card--primary-cert',
                title: t('.resources.cards.glossary.title'),
                text: t('.resources.cards.glossary.text.html'),
                link: {
                  link_title: t('.resources.cards.glossary.link.title'),
                  link_url: t('.resources.cards.glossary.link.url'),
                  tracking_page: 'Primary SLT',
                  tracking_label: t('.resources.cards.glossary.link.event-label')
                }
              },
              {
                class_name: 'bordered-card--primary-cert',
                title: t('.resources.cards.enrichment.title'),
                text: t('.resources.cards.enrichment.text.html'),
                link: {
                  link_title: t('.resources.cards.enrichment.link.title'),
                  link_url: t('.resources.cards.enrichment.link.url'),
                  tracking_page: 'Primary SLT',
                  tracking_label: t('.resources.cards.enrichment.link.event-label')
                }
              }
            ]
          ) %>
        </div>
        </div>
    </div>
  </div>
</div>
