<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-column">
      <h1 class="govuk-heading-l">Privacy Notice</h1>
      <p class="govuk-body">The National Centre for Computing Education is a Government run programme of support for computing teachers in England. It is delivered by a consortium of three partners: STEM Learning, the Raspberry Pi Foundation and BCS, the Chartered Institute for IT.</p>
      <p class="govuk-body">We take the care of your personal data seriously. This privacy notice is here to explain how the personal data you supply to us is collected and used.</p>
      <p class="govuk-body">We ensure that we use your information in accordance with all applicable laws concerning the protection of personal information. In this document we will explain:</p>
      <ul class="govuk-body">
        <li>Who we are</li>
        <li>What information we collect about you</li>
        <li>Why we collect that information</li>
        <li>How we collect and store that information</li>
        <li>What we use your information for</li>
        <li>On what legal basis we use your information</li>
        <li>Who we share your information with</li>
        <li>How long we keep your information for</li>
        <li>Your rights</li>
        <li>Information about cookies</li>
        <li>About changes to our privacy policy</li>
        <li>How to contact us about your data</li>
      </ul>
      <p class="govuk-body">If you have any questions at any time about data privacy with the National Centre for Computing Education please contact us at <%= mail_to 'datasecurity@stem.org.uk', 'datasecurity@stem.org.uk', class: 'ncce-link' %> or write to: The Data Protection Officer, STEM Learning, University of York, York, YO10 5DD.</p>
      <h2 class="govuk-heading-m">1. Who we are</h2>
      <p class="govuk-body">The National Centre for Computing Education is a programme funded by the Department for Education. The Department for Education is the data controller for all information collected as part of this programme of work. A consortium has been contracted by the Department for Education to deliver this programme.</p>
      <p class="govuk-body">The Consortium comprises:</p>
      <ul class="govuk-body">
        <li>STEM Learning Ltd is the UK’s largest provider of education and careers support in science, technology, engineering and mathematics (STEM). It has a mission to improve lives through world-leading STEM education. For more information, visit <%= link_to 'www.stem.org.uk', 'https://www.stem.org.uk/', class: 'ncce-link', target: '_blank' %></li>
        <li>The Raspberry Pi Foundation creates world class educational resources for computing and computer science used by millions of people each year, and has developed online courses that have supported tens of thousands of computing educators. For more information, visit <%= link_to 'www.raspberrypi.org', 'https://www.raspberrypi.org/', class: 'ncce-link', target: '_blank' %> Registered Charity 1129409</li>
        <li>BCS, The Chartered Institute for IT is the professional body for computing and, as part of its Royal Charter, sets and maintains academic and professional standards in computing. For more information, visit <%= link_to 'www.bcs.org', 'https://www.bcs.org/', class: 'ncce-link', target: '_blank' %> Registered Charity 292786</li>
      </ul>
      <h2 class="govuk-heading-m">2. What information we collect about you</h2>
      <p class="govuk-body">We aim to collect only the information that we think is required for the purpose for which we collect it.</p>
      <p class="govuk-body">We collect and process personal data about you when you interact with us and our products or participate in any of our programmes. The personal data we process may include:</p>
      <ul class="govuk-body">
        <li>name;</li>
        <li>work address, email address and/or phone number;</li>
        <li>job title / areas of interest;</li>
        <li>payment and invoicing details, including information required to support application </li>
        <li>dietary requirements</li>
        <li>technical information as described below</li>
      </ul>
      <p class="govuk-body">When you visit our website, we may collect technical information relating to your use of our website, including your browser type or the Internet Protocol (IP) address used to connect your computer to the internet. For more on this, see section 10, “Information about cookies”.</p>
      <p class="govuk-body">As the information we collect about you will be stored on our IT infrastructures, it may also be shared with our data processors who provide email, relationship management, anonymous analytics and storage services.</p>
      <h2 class="govuk-heading-m">3. Why we collect that information</h2>
      <p class="govuk-body">We collect your information for the following reasons:</p>
      <ul class="govuk-body">
        <li>When you sign up to participate in any of our programmes</li>
        <li>When you visit our website</li>
        <li>When you sign up to receive our marketing emails</li>
        <li>When you have made a request for information from us</li>
      </ul>
      <h2 class="govuk-heading-m">4. How we collect and store that information</h2>
      <p class="govuk-body">We take appropriate technical and organisational measures to ensure that the information disclosed to us is kept secure, accurate, and up to date, and that it is kept only for as long as is necessary for the purposes for which it is used.
        You should be aware that the use of the internet is not entirely secure, and although we will do our best to protect your personal data, we cannot guarantee the security or integrity of any personal information that is transferred from you or to you via the internet. Any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features such as encryption to try to prevent unauthorised access.</p>
      <h2 class="govuk-heading-m">5. What we use your information for</h2>
      <p class="govuk-body">We collect your data on the occasions listed in section 3, “Why we collect that Information”.</p>
      <p class="govuk-body">We use the information we have collected to deliver to you 1) information and services connected with the National Centre for Computing Education, and 2) any marketing emails you subscribe to.</p>
      <p class="govuk-body">Where we have obtained your consent, we may use your image or quotes in our marketing materials. Please note that where information has been used in printed material, it will not be possible for this to be withdrawn.</p>
      <h2 class="govuk-heading-m">6. On what legal basis we use your information</h2>
      <p class="govuk-body">We have a lawful basis for collecting your data as set out in section 3, “Why we collect that Information”, and for using the data for the purposes described in section 5, “What we use your information for”.</p>
      <p class="govuk-body">Lawful basis may include:</p>
      <ul class="govuk-body">
        <li>Where we have your consent.</li>
        <li>Where processing is necessary for the performance of a contract to which you are a party. If you fail to provide this information, we may be unable to perform the contract.</li>
        <li>Where it is within legitimate interests to process your information. We know that under this basis of processing, we have a heightened responsibility to keep your interests central and to make sure that your rights as a data subject override our legitimate interest.</li>
        <li>Where we need to comply with a legal obligation.</li>
      </ul>
      <h2 class="govuk-heading-m">7. Who we share your information with</h2>
      <p class="govuk-body">We never sell your information to any third party.</p>
      <p class="govuk-body">We do use third parties to process your personal data on our behalf. These third party processors are listed below. We do change these processors from time to time and will do what we can to update this table regularly.</p>
      <table class="govuk-table">
        <col width="30%">
        <col width="70%">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Third party processor</th>
            <th class="govuk-table__header" scope="col">For what purpose</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">STEM Learning Limited</th>
            <td class="govuk-table__cell">Business processing, marketing and reporting</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">Raspberry Pi Foundation</th>
            <td class="govuk-table__cell">Business processing, marketing and reporting</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">British Computing Society</th>
            <td class="govuk-table__cell">Business processing, marketing and reporting</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">Computing Hubs</th>
            <td class="govuk-table__cell">Business processing, local marketing and reporting</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">Email system – Adestra</th>
            <td class="govuk-table__cell">To send marketing emails to users who have signed up to this service</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">Research organisations</th>
            <td class="govuk-table__cell">We will provide relevant information to our funders and research partners for research purposes, including those suppliers contracted by the Department for Education to evaluate the National Centre for Computing and associated programmes</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">CPD/training venues and deliverers</th>
            <td class="govuk-table__cell">If you are booking a CPD activity we will share only the information necessary to complete your CPD activity</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">CPD sponsor</th>
            <td class="govuk-table__cell">If it is clear on the CPD activity that there is a professional development sponsor then the professional development sponsor may hold and process your information, and you may be contacted by them regarding their relevant products and services</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">Assessors</th>
            <td class="govuk-table__cell">When completing certification your information will be passed to external assessors for processing</td>
          </tr>
        </tbody>
      </table>
      <p class="govuk-body">We may share your information with other relevant organisations if you are asked and you agree that your information can be shared in that way.</p>
      <p class="govuk-body">As part of the services offered to you through the National Centre for Computing Education, the information you provide may be transferred to countries outside the European Economic Area. These countries may not have similar data protection laws to the UK. By submitting your personal data, you’re agreeing to this transfer, storing or processing. When transferring your information outside of the EU in this way, we take steps to ensure that appropriate security measures are taken with the aim of ensuring that your privacy rights continue to be protected. For example, if using a service in the US it is signed up to the EU-US Privacy Shield.</p>
      <h2 class="govuk-heading-m">8. How long we keep your information for</h2>
      <p class="govuk-body">We keep your information for no longer than is necessary for our purposes, or for any period required by law, for example for compliance with HMRC requirements, if this is longer. What is necessary will depend on the reason for which the information was collected. We are developing a data retention schedule and will share this in due course.</p>
      <p class="govuk-body">If you have any questions about how long we keep your information, contact us at <%= mail_to 'datasecurity@stem.org.uk', 'datasecurity@stem.org.uk', class: 'ncce-link' %></p>
      <h2 class="govuk-heading-m">9. Your rights</h2>
      <p class="govuk-body"><strong>Right of access</strong> — you have a right to ask us to confirm whether we are processing information about you, and to request access to this information.</p>
      <p class="govuk-body"><strong>Right to rectification</strong> — it is your responsibility to see that the information held on the website is up to date. We may also update some information if we identify it is out of date, for example a school closes and reopens with a different name. You may ask us to rectify information you think is inaccurate, and you may also ask us to remove information which is inaccurate or incomplete. If you inform us that your personal data is inaccurate, we will inform relevant third parties with whom we have shared your data so that they may update their own records.</p>
      <p class="govuk-body">In order to ensure we do not hold any out of date information for individuals we regularly remove registered users for whom we do not have a valid email address; this includes those accounts to which the email address has been reported as undeliverable.</p>
      <p class="govuk-body"><strong>Right of portability</strong> — you have a right to obtain your personal data from us and reuse it for your own purposes.</p>
      <p class="govuk-body"><strong>Right to be forgotten</strong> — You have a right to seek the erasure of your data, for example where it is no longer necessary for us to continue holding or processing your personal data. This right is not absolute, as we may need to continue processing this information to comply with a legal obligation.</p>
      <p class="govuk-body"><strong>Right to restriction</strong> — you have a right to ask us to restrict our processing of your information if:</p>
      <ul class="govuk-body">
        <li>You contest its accuracy and we need to verify whether it is accurate.</li>
        <li>You ask us to restrict use of it instead of deleting it.</li>
        <li>We no longer need the information for the purpose of processing, but you need it to establish or defend legal claims.</li>
        <li>You have objected to processing of your information being necessary for the purposes of our legitimate interests. The restriction would apply while we carry out a balancing act between your rights and our legitimate interests. If you exercise your right to restrict processing, we would still need to process your information for the purpose of exercising or defending legal claims, for the purpose of protecting the rights of another person, or for public interest reasons.</li>
      </ul>
      <p class="govuk-body">You can always unsubscribe from any marketing emails. There is a link at the bottom of each email. If you have any problems unsubscribing please email <%= mail_to 'info@teachcomputing.org', 'info@teachcomputing.org', class: 'ncce-link' %>.</p>
      <p class="govuk-body"><strong>Accessing your personal information</strong> — you can find out if we hold any personal information by making a ‘subject access request’. If we do hold information about you we will:</p>
      <ul class="govuk-body">
        <li>give you a description of it</li>
        <li>tell you why we are holding it</li>
        <li>tell you who it could be disclosed to</li>
        <li>let you have a copy of the information in an intelligible form</li>
      </ul>
      <p class="govuk-body">To make a request for any personal information we may hold or exercise any of your rights, you need to put the request in writing addressing it to: The Data Protection Officer, STEM Learning, University of York, York, YO10 5DD.</p>
      <p class="govuk-body">We may ask for your help in locating specific information and confirming your identity. We will act in accordance with your instructions as soon as reasonably possible, and there will be no charge.</p>
      <p class="govuk-body">If you agree, we will try to deal with your request informally, for example by providing you with the specific information you need over the telephone.</p>
      <p class="govuk-body">Our use of your data processed in the UK is regulated by the Information Commissioner. You have a right to report any of your concerns about our use of your data to the Information Commissioner’s Office.</p>
      <h2 class="govuk-heading-m">10. Cookies</h2>
      <p class="govuk-body">Cookies are small text files that are placed on your computer by websites that you visit. They are widely used in order to make websites work, or work more efficiently, as well as to provide information to the owners of the site. In this policy the term “cookie” describes a range of technologies, including cookies, web beacons and pixel tags.</p>
      <p class="govuk-body">There are two main types of cookies that are used on the website:</p>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">Session cookies</th>
            <td class="govuk-table__cell">These are set at the start of your visit to the website and only exist for
            the time you remain on the website. They are removed when you close
            your browser. </td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">Persistent cookies</th>
            <td class="govuk-table__cell">These remain on your until they expire or are deleted. Many have automation deletion dates so your device isn’t overloaded with cookies. </td>
          </tr>
        </tbody>
      </table>

      <p class="govuk-body">The website uses both types of cookies to simplify the user journey and enhance the user’s experience of the website.</p>
      <p class="govuk-body">Cookies can also be classed as 1st or 3rd party cookies:</p>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">1st Party cookies</th>
            <td class="govuk-table__cell">These cookies are set and owned by the website.</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">3 rd Party cookies</th>
            <td class="govuk-table__cell">These cookies are set and owned by a party other than that of the ebsite. These are usually a partner who is providing services to us as the website owner.</td>
          </tr>
        </tbody>
      </table>
      <h3 class="govuk-heading-s">Use of cookies by this website </h3>

      <p class="govuk-body">A number of the cookies that we use on the website are essential for parts of the site to operate
      and some have already been set. You may delete and block all cookies from the site, but parts of
      the site will not work.</p>
      <p class="govuk-body">There are a number of different types of cookies which have different purposes:</p>
      <ul class="govuk-body">
        <li>Necessary – enable you to use our site and services</li>
        <li>Functional – remember choices you make to improve site experience </li>
        <li>Performance/analytics – anonymised and aggregated information collection about how visitors use our site and services </li>
        <li>Targeting and advertising – collect information about browsing habits to deliver ads relevant to you and your interests. Usually placed by ad network with our permission </li>
      </ul>
      <p class="govuk-body">The following cookies are used by the website:</p>
      <h3 class="govuk-heading-s">Necessary and Functional Cookies </h3>
      <p class="govuk-body">These are necessary and/or functional types of cookies. Disabling these would affect the
      functionality and may restrict access to certain parts of the website.</p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Cookie</th>
            <th class="govuk-table__header" scope="col">Name</th>
            <th class="govuk-table__header govuk-!-width-one-half" scope="col">Purpose</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">PHP Session ID</th>
            <td class="govuk-table__cell">SSESS
            </br>PHPSESSID</td>
            <td class="govuk-table__cell">Used by the website to
            identify a user that is
            logged in</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">SimpleSAML</th>
            <td class="govuk-table__cell">SimpleSAMLAuthToken</br>
            SimpleSAMLSessionID</td>
            <td class="govuk-table__cell">Used as part of the website authentication process that enables users to remain logged in and allows the website to track unique login sessions.</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">Drupal core</th>
            <td class="govuk-table__cell">has_js</td>
            <td class="govuk-table__cell">Used by the website to see if the user’s browser has javascript enabled or not</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">Drupal core</th>
            <td class="govuk-table__cell">Drupal.tableDrag.showWeight</td>
            <td class="govuk-table__cell">Used by the website to
            remember if you would like to show weights column in tables with drag/drop functionality to sort it. </td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">
            Drupal Module:</br>module_filter</th>
            <td class="govuk-table__cell">DrupalModuleFilter</td>
            <td class="govuk-table__cell">Added by the website to remember preferences about last access to the admin/module page.</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">
            Drupal Module:</br>eu_cookie_compliance</th>
            <td class="govuk-table__cell">cookie-agreed_[date]</td>
            <td class="govuk-table__cell">This is used to remember that you have accepted the cookie warning so you don’t have to accept it every time you visit the site</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">Drupal Module:</br>stem_comm_resource</th>
            <td class="govuk-table__cell">community_resources_by_user-</br>
            dashboard_resources-sort_by</td>
            <td class="govuk-table__cell">This cookie is used to store your sorting preferences for the "My Resources" list of the dashboard. </td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">Drupal Module:</br>stem_comm_resource</th>
            <td class="govuk-table__cell">community_resources_by_user-</br>
            panel_pane_2-sort_by</td>
            <td class="govuk-table__cell">This cookie is used to store your sorting preferences for the "My Collections" list of the dashboard. </td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">
            Drupal Module:</br>stem_og_invite_register</th>
            <td class="govuk-table__cell">Drupal_visitor_stem_og_register_validated</td>
            <td class="govuk-table__cell">Used to remember if an invite to groups has been validated or not.</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">
            Drupal Module:</br>stem_user</th>
            <td class="govuk-table__cell">stem_user_privacy_policy_banner_link</td>
            <td class="govuk-table__cell">Used to remember if the Privacy Policy banner has been shown to the user or not.</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">
            Drupal Module:</br>stem_course_ab</th>
            <td class="govuk-table__cell">stem_course_ab</br>
            stem_course_ab_nid</td>
            <td class="govuk-table__cell">Used to redirect a user to the correct course during A/B testing. </td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">Custom Javascript</th>
            <td class="govuk-table__cell">isSideMenuOpenCookie</td>
            <td class="govuk-table__cell">Used to remember if the sidebar is open or closed when on the STEM Ambassador area of the website. </td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">Wistia</th>
            <td class="govuk-table__cell">__distillery</br>
            wistia-http2-push-disabled</td>
            <td class="govuk-table__cell">Used by our video system to recall a playback position and resume from that point if interrupted. </td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-s">Performance Cookies</h3>
      <p class="govuk-body">These cookies collect information about how visitors use the website, for example which pages visitors go to most often. All information collected by these cookies collect is aggregated and anonymous. </p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Cookie</th>
            <th class="govuk-table__header" scope="col">Name</th>
            <th class="govuk-table__header" scope="col">Purpose</th>
            <th class="govuk-table__header" scope="col"></th>
            <th class="govuk-table__header" scope="col">Privacy Policy</th>
            <th class="govuk-table__header" scope="col">Opt Out</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">Universal
            analytics (Google)</th>
            <td class="govuk-table__cell">_ga, _gat, _gid</td>
            <td class="govuk-table__cell">These cookies are used to collect information about how visitors use the website. We use the information to compile reports and to help us improve the website. The cookies collect information in an anonymous form, including the number of visitors to the website, where visitors have come to the website from and the pages they visited. Read Google's overview of privacy and safeguarding data</td>
            <td class="govuk-table__cell"><%= link_to "Read Google's overview of privacy and safeguarding data", 'https://support.google.com/analytics/answer/6004245', class: 'ncce-link', target: '_blank' %></td>
            <td class="govuk-table__cell"><%= link_to 'Privacy Policy', 'https://policies.google.com/privacy?hl=en', class: 'ncce-link', target: '_blank' %></td>
            <td class="govuk-table__cell"><%= link_to 'Opt out', 'https://support.google.com/analytics/answer/181881?hl=en', class: 'ncce-link', target: '_blank' %></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">Google Analytics - Doubleclick </th>
            <td class="govuk-table__cell">IDE </br>DSID</td>
            <td class="govuk-table__cell">This cookie is used to send data to Google Analytics about the visitor’s device and behaviour. It tracks visitors across devices and marketing channels. </td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><%= link_to 'Privacy Policy', 'https://policies.google.com/privacy?hl=en', class: 'ncce-link', target: '_blank' %></td>
            <td class="govuk-table__cell"><%= link_to 'Opt out', 'https://support.google.com/analytics/answer/181881?hl=en', class: 'ncce-link', target: '_blank' %></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">Google Maps -
            Iframe // </br>Recaptcha </th>
            <td class="govuk-table__cell">1P_JAR</br> APISID</br> HSID</br> NID</br> OGPC</br> SAPISID</br> SID</br> SIDCC</br> SSID</br>
            </td>
            <td class="govuk-table__cell">These cookies are added by Google Services which we use on the website to identify user/session and track it. </td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><%= link_to 'Privacy Policy', 'https://policies.google.com/privacy?hl=en', class: 'ncce-link', target: '_blank' %></td>
            <td class="govuk-table__cell"><%= link_to 'How to opt out', 'https://support.google.com/ads/answer/2662922?hl=en-GB', class: 'ncce-link', target: '_blank' %></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">MessageFocus conversion tracking (Adestra) </th>
            <td class="govuk-table__cell">adestra_ctrk</td>
            <td class="govuk-table__cell">This cookie is used to track the website activity of a visitor who has clicked through to the website from an email. </td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><%= link_to 'Privacy Policy', 'https://www.adestra.com/privacy-policy/', class: 'ncce-link', target: '_blank' %></td>
            <td class="govuk-table__cell"><%= link_to 'Opt out', 'https://www.adestra.com/cookies/#section3', class: 'ncce-link', target: '_blank' %></td>
          </tr>
        </tbody>
      </table>
      <h3 class="govuk-heading-s">How do I change my cookie settings?</h3>
      <p class="govuk-body">Most web browsers allow some control of cookies through the browser settings. To find out more about cookies, including how to see what cookies have been set, visit <%= link_to 'www.aboutcookies.org', 'https://www.aboutcookies.org', class: 'ncce-link', target: '_blank' %> or <%= link_to 'www.allaboutcookies.org', 'https://www.allaboutcookies.org', class: 'ncce-link', target: '_blank' %>.</p>
      <p class="govuk-body">When someone visits our website we use Google Analytics to collect standard internet log information, details of visitor behaviour patterns and search terms being used on the site. To opt out of being tracked by Google Analytics visit <%= link_to 'http://tools.google.com/dlpage/gaoptout.', 'http://tools.google.com/dlpage/gaoptout', class: 'ncce-link', target: '_blank' %>.</p>

      <h3 class="govuk-heading-s">Targeting and Advertising Cookies</h3>
      <p class="govuk-body">These cookies are used to serve advertisements that are more relevant to you and your interests. You can manage the use of internet-based advertising cookies and disable the sharing of information about your online activities across websites and interactive properties. </p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Google Ads</th>
            <th class="govuk-table__header govuk-!-width-one-half" scope="col">Advertising cookie</th>
            <th class="govuk-table__header" scope="col"><%= link_to 'Privacy Policy', 'https://policies.google.com/privacy?hl=en-GB&gl=uk', class: 'ncce-link', target: '_blank' %></th>
            <th class="govuk-table__header" scope="col"><%= link_to 'Opt out', 'https://support.google.com/ads/answer/2662922?hl=en-GB', class: 'ncce-link', target: '_blank' %></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">Twitter</th>
            <td class="govuk-table__cell">These cookies are used by Twitter in order to integrate functionality into our website. The cookies are used for a variety of purposes including  targeted advertising and  campaign measurement. </td>
            <td class="govuk-table__cell"><%= link_to 'Privacy Policy', 'https://twitter.com/en/privacy#update', class: 'ncce-link', target: '_blank' %></td>
            <td class="govuk-table__cell"><%= link_to 'How to opt out', 'https://help.twitter.com/en/safety-and-security/privacy-controls-for-tailored-ads', class: 'ncce-link', target: '_blank' %></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header ncce-table__header" scope="row">Facebook</th>
            <td class="govuk-table__cell">This is a ‘web beacon’ that is used to serve you with advertisements that may be relevant to you and your interests. It may also be used to help measure the effectiveness of advertising campaigns. </td>
            <td class="govuk-table__cell"><%= link_to 'Privacy Policy', 'https://www.facebook.com/about/privacy/update?ref=old_policy', class: 'ncce-link', target: '_blank' %></td>
            <td class="govuk-table__cell"><%= link_to 'How to opt out', 'https://www.facebook.com/help/568137493302217', class: 'ncce-link', target: '_blank' %></td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-s">Interest-based advertising</h3>
      <p class="govuk-body">
      Some targeted advertisements that we display to you across third party operated websites and  properties may include the “Ad Choices” icon or another mechanism to opt out of receiving interest-based advertisements. You can click on the AdChoices icon or visit <%= link_to 'www.aboutads.info', 'https://www.aboutads.info', class: 'ncce-link', target: '_blank' %> to receive more information about your online activities or to opt out of having your data used for interest-based advertising by Digital Advertising Alliance (DAA) participating companies.

      <h2 class="govuk-heading-m">11. Updates to this policy </h2>
      <p class="govuk-body">We may occasionally make changes to this policy. </p>
      <p class="govuk-body">When we make changes to this policy, we will provide you with a prominent notice e.g by displaying a notice on the website. </p>
      <h2 class="govuk-heading-m">12. How to contact us about your data</h2>
      <p class="govuk-body">Data rights are human rights and we are determined to fairly and fully honour yours. You can unsubscribe at any time or just get in touch with any questions, comments, or instructions regarding your information by writing to <%= mail_to 'datasecurity@stem.org.uk', 'datasecurity@stem.org.uk', class: 'ncce-link' %> or writing to: The Data Protection Officer, STEM Learning, University of York, York, YO10 5DD</p>
    </div>
  </div>
</div>
