<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Teaching resources</h1>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">World-class lesson plans, unit guides and teacher guides to help you <strong>teach computing</strong>.</p>
          <p class="govuk-body">If you would like to provide us feedback on any of our resources, you can do so via this form https://forms.gle/qT2XqoCecYjLLohC6 or by contacting us at <%= mail_to 'resourcesfeedback@raspberrypi.org', 'Feedback' %>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/resources/key-stage-header', key_stage: 1, guide_url: '#'%>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <%= render 'pages/resources/year-1' %>
    <%= render 'pages/resources/year-2' %>
  </div>
</div>
<%= render 'pages/resources/key-stage-header', key_stage: 2, guide_url: '#'%>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <%= render 'pages/resources/year-3' %>
  </div>
</div>
<%= render 'pages/resources/key-stage-header', key_stage: 3, guide_url: '#'%>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <%= render 'pages/resources/year-7' %>
    <%= render 'pages/resources/year-8' %>
    <%= render 'pages/resources/year-9' %>
  </div>
</div>
