<% meta_tag :title, 'Secondary Senior Leaders' %>
<% meta_tag :description, 'Visit our Secondary senior leaders page to see what CPD and support we offer, and our guide to delivering the computing curriculum' %>
<% meta_tag :url, request.original_url %>

<%# Hero: Support for secondary senior leaders %>
<%= render 'components/hero',
           hero_title: t('.hero.title'),
           subtitle: t('.hero.subtitle'),
           full_width: true,
           glyph_position: 'bottom',
           colour: 'purple'
%>

<%# How we can help you and your school or college %>
<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <%= render TickListCollectionComponent.new(
          title: 'How we can help you and your school or college',
          tick_list_collection: [
            {
              title: t('.quality-framework-tick-list.title'),
              text: t('.quality-framework-tick-list.text'),
              bullets: [
                t('.quality-framework-tick-list.bullets.identify'),
                t('.quality-framework-tick-list.bullets.feedback'),
                t('.quality-framework-tick-list.bullets.track')
              ],
              button: {
                button_title: t('.quality-framework-tick-list.button.title'),
                button_url: t('.quality-framework-tick-list.button.url'),
                tracking_page: 'Secondary SLT',
                tracking_label: t('.quality-framework-tick-list.button.event-label')
              }
            },
            {
              title: t('.guidance-tick-list.title'),
              text: t('.guidance-tick-list.text'),
              bullets: [
                t('.guidance-tick-list.bullets.identify'),
                t('.guidance-tick-list.bullets.develop'),
                t('.guidance-tick-list.bullets.recommend')
              ],
              button: {
                button_title: t('.guidance-tick-list.button.title'),
                button_url: t('.guidance-tick-list.button.url'),
                tracking_page: 'Secondary SLT',
                tracking_label: t('.guidance-tick-list.button.event-label')
              }
            }
          ]
        ) %>
      </div>
    </div>
  </div>
</div>

<%# How we can help your teachers %>
<div class="govuk-width-container">
  <div class='govuk-main-wrapper govuk-main-wrapper--xl'>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class='govuk-heading-l'><%= t('.how-we-help.title') %></h2>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-margin-top-7">
        <%= render BorderedCardsComponent.new(
          cards_per_row: 3,
          class_name: 'teacher-help-cards',
          cards: [
            {
              class_name: 'bordered-card--secondary-cert',
              title: t('.how-we-help.cards.courses.title'),
              text: t(
                '.how-we-help.cards.courses.text.html',
                all_courses_link: (link_to(
                  t('.how-we-help.cards.courses.text.all-courses-link.title'),
                  t('.how-we-help.cards.courses.text.all-courses-link.url'),
                  tracking_page: 'Secondary SLT',
                  tracking_label: t('.how-we-help.cards.courses.text.all-courses-link.event-label')
                ))
              ),
              link: {
                link_title: t('.how-we-help.cards.courses.link.title'),
                link_url: t('.how-we-help.cards.courses.link.url'),
                tracking_page: 'Secondary SLT',
                tracking_label: t('.how-we-help.cards.courses.link.event-label')
              }
            },
            {
              class_name: 'bordered-card--secondary-cert',
              title: t('.how-we-help.cards.certification.title'),
              text: t(
                '.how-we-help.cards.certification.text.html',
                our_accelerator_link: (link_to(
                  t('.how-we-help.cards.certification.text.accelerator-link.title'),
                  t('.how-we-help.cards.certification.text.accelerator-link.url'),
                  tracking_page: 'Secondary SLT',
                  tracking_label: t('.how-we-help.cards.certification.text.accelerator-link.event-label')
                )),
                secondary_certificate_link: (link_to(
                  t('.how-we-help.cards.certification.text.certificate-link.title'),
                  t('.how-we-help.cards.certification.text.certificate-link.url'),
                  tracking_page: 'Secondary SLT',
                  tracking_label: t('.how-we-help.cards.certification.text.certificate-link.event-label')
                ))
              ),
              link: {
                link_title: t('.how-we-help.cards.certification.link.title'),
                link_url: t('.how-we-help.cards.certification.link.url'),
                tracking_page: 'Secondary SLT',
                tracking_label: t('.how-we-help.cards.certification.link.event-label')
              }
            },
            {
              class_name: 'bordered-card--secondary-cert',
              title: t('.how-we-help.cards.resources.title'),
              text: t('.how-we-help.cards.resources.text'),
              link: {
                link_title: t('.how-we-help.cards.resources.link.title'),
                link_url: t('.how-we-help.cards.resources.link.url'),
                tracking_page: 'Secondary SLT',
                tracking_label: t('.how-we-help.cards.resources.link.event-label')
              }
            }
          ]
        ) %>
      </div>
      </div>
  </div>
</div>

<%# How we can help your students %>
<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-top-8">
      <div class="govuk-grid-column-one-half">
        <%= image_pack_tag 'media/images/pages/about/inclusion-in-the-classroom.jpg', alt: 'Inclusion in the classroom', class: 'ncce-about__image' %>
      </div>
      <div class="govuk-grid-column-one-half">
        <h2 class='govuk-heading-l'><%= t('.student-help.title') %></h2>
        <p class='govuk-body govuk-!-margin-bottom-0'><%= t('.student-help.text') %></p>
      </div>
    </div>
  </div>
</div>

<%# Explore our partners %>
