<% meta_tag :title, t('.hero.title') %>
<% meta_tag :description, 'We support school and college leaders to drive school improvement and pupil outcomes through an inspirational computing education. Discover resources, CPD and enrichment.' %>
<% meta_tag :url, request.original_url %>

<%# Hero: Support for secondary senior leaders %>
<%= render HeroComponent.new(
  title: t('.hero.title'),
  subtitle: t('.hero.subtitle'),
  glyph: :c1,
  color: 'secondary'
) %>

<%# How we can help you and your school or college %>
<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <%= render TickListCollectionComponent.new(
          title: 'How we can help you and your school or college',
          tick_list_collection: [
            {
              title: t('.quality-framework-tick-list.title'),
              text: t('.quality-framework-tick-list.text'),
              bullets: [
                t('.quality-framework-tick-list.bullets.identify'),
                t('.quality-framework-tick-list.bullets.feedback'),
                t('.quality-framework-tick-list.bullets.track')
              ],
              button: {
                button_title: t('.quality-framework-tick-list.button.title'),
                button_url: t('.quality-framework-tick-list.button.url'),
                tracking_page: 'Secondary SLT',
                tracking_label: t('.quality-framework-tick-list.button.event-label')
              }
            },
            {
              title: t('.guidance-tick-list.title'),
              text: t('.guidance-tick-list.text'),
              bullets: [
                t('.guidance-tick-list.bullets.identify'),
                t('.guidance-tick-list.bullets.develop'),
                t('.guidance-tick-list.bullets.recommend')
              ],
              button: {
                button_title: t('.guidance-tick-list.button.title'),
                button_url: t('.guidance-tick-list.button.url'),
                tracking_page: 'Secondary SLT',
                tracking_label: t('.guidance-tick-list.button.event-label')
              }
            }
          ]
        ) %>
      </div>
    </div>
  </div>
</div>

<%# How we can help your teachers %>
<div class="govuk-width-container">
  <div class='govuk-main-wrapper govuk-main-wrapper--xl'>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class='govuk-heading-l'><%= t('.how-we-help.title') %></h2>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-margin-top-7">
        <%= render BorderedCardsComponent.new(
          cards_per_row: 3,
          class_name: 'teacher-help-cards',
          cards: [
            {
              class_name: 'bordered-card--secondary-cert',
              title: t('.how-we-help.cards.courses.title'),
              text: t(
                '.how-we-help.cards.courses.text.html',
                all_courses_link: (link_to(
                  t('.how-we-help.cards.courses.text.all-courses-link.title'),
                  t('.how-we-help.cards.courses.text.all-courses-link.url'),
                  data: {
                    event_action: 'click',
                    tracking_page: 'Secondary SLT',
                    tracking_label: t('.how-we-help.cards.courses.text.all-courses-link.event-label')
                  }
                ))
              ),
              link: {
                link_title: t('.how-we-help.cards.courses.link.title'),
                link_url: t('.how-we-help.cards.courses.link.url'),
                tracking_page: 'Secondary SLT',
                tracking_label: t('.how-we-help.cards.courses.link.event-label')
              }
            },
            {
              class_name: 'bordered-card--secondary-cert',
              title: t('.how-we-help.cards.certification.title'),
              text: t(
                '.how-we-help.cards.certification.text.html',
                our_accelerator_link: (link_to(
                  t('.how-we-help.cards.certification.text.accelerator-link.title'),
                  t('.how-we-help.cards.certification.text.accelerator-link.url'),
                  data: {
                    event_action: 'click',
                    tracking_page: 'Secondary SLT',
                    tracking_label: t('.how-we-help.cards.certification.text.accelerator-link.event-label')
                  }
                )),
                secondary_certificate_link: (link_to(
                  t('.how-we-help.cards.certification.text.certificate-link.title'),
                  t('.how-we-help.cards.certification.text.certificate-link.url'),
                  data: {
                    event_action: 'click',
                    tracking_page: 'Secondary SLT',
                    tracking_label: t('.how-we-help.cards.certification.text.certificate-link.event-label')
                  }
                ))
              ),
              link: {
                link_title: t('.how-we-help.cards.certification.link.title'),
                link_url: t('.how-we-help.cards.certification.link.url'),
                tracking_page: 'Secondary SLT',
                tracking_label: t('.how-we-help.cards.certification.link.event-label')
              }
            },
            {
              class_name: 'bordered-card--secondary-cert',
              title: t('.how-we-help.cards.resources.title'),
              text: t('.how-we-help.cards.resources.text.html'),
              link: {
                link_title: t('.how-we-help.cards.resources.link.title'),
                link_url: t('.how-we-help.cards.resources.link.url'),
                tracking_page: 'Secondary SLT',
                tracking_label: t('.how-we-help.cards.resources.link.event-label')
              }
            }
          ]
        ) %>
      </div>
      </div>
  </div>
</div>

<%# How we can help your students %>
<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <%= render LogoButtonImageCardComponent.new(
        logo: { path: 'media/images/logos/isaac-logo.svg', alt: t('.student-help.logo.alt') },
        image: {
          path: 'media/images/pages/secondary-senior-leaders/teaching.png',
          alt: t('.student-help.image.alt')
        },
        title: t('.student-help.title'),
        text: t('.student-help.text'),
        button: {
          button_title: t('.student-help.button.title'),
          button_url: t('.student-help.button.url'),
          tracking_page: 'Secondary SLT',
          tracking_label: t('.student-help.button.event-label')
        }
      ) %>
    </div>
  </div>
</div>

<%# Explore our partners %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
     <div class="govuk-grid-row">
        <div class="govuk-grid-column bottom-margin ncce-eop">
          <h2 class="govuk-heading-l"><%= t('.partners.title') %></h2>
          <p class="govuk-body-l"><%= t(
              '.partners.text.html',
              educational_partners_link: (link_to(
                  t('.partners.text.educational-partners-link.title'),
                  t('.partners.text.educational-partners-link.url'),
                  data: {
                    event_action: 'click',
                    tracking_page: 'Secondary SLT',
                    tracking_label: t('.partners.text.educational-partners-link.event-label')
                  }
              )))
          %></p>
        </div>
        <div class="govuk-grid-column-full">
          <%= render NonBorderedCardsComponent.new(
            class_name: 'resource-cards',
            cards_per_row: 3,
            cards: [
              {
                image_url: 'pages/primary-teachers/stem-card.svg',
                title: t('.partners.cards.stem.title'),
                text: t('.partners.cards.stem.text'),
                link: {
                  link_title: t('.partners.cards.stem.link.title'),
                  link_url: t('.partners.cards.stem.link.url'),
                  tracking_page: 'Secondary SLT',
                  tracking_label: t('.partners.cards.stem.link.event-label'),
                }
              },
              {
                image_url: 'pages/primary-teachers/code-club-card.svg',
                title: t('.partners.cards.code-club.title'),
                text: t('.partners.cards.code-club.text'),
                link: {
                  link_title: t('.partners.cards.code-club.link.title'),
                  link_url: t('.partners.cards.code-club.link.url'),
                  tracking_page: 'Secondary SLT',
                  tracking_label: t('.partners.cards.code-club.link.event-label'),
                }
              },
              {
                image_url: 'partners/bebras-card.svg',
                title: t('.partners.cards.bebras.title'),
                text: t('.partners.cards.bebras.text'),
                link: {
                  link_title: t('.partners.cards.bebras.link.title'),
                  link_url: t('.partners.cards.bebras.link.url'),
                  tracking_page: 'Secondary SLT',
                  tracking_label: t('.partners.cards.bebras.link.event-label'),
                }
              }
            ]
          ) %>
        </div>
      </div>
  </div>
</div>
