<% meta_tag :title, 'Secondary early career and trainee teachers' %>
<% meta_tag :description, 'We offer professional development, resources and local support for early career and trainee teachers to develop your subject knowledge and confidence in the classroom, and to help you meet the teacher standards.' %>

<%= render 'components/hero', hero_title: 'Secondary early career and trainee teachers', subtitle: 'We support early career and trainee teachers to develop their computing subject knowledge and pedagogy through professional development, resources and local communities.', colour: 'lime-green-bg', full_width: true %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Professional development</h2>
        <p class="govuk-body">
          Strong subject knowledge is paramount to successfully delivering any area of the curriculum. Your first step to success is to access our Computer Science Accelerator, which will develop your subject knowledge up to GCSE. <%= link_to 'Our new to computing pathway', 'https://static.teachcomputing.org/01_New_to_computing.pdf', class: 'ncce-link', data: tracking_data('New to computing PDF') %> is a great way for non-specialist trainees or early career teachers to engage with the programme.
        </p>
        <%= link_to 'Join the Computer Science Accelerator', cs_accelerator_path, class: 'govuk-button button', data: tracking_data('CSA certificate') %>

        <hr class="govuk-section-break govuk-section-break--m">

        <h2 class="govuk-heading-l">Develop your teaching practice</h2>
        <p class="govuk-body">
          Once you've completed the KS3 and GCSE Computer Science subject knowledge certificate, you will receive free access to all NCCE courses if you work in a secondary state-funded school or college. We also recommend accessing our complementary Teach secondary computing certificate to help you enhance how you teach secondary computing, bringing together your subject knowledge, pedagogy skills, assessment and progression, curriculum design and leadership.
        </p>
        <%= link_to 'Discover the Teach secondary computing certificate', secondary_path, class: 'govuk-button button', data: tracking_data('secondary certificate') %>
      </div>

      <div class="govuk-grid-column-one-third">
        <%= render BursaryComponent.new(
          text: 'Our Computer Science Accelerator courses are free for trainees and teachers working in state-funded education. We also offer subsidies to state-funded schools for supply cover to help teachers participate in CPD during the school day.',
          link_title: 'Check your eligibility',
          tracking_event_category: 'Courses',
          tracking_event_label: 'Bursaries',
          bottom_margin: false
        ) %>
      </div>
    </div>
  </div>
</div>

<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-xl">Resources</h2>
            <div class="card card--subject-knowledge card--bottom-glyph card--landing-page lp-certs--card lp-certs__card--wide">
              <div class="lp-certs--card-header">
                <h2 class="govuk-heading-m card__heading lp-certs--card-heading">Early career support guide</h2>
              </div>
              <p class="govuk-body card__text card__text-landing-page">
                We can support trainee and early career teachers at all levels to meet and evidence the teacher standards. The early careers support guidance we have put together maps out our offer against the eight areas of performance you are working to achieve.
              </p>
              <p class="govuk-body govuk-!-margin-bottom-3">
                <%= link_to 'Download early career support guide', 'https://static.teachcomputing.org/NCCE-early_career_support_for_teachers.pdf', class: 'ncce-link', data: tracking_data('ECT guide') %>
              </p>
            </div>

            <div class="card card--subject-knowledge card--bottom-glyph card--landing-page lp-certs--card lp-certs__card--wide">
              <div class="lp-certs--card-header">
                <h2 class="govuk-heading-m card__heading lp-certs--card-heading">Teach Computing Curriculum</h2>
              </div>
              <p class="govuk-body card__text">
                If you're on placement or have started your first year of teaching and would like support with lesson planning, our curriculum contains everything you need to teach computing. It includes lesson plans, slides, worksheets, homework and assessments.
              </p>
              <p class="govuk-body govuk-!-margin-bottom-3">
                <%= link_to 'Browse curriculum resources', curriculum_key_stages_path, class: 'ncce-link', data: tracking_data('Curriculum') %>
              </p>
            </div>

            <div class="card card--subject-knowledge card--bottom-glyph card--landing-page lp-certs--card lp-certs__card--wide">
              <div class="lp-certs--card-header">
                <h2 class="govuk-heading-m card__heading lp-certs--card-heading">Pedagogy</h2>
              </div>
              <p class="govuk-body card__text">
                Augment your curriculum knowledge with evidence-based teaching practices. Our <%= link_to '12 principles of computing pedagogy', 'https://www.teachcomputing.org/blog/how-we-teach-computing', class: 'ncce-link', data: tracking_data('Pedagogy principles') %> are embedded across everything we do, including our Teach Computing Curriculum and CPD.
              </p>
              <p class="govuk-body govuk-!-margin-bottom-3">
                <%= link_to 'Discover pedagogy resources', pedagogy_path, class: 'ncce-link', data: tracking_data('Pedagogy resources') %>
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<%= render 'communities' %>
