<% meta_tag :title, 'Secondary Senior Leaders' %>
<% meta_tag :description, 'Visit our Secondary senior leaders page to see what CPD and support we offer, and our guide to delivering the computing curriculum' %>
<% meta_tag :url, request.original_url %>
<%= render 'components/hero', hero_title: 'Support for Secondary Senior Leaders', subtitle: 'Funded by the Department for Education, the National Centre for Computing Education offers a comprehensive range of support for schools and colleges, including free resources and high-impact training, to drive school improvement and pupil outcomes.', full_width: true, glyph_position: 'bottom', colour: 'purple' %>

<div class="govuk-grid-column-full">
    <%= render TickListCollectionComponent.new(
      title: 'How we can help you and your school or college',
      tick_list_collection: [
        {
          title: 'The Computing Quality Framework',
          text: 'The Computing Quality Framework helps you and your leadership team assess your computing offer. Use our guided journey to:',
          bullets: [
            'Identify strengths and weaknesses in your computing curriculum',
            'Gain feedback and suggested actions, including relevant resources',
            'Track progress towards achieving our accredited Computing Quality Mark'
          ],
          button: {
            button_title: 'Register for the Computing Quality Framework',
            button_url: '/'
          }
        },
        {
          title: 'Guidance for offering computing',
          text: 'We offer guidance to schools finding it challenging to offer computing, and those in priority areas. Our subject matter experts will work with you to: ',
          bullets: [
            'Identify your specific needs',
            'Develop an action plan',
            'Recommend courses to support progression'
          ],
          button: {
            button_title: 'Contact your local Computing Hub',
            button_url: '/'
          }
        }
      ]
    ) %>
</div>

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
          Future proof your computing department
        </h2>
        <p class="govuk-body">
          We offer free, flexible support to a challenge faced by many school and college senior leadership teams - recruiting teachers with the skills to provide high quality delivery of the computing curriculum.
        </p>
        <h2 class="govuk-heading-m">
          Computer Science Accelerator
        </h2>
        <p class="govuk-body">
          The <%= link_to 'Computer Science Accelerator', cs_accelerator_path, class: 'ncce-link' %> offers high impact, professional development which can upskill your staff, increase the number of computer science teachers in your school and improve the quality of teaching, which could lead to improved student attainment.
        </p>
        <%= link_to 'Download guide for senior leaders', 'https://static.teachcomputing.org/Senior_leaders_guide.pdf', class: 'govuk-button button button--margin-bottom' %>
        <p class="govuk-body">
          Over 1,000 teachers with all levels of experience have taken advantage of our wide range of courses, fully funded by the Department for Education and available to start immediately.
        </p>
        <p class="govuk-body"><strong>Programme benefits</strong></p>
        <ul class="govuk-body govuk-list govuk-list--bullet">
          <li>Fully-funded - bursaries are available for state-funded secondary schools and colleges, with up to £1,800 available for every teacher who completes the programme.</li>
          <li>Flexible - teachers can learn face-to-face, online or remotely, during or outside of school hours.</li>
          <li> For everyone - teachers in any subject have the opportunity to develop the subject knowledge to teach GCSE computer science - from non-specialists to those already teaching at this level.</li>
          <li>Grow your curriculum - our programme can help you to strengthen your computing offer, whether your school already offers GCSE computer science or is looking to enhance KS3 provision first.</li>
        </ul>
        <%= link_to 'Find out more about the programme', cs_accelerator_path, class: 'govuk-button button' %>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="ncce-aside">
          <h2 class="govuk-heading-m ncce-aside__title">Related Links</h2>
					<ul class="govuk-list">
						<li><%= link_to 'Senior leaders guide', 'https://static.teachcomputing.org/Senior_leaders_guide.pdf', class: 'ncce-link' %></li>
						<li><%= link_to 'Bursaries', '/bursary', class: 'ncce-link' %></li>
						<li><%= link_to 'Courses', courses_path, class: 'ncce-link' %></li>
					</ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">
            What do teachers say?
          </h2>
          <div class="testimonial-wide">
            <div class="testimonial-wide__quote">
              <p class="govuk-body-s testimonial__text">
                “The bursary has had a real, visible impact. We have been able to invest in our department, getting laptop computers for our students and robots for our coding clubs. We’ve also now got so many resources for our lessons that have come from all of the courses I took, which my colleagues are using now too.”
              </p>
            </div>
            <div class="testimonial-wide__bio">
              <%= image_pack_tag 'media/images/pages/secondary-senior-leaders/anne-cuffe-davies.jpg', alt: 'Anne Cuffe Davies', class: 'testimonial-wide__image' %>
              <div class="">
                <p class="govuk-body-s">
                  <strong><%= link_to 'Anne Cuffe Davies', 'https://blog.teachcomputing.org/how-cpd-changed-my-career/', class: 'ncce-link ncce-link--contrast axe-skip-a11y-test' %></strong><br>
                  Computer Science Teacher
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">
          Teach Computing Curriculum
        </h2>
        <p class="govuk-body">
          Your school or college can also benefit from our curriculum, which contains everything you need to teach computing at key stages 1 to 4, including lesson plans, homework, assessment and an innovative progression framework.
        </p>
        <%= link_to 'Browse teaching resources', curriculum_key_stages_path, class: 'govuk-button button' %>
      </div>
    </div>
  </div>
</div>
