<% meta_tag :title, 'The essential toolkit for secondary computing teachers' %>
<% meta_tag :description, 'Training and inspiration that grows your confidence, transforms your teaching and brings your lessons to life.' %>
<% meta_tag :url, request.original_url %>
<% meta_tag :image, image_url('/images/secondary-teachers/hero.jpg', skip_pipeline: true) %>
<% meta_tag :image_alt, 'Secondary Teachers - Teach Computing' %>
<div class="tapestry-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="text-photo-hero white-bg">
        <div class="text-photo-hero__block--text">
          <h1 class="govuk-heading-l">The essential toolkit for secondary computing teachers</h1>
          <p class="govuk-body-l">Training and inspiration that grows your
            confidence, transforms your teaching and brings your lessons to
            life.</p>
        </div>
        <div class="text-photo-hero__block--photo">
          <%= image_tag '/images/secondary-teachers/hero.jpg', alt: '' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l landing-page__intro">Improve progress and attainment at Key Stage 3
          and 4
          by developing your subject knowledge and classroom practice.</p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="light-blue-bg padded-box">
          <p class="govuk-body"><strong>
              <%= link_to 'Programming with GUIs', 'https://www.futurelearn.com/courses/programming-with-guis', class: 'ncce-link ncce-link--contrast' %></strong>
          </p>
          <p class="govuk-body">Discover how to build your own Graphical User
            Interface (GUI) with Python and guizero.</p>
          <video poster="/images/secondary-teachers/video-placeholder.jpg" controls="true" playsinline="true" crossorigin="anonymous" preload="none" tabindex="-1" src="//view.vzaar.com/20654375/download/sd_lower">
            <source src="//view.vzaar.com/20654375/download/sd_lower" type="video/mp4">
            <track class="track" src="/images/secondary-teachers/ProgrammingWithGUIs.vtt" kind="subtitles" srclang="EN" label="English">
          </video>
          <p class="govuk-body-s landing-page__icons"><strong><span class="icon-online">Free
                online course</span><span class="icon-calendar">3
                weeks</span><span class="icon-clock">2 hours per
                week</span></strong></p>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="ncce-aside landing-page__aside">
          <p class="govuk-body"><strong>
              <%= link_to 'Python programming essentials for GCSE computer science ', 'https://teachcomputing.org/courses?utf8=%E2%9C%93&level=Key+stage+4&location=Face+to+face&topic=Programming&certificate=#filter-results', class: 'ncce-link' %></strong>
          </p>
          <p class="govuk-body-s">Go from novice programmer to competent teacher
            of Python.</p>
          <%= image_tag '/images/secondary-teachers/aside.jpg', alt: '' %>
          <ul class="govuk-body-s govuk-list govuk-list--bullet">
            <li>Operators and flow control</li>
            <li>Iteration and nested structures</li>
            <li>Validation and testing</li>
            <li>Sub-programs</li>
            <li>Data structures including arrays</li>
          </ul>
          <p class="govuk-body-s landing-page__icons"><strong><span
                class="icon-map-pin">Face to face course</span><span
                class="icon-calendar">2 days</span></strong></p>
        </div>
      </div>
    </div>
    <div class="center-button">
      <%= link_to 'Browse our courses', courses_path(certificate: Programme.cs_accelerator.slug), class: 'govuk-button button' %>
    </div>
  </div>
</div>
<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper--xl">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="card card--cs-accelerator card--bottom-glyph">
            <h2 class="govuk-heading-m card__heading">Teach GCSE computer science</h2>
            <p class="govuk-body card__text">The Computer Science Accelerator
              Programme is a certified professional development programme
              designed to equip you with the subject knowledge and confidence to
              successfully teach GCSE computer science.</p>
            <p class="govuk-body govuk-!-margin-bottom-0"><strong><%= link_to 'Find out more', cs_accelerator_path, class: 'ncce-link' %></strong></p>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="testimonial">
            <p class="govuk-body-s testimonial__text">
              “The online courses let me go through the content at my own pace,
              while the face-to-face gave me more hands-on experience with
              practical programming, with concepts explained more in-depth.”
            </p>
            <div class="testimonial__bio">
              <%= image_tag '/images/secondary-teachers/kasim.png', alt: 'Kasim Rashid', class: 'testimonial__image' %>
              <p class="govuk-body-s"><strong><%= link_to 'Kasim Rashid', 'https://blog.teachcomputing.org/getting-with-the-programming/', class: 'ncce-link ncce-link--contrast' %></strong><br>
                Maths and Computer Science teacher, London
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Your local computing community</h2>
        <h3 class="govuk-body"><strong>Hubs</strong></h3>
        <p class="govuk-body">Computing Hubs provide local, responsive and
          tailored support to teachers across England. They are led by schools
          and colleges with an exceptional track record in teaching computing.
          <%= link_to 'Find your local hub', '/hubs' %>.
        </p>
        <h3 class="govuk-body"><strong>Communities of Practice</strong></h3>
        <p class="govuk-body govuk-!-margin-bottom-0">Communities of Practice - run by
          <%= link_to 'Computing at School', 'https://www.computingatschool.org.uk/' %>
          (CAS) - are local networks of computing teachers that share expertise,
          resources and best practice to encourage strong and effective
          teaching.</p>
      </div>
    </div>
  </div>
</div>
<div class="light-grey-bg landing-page-resources">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper--xl">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h2 class="govuk-heading-l landing-page-resources__heading">Access our free teaching resources</h2>
          <p class="govuk-body landing-page-resources__intro">Boost the
            quality of your lessons with our free
            online resource bank. You’ll get access to full units of work,
            lesson
            plans, assessments and activities.</p>
          <%= link_to 'Browse teaching resources', resources_path, class: 'govuk-button button landing-page-resources__button' %>
        </div>
      </div>
      <div class="landing-page-resources__grid">
        <div class="shadow_card">
          <h3 class="govuk-body icon-resources"><strong>Subject knowledge
              assessments</strong>
          </h3>
          <p class="govuk-body">Our free online self-marking assessments allow
            you to evaluate your students’ knowledge so you can use this
            information to guide your teaching for the rest of the year.</p>
          <%= link_to 'Access the tests now', 'https://www.eedi.co.uk/projects/teach-computing', class: 'govuk-body ncce-link' %>
        </div>
        <div class="shadow_card">
          <h3 class="govuk-body icon-resources"><strong>Year 8 - Data Representations: from clay to silicon</strong></h3>
          <p class="govuk-body">This unit conveys essential knowledge relating to binary representations. The activities gradually introduce learners to binary digits and how they can be used to represent text and numbers. The concepts are linked to practical applications and problems that the learners are familiar with.</p>
          <%= link_to "Access 'Data Representations' now", 'https://ncce.io/Year8', class: 'govuk-body ncce-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
