<% meta_tag :title, 'Meet our supporting partners.' %>
<% meta_tag :description, 'The NCCE relies on financial contributions from businesses to help equip young people with digital skills for the future. Find out how you can help us.' %>

<%= render HeroMediaComponent.new(**SupportingPartnersPage.hero) %>

<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          The demand for computing expertise is growing - with an estimated 1.2 million more people with specialist digital skills needed by 2022.
          We are calling on businesses to join us in equipping young people with the necessary skills for the future.
          Together we can bridge the gap in computing education and digital capability​.
        </p>
        <h2 class="govuk-heading-l">How can you help?</h2>
        <p class="govuk-body">
        The NCCE programme relies on financial contributions from our supporting partners to achieve our mission. Funding is used for:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
          <li>

          <%= link_to 'Funding and subsidies', '/funding', class: 'ncce-link' %>: help cover the costs for teachers to attend training courses and to achieve certifications. Professional development in turn helps improve the quality of teaching for learners.
          </li>

          <li>
            Special projects: we are always looking to expand our offering so it is a comprehensive source of support and resources for teachers.
            Our <%= link_to 'Curriculum resources', curriculum_key_stages_path, class: 'ncce-link' %> is just one of the special projects we were able to deliver through additional funding.
          </li>

        </ul>

        <p class="govuk-body">
          Get in touch to find out more about how you can help us continue this crucial work.
          <br>
          <br>
          <%= mail_to 'info@teachcomputing.org', 'Email us', class: 'govuk-button button ', 'data-event-action' => 'click', 'data-event-category' => 'Supporting partners', 'data-event-label' => 'Email' %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="ncce-centered">
        <h2 class="govuk-heading-l">Thank you to our existing partners</h2>
        <p class="govuk-body-m">
          We are very grateful to our Supporting Partners who have made the Teach Computing Curriculum and the funding for our courses possible.
        </p>
      </div>
      <%= render ImageLinkCardsComponent.new(cards: SupportingPartnersPage.cards) %>
    </div>
  </div>
</div>

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Other ways you can support us</h2>
        <h3 class="govuk-heading-m">Volunteer</h3>
        <p class="govuk-body">
          Encourage your employees to volunteer for computing education initiatives in schools and clubs, specifically:
        </p>
      </div>
    </div>

    <div class="ncce-sp-icons-grid">
      <div class="ncce-sp-icon">
        <%= link_to 'https://www.barefootcomputing.org/barefoot-volunteers', class: 'govuk-header__link--logo'  do %>
          <%= image_pack_tag 'media/images/partners/barefoot_square.svg', alt: 'Barefoot programme logo' %>
        <% end %>
      </div>

      <div class="ncce-sp-icon">
        <%= link_to 'https://codeclub.org/en/volunteer', class: 'govuk-header__link--logo'  do %>
          <%= image_pack_tag 'media/images/partners/code_club_square.svg', alt: 'Code Club logo' %>
        <% end %>
      </div>
      <div class="ncce-sp-icon">
        <%= link_to 'https://www.stem.org.uk/stem-ambassadors', class: 'govuk-header__link--logo'  do %>
          <%= image_pack_tag 'media/images/partners/stem_square.svg', alt: 'STEM logo' %>
        <% end %>
      </div>
      <div class="ncce-sp-icon">
        <%= link_to 'https://isaaccomputerscience.org/events', class: 'govuk-header__link--logo' do %>
          <%= image_pack_tag 'media/images/partners/isaac_square.svg', alt: 'Isaac computer science logo' %>
        <% end %>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Advocacy and awareness</h3>
        <p class="govuk-body">
          Speak up for the importance and value of a world-class computing education
          for every child. You can also help raise awareness of the NCCE and
          TeachComputing.org amongst teachers you know. Follow us on
          <%= link_to 'Twitter', 'https://twitter.com/WeAreComputing', class: 'ncce-link' %>,
          <%= link_to 'Facebook', 'https://facebook.com/WeAreComputing', class: 'ncce-link' %> and
          <%= link_to 'LinkedIn', 'https://www.linkedin.com/company/national-centre-for-computing-education', class: 'ncce-link' %>
          to keep up to date with our progress and latest news.
        </p>
      </div>
    </div>
  </div>
</div>
