<% meta_tag :title, 'Meet our supporting partners.' %>
<%= render 'components/hero', hero_title: 'Supporting partners', colour: 'blue', glyph_num: '1', glyph_position: 'bottom' %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-padding-bottom-5">
          The demand for computing expertise is growing - with an estimated 1.2 million more people with specialist digital skills needed by 2022. We are calling on businesses to join us in equipping young people with the necessary skills for the future.
          <br/>
          You can play a major role in shaping and improving the accessibility and quality of computing education in England.
        </p>
        <h2 class="govuk-heading-l">How can you help?</h2>
        <h3 class="govuk-heading-m">Funding</h3>
        <p class="govuk-body">
        The NCCE programme relies on financial contributions from our supporting partners to achieve our mission. Funding is used for:
        </p>
        <ul class="govuk-list govuk-list--bullet ncce-inside-list">
          <li class="govuk-!-padding-bottom-5">
          Bursaries: To help cover the costs for teachers to attend training courses, and to achieve computing certifications, we provide them with bursaries. Professional development in turn helps to improve the quality of teaching for learners.
          </li>

          <li class="">
            Special projects: The NCCE is always looking to expand our offering so it is a comprehensive source of support and resources for teachers.
            Our <%= link_to 'Curriculum resources', curriculum_key_stages_path, class: 'ncce-link' %> is just one of the special projects we were able to deliver through additional funding.
          </li>
        </ul>

        <h3 class="govuk-heading-m">Get involved</h3>
        <p class="govuk-body">
          To find out more on how you can help us continue this crucial work, see our <%=  link_to 'Working Together booklet', '#', class: 'ncce-link' %>, or
          <br />
          Contact us on <%= mail_to 'supporters@teachcomputing.org', 'supporters@teachcomputing.org', class: 'ncce-link' %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="ncce-centered">
        <h2 class="govuk-heading-l">Thank you to our existing partners</h2>
        <p class="govuk-body-m">
          We are very grateful to our Supporting Partners who have made the Teach Computing Curriculum and the bursaries for our courses possible.
        </p>
      </div>
      <div class="landing-page-resources__grid">
        <div class="shadow_card dark_card">
          <%= link_to 'https://www.arm.com/resources/education/schools', class: 'ncce-link' do %>
            <img src="/images/partners/arm-school-program.svg" class="dark_card--image dark_card--image-wide" alt="Arm school program logo">
          <% end %>
          <h2 class="govuk-heading-m dark_card--title"><%= link_to 'Arm', 'https://www.arm.com/resources/education/schools', class: 'ncce-link ncce-link--heading' %></h2>
          <p class="govuk-body govuk-!-margin-bottom-0">
            As the world’s leading semiconductor IP company, Arm’s technology is
            in billions of devices; from supercomputers and cars, to mobile phones
            and small computers. The Arm School Program is part of its Education
            team and works with schools and partners to support teaching communities
            of practice and enabling research into STEM and computing education.
            They also offer <%= link_to 'a range of free resources', 'https://www.arm.com/resources/education/schools/content', class: 'ncce-link' %>
            , linked to the computer science curriculum.
          </p>
        </div>

        <div class="shadow_card dark_card">
          <%= link_to 'https://www.bt.com/skillsfortomorrow', class: 'ncce-link' do %>
            <img src="/images/partners/bt.svg" class="dark_card--image" alt="BT logo">
          <% end %>
          <h2 class="govuk-heading-m dark_card--title">
            <%= link_to 'BT', 'https://www.bt.com/skillsfortomorrow', class: 'ncce-link ncce-link--heading' %>
          </h2>
          <p class="govuk-body govuk-!-margin-bottom-0">
            BT Skills for Tomorrow offers a wide range of free advice,
            information and support for all ages and abilities,
            to help people make the most of the digital world.
            As part of this, BT and Computing at School’s (CAS)
            <%= link_to 'Barefoot programme', 'https://www.barefootcomputing.org/', class: 'ncce-link' %>
            supports primary teachers with the computing curriculum,
            providing free CPD and classroom resources. BT also offers
            <%= link_to 'free activities and games', 'https://www.bt.com/skillsfortomorrow/families', class: 'ncce-link' %>
            for parents to use with their children to develop their digital skills.
          </p>
        </div>

        <div class="shadow_card dark_card">
          <%= link_to 'https://edu.google.com/teaching-resources/?modal_active=none&topic=coding-and-computer-science', class: 'ncce-link' do %>
            <img src="/images/partners/google.svg" class="dark_card--image" alt="Google logo">
          <% end %>
          <h2 class="govuk-heading-m dark_card--title">
            <%= link_to 'Google', 'https://edu.google.com/teaching-resources/?modal_active=none&topic=coding-and-computer-science', class: 'ncce-link ncce-link--heading' %>
          </h2>
          <p class="govuk-body govuk-!-margin-bottom-0">
            Google believes that everyone deserves the tools and skills to set
            them up for success in building the future they want for themselves.
            They help educators to make a greater impact by creating resources and
            tools to inspire creativity, encourage hands-on learning, and equip
            students with digital skills. This includes CS First: a free computer
            science curriculum, and Applied Digital Skills: a free project-based
            video curriculum.
          </p>
        </div>

        <div class="shadow_card dark_card">
          <%= link_to 'https://www.microsoft.com/en-gb', class: 'ncce-link' do %>
            <img src="/images/partners/microsoft.svg" class="dark_card--image" alt="Microsoft logo">
          <% end %>
          <h2 class="govuk-heading-m dark_card--title">
            <%= link_to 'Microsoft', 'https://www.microsoft.com/en-gb', class: 'ncce-link ncce-link--heading' %>
          </h2>
          <p class="govuk-body govuk-!-margin-bottom-0">
            Microsoft has been championing computing education in the UK since 2008,
            when they helped found CAS. They work with governments, educators,
            charities and industry to support a high quality,
            creative and inclusive computing education for all young people.
            In partnership with BCS, Microsoft are funding professional development for
            computing teachers in England and Scotland, and helping the NCCE provide
            bursaries to schools in priority areas.
          </p>
        </div>

        <div class="shadow_card dark_card">
          <%= link_to 'https://www.stem.org.uk/rolls-royce-schools-prize-science-technology', class: 'ncce-link' do %>
            <img src="/images/partners/rolls-royce.svg" class="dark_card--image" alt="">
          <% end %>
          <h2 class="govuk-heading-m dark_card--title">
            <%= link_to 'Rolls-Royce Schools Prize for Science & Technology', 'https://www.stem.org.uk/rolls-royce-schools-prize-science-technology', class: 'ncce-link ncce-link--heading' %>
          </h2>
          <p class="govuk-body govuk-!-margin-bottom-0">
            Rolls Royce are committed to advancing STEM subjects among the scientists
            and engineers of tomorrow. One of the ways they are working to help
            reach and support young people is through the Rolls-Royce Schools Prize
            for Science &amp; Technology - an annual awards programme that helps teachers’
            increase science, mathematics, and technology engagement.
            The prize is open to all schools and colleges in the UK.
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Other ways you can support us</h2>
        <h3 class="govuk-heading-m">Volunteer</h3>
        <p class="govuk-body">
          Encourage your employees to volunteer for computing education initiatives in schools and clubs, specifically:
        </p>
      </div>
    </div>

    <div class="ncce-sp-icons-grid">
      <div class="ncce-sp-icon">
        <%= link_to 'https://www.barefootcomputing.org/', class: 'govuk-header__link--logo'  do %>
          <img src="/images/partners/barefoot_square.svg" alt="Barefoot programme logo">
        <% end %>
      </div>

      <div class="ncce-sp-icon">
        <%= link_to 'https://codeclub.org/en', class: 'govuk-header__link--logo'  do %>
          <img src="/images/partners/code_club_square.svg" alt="Code Club logo">
        <% end %>
      </div>
      <div class="ncce-sp-icon">
        <%= link_to 'https://www.stem.org.uk/', class: 'govuk-header__link--logo'  do %>
          <img src="/images/partners/stem_square.svg" alt="STEM logo">
        <% end %>
      </div>
      <div class="ncce-sp-icon">
        <%= link_to 'https://isaaccomputerscience.org/', class: 'govuk-header__link--logo' do %>
          <img src="/images/partners/isaac_square.svg" alt="Isaac computer science logo">
        <% end %>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Advocacy and awareness</h3>
        <p class="govuk-body">
          Speak up for the importance and value of a world-class computing education
          for every child. You can also help raise awareness of the NCCE and
          TeachComputing.org amongst teachers you know. Follow us on
          <%= link_to 'Twitter', 'https://twitter.com/WeAreComputing', class: 'ncce-link' %>,
          <%= link_to 'Facebook', 'https://facebook.com/WeAreComputing', class: 'ncce-link' %> and
          <%= link_to 'LinkedIn', 'https://www.linkedin.com/company/national-centre-for-computing-education', class: 'ncce-link' %>
          to keep up to date with our progress and latest news.
        </p>
      </div>
    </div>
  </div>
</div>
