<% meta_tag :title, 'Meet our supporting partners.' %>
<% meta_tag :description, 'The NCCE relies on financial contributions from businesses to help equip young people with digital skills for the future. Find out how you can help us.' %>
<%= render 'components/hero', hero_title: 'Supporting partners', colour: 'blue', glyph_num: '1', glyph_position: 'bottom' %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          The demand for computing expertise is growing - with an estimated 1.2 million more people with specialist digital skills needed by 2022. We are calling on businesses to join us in equipping young people with the necessary skills for the future.
        </p>
        <h2 class="govuk-heading-l">How can you help?</h2>
        <p class="govuk-body">
        The NCCE programme relies on financial contributions from our supporting partners to achieve our mission. Funding is used for:
        </p>
        <ul class="govuk-list govuk-list--bullet ncce-inside-list">
          <li class="govuk-!-padding-bottom-5">

          <%= link_to 'Bursaries', '/bursary', class: 'ncce-link' %>: help cover the costs for teachers to attend training courses and to achieve certifications. Professional development in turn helps improve the quality of teaching for learners.
          </li>

          <li class="">
            Special projects: we are always looking to expand our offering so it is a comprehensive source of support and resources for teachers.
            Our <%= link_to 'Curriculum resources', curriculum_key_stages_path, class: 'ncce-link' %> is just one of the special projects we were able to deliver through additional funding.
          </li>
        </ul>

        <p class="govuk-body">
          To find out more on how you can help us continue this crucial work, see our <%=  link_to 'Working Together booklet', '#', class: 'ncce-link' %>, or
          <br />
          Contact us on <%= mail_to 'supporters@teachcomputing.org', 'supporters@teachcomputing.org', class: 'ncce-link' %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="ncce-centered">
        <h2 class="govuk-heading-l">Thank you to our existing partners</h2>
        <p class="govuk-body-m">
          We are very grateful to our Supporting Partners who have made the Teach Computing Curriculum and the bursaries for our courses possible.
        </p>
      </div>
      <div class="landing-page-resources__grid">
        <div class="shadow_card dark_card">
          <%= link_to 'https://www.arm.com/resources/education/schools', class: 'ncce-link' do %>
            <img src="/images/partners/arm.svg" class="dark_card--image dark_card--image-wide" alt="Arm logo">
          <% end %>
          <h2 class="govuk-heading-m dark_card--title"><%= link_to 'Arm', 'https://www.arm.com/', class: 'ncce-link ncce-link--heading' %></h2>
          <p class="govuk-body govuk-!-margin-bottom-0">
            As the world’s leading semiconductor IP company, Arm’s technology is
            in billions of devices; from supercomputers and cars, to mobile phones
            and small computers. The Arm School Program is part of its Education
            team and works with schools and partners to support teaching communities
            of practice and enabling research into STEM and computing education.
            They also offer <%= link_to 'a range of free resources', 'https://www.arm.com/resources/education/schools/content', class: 'ncce-link' %>,
            linked to the computer science curriculum.
          </p>
        </div>

        <div class="shadow_card dark_card">
          <%= link_to 'https://www.bt.com/skillsfortomorrow', class: 'ncce-link' do %>
            <img src="/images/partners/bt.svg" class="dark_card--image" alt="BT logo">
          <% end %>
          <h2 class="govuk-heading-m dark_card--title">
            <%= link_to 'BT', 'https://www.bt.com/skillsfortomorrow', class: 'ncce-link ncce-link--heading' %>
          </h2>
          <p class="govuk-body govuk-!-margin-bottom-0">
            BT Skills for Tomorrow offers a wide range of free advice,
            information and support for all ages and abilities,
            to help people make the most of life in the digital world.
            As part of this, BT and Computing at School’s (CAS)
            <%= link_to 'Barefoot programme', 'https://www.barefootcomputing.org/', class: 'ncce-link' %>
            supports primary teachers with the computing curriculum,
            providing free CPD and classroom resources. BT also offers
            <%= link_to 'free activities and games', 'https://www.bt.com/skillsfortomorrow/families', class: 'ncce-link' %>
            for parents to use with their children to develop their digital skills.
          </p>
        </div>

        <div class="shadow_card dark_card">
          <%= link_to 'https://edu.google.com/teaching-resources/?modal_active=none&topic=coding-and-computer-science', class: 'ncce-link' do %>
            <img src="/images/partners/google.svg" class="dark_card--image" alt="Google logo">
          <% end %>
          <h2 class="govuk-heading-m dark_card--title">
            <%= link_to 'Google', 'https://edu.google.com/teaching-resources/?modal_active=none&topic=coding-and-computer-science', class: 'ncce-link ncce-link--heading' %>
          </h2>
          <p class="govuk-body govuk-!-margin-bottom-0">
            Google is dedicated to closing equity gaps in computer science education
            by providing the tools, resources, and inspiration to help every educator
            give their students confidence in Computer Science, advance their skills,
            and prepare them for the future.
            This includes
            <%= link_to 'CS First', 'https://csfirst.withgoogle.com/s/en/home?utm_source=pdpartner&utm_medium=referral&utm_campaign=20210115-TCUK21--hsms-ins-&src=re-pdp-20210115-TCUK21--hsms-ins-', class: 'ncce-link' %>: a free computer
            science curriculum and
            <%= link_to 'Applied Digital Skills',
            'https://applieddigitalskills.withgoogle.com/s/en-uk/teach?utm_source=partners&utm_medium=website&utm_campaign=10/2/2020-TC-UK--hsms-ins-&src=partners-website-10/2/2020-TC-UK--hsms-ins-', class: 'ncce-link' %>: free video-based
            lessons to prepare students for the jobs of today and tomorrow.
          </p>
        </div>

        <div class="shadow_card dark_card govuk-!-padding-top-0">
          <%= link_to 'https://www.nationwide-jobs.co.uk/', class: 'ncce-link ncce-link--heading' do %>
            <img src="/images/partners/nationwide.svg" class="dark_card--image" alt="nationwide logo">
          <% end %>
          <h2 class="govuk-heading-m dark_card--title govuk-!-padding-top-0">
            <%= link_to 'Nationwide Building Society', 'https://www.nationwide-jobs.co.uk/', class: 'ncce-link ncce-link--heading' %>
          </h2>
          <p class="govuk-body govuk-!-margin-bottom-0">
            At Nationwide we’re rethinking technology to build a better society and <%= link_to 'inspire young people to pursue STEM-related subjects and careers.', 'https://www.nationwide-jobs.co.uk/', class: 'ncce-link' %>
            As well as partnering with the Tech Talent Charter,
            Tech She Can Charter, Code Club and Enthuse,
            which has inspired over 45,000 underrepresented
            students to consider a career in tech, we’ve also
            supported the NCCE with the rewriting of the computer
            curriculum and reskilling teachers to deliver it,
            from primary through to A-Level.
          </p>
        </div>

        <%# <div class="shadow_card dark_card"> %>
          <%# <%= link_to 'https://www.microsoft.com/en-gb', class: 'ncce-link' do %>
            <%# <img src="/images/partners/microsoft.svg" class="dark_card--image" alt="Microsoft logo"> %>
          <%# <% end %>
          <%# <h2 class="govuk-heading-m dark_card--title"> %>
            <%# <%= link_to 'Microsoft', 'https://www.microsoft.com/en-gb', class: 'ncce-link ncce-link--heading' %>
          <%# </h2> %>
          <%# <p class="govuk-body govuk-!-margin-bottom-0"> %>
            <%# Microsoft has been championing computing education in the UK since 2008, %>
            <%# when they helped found CAS. They work with governments, educators, %>
            <%# charities and industry to support a high quality, %>
            <%# creative and inclusive computing education for all young people. %>
            <%# In partnership with BCS, Microsoft are funding professional development for %>
            <%# computing teachers in England and Scotland, and helping the NCCE provide %>
            <%# bursaries to schools in priority areas. %>
          <%# </p> %>
        <%# </div> %>

        <div class="shadow_card dark_card">
          <%= link_to 'https://www.stem.org.uk/rolls-royce-schools-prize-science-technology', class: 'ncce-link' do %>
            <img src="/images/partners/rolls-royce.svg" class="dark_card--image" alt="">
          <% end %>
          <h2 class="govuk-heading-m dark_card--title">
            <%= link_to 'Rolls-Royce Schools Prize for Science & Technology', 'https://www.stem.org.uk/rolls-royce-schools-prize-science-technology', class: 'ncce-link ncce-link--heading' %>
          </h2>
          <p class="govuk-body govuk-!-margin-bottom-0">
            Rolls-Royce are committed to advancing STEM subjects among the scientists
            and engineers of tomorrow. One of the ways they are working to help
            reach and support young people is through the Rolls-Royce Schools Prize
            for Science &amp; Technology - an annual awards programme that helps teachers’
            increase science, mathematics, and technology engagement.
            The prize is open to all schools and colleges in the UK.
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Other ways you can support us</h2>
        <h3 class="govuk-heading-m">Volunteer</h3>
        <p class="govuk-body">
          Encourage your employees to volunteer for computing education initiatives in schools and clubs, specifically:
        </p>
      </div>
    </div>

    <div class="ncce-sp-icons-grid">
      <div class="ncce-sp-icon">
        <%= link_to 'https://www.barefootcomputing.org/barefoot-volunteers', class: 'govuk-header__link--logo'  do %>
          <img src="/images/partners/barefoot_square.svg" alt="Barefoot programme logo">
        <% end %>
      </div>

      <div class="ncce-sp-icon">
        <%= link_to 'https://codeclub.org/en/volunteer', class: 'govuk-header__link--logo'  do %>
          <img src="/images/partners/code_club_square.svg" alt="Code Club logo">
        <% end %>
      </div>
      <div class="ncce-sp-icon">
        <%= link_to 'https://www.stem.org.uk/stem-ambassadors', class: 'govuk-header__link--logo'  do %>
          <img src="/images/partners/stem_square.svg" alt="STEM logo">
        <% end %>
      </div>
      <div class="ncce-sp-icon">
        <%= link_to 'https://isaaccomputerscience.org/events', class: 'govuk-header__link--logo' do %>
          <img src="/images/partners/isaac_square.svg" alt="Isaac computer science logo">
        <% end %>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Advocacy and awareness</h3>
        <p class="govuk-body">
          Speak up for the importance and value of a world-class computing education
          for every child. You can also help raise awareness of the NCCE and
          TeachComputing.org amongst teachers you know. Follow us on
          <%= link_to 'Twitter', 'https://twitter.com/WeAreComputing', class: 'ncce-link' %>,
          <%= link_to 'Facebook', 'https://facebook.com/WeAreComputing', class: 'ncce-link' %> and
          <%= link_to 'LinkedIn', 'https://www.linkedin.com/company/national-centre-for-computing-education', class: 'ncce-link' %>
          to keep up to date with our progress and latest news.
        </p>
      </div>
    </div>
  </div>
</div>
