<p id="<%= @professional_development_groups.first&.id %>" class="govuk-body ncce-activity-list__title govuk-!-margin-top-8 <%= add_groups_complete_icon_class(current_user, @professional_development_groups) %>">
  <%= t('.development.title.html') %>
</p>
<ul class="govuk-list ncce-activity-list ncce-activity-list--programme" role="list">
  <li class="ncce-activity-list__item">
    <div class="ncce-activity-list__item-content">
      <div>
        <% @cpd_courses.each do |pa| %>
          <%= render CpdCourseComponent.new(current_user: @current_user, activity: pa.activity, last_margin: false) %>
        <% end %>
      </div>
    </div>
  </li>
  <% if @issued_badge.present? %>
    <li class="ncce-activity-list__item">
      <div class="ncce-activity-list__item-content">
        <%= render DashBadgeComponent.new(
          badge: @issued_badge,
          tracking_event_category: @badge_tracking_event_category,
          tracking_event_label: @badge_tracking_event_label
        ) %>
      </div>
    </li>
  <% end %>
</ul>

<!-- Remember additional course handling -->
<% @community_groups.each do |group| %>
  <p id="<%= group.id %>" class="govuk-body ncce-activity-list__title <%= add_group_complete_icon_class(current_user, group) %>">
    <%= group.formatted_title %>
  </p>
  <%= render CommunityActivityListComponent.new(
    programme_activity_grouping: group,
    community_achievements: @community_achievements,
    tracking_category:
  ) %>
<% end %>
