<% meta_tag :title, 'Secondary certificate - Teach Computing' %>
<div class="hero hero hero--<%= @programme.slug %> hero--orange-bg hero--bottom-glyph">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <%= render 'pages/certification/programme-enrolment-status', programme: @programme %>
      <div class="i-belong-hero__wrapper hero__heading-wrapper i-belong hero__heading-wrapper--full-width">
          <div class="i-belong-hero__area--text">
            <h1 class="govuk-heading-xl hero__heading"><%= @programme.title %></h1>
          </div>
          <div class="i-belong-hero__area--logo">
            <%= image_pack_tag('media/images/pages/i-belong/i_belong_flag.svg') %>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="ncce-programmes-activity">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-l block-bottom-margin">Well done! You have completed the programme</p>
          <p class="govuk-body-m block-bottom-margin">Your activities are just being checked and we'll let you know by email when your certificate has been awarded.</p>
        </div>
      </div>
      <div class="secondary-certificate__pending">
        <%= render 'certificates/achievement_list_complete' %>
      </div>
    </div>
  </div>
</div>
