<%= content_tag :div, class: ['bordered-card-component', { "#{@class_name}": @class_name.present? }] do %>
  <% if @image_url.present? %>
    <div class="bordered-card-component__image-wrapper">
      <%= image_pack_tag @image_url, alt: @title, class: 'bordered-card-component__image' %>
    </div>
  <% end %>
  <h2 class="govuk-heading-m"><%= @title %></h2>
  <p class="govuk-body"><%= @text %></p>
  <p class="govuk-body"><%= link_to @link_title, @link_url, class: 'ncce-link', data: { event_action: 'click', event_category: @tracking_page, event_label: @tracking_label } %></p>
<% end %>
