<%= render AsideComponent.new(title: 'How to enrol') do |component| %>
  <% component.with_body do %>
    <ol class="govuk-body-s">
      <% pathway.enrol_copy.each do |line| %>
        <li><%= line.html_safe %></li>
      <% end %>
    </ol>
    <% if current_user.nil? %>
      <%= link_to 'Create an account', create_account_url, class: 'govuk-button button button--aside button--margin-bottom' %>
      <p class="govuk-body-s">
        Already have a STEM learning account? Simply
        <%= link_to 'log in', auth_url, method: :post %>
      </p>
    <% elsif programme.user_is_eligible?(current_user) %>
      <%= link_to 'Enrol', programme.enrol_path(user_programme_enrolment: { user_id: current_user.id, programme_id: programme.id, pathway_slug: pathway.slug }), method: :post, class: 'govuk-button button button--full-width', role: 'button', draggable: 'false' %>
    <% end %>
  <% end %>
<% end %>
