<div
  class="primary-dashboard-activity"
  data-controller="primary-dashboard-activity-component"
  data-primary-dashboard-activity-component-create-path-value="<%= achievements_path %>">

  <h2 class="govuk-heading-s"><%= heading_text %></h2>
  <div class="primary-dashboard-activity__activity" data-primary-dashboard-activity-component-target="activityDetails">
    <% user_programme_activities.each do |upa| %>
      <div class="primary-dashboard-activity__activity-details">
        <div class="primary-dashboard-activity__activity-details-title">
          <div>
            <p class="govuk-body-m"><%= upa.activity.title %></p>
          </div>
          <div>
            <%= image_pack_tag('media/images/icons/remove-activity-icon.svg') %>
          </div>
        </div>
        <p class="govuk-body-s"><%= upa.activity.public_copy["description"].html_safe %></p>
        <%= link_to "Submit evidence >", "#", class: "govuk-button ncce-button button" %>
      </div>
    <% end %>
  </div>
  <div class="primary-dashboard-activity__selection-wrapper">
    <%= select_tag :activity, options_for_select(@programme_activities
      .reject { |pa| user_programme_activities.map(&:activity_id).include?(pa.activity.id) }
      .map { |pa| [pa.activity.title, pa.activity.id] }),
      prompt: "Select from the list", class: "govuk-select",
      data: {
        action: "change->primary-dashboard-activity-component#selectActivity"
      } %>
    <%= link_to "Choose activity", "#", class: "govuk-button button button--inverted govuk-!-margin-0",
      data: { action: "primary-dashboard-activity-component#submitActivitySelection" } %>
  </div>
</div>
