<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l"><%= @title %></h2>
        <p class="govuk-body"><%=  @intro %></p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <div class="courses-grid">
            <% @courses.each do |course| %>
              <div class="courses-grid--course">

                <div class="courses-grid--image-wrapper">
                  <%= image_pack_tag course[:image], alt: course[:image_alt], class: 'courses-grid--image' %>
                  <% if course[:banner_text] %>
                    <span class="govuk-body-s courses-grid--banner">
                      <%= course[:banner_text] %>
                    </span>
                  <% end %>
                </div>

                <p class="govuk-body">
                  <strong>
                    <%= link_to course[:title], course[:url], class: 'ncce-link', data: { event_action: 'click',
                                                                                          event_category: nil,
                                                                                          event_label: course[:event_label] } %>
                  </strong>
                </span>
                <p class="govuk-body">
                  <%= course[:description].html_safe %>
                </p>
                <div class="courses-grid--details">
                  <div>
                    <span class="govuk-body-s <%= course[:icon_class] %> courses-grid--type">
                      <%= course[:type] %>
                    </span>
                  </div>
                  <div>
                    <%= content_tag :span, class: ['govuk-body-s', 'icon-clock', 'courses-grid--time', { 'govuk-!-margin-left-0': course[:duration].blank? }] do %>
                      <%= course[:time_commitment] %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
      </div>
    </div>
    <p class="govuk-body govuk-!-text-align-centre govuk-!-margin-bottom-0">
      <%= link_to "Browse our courses", @course_link, class: 'govuk-button button button--inverted', data: { event_action: 'click',
                                                                            event_category: @event_category,
                                                                            event_label: 'All courses btn'} %>
    </p>
  </div>
</div>
