<%= render GovGridRowComponent.new(additional_classes: wrapper_classes) do |row|  %>
  <%= row.with_column("full") do %>
    <% if @section_title %>
      <h2 class="govuk-heading-m"><%= @section_title %></h2>
    <% end %>
      <div class="tc-row">

      <div class="tc-row-two-thirds">
        <%= content_tag :div, class: left_card_classes do %>
          <%= render @card_content.render %>
        <% end %>
      </div>

      <div class="tc-row-one-third">
        <div class="split-horizontal-card">
          <%= render SectionTitleWithIconComponent.new(text: @aside_title, icon: @aside_icon, text_size: :small) %>
          <%= render @aside_content.render %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
