<%if @label %>
<p class="govuk-body i-belong__label tooltip">
  <%= link_to i_belong_path do %>
    <%= image_pack_tag('media/images/pages/i-belong/i_belong_icon.svg') %>
  <% end %>
  <span class="tooltiptext">
    <%= link_to 'I Belong: encouraging girls into computer science', i_belong_path, class: 'govuk-link--no-underline ncce-link' %>
  </span>
</p>

<% else %>
<div class="i-belong-flag">
  <div class="tooltip">
    <%= link_to i_belong_path do %>
      <%= image_pack_tag('media/images/pages/i-belong/i_belong_flag.svg') %>
    <% end %>
    <span class="tooltiptext">
      <%= link_to 'I Belong: encouraging girls into computer science', i_belong_path, class: 'govuk-link--no-underline ncce-link' %>
    </span>
  </div>
</div>
<% end %>
