<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">BT, Rolls-Royce and Arm back new National Centre for Computing Education</h1>
          <p class="govuk-body-s">21 March 2019</p>
          <p class="govuk-body-l">The National Centre for Computing Education (‘NCCE’) has secured funding from BT, Rolls-Royce and Arm to improve the reach and quality of computing teaching across England. This industry investment will complement the Government’s £84 million investment to create the NCCE.</p>
          <img src="/images/bt-arm-rolls-royce-back-ncce.jpg" class="govuk-!-width-full" alt=""/>
          <p class="govuk-body">Three quarters of large companies and just under half of small medium enterprises are affected by a digital skills gap, posing a major risk to business growth, according to a government report, <%= link_to 'Digital Skills for the UK Economy', 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/492889/DCMSDigitalSkillsReportJan2016.pdf', class: 'ncce-link', target: '_blank' %>. Bridging this shortage in digital skills requires investment now so that a world-class computing education is offered to students from an early age. Equipping schools, colleges and teachers today ensures that England has a workforce suitably prepared for tomorrow.</p>
          <p class="govuk-body">BT is a strategic partner and will contribute significantly over the next four years, putting the <%= link_to 'Barefoot', 'https://www.barefootcomputing.org/', class: 'ncce-link', target: '_blank' %> teaching resources for primary age children at the heart of the NCCE’s offer for primary school teachers. The BT-funded and managed Barefoot computing programme delivers free classroom-ready teaching resources for primary schools, in line with the national curriculum. BT will also be creating a new network of Barefoot Ambassadors and sponsoring teacher bursaries to enable Barefoot teachers to access NCCE training.</p>
          <p class="govuk-body">As part of their ambition to ensure no child is left behind Rolls-Royce will sponsor bursaries for schools to enable them to take full advantage of the opportunities on offer through the NCCE. This will complement their extensive existing school engagement programme delivered through <%= link_to 'STEM Learning’s Project ENTHUSE', 'https://www.stem.org.uk/project-enthuse', class: 'ncce-link', target: '_blank' %>.</p>
          <p class="govuk-body">Arm will also sponsor bursaries enabling teachers in areas where pupils make the least progress and have the poorest access to high-quality schools, to access Continuing Professional Development through the NCCE. Furthermore, the <%= link_to 'Arm School Program', 'http://www.arm.com/schools', class: 'ncce-link', target: '_blank' %> is working with its partners – including the NCCE and <%= link_to 'Computing at School', 'https://www.computingatschool.org.uk/', class: 'ncce-link', target: '_blank' %> – to develop quality, free-to-access teaching and learning resources.</p>
          <p class="govuk-body">This investment will particularly help increase the number of pupils in schools and colleges studying computer science at GCSE, AS and A level, particularly girls and those in disadvantaged areas.</p>
          <p class="govuk-body">Yvonne Baker, Chief Executive of STEM Learning, on behalf of the NCCE said,</p>
          <p class="govuk-body-l"><em>“Having the support of industry is vital to the overall success of the NCCE, and so we are delighted to be able to announce our first round of sponsors. Businesses are very aware that the young people benefitting from this investment will be their workforce of tomorrow. High quality, knowledgeable teaching of computing is the cornerstone of achieving this.”</em></p>
          <p class="govuk-body">Philip Jansen, BT’s Group Chief Executive, said </p>
          <p class="govuk-body-l"><em>“A dynamic economy requires a tech literate society, where young people don’t just consume technology, but really know how it works.  Our children need the skills to become the problem solvers and digital innovators of the future. The NCCE is a critical step towards this and I’m delighted BT will be its first strategic partner, bringing our work in primary schools through Barefoot Computing to even more teachers and their pupils.”</em></p>
          <p class="govuk-body">Paul Broadhead, Head of Community Investment & Education Outreach, Rolls-Royce said</p>
          <p class="govuk-body-l"><em>“Through our existing work with Project ENTHUSE we know that high quality continuous professional development for teachers makes a real, positive difference for young people and so we are thrilled to be helping amazing teachers to enthuse their students about ours and their digital futures.”</em></p>
          <p class="govuk-body-l"><em>“Arm is committed to working with partners such as the NCCE to close the skills gap and engage the next generation in STEM disciplines such as computing,”</em></p>
          <p class="govuk-body">said Graham Budd, President and Chief Operating Officer, Arm.</p>
          <p class="govuk-body-l"><em>“The NCCE will play a vital role in encouraging more students from all backgrounds to expand their experience of computing inside and outside of school. Additionally, our Arm School Program will support the NCCE on a variety of key initiatives over the coming years.”</em></p>
          <hr>
          <p class="govuk-body-s">You can find out more information about the National Centre for Computing Education and sign up to hear more from us by visiting <%= link_to 'our home page', root_path, class: 'ncce-link' %></p>
          <p class="govuk-body-s">Organisations wanting to get involved with the work of the National Centre for Computing Education can <%= link_to 'visit our employers page', get_involved_path, class: 'ncce-link' %></p>
          <h2 class="govuk-heading-s">Notes to editors:</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>The National Centre for Computing Education (NCCE) was established in November 2018 with £84 million of Government funding and was supported by a further £1 million from Google to develop training for secondary school computing teachers.</li>
            <li>The government’s decision to substantially invest in computer science in schools followed a Royal Society report, <%= link_to 'After the Reboot', 'https://royalsociety.org/~/media/policy/projects/computing-education/computing-education-report.pdf', class: 'ncce-link', target: '_blank' %>, which showed computing education across the UK was patchy and fragile. It called for action to be taken in a swift and coordinated way by government, industry, and non-profit organisations.</li>
            <li>The NCCE aims to increase the number of pupils in schools and colleges who study computer science at GCSE, AS and A level, particularly girls and in disadvantaged areas, and ensure that there is a strong pipeline of digital skills.</li>
            <li>The NCCE is funded by the Department for Education and is being delivered by a consortium of STEM Learning, Raspberry Pi Foundation and BCS, The Chartered Institute for IT.</li>
            <li>STEM Learning is the UK’s largest provider of education and careers support in science, technology, engineering and mathematics (STEM). It has a mission to improve lives through world-leading STEM education. For more information, visit <%= link_to 'www.stem.org.uk', 'https://www.stem.org.uk/', class: 'ncce-link', target: '_blank' %></li>
            <li>The Raspberry Pi Foundation creates world class educational resources for computing and computer science used by millions of people each year, and has developed online courses that have supported tens of thousands of computing educators. For more information, visit <%= link_to 'www.raspberrypi.org', 'https://www.raspberrypi.org/', class: 'ncce-link', target: '_blank' %></li>
            <li>BCS, The Chartered Institute for IT is the professional body for computing and, as part of its Royal Charter, sets and maintains academic and professional standards in computing. For more information, visit <%= link_to 'www.bcs.org', 'https://www.bcs.org/', class: 'ncce-link', target: '_blank' %></li>
            <li>Interview opportunities are available.</li>
          </ul>
          <h2 class="govuk-heading-s">Media enquiries to:</h2>
          <p class="govuk-body-s">Ian Wainwright, Head of Marketing and Communications, STEM Learning<br>
          M: +44 (0)7969976768<br>
          E: i.wainwright@stem.org.uk</p>
        </div>
      </div>
    </div>
  </div>
</div>
