<div class="hero hero--resources hero--orange hero--bottom-glyph">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
			<p class="govuk-body curriculum__label">Lesson</p>
      <div class="hero__heading-wrapper hero__heading-wrapper--unit<%= 'hero__heading-wrapper--full-width' if local_assigns[:full_width] %>">
        <h1 class="govuk-heading-xl hero__heading"><%= @lesson.title %></h1>
      </div>
    </div>
  </div>
</div>
<div class="govuk-width-container">
	<p class="govuk-body govuk-!-padding-top-4 govuk-!-margin-bottom-0"><%= link_to 'Curriculum', curriculum_key_stages_path, class: 'govuk-link ncce-link' %> > <%= link_to @lesson.unit.year_group.key_stage.short_title, curriculum_key_stage_units_path(@lesson.unit.year_group.key_stage.slug), class: 'govuk-link ncce-link' %> > <%= link_to "Year #{@lesson.unit.year_group.year_number} - #{@lesson.unit.title}", curriculum_key_stage_unit_path(key_stage_slug: @lesson.unit.year_group.key_stage.slug, unit_slug: @lesson.unit.slug) %> > <%= @lesson.title %></p>
	<div class="govuk-main-wrapper resources__wrapper">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<p class="govuk-body govuk-!-margin-bottom-8"><%= @lesson.description %></p>
        <% unless @lesson.objectives.nil? %>
          <h3 class="govuk-heading-m">Learning objectives</h3>
            <%= Kramdown::Document.new(@lesson.objectives).to_html.html_safe %>
        <% end %>
			</div>
			<div class="govuk-grid-column-one-third">
				<div class="ncce-aside ncce-diagnostic__aside">
					<h2 class="govuk-heading-m ncce-aside__title">Package contents</h2>
					<ul class="govuk-list">
						<li>Lesson plans</li>
						<li>Learning graphs</li>
						<li>Unit overviews</li>
						<li>Activities</li>
					</ul>
					<%= link_to 'Download all lesson files', @lesson.zipped_contents, class: 'govuk-button button button--aside govuk-!-margin-bottom-7' %>
					<%= render 'curriculum/rating' %>
				</div>
			</div>
		</div>
		<%= render 'curriculum/feedback' %>
	</div>
</div>
