<% meta_tag :title, @lesson.title %>
<% meta_tag :description, @lesson.description %>
<% meta_tag :image, asset_pack_path('media/images/curriculum/curriculum.png') %>
<div class="hero hero--resources <%= ['1', '2'].include?(@unit.year_group.key_stage.level) ? 'hero--orange' : 'hero--purple' %> hero--bottom-glyph">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
			<p class="govuk-body curriculum__label"><%= year_group_title(@unit.year_group.year_number) %></p>
      <div class="hero__heading-wrapper hero__heading-wrapper--unit<%= 'hero__heading-wrapper--full-width' if local_assigns[:full_width] %>">
        <h1 class="govuk-heading-xl hero__heading"><%= lesson_title_wording(@lesson) %></h1>
      </div>
    </div>
  </div>
</div>
<div class="govuk-width-container curriculum">
  <%= render partial: 'curriculum/breadcrumb', locals: {
    key_stage_title: @unit.year_group.key_stage.short_title,
    key_stage_path: curriculum_key_stage_units_path(@unit.year_group.key_stage.slug),
    unit_path: curriculum_key_stage_unit_path(key_stage_slug: @unit.year_group.key_stage.slug, unit_slug: @unit.slug),
    current: 'Lesson'
  } %>
	<div class="govuk-main-wrapper resources__wrapper">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds external-content">
				<p class="govuk-body govuk-!-margin-bottom-8"><%= @lesson.description %></p>
        <% unless @lesson.learning_objectives.empty? %>
          <%= render partial: 'curriculum/lessons/learning_objectives', locals: {
            objectives: @lesson.learning_objectives,
            key_stage_level: @unit.year_group.key_stage.level
          } %>
        <% end %>
        <%= render CurriculumVideoComponent.new(
          name: @lesson.video&.name,
          job_title: @lesson.video&.job_title,
          description: @lesson.video&.description,
          video_url: @lesson.video&.video_url,
          layout: :col
          ) %>
      </div>
			<div class="govuk-grid-column-one-third">
				<div class="ncce-aside">
					<h2 class="govuk-heading-m ncce-aside__title">Package contents</h2>
					<ul class="govuk-list">
						<li>Lesson plans</li>
						<li>Learning graphs</li>
						<li>Unit overviews</li>
						<li>Activities</li>
					</ul>
          <% if @lesson.zipped_contents&.file.present? %>
            <% if current_user %>
              <%= link_to generate_download_url(@lesson.zipped_contents.file), class: 'govuk-button button button--aside lesson-download-button govuk-!-margin-bottom-3' do %>
                Download all lesson files <span class="lesson-download-button__meta-data">(<%= @lesson.zipped_contents.size %>)</span>
              <% end %>
              <div class="govuk-body-s govuk-!-margin-bottom-7">Updated: <%= DateTime.parse(@lesson.zipped_contents.created).strftime('%d %b %Y') %></div>
              <% if @lesson.isaac_url.present? %>
                <%= render partial: 'curriculum/gcse-revision', locals: { isaac_url: @lesson.isaac_url, category: "Lesson" }, :class => 'govuk-button button button--aside' %>
              <% end %>
              <%= render partial: 'curriculum/rating', locals: { path: :create_curriculum_lesson_rating_path, comment_path: :update_curriculum_lesson_rating, choices_path: :update_curriculum_lesson_rating_choices, id: @lesson.id, user_id: current_user.id } %>
            <% else %>
              <%= link_to 'Log in to download', "#{auth_url}?source_uri=#{CGI.escape(request.original_url)}", method: :post, :class => 'govuk-button button button--aside govuk-!-margin-bottom-7' %>
              <p class="govuk-body-s ncce-aside__text">Not registered yet?</p>
              <p class="govuk-body-s ncce-aside__text"><%= link_to 'Create an account', create_account_url, class: 'govuk-link' %> and get access to over 500 hours of free teaching resources.</p>
              <% if @lesson.isaac_url.present? %>
                <%= render partial: 'curriculum/gcse-revision', locals: { isaac_url: @lesson.isaac_url, category: "Lesson" }, :class => 'govuk-button button button--aside' %>
              <% end %>
            <% end %>
          <% end %>
				</div>
			</div>
		</div>
		<%= render 'curriculum/feedback' %>
	</div>
</div>
