<div class="hero hero--resources hero--orange hero--bottom-glyph">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
			<p class="govuk-body curriculum__label">Lesson</p>
      <div class="hero__heading-wrapper hero__heading-wrapper--unit<%= 'hero__heading-wrapper--full-width' if local_assigns[:full_width] %>">
        <h1 class="govuk-heading-xl hero__heading">L6: Using a computer responsibly</h1>
      </div>
    </div>
  </div>
</div>
<div class="govuk-width-container">
	<p class="govuk-body govuk-!-padding-top-4 govuk-!-margin-bottom-0"><%= link_to 'Resources', '', class: 'govuk-link ncce-link' %> > <%= link_to 'KS1', '', class: 'govuk-link ncce-link' %> >  <%= link_to 'Year 1 - Technology Around Us', '', class: 'govuk-link ncce-link' %> > Lesson 6 </p>
	<div class="govuk-main-wrapper resources__wrapper">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<p class="govuk-body govuk-!-margin-bottom-8">In this lesson, learners will be introduced to the concept of using computers safely, within the context of a school setting. They will explore why we have rules in school and how those rules help us, and then apply that to rules needed for using computer technology safely.</p>
				<h3 class="govuk-body">Learning objectives</h3>
				<ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-9">
					<li>Define what networks are</li>
					<li>Describe the hardware components required to build networks of devices</li>
					<li>Analyse the benefits and problems associated with networks</li>
				</ul>
			</div>
			<div class="govuk-grid-column-one-third">
				<div class="ncce-aside ncce-diagnostic__aside">
					<h2 class="govuk-heading-m ncce-aside__title">Package contents</h2>
					<ul class="govuk-list">
						<li>Lesson plans</li>
						<li>Learning graphs</li>
						<li>Unit overviews</li>
						<li>Activities</li>
					</ul>
					<%= link_to 'Download all lesson files', '', class: 'govuk-button button button--aside govuk-!-margin-bottom-7' %>
					<%= render 'curriculum/rating' %>
				</div>
			</div>
		</div>
		<%= render 'curriculum/feedback' %>
	</div>
</div>
