<div class="resources-year">
  <h3 id="year-8" class="govuk-heading-m resources-year__heading">Year 8</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <ul class="govuk-list resources-year__lesson-list" aria-role="list">
        <li>
          <h4 class="govuk-heading-s resources-year__title">Computing systems is online</h4>
          <p class="govuk-body">This unit takes learners on a tour through the different layers of computing systems: from programs and the operating system, to the physical components that store and execute these programs, to the fundamental binary building blocks that these components consist of. The aim is to provide a concise overview of how computing systems operate, conveying the essentials and abstracting away the technical details that might confuse or put off learners.The last lessons cover two interesting contemporary topics: artificial intelligence and open source software. These are linked back to the content of the unit, helping learners to both broaden their knowledge and focus on the topics addressed in the unit.</p>
					<p class="govuk-body">The unit assumes no prior knowledge. There are, however, links to the 'Representations' units taught in <%= link_to 'Years 8', '#year-8', class: 'ncce-link' %> and <%= link_to '9', '#year-9', class: 'ncce-link' %> and the 'Networks' units taught in <%= link_to 'Years 7', '#year-7', class: 'ncce-link' %> and <%= link_to '8', '#year-8', class: 'ncce-link' %>.</p>
        </li>
        <li>
          <h4 class="govuk-heading-s resources-year__title">Representations:
            from clay to silicon</h4>
          <p class="govuk-body">Humans use symbols to record, process and
            transmit information. Introduce binary digits to your learners as
            the symbols computers use to perform these tasks and focus on the
            representation of text and numbers.</p>
        </li>
        <li>
          <h4 class="govuk-heading-s resources-year__title">Programming: Mobile app development</h4>
          <p class="govuk-body">Today, there’s an app for every possible need. With this unit you
          can take learners through the entire process of creating their own mobile app, using
          App Lab from code.org. Building on the programming concepts learners used in previous units,
          they will work in pairs to perform user research, design their app, write the code for it,
          before finally evaluating and publishing it for the world to use.</p>
        </li>
        <li>
          <h4 class="govuk-heading-s resources-year__title">Introduction to Python Programming</h4>
          <p class="govuk-body">This unit introduces learners to text-based programming with Python.
            <br>The lessons form a journey that starts with simple programs involving input and output, and gradually moves on through arithmetic operations, randomness, selection, and iteration. Emphasis is placed on tackling common misconceptions and elucidating the mechanics of program execution.
            <br>A range of pedagogical tools is employed throughout the unit, with the most prominent being pair programming, live coding, and worked examples.
            <br>The <%= link_to 'Year 7 Programming', '#year-7', class: 'ncce-link' %> units are a prerequisite for this unit.</p>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= render 'aside', year: 8, resource_url: 'https://ncce.io/Year8', live: true %>
    </div>
  </div>
</div>
