<% meta_tag :title, "Resources - Teach Computing" %>
<%= render 'components/hero', hero_title: 'Teaching resources' %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">World-class lesson plans, unit guides and teacher
          guides to help you <strong>teach computing</strong>.</p>
        <p class="govuk-body">If you would like to provide feedback on any of
          our resources, you can do so via this
          <%= link_to 'form', 'https://forms.gle/qT2XqoCecYjLLohC6' %> or by
          emailing us at <%= mail_to 'resourcesfeedback@raspberrypi.org' %>.</p>
      </div>
    </div>
  </div>
</div>
<%= render 'key-stage-header', key_stage: 1, guide_url: '#' %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <%= render 'year-1' %>
    <%= render 'year-2' %>
  </div>
</div>
<%= render 'key-stage-header', key_stage: 2, guide_url: '#' %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <%= render 'year-3' %>
    <%= render 'year-4' %>
    <%= render 'year-5' %>
  </div>
</div>
<%= render 'key-stage-header', key_stage: 3, guide_url: '#' %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <%= render 'year-7' %>
    <%= render 'year-8' %>
    <%= render 'year-9' %>
  </div>
</div>
