<%= render GovGridRowComponent.new do |row|  %>
  <%= row.with_column(@programme.show_enrolment_on_progress_bar? ? "two-thirds" : "full") do %>
    <div class="progress-bar-component">
      <h2 class="govuk-heading-m">Progress bar<h2>
      <p class="govuk-body">The key steps to earn your <%= @programme.title %> certificate</p>
      <div class="progress-bar-component__objectives-wrapper">
        <% if @programme.show_enrolment_on_progress_bar? %>
          <div class="progress-bar-component__objective">
            <div class="progress-bar-component__objective--icon <%= user_enrolled_class %>">
            </div>
            <div class="progress-bar-component__objective--text">
              <p class="govuk-body-s govuk-!-margin-0">Enrol</p>
            </div>
          </div>
        <div class="progress-bar-component--dotted-line icon-dotted-line"></div>
        <% end %>
        <% @programme_objectives.each_with_index do |programme_objective, index| %>
          <% if programme_objective.multi_stage_group? %>
            <div class="progress-bar-component__objective">
              <div class="progress-bar-component__objective--icon <%= programme_objective.course_status_class(current_user, state:[:in_progress, :enrolled]) %>"></div>
              <div class="progress-bar-component__objective--text">
                <p class="govuk-body-s govuk-!-margin-0">Book required CPD</p>
              </div>
            </div>
            <div class="progress-bar-component--dotted-line icon-dotted-line"></div>
            <div class="progress-bar-component__objective">
              <div class="progress-bar-component__objective--icon <%= programme_objective.course_status_class(current_user, state:[:complete]) %>"></div>
              <div class="progress-bar-component__objective--text">
                <p class="govuk-body-s govuk-!-margin-0">Attend required CPD</p>
              </div>
            </div>
          <% else %>
            <div class="progress-bar-component__objective">
              <div class="progress-bar-component__objective--icon icon-blank-circle"></div>
              <div class="progress-bar-component__objective--text">
                <p class="govuk-body-s govuk-!-margin-0"><%= programme_objective.progress_bar_title.html_safe %></p>
              </div>
            </div>
          <% end %>
          <% unless index == @programme_objectives.size - 1 %>
            <div class="progress-bar-component--dotted-line icon-dotted-line"></div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @programme.show_enrolment_on_progress_bar? %>
    <%= row.with_column("one-third") do %>
      <p>Aside</p>
    <% end %>
  <% end %>
<% end %>
