<% meta_tag :title, 'Site Search - Teach Computing' %>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Search</h1>
        <%= render SiteSearchComponent.new(default: @query) %>
        <p class="govuk-heading-s search__results"><%= @results.count %> results</p>
        <hr class="ncce-hr">
        <div class="search__sort-by">
          <p class="govuk-body-s">Sort by</p>
          <select class="govuk-select ncce-select" data-controller="search-order">
            <% sort_options.each do |value, name| %>
              <option value="<%= value %>"><%= name %></option>
            <% end %>
          </select>
        </div>

        <% @paged_results.each do |page| %>
          <hr class="ncce-hr">
          <h2 class="govuk-heading-s"><%= link_to page.title, page.url %></h2>
          <p class="govuk-body-s"><%= page.excerpt %></p>
        <% end %>

        <hr class="ncce-hr">
        <%= render PaginationComponent.new(current_page: @pagy.page, page_count: @pagy.pages) %>
      </div>
    </div>
</div>
