<%= render GovGridRowComponent.new do |row_component| %>
  <%= row_component.with_column("two-thirds") do %>
    <div class="dashboard-programme-activity-group-section" id="<%= @anchor_id %>">
      <% if @title %>
        <div class="dashboard-programme-activity-group-section__title">
          <% if @completed %>
            <div class="dashboard-programme-activity-group-section__completed-badge">
              <span class="govuk-body-m">Completed</span>
            </div>
          <% end %>
          <h1 class="govuk-heading-m"><%= @title %></h1>
        </div>
      <% end %>

      <div class="dashboard-programme-activity-group-section__content">
        <% if @subtitle %>
          <h3 class="govuk-heading-s dashboard-programme-activity-group-section__subheading"><%= @subtitle %></h3>
        <% end %>
        <%= content %>
      </div>
    </div>
  <% end %>

  <%= row_component.with_column("one-third") do %>
    <%= render_parent %>
  <% end %>
<% end %>
