<%= render GovGridRowComponent.new(padding: {top: 0, bottom: 0}) do |row| %>
  <%= row.with_column("full") do %>
    <div class="cms-homepage-hero">
      <div class="cms-homepage-hero__column-left">
        <div class="cms-homepage-hero__column-left-content">
          <h1 class="govuk-heading-l"><%= @title %></h1>
          <%= render @house_content.render %>
          <div class="cms-homepage-hero__button-container">
            <% @buttons.each do |button| %>
              <%= render button.render %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="cms-homepage-hero__column-right"></div>
    </div>
  <% end %>
<% end %>
