<%= content_tag :div, class: ['hero-media-component__wrapper', { "#{@class_name}": @class_name.present? }] do %>
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="hero-media-component white-bg">
        <div class="hero-media-component__text-wrapper">
          <h1 class="govuk-heading-xl hero-media-component__title"><%= @title %></h1>
          <p class="govuk-body-l hero-media-component__text"><%= @text.html_safe %></p>
        </div>
        <div class="hero-media-component__media">
          <% if @video.present? %>
            <iframe src="<%= @video[:url] %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-event-action="click" data-event-category="<%= @video[:tracking_page] %>" data-event-label="<%= @video[:tracking_label] %>"></iframe>
          <% else %>
            <%= image_pack_tag @image[:url], alt: @image[:title] %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
