<% unless @course_filter.nil? %>
<div class="ncce-aside ncce-aside--filters" data-action="resize@window->course-filter#openFilterFormOnDesktop" data-course-filter-target="filterFormHeader">
  <div class="ncce-aside--filters-header">
    <h2 class="govuk-body-m ncce-aside__title ncce-aside--filters__title">Filter courses</h2>
    <button type="button" class="ncce-courses__filter-form-toggle" data-course-filter-target="filterFormToggle" data-action="click->course-filter#toggleFilterForm">
      <span class="ncce-courses__filter-form-toggle-applied <%= filter_count(@course_filter) == 0 ? 'hidden' : '' %>" data-course-filter-target="filterCount"><%= applied_filters_string(@course_filter) %></span>
      Filter courses
    </button>
  </div>
  <div class="ncce-courses__filter hidden" id="course-filter" data-course-filter-target="filterForm">
    <div class='ncce-courses__clear-filters <%= filter_count(@course_filter) == 0 ? 'hidden' : '' %>' data-course-filter-target="clearFilters">
      <%= link_to 'Clear all filters',
        courses_path(anchor: 'results-top', hub_id: @filter_params[:hub_id]),
        class: 'govuk-button button govuk-body-m',
        method: :get, # force a reload
        data: {
          action: 'click->course-filter#clearFilters',
          event_action: 'click',
          event_category: 'Courses',
          event_label: 'Clear all filters'
        } %>
    </div>
    <%= form_with url: course_filter_path, method: :get, class: 'ncce-courses__filter-form', data: { action: "ajax:success->course-filter#handleResults", 'course-filter-target': "form" } do %>
      <%= label_tag :level, 'Key Stage:', class: 'govuk-body-s ncce-label--s' %>
      <%= select_tag :level,
        options_for_select(@course_filter.age_groups.keys, @course_filter.current_level),
        {
          include_blank: 'Any level',
          class: ['govuk-select', 'ncce-select', 'ncce-select--filters', { 'filter--active': @course_filter.current_level }],
          'aria-label': 'Filter by level',
          data: { action: "change->course-filter#filter change->course-filter#toggleActiveSelect change->course-filter#keyStageSelectChanged" }
        }
      %>
      <%= label_tag :level, 'Topic:', class: 'govuk-body-s ncce-label--s' %>
      <%= select_tag :topic,
        options_for_select(@course_filter.course_tags.keys, @course_filter.current_topic),
        {
          include_blank: 'Any topic',
          class: ['govuk-select', 'ncce-select', 'ncce-select--filters', { 'filter--active': @course_filter.current_topic }],
          'aria-label': 'Filter by topic',
          data: { action: "change->course-filter#filter change->course-filter#toggleActiveSelect change->course-filter#topicSelectChanged" }
        }
      %>
      <%= label_tag :certificate, 'Certificate:', class: 'govuk-body-s ncce-label--s' %>
      <%= select_tag :certificate,
        options_for_select(@course_filter.certificates, @course_filter.current_certificate),
        {
          include_blank: 'Any certificate',
          class: ['govuk-select', 'ncce-select', 'ncce-select--filters', { 'filter--active': @course_filter.current_certificate }],
          'aria-label': 'Filter by certificate',
          data: { action: "change->course-filter#filter change->course-filter#toggleActiveSelect change->course-filter#certificateSelectChanged" }
        }
      %>
      <%= label_tag :format, 'Course format:', class: 'govuk-body-s ncce-label--s' %>
      <div class="govuk-checkboxes">
        <% @course_filter.course_formats.each_with_index do |course_format, index| %>
          <div class='govuk-checkboxes__item ncce-checkboxes__item'>
            <%= check_box_tag 'course_format[]', course_format[:value], @course_filter&.current_format&.include?(course_format[:value]), class: 'govuk-checkboxes__input ncce-checkboxes__input', data: { action: 'change->course-filter#filter  change->course-filter#toggleActiveCheckbox', 'aria-label': 'Filter by format' }, id: "course_format_#{index}" %>
            <%= label_tag "course_format_#{index}", course_format[:label], class: 'govuk-label govuk-checkboxes__label ncce-label ncce-checkboxes__label' %>
          </div>
        <% end %>
      </div>

      <%= label_tag :date_range, 'Between Dates:', class: 'govuk-body-s ncce-label--s' %>
      <%= render DatepickerComponent.new(
          "date_range",
          nil,
          flatpickr: { mode: "range" },
          options: { data: { action: "changeRange->course-filter#filter"} }
        ) 
      %>

      <div class="ncce-aside--filters-geo">
        <%= label_tag :format, 'Find face to face courses near you:', class: 'govuk-body-s ncce-label--s' %>
        <%= text_field_tag :location, @course_filter.current_location, class: 'govuk-input ncce-search-input ncce-aside--filters-location', placeholder: 'Town, city or postcode' %>
        <%= submit_tag 'Search location',
          class: 'govuk-button button govuk-!-margin-bottom-0',
          data: {
            action: "click->course-filter#filter click->course-filter#addLocationFilter click->course-filter#locationSearched",
            event_action: 'click',
            event_category: 'Courses',
            event_label: 'Search location'
          } %>
      </div>
      <div class="hidden govuk-body ncce-aside--filters-radius" data-course-filter-target="distanceFilter">
        <span>Within a</span>
        <%= select_tag :radius,
          options_for_select(@course_filter.search_radii.map { |r| ["#{r} mile", r]}, @course_filter.current_radius),
          {
            class: ['govuk-select', 'ncce-select', 'ncce-select--filters', 'ncce-aside--filters-narrow-select', { 'filter--active' => @course_filter.current_radius }],
            'aria-label': 'Filter by distance',
            data: { action: "input->course-filter#filter", course_filter_target: "radiusSelect"}
          }
        %>
      <span>radius of </span><span data-course-filter-target="geocodedLocation">search location</span>
      </div>
      <div class="hidden ncce-aside--filters-geo-error" data-course-filter-target="geocodingError">
        <p class="govuk-body-s">
          The location was not recognised. Please check it is correct.
        </p>
      </div>
      <%= hidden_field_tag 'hub_id', @course_filter.current_hub_id %>
      <%= hidden_field_tag 'js_enabled', false %>

      <%= submit_tag "Apply filters", class: 'govuk-button button ncce-courses__filter-button ncce-courses__apply-filters-button' %>
    <% end %>
    <button type="button" class="govuk-button button ncce-courses__view-results" data-action="click->course-filter#closeFilterForm" data-course-filter-target="viewResultsCount">View <%= pluralize(@course_filter.total_results_count, 'result') %></button>
  </div>
</div>
<div data-course-filter-target="backToFilter"
     class="govuk-body sticky ncce-aside--filters__sticky ncce-aside--filters__back visually-hidden"
     data-action="scroll@window->course-filter#pageScrolled:passive">
  <span class="ncce-courses__filter-form-toggle-applied <%= filter_count(@course_filter) == 0 ? 'hidden' : '' %>" data-course-filter-target="filterCount2"><%= applied_filters_string(@course_filter) %></span>
  <%= link_to 'back to filters', '', class: ['ncce-link'], data: { action: "click->course-filter#scrollToFilters" } %>
</div>
<% end %>
