<% unless @course_filter.nil? %>
<div class="ncce-aside ncce-aside--filters">
  <h2 class="govuk-body-m ncce-aside__title">Filter courses</h2>
  <div class="ncce-courses__filter">
    <%= form_with url: course_filter_path, method: :get, class: 'ncce-courses__filter-form', data: { action: "ajax:success->course-filter#handleResults", 'course-filter-target': "form" } do %>
      <%= label_tag :level, 'Key Stage:', class: 'govuk-body-s ncce-label' %>
      <%= select_tag :level,
        options_for_select(@course_filter.age_groups.keys, @course_filter.current_level),
        {
          include_blank: 'Any level',
          class: 'govuk-select ncce-select ncce-select--filters',
          'aria-label': 'Filter by level',
          data: { action: "input->course-filter#filter" }
        }
      %>
      <%= label_tag :level, 'Topic:', class: 'govuk-body-s ncce-label' %>
      <%= select_tag :topic,
        options_for_select(@course_filter.course_tags.keys, @course_filter.current_topic),
        {
          include_blank: 'Any topic',
          class: 'govuk-select ncce-select ncce-select--filters',
          'aria-label': 'Filter by topic',
          data: { action: "input->course-filter#filter" }
        }
      %>
      <%= label_tag :certificate, 'Certificate:', class: 'govuk-body-s ncce-label' %>
      <%= select_tag :certificate,
        options_for_select(@course_filter.certificates, @course_filter.current_certificate),
        {
          include_blank: 'Any certificate',
          class: 'govuk-select ncce-select ncce-select--filters',
          'aria-label': 'Filter by certificate',
          data: { action: "input->course-filter#filter" }
        }
      %>
      <%= label_tag :location, 'Location:', class: 'govuk-body-s ncce-label' %>
      <%= select_tag :location,
        options_for_select(@course_filter.course_locations, @course_filter.current_location),
          {
            include_blank: 'Any location',
            class: 'govuk-select ncce-select ncce-select--filters',
            'aria-label': 'Filter by location',
            data: { action: "input->course-filter#filter" }
          }
      %>
      <%= label_tag :format, 'Course format:', class: 'govuk-body-s ncce-label' %>
      <% @course_filter.course_formats.each do |course_format| %>
        <div>
          <%= check_box_tag 'course_format[]', course_format, false, data: { action: "input->course-filter#filter", 'aria-label': 'Filter by format', class: 'govuk-checkboxes__input ncce-checkboxes' } %>
          <%= label_tag course_format, (course_format.to_s).humanize, class: 'govuk-body-s ncce-label' %>
        </div>
      <% end %>
      <%= hidden_field_tag 'hub_id', @course_filter.current_hub %>
    <% end %>
  </div>
</div>
<% end %>
<div class='ncce-courses__clear-filters <%= @course_filter.applied_filters.blank? ? 'hidden' : '' %>' data-course-filter-target="clearFilters">
  <%= link_to 'clear all filters', courses_path(hub_id: @filter_params[:hub_id], anchor: 'results-top'), class: 'govuk-link ncce-link govuk-body-m ncce-courses__clear-filters-text' %>
</div>
