<div class="ncce-aside" id="booking-list">
  <% if current_user %>
    <% if [:not_enrolled, :dropped].include? user_achievement_state(current_user, @activity) %>
        <% if !@course.online_cpd && @occurrences.empty? %>
          <h2 class="govuk-heading-m ncce-aside__title"><%= @booking.no_occurrences_title %></h2>
          <p class="govuk-body-s ncce-aside__text"><%= @booking.no_occurrences_introduction%></p>
        <% else %>
          <h2 class="govuk-heading-m ncce-aside__title"><%= @booking.authenticated_title %></h2>
          <p class="govuk-body-s ncce-aside__text"><%= @booking.introduction %></p>
        <% end %>
        <% if (@booking.show_stem_occurrence_list) %>
          <ul class="govuk-list ncce-booking-list">
          <% @occurrences.each do |occurrence| %>
            <li class="ncce-booking-list__item">
              <div class='govuk-body-s ncce-booking-list__date'>
                <%= @booking.activity_date(occurrence.start_date) %>
              </div>
              <div class='ncce-booking-list__details-wrapper'>
                <span class='govuk-body-s govuk-!-margin-bottom-0 ncce-booking-list__address'>
                  <%= @booking.address(occurrence) %>
                </span>
                <span class='ncce-booking-list__button_wrapper'>
                  <%= link_to(
                    @booking.booking_button_title,
                    @booking.booking_path(occurrence.course_occurrence_no),
                    class: 'govuk-button button',
                    draggable: 'false',
                    data: { event_action: 'click', event_category: 'course details', event_label: 'join course' },
                    target: :_blank
                  ) %>
                </span>
              </div>
            </li>
          <% end %>
          </ul>
          <%= link_to('Find your local Hub', '/hubs',
              class: 'govuk-button button button--full-width',
              draggable: 'false',
              target: :_blank, data_event_action: 'click',
              data_event_category: 'course details',
              data_event_label: 'Coming soon')
          %>
        <% else %>
          <p class="govuk-body">
            <%= link_to(
                @booking.authenticated_title,
                @booking.booking_path(@activity.stem_course_template_no),
                class: 'govuk-button button--aside',
                draggable: 'false',
                data: { event_action: 'click', event_category: 'course details', event_label: 'join online course' },
                target: :_blank
                ) %>
          </p>
          <%= render('start-date', date: @start_date) if (@start_date && !@started)  %>
        <% end %>
      </div>
    <% elsif user_achievement_state(current_user, @activity) == :enrolled && @course.online_cpd %>
      <h2 class="govuk-heading-m ncce-aside__title"><%= @booking.enrolled_title %></h2>
      <%= @booking.enrolled_introduction(@started) %></p>

      <% if @booking.enrolled_button_title(@start_date) %>
        <p class="govuk-body">
          <%= link_to(
            @booking.enrolled_button_title(@start_date),
            Rails.configuration.mylearning_dashboard_url,
            class: 'govuk-button button--aside',
            draggable: 'false',
            data: { event_action: 'click', event_category: 'course details', event_label: 'continue online course' },
            target: :_blank
          ) %>
        </p>
      <% end %>

      <%= render('start-date', date: @start_date) if (@start_date && !@started) %>
    <% elsif user_achievement_state(current_user, @activity) == :enrolled && !@course.online_cpd %>
       <h2 class="govuk-heading-m ncce-aside__title"><%= @booking.enrolled_title %></h2>
       <p class="govuk-body-s ncce-aside__text"><%= @booking.introduction %></p>
       <ul class="govuk-list ncce-booking-list">
         <% if  @user_occurrence.present? %>
           <li class="ncce-booking-details">
             <div class='govuk-body-s ncce-booking-list__date'>
               <%=  course_start_date(@user_occurrence.start_date) %>
             </div>
             <p class='govuk-body-s'> <%= course_subtitle_text(@course) %> </p>
               <span class='govuk-body-s govuk-!-margin-top-1 ncce-booking-list__address'>
                 <% unless @course.remote_delivered_cpd %>
                   <%="#{@user_occurrence.address_venue_name}"%><br> <%="#{@user_occurrence.address_line_one}"%><br><%="#{@user_occurrence.address_town}"%><br><%="#{@user_occurrence.address_postcode}" %>
                 <% end %>
                 <br>
                 <%= link_to 'Go to course', @booking.booking_path(@user_occurrence.course_occurence_no), class: 'govuk-!-font-weight-bold ncce-link' %>
               </span>
           </li>
         <% end %>
       </ul>
    <% elsif user_achievement_state(current_user, @activity) == :complete && !@course.online_cpd %>
      <h2 class="govuk-heading-m ncce-aside__title"><%= @booking.completed_title %></h2>
      <p class="govuk-body-s ncce-aside__text"><%= @booking.introduction %></p>
      <ul class="govuk-list ncce-booking-list">
        <% if  @user_occurrence.present? %>
          <li class="ncce-booking-details">
            <div class='govuk-body-s ncce-booking-list__date'>
              <%=  course_start_date(@user_occurrence.start_date) %>
            </div>
            <p class='govuk-body-s'> <%= course_subtitle_text(@course) %> </p>
              <span class='govuk-body-s govuk-!-margin-top-1 ncce-booking-list__address'>
                <% unless @course.remote_delivered_cpd %>
                  <%="#{@user_occurrence.address_venue_name}"%><br> <%="#{@user_occurrence.address_line_one}"%><br><%="#{@user_occurrence.address_town}"%><br><%="#{@user_occurrence.address_postcode}" %>
                <% end %>
                <br>
                <%= link_to 'Go to course', @booking.booking_path(@user_occurrence.course_occurence_no), class: 'govuk-!-font-weight-bold ncce-link' %>
              </span>
          </li>
        <% end %>
      </ul>
    <% elsif user_achievement_state(current_user, @activity) == :complete && @course.online_cpd %>
      <h2 class="govuk-heading-m ncce-aside__title"><%= @booking.completed_title %></h2>
      <p class="govuk-body-s ncce-aside__text"><%= @booking.completed_button_introduction %></p>
      <p class="govuk-body">
        <%= link_to(
          @booking.completed_button_title,
          Rails.configuration.mylearning_dashboard_url,
          class: 'govuk-button button--aside',
          draggable: 'false',
          data: { event_action: 'click', event_category: 'course details', event_label: 'view online course' },
          target: :_blank
        ) %>
      </p>
    <% end %>
  <% else # not logged in %>
    <% if !@course.online_cpd && @occurrences.empty? %>
      <h2 class="govuk-heading-m ncce-aside__title"><%= @booking.no_occurrences_title %></h2>
      <p class="govuk-body-s ncce-aside__text"><%= @booking.no_occurrences_introduction%></p>
      <%= link_to('Find your local Hub', '/hubs',
          class: 'govuk-button button button--full-width',
          draggable: 'false',
          target: :_blank, data_event_action: 'click',
          data_event_category: 'course details',
          data_event_label: 'Coming soon')
      %>
    <% else %>
      <h2 class="govuk-heading-m ncce-aside__title"><%= @booking.title %></h2>
      <p class="govuk-body-s ncce-aside__text"><%= @booking.unauthenticated_introduction %></p>
      <p class="govuk-body">
        <%= link_to @booking.unauthenticated_booking_button_title, "#{auth_url}?source_uri=#{CGI.escape(request.original_url)}", method: :post, class: 'govuk-button button--aside', draggable: 'false', data: { event_action: 'click', event_category: 'course details'} %>
      </p>
      <p class="govuk-body">
        <%= link_to 'Create STEM Learning account', create_account_url,
          class: 'govuk-button button--aside--inverted', draggable: 'false',
          data: { event_action: 'click', event_category: 'course details'} %>
      </p>
      <%= render('start-date', date: @start_date) if (@course.online_cpd && !@started) %>
    <% end %>
  <% end %>

  <%= render ProviderLogosComponent.new(dashboard: false, no_top_border: current_user.blank? && !(@course.online_cpd && !@started))%>

  <% if current_user && user_achievement_state(current_user, @activity) == :enrolled && @course.online_cpd %>
    <p class='govuk-body-s ncce-booking-list__progress'>
      Can't see the progress of your course? You may need to rejoin the course.
    </p>
  <% end %>
</div>
