<% if current_user %>
  <% if [:not_enrolled, :dropped].include? user_achievement_state(current_user, @activity) %>
    <div class="ncce-aside">
      <h2 class="govuk-heading-m ncce-aside__title"><%= @booking.authenticated_title %></h2>
      <p class="govuk-body-s ncce-aside__text"><%= @booking.introduction %></p>
      <% if !@course.online_cpd %>
        <div class='govuk-body-s ncce-aside__text ncce-booking-list__stem-and-tc-emblems'>
          <div class='govuk-!-padding-top-1'> <%= image_pack_tag 'media/images/logos/tc-logo-small.svg', alt: 'Raspberry pi foundation logo' %> </div>
          <div> <%= image_pack_tag 'media/images/logos/stem-logo-small.svg', alt: 'Raspberry pi foundation logo' %> </div>
        </div>
      <% end %>
      <% if (@booking.show_stem_occurrence_list) %>
        <ul class="govuk-list ncce-booking-list">
        <% @occurrences.each do |occurrence| %>
          <li class="ncce-booking-list__item">
            <div class='govuk-body-s ncce-booking-list__date'>
              <%= @booking.activity_date(occurrence.start_date) %>
            </div>
            <div class='ncce-booking-list__details-wrapper'>
              <span class='govuk-body-s govuk-!-margin-bottom-0 ncce-booking-list__address'>
                <%= @booking.address(occurrence) %>
              </span>
              <span class='ncce-booking-list__button_wrapper'>
                <%= link_to(
                  @booking.booking_button_title,
                  @booking.booking_path(occurrence.course_occurrence_no),
                  class: 'govuk-button button button--small',
                  draggable: 'false',
                  data: { event_action: 'click', event_category: 'course details', event_label: 'join course' },
                  target: :_blank
                ) %>
              </span>
            </div>
          </li>
        <% end %>
        </ul>
        <%= @booking.course_button(@occurrences, @course.course_template_no)  %>
      <% else %>
        <p class="govuk-body">
          <%= link_to(
            @booking.authenticated_title,
            @booking.booking_path(@activity.future_learn_course_uuid),
            class: 'govuk-button button--aside',
            draggable: 'false',
            data: { event_action: 'click', event_category: 'course details', event_label: 'join online course' },
            target: :_blank
          ) %>
        </p>
        <%= render 'courses/facilitation-periods', course: @course if @booking.show_facilitation_periods(@course, @occurrences) %>
        <%= render ProviderLogosComponent.new(online: @course.online_cpd) %>
      <% end %>
    </div>
  <% elsif user_achievement_state(current_user, @activity) == :enrolled && @course.online_cpd %>
    <div class="ncce-aside">
      <h2 class="govuk-heading-m ncce-aside__title"><%= @booking.enrolled_title %></h2>
      <p class="govuk-body-s ncce-aside__text"><%= @booking.enrolled_introduction %></p>
      <p class="govuk-body">
        <%= link_to(
          @booking.enrolled_button_title,
          @booking.booking_path(@activity.future_learn_course_uuid),
          class: 'govuk-button button--aside',
          draggable: 'false',
          data: { event_action: 'click', event_category: 'course details', event_label: 'continue online course' },
          target: :_blank
        ) %>
      </p>
      <%= render 'courses/facilitation-periods', course: @course if @booking.show_facilitation_periods(@course, @occurrences) %>
      <%= render ProviderLogosComponent.new(online: @course.online_cpd) %>
      <p class='govuk-body-s ncce-booking-list__progress'>
        Can't see the progress of your course? You may need to rejoin the course.
      </p>
      <% elsif user_achievement_state(current_user, @activity) == :enrolled && !@course.online_cpd %>
        <div class="ncce-aside">
          <h2 class="govuk-heading-m ncce-aside__title"><%= @booking.enrolled_title %></h2>
          <p class="govuk-body-s ncce-aside__text"><%= @booking.introduction %></p>
          <ul class="govuk-list ncce-booking-list">
            <% if  @user_occurrence.present? %>
              <li class="ncce-booking-list__item">
                <div class='govuk-body-s ncce-booking-list__date'>
                  <%=  course_start_date(@user_occurrence.start_date) %>
                </div>
                <p class='govuk-body-s'> <%= course_subtitle_text(@course) %> </p>
                  <span class='govuk-body-s govuk-!-margin-top-1 ncce-booking-list__address'>
                    <% unless @course.remote_delivered_cpd %>
                      <%= "#{@user_occurrence.address_venue_name}, #{@user_occurrence.address_line_one}, #{@user_occurrence.address_town}, #{@user_occurrence.address_postcode}" %>
                    <% end %>
                    <%= link_to 'Go to course', @booking.booking_path(@user_occurrence.course_occurence_no), class: 'govuk-!-font-weight-bold ncce-link' %>
                  </span>
              </li>
            <% end %>
          </ul>
          <%= render ProviderLogosComponent.new(online: false) %>
        </div>
      <% elsif user_achievement_state(current_user, @activity) == :complete && !@course.online_cpd %>
        <div class="ncce-aside">
          <h2 class="govuk-heading-m ncce-aside__title"><%= @booking.completed_title %></h2>
          <p class="govuk-body-s ncce-aside__text"><%= @booking.introduction %></p>
          <ul class="govuk-list ncce-booking-list">
            <% if  @user_occurrence.present? %>
              <li class="ncce-booking-list__item">
                <div class='govuk-body-s ncce-booking-list__date'>
                  <%=  course_start_date(@user_occurrence.start_date) %>
                </div>
                <p class='govuk-body-s'> <%= course_subtitle_text(@course) %> </p>
                  <span class='govuk-body-s govuk-!-margin-top-1 ncce-booking-list__address'>
                    <% unless @course.remote_delivered_cpd %>
                      <%= "#{@user_occurrence.address_venue_name}, #{@user_occurrence.address_line_one}, #{@user_occurrence.address_town}, #{@user_occurrence.address_postcode}" %>
                    <% end %>
                    <%= link_to 'Go to course', @booking.booking_path(@user_occurrence.course_occurence_no), class: 'govuk-!-font-weight-bold ncce-link' %>
                  </span>
              </li>
            <% end %>
          </ul>
          <%= render ProviderLogosComponent.new(online: false) %>
    </div>
  <% elsif user_achievement_state(current_user, @activity) == :complete && @course.online_cpd %>
    <div class="ncce-aside">
      <h2 class="govuk-heading-m ncce-aside__title"><%= @booking.completed_title %></h2>
      <p class="govuk-body-s ncce-aside__text"><%= @booking.completed_button_introduction %></p>
      <p class="govuk-body">
        <%= link_to(
          @booking.completed_button_title,
          @booking.booking_path(@activity.future_learn_course_uuid),
          class: 'govuk-button button--aside',
          draggable: 'false',
          data: { event_action: 'click', event_category: 'course details', event_label: 'view online course' },
          target: :_blank
        ) %>
      </p>
      <%= render 'courses/facilitation-periods', course: @course if @booking.show_facilitation_periods(@course, @occurrences) %>
      <%= render ProviderLogosComponent.new(online: @course.online_cpd) %>
    </div>
  <% end %>
<% else %>
  <div class="ncce-aside" id="booking-list">
    <h2 class="govuk-heading-m ncce-aside__title"><%= @booking.title %></h2>
    <p class="govuk-body-s ncce-aside__text"> You need to be logged in to start the course.</p>
    <p class="govuk-body">
      <%= link_to @booking.unauthenticated_booking_button_title, "#{auth_url}?source_uri=#{CGI.escape(request.original_url)}", method: :post, class: 'govuk-button button--aside', draggable: 'false', data: { event_action: 'click', event_category: 'course details'} %>
    </p>
    <p class="govuk-body-s ncce-aside__text">
      Not got a STEM Learning account?
      <br>
      <%= link_to 'Create an account', create_account_url,
        class: 'ncce-link', draggable: 'false',
        data: { event_action: 'click', event_category: 'course details'}%>
    </p>
    <%= render 'courses/facilitation-periods', course: @course if @booking.show_facilitation_periods(@course, @occurrences) %>
    <%= render ProviderLogosComponent.new(online: @course.online_cpd) %>
  </div>
<% end %>
