<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper--l">
      <% if @programme %>
        <div class='govuk-grid-row govuk-!-margin-bottom-6'>
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Also part of <%= @programme.title %>:</h2>
          </div>
        </div>
      <% end %>
      <div class='courses__container'>
        <% other_courses_on_programme(@course, @programme).each do |course| %>
          <div class="course">
            <h2 class="govuk-heading-s"><%= link_to course.title, course_path(id: course.activity_code, name: course.title), class: 'ncce-link' %></h2>
            <p class="govuk-body"><%= course.meta_description %></p>
            <span class="govuk-body-s <%= course.online_cpd ? 'icon-online' : 'icon-map-pin' %>"><%= course.online_cpd ? 'Free online course' : 'Face to face course' %>
            </span>
          </div>
        <% end %>
      </div>
      <div class="center-button govuk-!-padding-bottom-6">
        <%= link_to 'Browse all our courses', courses_path(certificate: @programme&.slug), class: 'govuk-button button' %>
      </div>
    </div>
  </div>
</div>
