<h2 class="govuk-heading-l">Courses</h2>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      The face to face courses are booked on STEM.<br />
      The online courses are available on FutureLearn.<br />
      After you complete the course, come back here to the NCCE to track your progress towards certification.
    </p>

    <% @face_to_face_courses.each do |course| %>
      <div class="ncce-courses__course">
        <h4 class="govuk-heading-s"><a class="govuk-link" href="#"><%= link_to course.activity_title, stem_course_link(course.course_template_no), class: 'govuk-link' %></a></h4>
        <p class="govuk-body"><%= course.meta_description %></p>
        <p class="govuk-body-s ncce-courses__meta">
          <span class="ncce-courses__meta--icon"><%= course.address_town %></span>
          <span><%= activity_dates(course.start_date, course.end_date) %></span>
        </p>
      </div>
    <% end %>

    <% @online_courses.courses.each do |course| %>
      <div class="ncce-courses__course">
        <h4 class="govuk-heading-s"><%= link_to course[:title], course[:link], class: 'govuk-link' %></h4>
        <p class="govuk-body"><%= course[:description] %></p>
        <p class="govuk-body-s ncce-courses__meta">
          <span class="ncce-courses__meta--icon">Online</span>
        </p>
      </div>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="ncce-aside">
      <p class="govuk-body-s ncce-aside__text">Need help finding a course that's suitable for you? Use our diagnostic tool to identify the areas of subject
      knowledge where you need most support.</p>
      <a href="#" class="ncce-aside__link">Download Diagnostic Tool PDF</a>
    </aside>
  </div>

</div>



