<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <h2 class="govuk-heading-l">Courses</h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <% @face_to_face_courses.each do |course| %>
          <div class="ncce-courses__course">
            <h4 class="govuk-heading-s"><%= link_to course.title, stem_course_link(course.course_template_no), class: 'ncce-link__on-light', target: :_blank %></h4>
            <p class="govuk-body"><%= course.meta_description %></p>
            <div class="govuk-body-s ncce-courses__meta">
              <% @face_to_face_course_occurrences.each do |oc| %>
                <% next unless oc.course_template_no == course.course_template_no %>
                <div class="ncce-courses__meta-item">
                  <span class="ncce-courses__meta--icon"><%= oc.address_town %></span>
                  <span><%= activity_dates(oc.start_date, oc.end_date) %></span>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <% @online_courses.courses.each do |course| %>
          <div class="ncce-courses__course">
            <h4 class="govuk-heading-s"><%= link_to course[:title], course[:link], class: 'ncce-link__on-light', target: :_blank %></h4>
            <p class="govuk-body"><%= course[:description] %></p>
            <p class="govuk-body-s ncce-courses__meta">
              <span class="ncce-courses__meta--icon">Online - Future Learn</span>
            </p>
          </div>
        <% end %>
      </div>
      <aside class="govuk-grid-column-one-third ncce-aside">
        <p class="govuk-heading-s ncce-aside__title">Diagnostic Tool</p>
        <p class="govuk-body-s ncce-aside__text">Need help finding a course that's suitable for you? Use our diagnostic tool to identify the areas of subject
        knowledge where you need most support.</p>
        <p class="govuk-body-s"><%= link_to 'Download Diagnostic Tool PDF', activities_download_path(Activity.downloaded_diagnostic_tool.id, :file => { name: 'NCCE.Diagnostic.pdf', type: 'application/pdf' }), class: 'ncce-aside__link', target: :_blank %></p>
      </aside>
    </div>
  </div>
</div>
