<% meta_tag :title, 'Primary computing certificate courses - Teach Computing' %>

<%= render CmsPageTitleComponent.new(title: "Teach primary computing certificate courses") %>

<div data-controller="course-filter">

  <%= render GovGridRowComponent.new(margin: {bottom: 0}) do |row| %>
    <%= row.with_column("full-width") do %>
      <p class="govuk-body">
        Use the filters to find the right course for you that count towards the Teach Primary Computing Certificate
      </p>
    <% end %>
  <% end %>

  <% if @filter_params[:hub_id].present? %>
    <div class="ncce-courses__hub-container" data-course-filter-target="hubMessage">
      <%= render GovGridRowComponent.new(additional_classes: ['ncce-courses__hub-wrapper']) do |row| %>
        <%= row.with_column(:full) do %>
          <h3 class="govuk-heading-s ncce-courses__hub-heading">
            <% if @course_filter.current_hub == :no_courses %>
              There are no courses to show from this Computing Hub
            <% else %>
              Showing courses run by <span class='ncce-courses__hub-heading-name'><%= @course_filter.current_hub %></span>
            <% end %>
            <%= link_to 'show all results',
              courses_path(anchor: 'results-top'),
              class: 'govuk-link ncce-link govuk-body-m ncce-courses__clear-filters-text ncce-courses__clear-filters-text--hub',
              data: {
                event_action: 'click',
                event_category: 'Courses',
                event_label: 'Clear hub filter'
              }
            %>
          </h3>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= form_with url: course_filter_path, method: :get, class: 'ncce-courses__filter-form', data: { action: "ajax:success->course-filter#handleResults", 'course-filter-target': "form" } do %>
    <div class="govuk-width-container ncce-courses__container" data-course-filter-target="resultsContainer" id="results-top">
      <div class="govuk-main-wrapper ncce-courses__results-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third-from-desktop ncce-courses__filters-wrapper govuk-!-margin-bottom-3">
            <%= render 'courses/aside-filters' %>
          </div>
          <div class="govuk-grid-column-two-thirds-from-desktop">

            <div data-course-filter-target="results">
              <%= render 'courses/courses-list' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
