<% meta_tag :title, "#{@course.title} - Teach Computing" %>
<% meta_tag :description, @course.meta_description %>
<%= render 'components/hero', hero_title: "#{@course.title}", subtitle: "#{@course.activity_code} #{course_subtitle_text(@course)} course", glyph_position: 'bottom', colour: 'blue', small_title: true %>
<% meta_tag :image, asset_pack_path('media/images/courses.png') %>

<div class="govuk-width-container">
  <div
    class="govuk-main-wrapper ncce-main-wrapper--intro">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-body-m"><% @course.meta_description %></h2>
        <%= render 'courses/courses-details' %>
        <div class="external-content govuk-!-margin-bottom-7">
          <h2 class="govuk-heading-s">Summary</h2>
          <%= @course.summary.html_safe %>
          <h2 class="govuk-heading-s">Who is it for</h2>
          <%= @course.who_is_it_for.html_safe %>
          <h2 class="govuk-heading-s">Topics covered</h2>
          <%= @course.topics_covered.html_safe %>
          <h2 class="govuk-heading-s">How long is this course</h2>
          <%= @course.how_long_is_the_course.html_safe %>
          <h2 class="govuk-heading-s">How will you learn</h2>
          <%= @course.how_will_you_learn.html_safe %>
          <h2 class="govuk-heading-s">Course leaders</h2>
          <%= @course.course_leaders.html_safe %>
        </div>
        <%= render 'courses/certificates-card' if @programmes.present? %>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= render 'courses/aside-section' %>
      </div>
    </div>
  </div>
</div>
<%= render 'courses/courses-list' %>
