<h1>Course</h1>
<p><strong>activity_title:</strong> <%= @course.activity_title %></p>
<p><strong>start_date:</strong> <%= @course.start_date %></p>
<p><strong>end_date:</strong> <%= @course.end_date %></p>
<p><strong>activity_code:</strong> <%= @course.activity_code %></p>
<p><strong>summary:</strong> <%= @course.summary %></p>
<p><strong>outcomes:</strong> <%= @course.outcomes %></p>
<p><strong>places_remaining:</strong> <%= @course.places_remaining %></p>
<p><strong>topic:</strong> <%= @course.topic %></p>
<p><strong>meta_description:</strong> <%= @course.meta_description %></p>
<p><strong>additional_information:</strong> <%= @course.additional_information %></p>
<p><strong>portal_course_url:</strong> <%= @course.portal_course_url %></p>
<p><strong>session_start_time:</strong> <%= @course.session_start_time %></p>
<p><strong>session_end_time:</strong> <%= @course.session_end_time %></p>
<p><strong>instance_code:</strong> <%= @course.instance_code %></p>
<p><strong>deliverer:</strong> <%= @course.deliverer %></p>
<p><strong>template_duration_period:</strong> <%= @course.template_duration_period %></p>
<p><strong>template_duration_no:</strong> <%= @course.template_duration_no %></p>
<p><strong>duration_period:</strong> <%= @course.duration_period %></p>
<p><strong>duration_no:</strong> <%= @course.duration_no %></p>
<p><strong>address_venue_name:</strong> <%= @course.address_venue_name %></p>
<p><strong>address_venue_code:</strong> <%= @course.address_venue_code %></p>
<p><strong>address_town:</strong> <%= @course.address_town %></p>
<p><strong>address_postcode:</strong> <%= @course.address_postcode %></p>
<p><strong>address_line_1:</strong> <%= @course.address_line_1 %></p>
<p><strong>address_no:</strong> <%= @course.address_no %></p>
<p><strong>template_title:</strong> <%= @course.template_title %></p>
<p><strong>status:</strong> <%= @course.status %></p>
<p><strong>fee:</strong> <%= @course.fee %></p>
<p><strong>pay_later:</strong> <%= @course.pay_later %></p>
<p><strong>epayment:</strong> <%= @course.epayment %></p>
<p><strong>changed_date:</strong> <%= @course.changed_date %></p>
<p><strong>everest_occurrence_changed_date:</strong> <%= @course.everest_occurrence_changed_date %></p>
<p><strong>cpd_type:</strong> <%= @course.cpd_type %></p>
<p><strong>display_programme:</strong> <%= @course.display_programme %></p>
<p><strong>itk_cpd_type:</strong> <%= @course.itk_cpd_type %></p>
<p><strong>imported_to_itk:</strong> <%= @course.imported_to_itk %></p>
<p><strong>award_value:</strong> <%= @course.award_value %></p>
<p><strong>fee_category:</strong> <%= @course.fee_category %></p>
<p><strong>course_occurrence_no:</strong> <%= @course.course_occurrence_no %></p>
<p><strong>course_template_no:</strong> <%= @course.course_template_no %></p>
