<% meta_tag :title, "#{@course.title} - Teach Computing" %>
<% meta_tag :description, @course&.meta_description %>
<%= render 'components/hero', hero_title: "#{@course.title}", subtitle: "#{@course.activity_code} #{course_subtitle_text(@course)}", glyph_position: 'bottom', colour: 'lime-green', small_title: true, display_i_belong_flag: @course.activity.programme_activities.exists?(programme: Programme.i_belong) %>
<% meta_tag :image, asset_pack_path('media/images/courses/courses.png') %>

<div class="govuk-width-container">
  <div class="govuk-main-wrapper ncce-main-wrapper--intro">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-body-m"><%= @course&.meta_description %></h2>
        <%= link_to 'Skip to course booking', course_path(id: @course.activity_code, name: @course.title.parameterize, anchor: 'booking-list'), class: 'govuk-button button button--full-width ncce-booking-list__skip-button' %>
        <%= render 'courses/courses-details' %>
        <%= render(YouTubeEmbedComponent.new(video_url: @activity.course_video_url)) if @activity.course_video_url%>
        <div class="external-content govuk-!-margin-bottom-7">
          <p class="govuk-body"><%= sanitize_stem_html @course.summary %></p>
          <% unless @course.who_is_it_for.blank? %>
            <h2 class="govuk-body-m">Who is it for?</h2>
            <p class="govuk-body"><%= sanitize_stem_html @course.who_is_it_for %></p>
          <% end %>
          <% unless @course.topics_covered.blank? %>
            <h2 class="govuk-body-m">Topics covered</h2>
            <p class="govuk-body"><%= sanitize_stem_html @course.topics_covered %></p>
          <% end %>
          <% unless @course.how_long_is_the_course.blank? %>
            <h2 class="govuk-body-m">How long is this course?</h2>
            <p class="govuk-body"><%= sanitize_stem_html @course.how_long_is_the_course %></p>
          <% end %>
          <% unless @course.how_will_you_learn.blank? %>
            <h2 class="govuk-body-m">How will you learn?</h2>
            <p class="govuk-body"><%= sanitize_stem_html @course.how_will_you_learn %></p>
          <% end %>
          <% unless @course.course_leaders.blank? %>
            <h2 class="govuk-body-m">Course leaders</h2>
            <p class="govuk-body"><%= sanitize_stem_html @course.course_leaders %></p>
          <% end %>
          <% unless @course.outcomes.blank? %>
            <h2 class="govuk-body-m">Outcomes</h2>
            <p class="govuk-body"><%= sanitize_stem_html @course.outcomes %></p>
          <% end %>
        </div>
        <%= render 'courses/certificates-card' if @programmes.present? %>
      </div>
      <div class="govuk-grid-column-one-third" id="booking-list">
        <%= render 'courses/aside-booking' %>
      </div>
    </div>
  </div>
</div>
<%= render 'courses/courses-cards' %>
