<% meta_tag :title, "#{@course.title} - Teach Computing" %>
<% meta_tag :description, @course.meta_description %>
<%= render 'components/hero', hero_title: "#{@course.title}", subtitle: "#{@course.activity_code} #{@course.online_cpd ? 'Online' : 'Face to face'} course", glyph_position: 'bottom', colour: 'blue', small_title: true %>
<% meta_tag :image, image_url((@course.online_cpd ? '/images/secondary-teachers/video-placeholder.jpg' : '/images/courses.png'), skip_pipeline: true) %>

<div class="govuk-width-container">
  <div
    class="govuk-main-wrapper ncce-main-wrapper--intro">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-body-m"><%= @course.meta_description %></h2>
        <%= render 'courses/courses-details' %>
        <div class="course-summary govuk-!-margin-bottom-7">
          <%= sanitize @course.summary.gsub(/\&nbsp;/, ''), tags: %w(div body html p h1 h2 h3 ul li ol) %>
          <%= sanitize @course.outcomes.gsub(/\&nbsp;/, ''), tags: %w(div body html p h1 h2 h3 ul li ol) %>
        </div>
        <%= render 'courses/courses-card' %>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= render 'courses/aside-section' %>
      </div>
    </div>
  </div>
</div>
<%= render 'courses/courses-list' %>
