<% meta_tag :title, "#{@course.title} - Teach Computing" %>
<%= render 'components/hero', hero_title: "#{@course.title}", subtitle: "#{@course.activity_code} - #{@course.online_cpd ? 'online' : 'face to face'}", glyph_position: 'bottom', colour: 'blue' %>
<% meta_tag :image, image_url((@course.online_cpd ? '/images/secondary-teachers/video-placeholder.jpg' : '/images/primary-teachers/hero.jpg'), skip_pipeline: true) %>

<div class="govuk-width-container">
  <div
    class="govuk-main-wrapper ncce-main-wrapper--intro">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-s"><%= @course.meta_description %></h3>
        <%= render 'courses/courses-details' %>
        <div class="course-summary">
          <%= @course.summary.html_safe %>
        </div>
        <%= render 'courses/courses-card' %>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= render 'courses/aside-section' %>
      </div>
    </div>
  </div>
</div>
<%= render 'courses/courses-list' %>
