<div class="ncce-csa-dash__objective
  <%= 'ncce-csa-dash__objective--incomplete' unless test_available %>">
  <span class="ncce-csa-dash__objective-text">
    Complete two online courses or a full residential course.
  </span>
</div>

<div class="ncce-pathway-courses__short">
  <% course_achievements.each do |achievement| %>

    <div class="ncce-pathway-courses__course">
      <p>
        <% if achievement.active_course? %>
          <%= link_to achievement.title, course_path(id: achievement.stem_activity_code, name: achievement.slug), class: 'ncce-link' %>
        <% else %>
          <%= achievement.title %>
        <% end %>
      </p>

      <div class="ncce-flex__space-between">
        <span class="govuk-body-s ncce-pathway-courses__course_type <%= activity_icon_class(achievement.activity) %>">
          <%= activity_type(achievement.activity) %> course
        </span>
        <strong class="govuk-tag ncce-pathway-courses__status ncce-courses__tag">
          <%= achievement.complete? ? 'Completed' : 'In progress' %>
        </strong>
      </div>
    </div>
  <% end %>
</div>
