<div class="ncce-aside landing-page__aside">
  <h2 class="govuk-heading-s ncce-aside__title">Support</h2>
  <p class='govuk-body-s'>We are happy to support you along the way. Call 019 0432 8300 or email <%= mail_to 'info@teachcomputing.org', 'info@teachcomputing.org', class: 'ncce-link' %>.</p>
  <p class="govuk-body-s">Have a question about your activities on this page?  Check out our <%= link_to 'Frequently Asked Questions', '/faq/courses', class: 'ncce-link' %></p>
  <p class="govuk-body-s">Need to catch up on your learning?</p>
  <p class="govuk-body-s"><%= link_to 'Download our Handbook', gcse_and_ks3_handbook_url, class: 'ncce-link' %></p>
  <p class="govuk-body-s"><%= link_to 'Download our GCSE Specification Map', 'https://static.teachcomputing.org/GCSE_specifications_to_CSA_course_map.pdf', class: 'ncce-link' %></p>
	<h2 class="govuk-heading-s ncce-aside__title">Learning pathways for teachers</h2>
	<p class="govuk-body-s">Are you an aspiring computing teacher or are you unsure about your level of experience? Our learning pathways will help you to get started and offer a structured route through the programme:</p>
	<p class="govuk-body-s govuk-!-margin-bottom-2"><%= link_to 'Advanced GCSE computer science', 'https://static.teachcomputing.org/pathways/05_Teaching_advanced_GCSE_computer_science.pdf', class: 'ncce-link' %>
	<p class="govuk-body-s govuk-!-margin-bottom-2"><%= link_to 'Preparing to teach GCSE computer science', 'https://static.teachcomputing.org/pathways/02_Preparing_to_teach_GCSE_computer_science.pdf', class: 'ncce-link' %></p>
	<p class="govuk-body-s govuk-!-margin-bottom-2"><%= link_to 'New to algorithms & programming', 'https://static.teachcomputing.org/pathways/03_New_to_algorithms_and_programming.pdf', class: 'ncce-link' %></p>
	<p class="govuk-body-s govuk-!-margin-bottom-2"><%= link_to 'New to computing', 'https://static.teachcomputing.org/pathways/01_New_to_computing.pdf', class: 'ncce-link' %></p>
	<p class="govuk-body-s govuk-!-margin-bottom-2"><%= link_to 'New to computer systems', 'https://static.teachcomputing.org/pathways/04_New_to_computer_systems.pdf', class: 'ncce-link' %></p>
</div>
