<div class="govuk-body ncce-csa-dash__section ncce-csa-dash__section-padded" id="csa-test">
  <p class="govuk-body govuk-!-margin-0">
    Want to practice for the test?
    <%= link_to 'Take our mock test', 'https://www.classmarker.com/online-test/start/?quiz=gq36013dee29b07b', class: 'ncce-link', data: tracking_data('Take mock test') %>
  </p>
</div>

<div class="govuk-body ncce-csa-dash__section ncce-csa-dash__section-padded">
  <p class="govuk-body">
    Ready to take your test?
  </p>

  <% if user_programme_assessment.currently_taking_test? %>
    <p class="govuk-body govuk-!-margin-0">
      You are currently taking the test. If you have recently failed, please come back in 2 hours.
    </p>
  <% elsif user_programme_assessment.can_take_test_at != 0 %>
    <p class="govuk-body">
      Your <%= to_word_ordinal(user_programme_assessment.failed_num_attempts + 1) %> attempt at the test can be done <strong>after<%= "#{(Time.zone.now + user_programme_assessment.can_take_test_at).in_time_zone('London').strftime('%l%P on %A')}" %></strong>.
    </p>
    <p class="govuk-body govuk-!-margin-0">
      You may want to consider completing additional courses before your next attempt. You can find full details of areas for improvement on your results email, and course recommendations in the <%= link_to 'CSA Handbook', 'https://ncce.io/csa-handbook', class: 'ncce-link', data: tracking_data('CSA Handbook') %>.
    </p>
  <% else %>
    <div class="ncce-csa-dash__sub-section govuk-!-margin-bottom-5">
      <ul class='govuk-list govuk-list--bullet govuk-body-s' role='list'>
        <li>You'll have 30 minutes to answer 25 multiple-choice questions and you must complete the test in one sitting.</li>
        <li>The test must be taken under exam conditions (i.e: no notes or text books, in isolation without communicating with others, no other open tabs on any internet enabled device(s), and all answers must be your own). See <%= link_to 'full details of exam conditions', 'https://static.teachcomputing.org/CSA-Exam-Conditions.pdf', class: 'ncce-link', data: tracking_data('Exam conditions doc') %>.</li>
        <li>If you have a disability, impairment or sensory loss, or an additional need such as a dyslexia or a requirement for assistive technology to enable you to complete the test, we can extend the test time to 45 minutes. To request this, please <%= mail_to 'certificationqueries@bcs.uk', 'email us', class: 'ncce-link' %> and we'd be happy to help.</li>
        <li>Once you start the test, you'll be required to provide the email address of a Senior Leader or course leader in your school who can confirm you have completed the test under exam conditions.</li>
        <li>The pass mark is 65%. You're allowed two initial attempts at the test before a 48 hour cool off period between each subsequent attempt.</li>
      </ul>
    </div>

    <%= form_for(current_user, method: :post, url: assessment_attempts_path) do |f| %>
      <p class="govuk-body-s govuk-!-margin-bottom-2">
        <strong>Teacher reference number (TRN)</strong> <%= link_to "what's this?", 'https://www.gov.uk/guidance/individual-teacher-records-information-for-teachers#your-teacher-reference-number-trn', class: 'govuk-body-s ncce-link ', target: '_blank' %>
      </p>
      <p class="govuk-body-s govuk-!-margin-bottom-5">
        <%= f.text_field :teacher_reference_number,
            class: 'govuk-input ncce-input ncce-csa-dash__trn',
            'aria-label': 'Enter your teacher reference number',
            placeholder: 'optional',
            value: current_user.teacher_reference_number
        %>
      </p>

      <div class="ncce-flex__space-between" data-controller="toggle-attribute" data-toggle-attribute-name-value="disabled" data-toggle-attribute-value-value="true">
        <%= fields_for :assessment_attempt do |sf| %>
          <div class='govuk-checkboxes__item ncce-checkboxes__item ncce-checkboxes__item--multiline'>
            <%= sf.check_box :accepted_conditions, { class: 'govuk-checkboxes__input ncce-checkboxes__input', data: { 'aria-label': 'Accept our exam conditions', action: 'change->toggle-attribute#toggleAttribute', 'toggle-attribute-target' => 'source' } }, '1', '0' %>
            <%= sf.label :accepted_conditions, class: 'govuk-checkboxes__label ncce-label ncce-checkboxes__label ncce-checkboxes__label--multiline' do %>
              I have read and accept <%= link_to 'the full exam conditions', 'https://static.teachcomputing.org/CSA-Exam-Conditions.pdf', class: 'ncce-link', data: tracking_data('Exam conditions doc') %>.
            <% end %>
          </div>
          <%= sf.hidden_field 'user_id', value: current_user.id %>
          <%= sf.hidden_field 'assessment_id', value: @programme.assessment.id %>
        <% end %>
        <%= f.submit 'Take the test', class: 'govuk-button button govuk-!-margin-bottom-0', disabled: true, data: tracking_data('Take our test').merge('toggle-attribute-target' => 'button') %>
      </div>
    <% end %>
  <% end %>
</div>
