<% meta_tag :title, 'KS3 and GCSE - Teach Computing' %>
<%= render 'pages/certification/hero', full_width: true  %>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper govuk-main-wrapper--xl">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="card card--no-glyph card--subject-knowledge card--landing-page lp-certs--card">
            <div class="lp-certs--card-header">
              <h2 class="govuk-heading-m card__heading lp-certs--card-heading">Your certificate is ready!</h2>
              <span class="govuk-body-m status-block status-block--completed">Certificate awarded</span>
            </div>
            <p class="govuk-body card__text card__text-landing-page">
              Congratulations on completing your learning programme and reaching this important milestone in your professional development.
            </p>
            <p class="govuk-body govuk-!-margin-bottom-0">
              <%= link_to 'Download your certificate (PDF)', certificate_cs_accelerator_certificate_path, class: 'button govuk-button lp-certs--button', data: tracking_data('CSA certificate') %>
            </p>
          </div>
          <h2 class="govuk-heading-m">Next steps</h2>
          <ul class="govuk-list ncce-activity-list ncce-activity-list--programme govuk-!-margin-bottom-4" role="list">
            <li class="ncce-activity-list__item">
              <div class="ncce-activity-list__item-content">
                <%= render ActivityComponent.new(
                  objective: t('.next_steps.objective'),
                  description: t('.next_steps.description.html',
                    certificate_link: link_to(t('.next_steps.certificate_link_title'), secondary_certificate_path, class: 'ncce-link', data: tracking_data('Secondary certificate info'))
                  ),
                  button: {
                    text: t('.next_steps.button_text'),
                    path: Programme.secondary_certificate.public_path,
                    opts: { method: :post },
                    tracking_label: 'Secondary certificate find out more'
                  },
                  tracking_category:
                ) %>
              </div>
            </li>
          </ul>
          <h3 class="govuk-heading-m">Expand your subject knowledge</h3>
          <p class="govuk-body">You can now participate in any of our NCCE courses for free, providing you teach in a secondary state-funded school or college. Just use the code <strong>"CSAGraduate"</strong> when booking your next course.</p>

          <div class="govuk-body ncce-csa-dash__section-unpadded">
            <% if @user_pathway&.present? %>
              <div class="ncce-csa-dash__section ncce-csa-dash__section-padded govuk-!-margin-bottom-3">
                <%= render partial: 'certificates/pathways/recommended_courses', locals: {
                  event_category: 'CSA enrolled',
                  pathway: @user_pathway,
                  recommended_activities: @user_pathway&.recommended_activities,
                  title: t('.recommended_courses.courses_intro.html',
                    pathway_pdf_link: link_to(t('.recommended_courses.pathway_pdf_link_title'), @user_pathway&.pdf_link, class: 'ncce-link', data: tracking_data('current path pdf').merge(action: "expander#stopEventBubbling"))
                  )
                } %>
              </div>
              <div class="govuk-body ncce-activity-list ncce-csa-dash__section">
                <%= render partial: 'certificates/pathways/supplementary_courses', locals: {
                  pathway: @user_pathway,
                  supplementary_activities: @user_pathway&.supplementary_activities
                } %>
              </div>
            <% else %>
              <%= link_to t('.all_courses_button'),
                courses_path(certificate: @programme.slug), class: 'govuk-button button',
                data: tracking_data('View all certificate courses') %>
            <% end %>
          </div>

          <div class="ncce-csa-dash__pathway-switcher">
            <%= render partial: 'certificates/cs_accelerator/pathway-switcher', locals: {
              other_programme_pathways_for_user: @other_programme_pathways_for_user,
              user_pathway: @user_pathway,
              completed: @programme.user_completed?(current_user)
            } %>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <%= render AsideComponent.new(
            title: t('.share_aside.title'),
            class_name: 'share-aside',
            text: t('.share_aside.text.html',
              twitter_follow_link: link_to(
                t('.share_aside.follow.twitter'),
                'https://twitter.com/WeAreComputing?ref_src=twsrc%5Etfw',
                class: 'ncce-link',
                data: tracking_data('follow on social').merge(related: 'WeAreComputing', dnt: true, lang: 'en'),
                target: '_blank'
              ),
              facebook_follow_link: link_to(
                t('.share_aside.follow.facebook'),
                'https://www.facebook.com/WeAreComputing/',
                class: 'ncce-link',
                data: tracking_data('follow on social').merge(related: 'WeAreComputing', dnt: true, lang: 'en'),
                target: '_blank'
              ),
              linkedin_follow_link: link_to(
                t('.share_aside.follow.linkedin'),
                'https://www.linkedin.com/company/national-centre-for-computing-education',
                class: 'ncce-link',
                data: tracking_data('follow on social').merge(related: 'WeAreComputing', dnt: true, lang: 'en'),
                target: '_blank'
              ),
              twitter_share_link: link_to(
                t('.share_aside.share.twitter'),
                'https://twitter.com/intent/tweet?text=I%20have%20completed%20the%20Computer%20Science%20Accelerator%20from%20%40WeAreComputing.%20Sign%20up:%20https://teachcomputing.org%2Fsubject-knowledge',
                class: 'govuk-link ncce-link complete_social complete_social--x',
                data: tracking_data('share on social').merge(related: 'WeAreComputing', dnt: true, lang: 'en', size: 'large'),
                target: '_blank'
              ),
              facebook_share_link: link_to(
                t('.share_aside.share.facebook'),
                'https://www.facebook.com/sharer/sharer.php?u=https://teachcomputing.org%2Fsubject-knowledge',
                class: 'govuk-link ncce-link complete_social complete_social--facebook',
                data: tracking_data('share on social').merge(related: 'WeAreComputing', dnt: true, lang: 'en'),
                target: '_blank',
              ),
              linkedin_share_link: link_to(
                t('.share_aside.share.linkedin'),
                'https://www.linkedin.com/shareArticle?mini=true&url=https://teachcomputing.org/subject-knowledge',
                class: 'govuk-link ncce-link complete_social complete_social--linkedin',
                data: tracking_data('share on social').merge(related: 'WeAreComputing', dnt: true, lang: 'en'),
                target: '_blank',
                rel: 'noopener'
              )
            )
          ) %>
          <%= render AsideComponent.new(
            title: t('.support_aside.title'),
            class_name: 'help-aside',
            text: t('.support_aside.text.html',
              email_link: mail_to('info@teachcomputing.org', 'info@teachcomputing.org', class: 'ncce-link', data: tracking_data('support mailbox'))
            )
          ) %>
          <%= render AsideComponent.new(
            title: t('.documents_aside.title'),
            class_name: 'documents-aside',
            text: t('.documents_aside.text.html',
              handbook_link: link_to(t('.documents_aside.handbook_link_text'), gcse_and_ks3_handbook_url, class: 'ncce-link', data: tracking_data('Handbook PDF')),
              spec_link: link_to(t('.documents_aside.spec_link_text'), 'https://static.teachcomputing.org/GCSE_specifications_to_CSA_course_map.pdf', class: 'ncce-link', data: tracking_data('GCSE specs map'))
            )
          ) %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m">What else can you do?</h3>
        <%= render BorderedCardsComponent.new(
          cards_per_row: 2,
          class_name: 'further-activity-cards',
          cards: [
            {
              class_name: 'bordered-card--secondary-cert',
              title: t('.what_else.cards.after_school.title'),
              text: t('.what_else.cards.after_school.text.html',
                code_club_link: link_to(t('.what_else.cards.after_school.text.code_club_link_title'), 'https://codeclub.org/en/start-a-code-club', class: 'ncce-link', data: tracking_data('Code Club'))
              )
            },
            {
              class_name: 'bordered-card--secondary-cert',
              title: t('.what_else.cards.cas.title'),
              text: t('.what_else.cards.cas.text'),
              link: {
                link_title: t('.what_else.cards.cas.link.title'),
                link_url: 'https://community.computingatschool.org.uk/events',
                tracking_page: tracking_category,
                tracking_label: 'CAS community'
              }
            }
          ]
        ) %>
      </div>
    </div>
  </div>
</div>
