<% meta_tag :title, 'The essential toolkit for secondary computing teachers' %>
<% meta_tag :description, 'Training and inspiration that grows your confidence, transforms your teaching and brings your lessons to life.' %>
<% meta_tag :url, request.original_url %>
<% meta_tag :image, asset_pack_path('media/images/landing-pages/sec-hero.png') %>
<% meta_tag :image_alt, 'Secondary Teachers - Teach Computing' %>
<%= render 'pages/certification/hero', full_width: true %>

<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper govuk-main-wrapper--xl">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Welcome to the KS3 and GCSE Computer Science subject knowledge certificate!</h2>
          <p class="govuk-body-m govuk-!-margin-bottom-7">
            <% if @csa_dash.has_enough_activities_for_test %>
              You've completed enough courses to access the test. You should continue to complete any courses you think are right for you. When you are ready, you can <%= link_to 'take our test or practice with our mock test', '#csa-test', class: 'ncce-link', data: tracking_data('View test and mock test') %>
              </p>
            <% else %>
              To access our test and get your certificate, you'll need to complete two days of professional development, including at least one face-to-face or remote course. You can choose another face-to-face, remote or online course to make up the remaining hours of CPD required to unlock the assessment.
            <% end %>
          </p>

          <%= render partial: 'certificates/cs_accelerator/pathway-prompt', locals: { user_programme_pathway: @csa_dash.user_programme_pathway } %>

          <div class="govuk-body ncce-csa-dash__section-unpadded">
            <%= render partial: 'certificates/cs_accelerator/achievements', locals: {
              compulsory_achievement: @csa_dash.compulsory_achievement,
              user_completed_non_compulsory_achievement: @csa_dash.user_completed_non_compulsory_achievement?,
              non_compulsory_achievements: @csa_dash.non_compulsory_achievements
            } %>

            <div class="ncce-csa-dash__section ncce-csa-dash__section-padded">
              <%= render partial: 'certificates/pathways/recommended_courses', locals: {
                event_category: 'CSA enrolled',
                pathway: @csa_dash.user_programme_pathway,
                recommended_activities: @csa_dash.recommended_activities_for_user
              } %>
            </div>
          </div>

          <% if @csa_dash.has_enough_activities_for_test %>
            <%= render partial: 'certificates/cs_accelerator/csa-test', locals: {
                user_programme_assessment: @csa_dash.user_programme_assessment
            } %>
          <% end %>
          <h3 class="govuk-heading-m"><%= t('.take_development_further') %></h3>
          <p class="govuk-body"><%= t('.take_development_further_body') %></p>
          <%= link_to t('.take_development_further_cta'), secondary_path, class: 'govuk-button button' %>
        </div>
        <div class="govuk-grid-column-one-third">
          <%= render 'certificates/cs_accelerator/bursary-aside' %>
          <div class='ncce-aside ncce-pathway-aside'>
            <%= render partial: 'certificates/cs_accelerator/pathway-switcher', locals: {
              other_programme_pathways_for_user: @csa_dash.other_programme_pathways_for_user,
              user_pathway: @csa_dash.user_programme_pathway,
              completed: @programme.user_completed?(current_user)
            } %>
          </div>
          <%= render 'components/support-aside' %>
          <div class="ncce-aside--borderless">
            <%= render FeedbackComponent.new(heading: 'Help us improve our certificate experience', area: :cs_accelerator) %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
