<% meta_tag :title, 'Secondary certificate - Teach Computing' %>
<%= javascript_pack_tag 'turbolinks' %>
<%= render 'pages/certification/hero' %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l">Your certificate is ready!</p>
        <p class="govuk-body">Thank you for participating in the I Belong programme. You’ve reached an important milestone in improving girls’ uptake of computer science.</p>
        <% if current_user.school_name.present? %>
          <p class="govuk-body">
            <%= link_to 'Download your certificate', certificate_i_belong_certificate_path, class: 'govuk-button button', role: 'button', draggable: 'false' %>
          </p>
        <% else %>
          <%= render ModalComponent.new(
            title: 'Congratulations on completing the I Belong: encouraging girls into computer science programme!',
            expanded: true,
            reopen_button_text: 'Provide certificate name'
          ) do |c| %>
          <% c.with_body do %>
            <p class="govuk-body">To obtain your school’s certificate, please enter the name of your school. The name provided will be printed onto the certificate.</p>
            <%= form_with model: current_user do |f| %>
              <%= f.label :school_name, 'Name of school/college', class: 'govuk-body-s ncce-label ncce-label--bold' %>
              <%= f.text_field :school_name, class: 'govuk-input' %>
              <div class="modal-button-container">
                <%= f.submit 'Submit for certificate', class: 'govuk-button button' %>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <% end %>
        <%= render CompletedDashBadgeComponent.new(badge: @issued_badge, tracking_event_category: @badge_tracking_event_category, tracking_event_label: @badge_tracking_event_label) %>

        <p class="govuk-body-l">Next steps for you</p>
        <p class="govuk-body">This is just the start of your journey! Now you’ve started implementing strategies to support girls into computer science at key stage 4 and beyond, it’s important to continue doing so, embedding and evaluating as you go along. Evidence your great work through the Computing Quality Framework.</p>
        <p class="govuk-body">Help to widen impact through your network by sharing your knowledge and practice. If you haven’t already, don’t forget to claim your I Belong champion digital badge and check the information pack for ideas and support on how you can do this.</p>
        <p class="govuk-body">You can continue to access programme resources and opportunities. Keep an eye on our website and social media for future updates.</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="ncce-aside">
          <h2 class="govuk-heading-m ncce-aside__title">Share your success</h2>
          <p class="govuk-body ncce-aside__text--s">Share your certificate on social media.</p>
          <p class="govuk-body ncce-aside__text">Follow us on
            <a href="https://twitter.com/WeAreComputing?ref_src=twsrc%5Etfw"
              class="ncce-link" data-related="WeAreComputing" data-lang="en"
              data-show-count="false" data-dnt="true" target="_blank">Twitter</a>, <a href="https://www.facebook.com/WeAreComputing/"
              class="ncce-link" data-related="WeAreComputing" data-lang="en"
              data-dnt="true" target="_blank">Facebook</a> or <a href="https://www.linkedin.com/company/national-centre-for-computing-education"
              class="ncce-link" data-related="WeAreComputing" data-lang="en" data-dnt="true" target="_blank">LinkedIn</a>
           and tag us when sharing your achievement</p>
           <p class="govuk-body govuk-!-margin-bottom-2">
            <a href="https://twitter.com/intent/tweet?text=<%=CGI.escape "I have completed the Teach secondary computing programme from @WeAreComputing. Find out more #{secondary_url}"%>"
              class="govuk-link ncce-link complete__social complete__social--twitter" data-size="large"
              data-related="WeAreComputing" data-lang="en" data-dnt="true">Share on Twitter</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </p>
					<p class="govuk-body govuk-!-margin-bottom-2"><a href="https://www.facebook.com/sharer/sharer.php?u=<%=CGI.escape secondary_url %>" target="_blank" class="govuk-link ncce-link complete__social complete__social--facebook">Share on Facebook</a></p>
					<p class="govuk-body govuk-!-margin-bottom-2"><a href="https://www.linkedin.com/shareArticle?mini=true&url=<%=CGI.escape secondary_url %>" rel="noopener" target="_blank"class="govuk-link ncce-link complete__social complete__social--linkedin">Share on LinkedIn</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
