<div class="govuk-body">
  Glyph a1
  <%=  render(HeroComponent.new(title: 'Page title', glyph: 'a1')) %>
</div>

<div class="govuk-body">
  Glyph a2
  <%=  render(HeroComponent.new(title: 'Page title', glyph: 'a2')) %>
</div>

<div class="govuk-body">
  Glyph a3
  <%=  render(HeroComponent.new(title: 'Page title', glyph: 'a3')) %>
</div>

<div class="govuk-body">
  Glyph a4
  <%=  render(HeroComponent.new(title: 'Page title', glyph: 'a4')) %>
</div>

<div class="govuk-body">
  Glyph b1
  <%=  render(HeroComponent.new(title: 'Page title', glyph: 'b1')) %>
</div>

<div class="govuk-body">
  Glyph b2
  <%=  render(HeroComponent.new(title: 'Page title', glyph: 'b2')) %>
</div>

<div class="govuk-body">
  Glyph b3
  <%=  render(HeroComponent.new(title: 'Page title', glyph: 'b3')) %>
</div>

<div class="govuk-body">
  Glyph b4
  <%=  render(HeroComponent.new(title: 'Page title', glyph: 'b4')) %>
</div>

<div class="govuk-body">
  Glyph c1
  <%=  render(HeroComponent.new(title: 'Page title', glyph: 'c1')) %>
</div>

<div class="govuk-body">
  Glyph c2
  <%=  render(HeroComponent.new(title: 'Page title', glyph: 'c2')) %>
</div>

<div class="govuk-body">
  Glyph c3
  <%=  render(HeroComponent.new(title: 'Page title', glyph: 'c3')) %>
</div>

<div class="govuk-body">
  Glyph c4
  <%=  render(HeroComponent.new(title: 'Page title', glyph: 'c4')) %>
</div>

<div class="govuk-body">
  Glyph d1
  <%=  render(HeroComponent.new(title: 'Page title', glyph: 'd1')) %>
</div>

<div class="govuk-body">
  Glyph d2
  <%=  render(HeroComponent.new(title: 'Page title', glyph: 'd2')) %>
</div>

<div class="govuk-body">
  Glyph d3
  <%=  render(HeroComponent.new(title: 'Page title', glyph: 'd3')) %>
</div>

<div class="govuk-body">
  Glyph d4
  <%=  render(HeroComponent.new(title: 'Page title', glyph: 'd4')) %>
</div>