
<%= render GovGridRowComponent.new(additional_classes: "programme-status-wrapper", background_color: "white") do |row| %>
  <%= row.with_column("two-thirds") do %>
    <div class="programme-status-wrapper__title-row">
      <h2 class="govuk-heading-m"><%= title %></h2>
      <%= image_pack_tag "media/images/icons/programme_completed_icon.svg" %>
      </div>
    <%= render content.render %>
  <% end %>
  <%= row.with_column("one-third") do %>
    <% if @user_programme_enrolment.in_state?(:complete) %>
      <div class="programme-status-wrapper__button-container">
        <%= link_to 'Download your certificate', @user_programme_enrolment.programme.certificate_path, 
          class: 'govuk-button button', role: 'button', draggable: 'false' %></p>
      </div>
    <% end %>
  <% end %>
<% end %>