<% presenters.each_with_index do |presenter, index| %>
  <% unless presenter.empty? %>
    <% if presenter.complete? %>
      <li class="ncce-activity-list__item">
        <span class="ncce-activity-list__item-text"><%= presenter.completed_text(index) %>
        </span>
        <span class="ncce-activity-list__item-activity light-blue-bg">
          <span class="govuk-tag govuk-phase-banner__content__tag ncce-activity-list__tag" aria-hidden="true">Complete</span>
          <span class="ncce-activity-list__course"><%= presenter.activity.title %></span>
        </span>
      </li>
      <% if @issued_badge %>
        <li class="ncce-activity-list__item">
          <% if @programme.secondary_certificate? %>
            <%= render DashBadgeComponent.new(badge: @issued_badge, tracking_event_category: 'Secondary enrolled', tracking_event_label: 'Secondary badge') %>
          <% elsif %>
            <%= render DashBadgeComponent.new(badge: @issued_badge, tracking_event_category: 'Primary enrolled', tracking_event_label: 'Primary badge') %>
          <% end %>
        </li>
      <% end %>
    <% else %>
      <li class="ncce-activity-list__item ncce-activity-list__item--inprogress">
        <span class="ncce-activity-list__item-text"><%= presenter.prompt_text(index) %></span>
        <span class="ncce-activity-list__item-activity light-blue-bg">
          <span class="govuk-tag govuk-phase-banner__content__tag ncce-activity-list__tag">In progress</span>
          <span class="ncce-activity-list__course"><%= presenter.activity.title %></span>
        <span>
      </li>
    <% end %>
  <% else %>
    <li class="ncce-activity-list__item ncce-activity-list__item--incomplete">
      <span class="ncce-activity-list__item-text"><%= presenter.prompt_text(index) %></span>
      <%= link_to presenter.button_label, presenter.button_url(certificate: @programme.slug, current_user: current_user), class: 'govuk-button button button--small ncce-button__recommendation' %>
      <%=
        render 'certificates/primary_certificate/recommendation',
          category: local_assigns[:category] || 'none',
          diagnostic_result_percentage: local_assigns[:diagnostic_result_percentage] || 0
      %>
    </li>
  <% end %>
<% end %>
