<li class="ncce-activity-list__item<%= presenter.list_item_classes(current_user) %><%= presenter.show_separator_class %>">
  <span class="ncce-activity-list__item-text ncce-activity-list__item-text--<%= @programme.slug %> <%='ncce-activity-list__item-text--complete' if presenter.completed?(current_user) && presenter.title == 'Contribute to online discussion' %>">
    <span><%= presenter.title %></span>
  </span>
  <% if presenter.completed?(current_user) %>
    <span class='ncce-activity-list__completed_badge'>Completed</span>
  <% end %>
  <% unless presenter.completed?(current_user) %>
    <span class="ihavedonethis">
      <button aria-expanded="true" class="govuk-button button button--small ihavedonethis__button">
        <%= presenter.button_label %>
      </button>
      <span class="ihavedonethis__popup">
        <%= form_for Achievement.new, url: { controller: '/achievements', action: 'create' } do |f| %>
          <span class="govuk-form-group ihavedonethis__group">
            <%= label_tag "#{:self_verification_info.to_s}_#{presenter.id}", presenter.self_verification_info, class: 'govuk-label ihavedonethis__text' %>
            <%= text_field_tag "#{:self_verification_info.to_s}_#{presenter.id}", '', class: 'govuk-input', name: :self_verification_info %>
            <%= f.hidden_field :activity_id, value: presenter.id %>
          </span>
          <%= f.submit 'Complete activity', class: 'govuk-button button button--focus-white' %>
        <% end %>
      </span>
    </span>
  <% end %>
  <% if presenter.description.present? %>
    <span class="ncce-activity-list__item-activity light-blue-bg"><%= presenter.description %></span>
  <% end %>
</li>
