<!-- Alter BreadcrumbComponent to make current_page_name an optional param -->
<p class="govuk-body curriculum__breadcrumb">
  <%= link_to 'Curriculum', curriculum_key_stages_path, class: 'govuk-link ncce-link' %>
  <% if local_assigns[:key_stage_path].present? %>
    <%= breadcrumb_separator %><%= link_to key_stage_title, key_stage_path, class: 'govuk-link ncce-link' %>
  <% end %>
  <% if local_assigns[:unit_path].present? %>
    <%= breadcrumb_separator %><%= link_to 'Unit', unit_path, class: 'govuk-link ncce-link' %>
  <% end %>
  <%= breadcrumb_separator << current if local_assigns[:current].present? %>
</p>
