<% if user_has_rated?(id) %>
  <div class="curriculum__rating page">
    <p class="govuk-body">You have already provided a rating, thanks!</p>
  </div>
<% else %>
  <div class="curriculum__rating" data-controller="rating">
    <div class="rating_page" data-target="rating.page">
      <p class="govuk-body curriculum__rating--text-left">Did you find these resources useful?</p>
      <%= link_to(image_tag("/images/resources/thumb_up.svg"), send(path, :positive, id, user_id), :alt => "thumb up", :class => "curriculum__rating--thumb curriculum__rating--thumb-up col", :remote => true, :data => { disable_with: true, action: 'ajax:success->rating#onRatingSuccess' }) %>
      <%= link_to(image_tag("/images/resources/thumb_down.svg"), send(path, :negative, id, user_id), :alt => "thumb down", :class => "curriculum__rating--thumb curriculum__rating--thumb-down col", :remote => true, :data => { disable_with: true, action: 'ajax:success->rating#onRatingSuccess' }) %>
    </div>
    <div class="rating_page rating_page--rows" data-target="rating.page">
      <p class="govuk-body row">Thanks for your rating!</p>

      <!--<%= link_to('Submit', '', :alt => "Submit your response", :class => "govuk-button button button--small button--curriculum row", :remote => true, :data => { disable_with: true, action: 'ajax:success->rating#onCommentSuccess' }) %>-->

      <%= form_with(url: comment_path, method: "post", remote: true, data: { disable_with: true, action: 'ajax:beforeSend->rating#onCommentBeforeSend ajax:success->rating#onCommentSuccess' }) do %>
        <%= hidden_field_tag :rating_id, :rating_id, value: '', data: { target: "rating.ratingId" } %>
        <%= text_area_tag :comment, nil, :placeholder => "Tell us more to help us improve the quality of our resources", :class => "govuk-textarea row" %>
        <%= submit_tag "Submit your response", :class => 'govuk-button button button--small button--curriculum row' %>
      <% end %>
    </div>
    <div class="rating_page" data-target="rating.page">
      <p class="govuk-body curriculum__rating__text">Thanks for your feedback!</p>
    </div>
  </div>
<% end %>

