<% if user_has_rated?(id) %>
  <div class="curriculum__rating page">
    <p class="govuk-body curriculum__rating--text-only">You have already provided a rating, thank you!</p>
  </div>
<% else %>
  <div class="curriculum__rating" data-controller="rating">
    <div class="rating_page" data-rating-target="page">
      <p class="govuk-body curriculum__rating--text">Did you find these resources useful?</p>
      <p class="curriculum__rating--thumb">
        <%= link_to(
          image_pack_tag("media/images/resources/thumb_up.svg"),
          send(path, :positive, id, user_id),
          alt: "thumb up",
          class: "curriculum__rating--thumb-up",
          remote: true, 'aria-label': 'Thumbs up',
          method: :post,
          data: { disable_with: true, action: 'ajax:success->rating#onRatingSuccessPositive' }
        ) %>
        <%= link_to(
          image_pack_tag("media/images/resources/thumb_down.svg"),
          send(path, :negative, id, user_id),
          alt: "thumb down",
          class: "curriculum__rating--thumb-down",
          'aria-label': 'Thumbs down',
          remote: true,
          method: :post,
          data: { disable_with: true, action: 'ajax:success->rating#onRatingSuccessNegative' }
        ) %>
      </p>
    </div>
    <div class="rating_page" data-rating-target="page">
      <div class="ncce-courses__filters-wrapper cirriculum__rating-choices govuk-!-padding-bottom-2 govuk-!-padding-top-2">
        <p class="govuk-body govuk-!-margin-bottom-1">Tell us more, what did you like?</p>
        <p class="govuk-body-s ncce-label--s">Choose as many choices as relevant</p>
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item ncce-checkboxes__item">
            <%= check_box_tag 'rating_choice[]', 'I felt supported', false, class: 'govuk-checkboxes__input ncce-checkboxes__input', data: { action: 'change->change->rating#filter  change->course-filter#toggleActiveCheckbox' }, id: "rating_choice_1" %>
            <%= label_tag "rating_choice_1}", 'I felt supported', class: 'govuk-label govuk-checkboxes__label ncce-label ncce-checkboxes__label' %>
          </div>
          <div class="govuk-checkboxes__item ncce-checkboxes__item">
            <%= check_box_tag 'rating_choice[]', 'Reduced workload', false, class: 'govuk-checkboxes__input ncce-checkboxes__input', data: { action: 'change->change->rating#filter  change->course-filter#toggleActiveCheckbox' }, id: "rating_choice_2" %>
            <%= label_tag "rating_choice_2}", 'Reduced workload', class: 'govuk-label govuk-checkboxes__label ncce-label ncce-checkboxes__label' %>
          </div>
          <div class="govuk-checkboxes__item ncce-checkboxes__item">
            <%= check_box_tag 'rating_choice[]', 'Increased my confidence', false, class: 'govuk-checkboxes__input ncce-checkboxes__input', data: { action: 'change->change->rating#filter  change->course-filter#toggleActiveCheckbox' }, id: "rating_choice_3" %>
            <%= label_tag "rating_choice_3}", 'Increased my confidence', class: 'govuk-label govuk-checkboxes__label ncce-label ncce-checkboxes__label' %>
          </div>
          <div class="govuk-checkboxes__item ncce-checkboxes__item">
            <%= check_box_tag 'rating_choice[]', 'Better pupil engagement', false, class: 'govuk-checkboxes__input ncce-checkboxes__input', data: { action: 'change->change->rating#filter  change->course-filter#toggleActiveCheckbox' }, id: "rating_choice_4" %>
            <%= label_tag "rating_choice_4}", 'Better pupil engagement', class: 'govuk-label govuk-checkboxes__label ncce-label ncce-checkboxes__label' %>
          </div>
          <div class="govuk-checkboxes__item ncce-checkboxes__item">
            <%= check_box_tag 'rating_choice[]', 'Other', false, class: 'govuk-checkboxes__input ncce-checkboxes__input', data: { action: 'change->change->rating#filter  change->course-filter#toggleActiveCheckbox' }, id: "rating_choice_5" %>
            <%= label_tag "rating_choice_5}", 'Other', class: 'govuk-label govuk-checkboxes__label ncce-label ncce-checkboxes__label' %>
          </div>
          <br>
          <%= submit_tag 'Submit',
            class: 'govuk-button button button--small button--inline row',
            data: {
              action: 'change->rating#filter click->rating#onChoicesSuccess'
            }
          %>
          <br>
        </div>
      </div>
    </div>

    <div class="rating_page rating_page--rows" data-rating-target="page">
      <p class="govuk-body govuk-!-margin-bottom-0">Thanks for your rating!</p>
      <p class="govuk-body-s ncce-label--s govuk-!-margin-bottom-0">Tell us more about what you liked.</p>
      <%= form_with(url: comment_path, method: 'post', remote: true, data: { disable_with: true, action: 'ajax:beforeSend->rating#onCommentBeforeSend ajax:success->rating#onCommentSuccess' }) do %>
        <%= hidden_field_tag :rating_id, :rating_id, value: '', 'data-rating-target': 'ratingId' %>
        <%= text_area_tag :comment, nil, placeholder: 'Tell us more to help us improve the quality of our resources', class: 'govuk-textarea curriculum__rating-textarea row' %>
        <%= submit_tag 'Submit', class: 'govuk-button button button--small button--inline row govuk-!-margin-top-1' %>
      <% end %>
    </div>

    <div class="rating_page" data-rating-target="page">
      <div class="ncce-courses__filters-wrapper cirriculum__rating-choices govuk-!-padding-bottom-2 govuk-!-padding-top-2">
        <p class="govuk-body govuk-!-margin-bottom-1">Tell us more, what did you dislike?</p>
        <p class="govuk-body-s ncce-label--s">Choose as many choices as relevant</p>
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item ncce-checkboxes__item">
            <%= check_box_tag 'rating_choice[]', 'Resource error', false, class: 'govuk-checkboxes__input ncce-checkboxes__input', data: { action: 'change->rating#filter  change->course-filter#toggleActiveCheckbox' }, id: "rating_choice_1" %>
            <%= label_tag "rating_choice_1}", 'Resource error', class: 'govuk-label govuk-checkboxes__label ncce-label ncce-checkboxes__label' %>
          </div>
          <div class="govuk-checkboxes__item ncce-checkboxes__item">
            <%= check_box_tag 'rating_choice[]', 'Download issue', false, class: 'govuk-checkboxes__input ncce-checkboxes__input', data: { action: 'change->rating#filter  change->course-filter#toggleActiveCheckbox' }, id: "rating_choice_2" %>
            <%= label_tag "rating_choice_2}", 'Download issue', class: 'govuk-label govuk-checkboxes__label ncce-label ncce-checkboxes__label' %>
          </div>
          <div class="govuk-checkboxes__item ncce-checkboxes__item">
            <%= check_box_tag 'rating_choice[]', 'Software problem', false, class: 'govuk-checkboxes__input ncce-checkboxes__input', data: { action: 'change->rating#filter  change->course-filter#toggleActiveCheckbox' }, id: "rating_choice_3" %>
            <%= label_tag "rating_choice_3}", 'Software problem', class: 'govuk-label govuk-checkboxes__label ncce-label ncce-checkboxes__label' %>
          </div>
          <div class="govuk-checkboxes__item ncce-checkboxes__item">
            <%= check_box_tag 'rating_choice[]', 'Hardware problem', false, class: 'govuk-checkboxes__input ncce-checkboxes__input', data: { action: 'change->rating#filter  change->course-filter#toggleActiveCheckbox' }, id: "rating_choice_4" %>
            <%= label_tag "rating_choice_4}", 'Hardware problem', class: 'govuk-label govuk-checkboxes__label ncce-label ncce-checkboxes__label' %>
          </div>
          <div class="govuk-checkboxes__item ncce-checkboxes__item">
            <%= check_box_tag 'rating_choice[]', 'Other', false, class: 'govuk-checkboxes__input ncce-checkboxes__input', data: { action: 'change->rating#filter  change->course-filter#toggleActiveCheckbox' }, id: "rating_choice_5" %>
            <%= label_tag "rating_choice_5}", 'Other', class: 'govuk-label govuk-checkboxes__label ncce-label ncce-checkboxes__label' %>
          </div>
          <br>
          <%= submit_tag 'Submit',
            class: 'govuk-button button button--small button--inline row',
            data: {
              action: 'change->rating#filter click->rating#onChoicesSuccessNegative'
              }
          %>
          <br>
        </div>
      </div>
    </div>
    <div class="rating_page rating_page--rows" data-rating-target="page">
      <p class="govuk-body govuk-!-margin-bottom-0">Tell us more, what did you dislike?</p>
      <p class="govuk-body-s ncce-label--s govuk-!-margin-bottom-0">Tell us more about to help us improve.</p>
      <%= form_with(url: comment_path, method: 'post', remote: true, data: { disable_with: true, action: 'ajax:beforeSend->rating#onCommentBeforeSend ajax:success->rating#onCommentSuccess' }) do %>
        <%= hidden_field_tag :rating_id, :rating_id, value: '', 'data-rating-target': 'ratingId' %>
        <%= text_area_tag :comment, nil, placeholder: 'Tell us more to help us improve the quality of our resources', class: 'govuk-textarea curriculum__rating-textarea row' %>
        <%= submit_tag 'Submit', class: 'govuk-button button button--small button--inline row govuk-!-margin-top-1' %>
      <% end %>
    </div>
    <div class="rating_page" data-rating-target="page">
      <p class="govuk-body curriculum__rating--text-only"> &#128075; Thank you for your feedback!</p>
    </div>
  </div>
<% end %>

