<%= render GovGridRowComponent.new(padding: {top: 0, bottom: 7}) do |row| %>
  <%= row.with_column("two-thirds") do %>
    <div class="user-programme-activities-with-asides">
      <h2 class="govuk-heading-m"><%= @title %></h2>
      <%= render PrimaryDashboardActivityComponent.new(programme_activities: @programme_activities, current_user: @current_user) %>
    </div>
  <% end %>
  <%= row.with_column("one-third") do %>
    <%= render_parent  %>
  <% end %>
<% end %>
