<%= render GovGridRowComponent.new(padding: {top: 0, bottom: 7}) do |row| %>
  <%= row.with_column("two-thirds") do %>
    <div class="user-programme-activities-with-asides">
      <div class="user-programme-activities-with-asides__header">
        <% if complete? %>
          <div>
            <%= image_pack_tag('media/images/icons/activity-complete-icon.svg') %>
          </div>
        <% end %>
        <div>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0"><%= @title %></h2>
        </div>
      </div>
      <%= render PrimaryDashboardActivityComponent.new(programme_activities: @programme_activities, current_user: @current_user, programme_activity_group: @programme_activity_group) %>
    </div>
  <% end %>
  <%= row.with_column("one-third") do %>
    <%= render_parent  %>
  <% end %>
<% end %>
