<p class="govuk-body govuk-!-margin-top-8 <%= add_groups_complete_icon_class(current_user, @programme_activity_groups_1_to_3) %>"><%= t('.development.title.html') %></p>
<ul class="govuk-list ncce-activity-list ncce-activity-list--programme" role="list">
  <%= render 'certificates/primary_certificate_v2/achievements',
      presenters: @user_programme_achievements.face_to_face_achievements(to_show = 1),
      category: Activity::FACE_TO_FACE_CATEGORY
  %>
  <%= render 'certificates/primary_certificate_v2/achievements',
      presenters: @user_programme_achievements.online_achievements(to_show = 1),
      category: Activity::ONLINE_CATEGORY
  %>
  <% if @user_pathway.present? %>
    <li class="ncce-activity-list__item ncce-activity-list__item--no-gap">
      <%= render partial: 'certificates/pathways/recommended_courses', locals: {
        event_category: 'primary enrolled',
        pathway: @user_pathway,
        recommended_activities: @recommended_activities_for_user
      } %>
    </li>
  <% else %>
    <li class="ncce-activity-list__item ncce-activity-list__item--no-gap">
      <div class='ncce-activity-list__button-wrapper'>
        <%= link_to t('.all_courses_button'), courses_path(certificate: @programme.slug), class: 'govuk-button button button--small', data: {
          event_action: 'click', event_category: 'Primary enrolled', event_label: 'View all courses'
        } %>
      </div>
    </li>
  <% end %>
  <%= render 'certificates/pathways/community_achievements', presenters: @user_programme_achievements.primary_community_activities(
    programme_activities: @programme_activity_group_3
  ) %>
</ul>

<% @programme_activity_groups_4_to_5.each do |group| %>
  <ul class="govuk-list ncce-activity-list ncce-activity-list--programme" role="list">
    <p class="govuk-body <%= add_group_complete_icon_class(current_user, group) %>">
      <strong>Choose at least <%= group.required_for_completion.humanize %> activity</strong> to <%= group.title %>
    </p>
    <%= render 'certificates/pathways/community_achievements', presenters: @user_programme_achievements.primary_community_activities(
      programme_activities: group.programme_activities,
      pathway_activities: @recommended_community_activities_for_user,
      complete: group.user_complete?(current_user)
    ) %>
  </ul>
<% end %>
