<div class="ncce-pathway-prompt govuk-!-margin-top-6 govuk-!-margin-bottom-6">
  <p class="govuk-body">
    <strong><%= t('.title') %></strong><br>
    <%= t('.text') %>
  </p>
  <div>
    <details class="govuk-details ncce-details ncce-details--normal govuk-!-margin-bottom-2" data-module="govuk-details">
      <summary class="govuk-details__summary ncce-details__summary">
        <span class="govuk-details__summary-text ncce-details__summary-text">
          <%= t('.expander_title') %>
        </span>
      </summary>
      <div class='ncce-details__summary-content-wrapper'>
        <p class="govuk-body"><strong><%= t('.pathway_list_title') %></strong></p>
        <ul class="govuk-list ncce-details__pathway-list">
          <% @pathways.each do |pathway| %>
            <li class="govuk-body-s">
              <%= link_to pathway.title, pathway.pdf_link, class: "ncce-link", data: { event_action: 'click', event_category: 'Primary enrolled', event_label: "#{pathway.title} PDF" } %>
            </li>
          <% end %>
        </ul>
        <h2 class="govuk-heading-s">
          <%= t('.input.text') %>
        </h2>
        <%= form_tag update_user_pathway_primary_certificate_path, { method: :put, class: '' } do %>
          <%= select_tag :pathway_id,
            options_for_select(@pathways.collect {|p| [ p['title'], p['id'] ] }),
            {
              include_blank: t('.input.placeholder'),
              class: 'govuk-select ncce-select ncce-pathway-aside__select ncce-pathway-aside__select--inline',
              'aria-label': t('.input.placeholder'),
              required: true
            }
          %>
          <%= submit_tag t('.button.text'), class: 'govuk-button button ncce-pathway-aside__button govuk-!-margin-bottom-0', data: { event_action: 'click', event_category: 'Primary enrolled', event_label: 'Switch pathway' } %>
        <% end %>
      </div>
    </details>
  </div>
</div>
