<p class="govuk-body ncce-activity-list__title govuk-!-margin-top-8 <%= add_groups_complete_icon_class(current_user, @professional_development_groups) %>">
  <%= t('.development.title.html') %>
</p>
<ul class="govuk-list ncce-activity-list ncce-activity-list--programme" role="list">
  <li class="ncce-activity-list__item">
    <%= render CourseActivityComponent.new(
      objective: t('.face_to_face_prompt.html'),
      booking: {
        path: courses_path(course_format: %i[face_to_face remote], certificate: @programme.slug),
        tracking_label: 'Book remote or F2F course'
      },
      achievements: @face_to_face_achievements,
      tracking_category: tracking_category
    ) %>
  </li>
  <% if @issued_badge.present? %>
    <li class="ncce-activity-list__item">
      <%= render DashBadgeComponent.new(
        badge: @issued_badge,
        tracking_event_category: @badge_tracking_event_category,
        tracking_event_label: @badge_tracking_event_label
      ) %>
    </li>
  <% end %>
  <li class="ncce-activity-list__item">
    <%= render CourseActivityComponent.new(
      objective: t('.online_prompt.html'),
      booking: {
        path: courses_path(course_format: %i[online], certificate: @programme.slug),
        tracking_label: 'Book online course'
      },
      achievements: @online_achievements,
      tracking_category: tracking_category
    ) %>
  </li>
  <li class="ncce-activity-list__item">
    <div class='ncce-activity-list__button-wrapper'>
      <%= link_to t('.all_courses_button'),
        courses_path(certificate: @programme.slug),
        class: 'govuk-button button govuk-!-margin-bottom-0',
        data: {
          event_action: 'click', event_category: tracking_category, event_label: 'View all courses'
        }
      %>
    </div>
  </li>
</ul>

<!-- Remember additional course handling -->
<% @community_groups.each do |group| %>
  <ul class="govuk-list ncce-activity-list ncce-activity-list--programme" role="list">
    <p class="govuk-body ncce-activity-list__title <%= add_group_complete_icon_class(current_user, group) %>">
      <strong>Choose at least <%= group.required_for_completion.humanize %> activity</strong> to <%= group.title.downcase %>
    </p>
    <% sort_complete_first(
      activities: group.programme_activities,
      complete: group.user_complete?(current_user)
    ).each do |programme_activity| %>
      <li class="ncce-activity-list__item">
        <%= render CommunityActivityComponent.new(
          activity: Activity.find(programme_activity.activity_id),
          achievement: @community_achievements&.find_by(activity_id: programme_activity.activity_id),
          tracking_category: tracking_category
        ) %>
      </li>
    <% end %>
  </ul>
<% end %>

