<ul class="govuk-list ncce-activity-list ncce-activity-list--programme" role="list">
  <li class="ncce-activity-list__item ncce-activity-list__item--no-gap">
    <%= render CourseActivityComponent.new(
      objective: t('.face_to_face_prompt.html'),
      booking: {
        path: courses_path(course_format: %i[face_to_face remote], certificate: @programme.slug),
        tracking_label: 'Book remote or F2F course'
      },
      achievements: @user_programme_achievements.face_to_face_achievements,
      tracking_category: tracking_category
    ) %>
  </li>
  <% if @issued_badge.present? %>
    <li class="ncce-activity-list__item">
      <%= render DashBadgeComponent.new(
        badge: @issued_badge,
        tracking_event_category: @badge_tracking_event_category,
        tracking_event_label: @badge_tracking_event_label
      ) %>
    </li>
  <% end %>
  <li class="ncce-activity-list__item ncce-activity-list__item--no-gap">
    <%= render CourseActivityComponent.new(
      objective: t('.online_prompt.html'),
      booking: {
        path: courses_path(course_format: %i[online], certificate: @programme.slug),
        tracking_label: 'Book online course'
      },
      achievements: @user_programme_achievements.online_achievements,
      tracking_category: tracking_category
    ) %>
  </li>
</ul>

<% @programme_activity_groupings.each do |group| %>
  <ul class="govuk-list ncce-activity-list ncce-activity-list--programme" role="list">
    <p class="govuk-body"><strong><%= group.title %> - complete <%= group.required_for_completion %> of the following activities:</strong></p>
    <%= render 'achievements', presenters: @user_programme_achievements.map_to_community_presenter(group.programme_activities) %>
  </ul>
<% end %>

