<div class="ncce-aside ncce-pathway-prompt ncce-pathway-prompt--aside">
  <h2 class="govuk-body ncce-pathway-prompt__title">
    <strong><%= t('.heading') %></strong>
    <p class='govuk-body-s'><%= link_to @user_pathway.title, @user_pathway.pdf_link, class: "ncce-link", data: tracking_data("#{@user_pathway.title} PDF") %> (PDF)</p>
  </h2>
  <details class="govuk-details ncce-details" data-module="govuk-details">
    <summary class="govuk-details__summary ncce-details__summary">
      <span class="govuk-details__summary-text ncce-details__summary-text">
        <%= t('.expander_title') %>
      </span>
    </summary>
    <div class='ncce-details__summary-content-wrapper'>
      <p class="govuk-body-s govuk-!-margin-bottom-1"><strong><%= t('.pathway_list_title') %></strong></p>
      <ul class="govuk-list ncce-details__pathway-list">
        <% available_pathways_for_user.each do |pathway| %>
          <li class="govuk-body-s">
            <%= link_to pathway.title, pathway.pdf_link, class: "ncce-link", data: tracking_data("#{pathway.title} PDF") %> (PDF)
          </li>
        <% end %>
      </ul>
      <%= form_tag update_user_pathway_secondary_certificate_path,
        {
          method: :put,
          class: '',
          id: 'secondary-pathway-form',
          data: tracking_data('Change pathway')
        } do %>
          <%= select_tag :pathway_id,
            options_for_select(available_pathways_for_user.collect {|p| [ p['title'], p['id'] ] }),
            {
              include_blank: t('.input.placeholder'),
              class: 'govuk-select ncce-select ncce-pathway-aside__select govuk-!-margin-bottom-2',
              'aria-label': t('.input.placeholder'),
              required: true
            }
          %>
          <%= submit_tag t('.button.text'), class: 'govuk-button button ncce-pathway-aside__button ncce-pathway-aside__button--full govuk-!-margin-bottom-0', data: tracking_data('Switch pathway') %>
      <% end %>
    </div>
  </details>
</div>
