<% meta_tag :title, t('.page_title') %>
<% meta_tag :url, request.original_url %>
<%= render 'pages/certification/hero' %>
<div class="ncce-programmes-activity">
  <%= render ProgressBarComponent.new(programme: @programme) %>
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-m"><%= t(
            '.introduction.html',
            subject_knowledge: link_to('Subject knowledge certificate', cs_accelerator_path)
          ) %></p>
          <%= render 'achievement_list' %>
        </div>
        <div class="govuk-grid-column-one-third">
          <%= render partial: 'pathway_aside', locals: {
            available_pathways_for_user: @available_pathways_for_user
          } if @user_pathway %>
          <%= render AsideComponent.new(
            title: t('.support_aside.title'),
            class_name: 'help-aside',
            text: t('.support_aside.text.html',
              hub_link: link_to(t('.support_aside.hub_link_text'), '/hubs', class: 'ncce-link', data: tracking_data('Contact Hub')),
              email_link: mail_to('info@teachcomputing.org', 'info@teachcomputing.org', class: 'ncce-link', data: tracking_data('Email'))
            ))
          %>
          <div class="ncce-aside--borderless">
            <%= render FeedbackComponent.new(heading: t('.feedback_text'), area: :secondary_certificate) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
