

<header class="main-content__header">
  <h1 class="main-content__page-title">
    Generate Asessment Attempt
  </h1>
</header>

<section class="main-content__body">
  <%= form_tag(admin_user_process_assessment_attempt_path(user_id: @user.id), method: :post) do %>
        
    <div class="field-unit">
      <div class="field-unit__label">
        <%= label_tag :assessment_id %>
      </div>
      <div class="field-unit__field">
        <%= select_tag :assessment_id, options_for_select(Assessment.includes(:programme).all.collect{ [_1.programme.title, _1.id] }) %>
      </div>
    </div>

    <div class="field-unit">
      <div class="field-unit__label">
        <%= label_tag :score, "Score (%)" %>
      </div>
      <div class="field-unit__field">
        <%= number_field_tag :score %> 
      </div>
    </div>

    <%= submit_tag "Process" %>
  <% end %>
</section>
