
<%= render GovGridRowComponent.new(additional_classes: "featured-enrichments-wrapper") do |row| %>
  <%= row.with_column(:full) do %>

    <h2 class="govuk-heading-m"><%= @featured_title %></h2>
    <div class="featured-enrichments enrichment-container">
      <% @featured.each do |featured_enrichment| %>
        <%= render featured_enrichment.render %>
      <% end %>
    </div>
  <% end %>
<% end %>

<div data-controller="cms-enrichment-list-component">
  <%= render GovGridRowComponent.new do |row| %>
    <%= row.with_column(:full) do %>

      <div class="enrichment-filters">
        <h2 class="govuk-heading-m"><%= @all_title %></h2>
        <div class="enrichment-filters__selects">
          <%= select_tag :term, options_for_select(@terms), prompt: @term_filter_placeholder, class: "govuk-select", data: {
            cms_enrichment_list_component_target: "termSelect",
            action: "cms-enrichment-list-component#filterChanged"
          } %>
          <%= select_tag :age_group, options_for_select(@age_groups), prompt: @age_group_filter_placeholder, class: "govuk-select", data: {
            cms_enrichment_list_component_target: "ageGroupSelect",
            action: "cms-enrichment-list-component#filterChanged"
          } %>
          <%= select_tag :type, options_for_select(@types), prompt: @type_filter_placeholder, class: "govuk-select", data: {
            cms_enrichment_list_component_target: "typeSelect",
            action: "cms-enrichment-list-component#filterChanged"
          } %>
        </div>

        <div data-cms-enrichment-list-component-target="filterWrapper" class="filter-counter hide">
          <span data-cms-enrichment-list-component-target="filterCount"></span><a class="filter-counter__clear" data-action="click->cms-enrichment-list-component#clearFilter">Clear filters</a>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= render GovGridRowComponent.new(padding: {top: 0}) do |row| %>
    <%= row.with_column(:full) do %>

      <div class="all-enrichments enrichment-container">

        <% @enrichments.each do |enrichment| %>
          <%= render enrichment.render %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>