<div class="govuk-width-container">
  <div class="ncce-feat">
    <h2 class="govuk-heading-l ncce-heading-l__centered"><%= @title %></h2>
    <% if @main_feature  || @featured_posts.any? %>
      <div class="ncce-feat__grid">
        <% if @main_feature%>
          <div class="ncce-feat__main">
              <%= render Cms::ImageComponent.new(@main_feature.featured_image.image, show_caption: false) %>
              <p class="govuk-body ncce-feat__date"><%= published_date(@main_feature.publish_date) %></p>
              <p class="govuk-heading-s ncce-feat__heading"><%= link_to @main_feature.title, cms_post_path(@main_feature.slug), class: 'ncce-link', data: { event_action: 'click', event_category: 'Homepage', event_label: 'News' } %></p>
              <p class="govuk-body ncce-feat__excerpt"><%= @main_feature.excerpt %></p>
          </div>
        <% end %>
        <div class="ncce-feat__panel-container">
          <% @featured_posts.each do |post| %>
            <div class="ncce-feat__panel">
              <p class="govuk-body ncce-feat__date"><%= published_date(post.publish_date) %></p>
              <p class="govuk-heading-s ncce-feat__heading"><%= link_to post.title, cms_post_path(post.slug), class: "ncce-link", data: { event_action: 'click', event_category: 'Homepage', event_label: 'News' } %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="ncce-feat__button-container">
      <p class="govuk-body">
        <%= link_to "View all news and updates", cms_posts_path, class: "govuk-button button hero-button--home", data: { event_action: 'click', event_category: 'Homepage', event_label: 'News' } %>
      </p>
    </div>
  </div>
</div>
