<% meta_tag :title, @unit.title %>
<% meta_tag :description, @unit.description %>
<% meta_tag :image, asset_pack_path('media/images/curriculum/curriculum.png') %>
<div class="hero hero--resources <%= ['1', '2'].include?(@unit.year_group.key_stage.level) ? 'hero--orange' : 'hero--purple' %> hero--bottom-glyph">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <div class="curriculum__label__wrapper">
        <p class="govuk-body curriculum__label"><%= year_group_title(@unit.year_group.year_number) %></p>
        <%# Only show if in I Belong %>
        <p class="govuk-body i-belong__label">
          <%= image_pack_tag('media/images/pages/i-belong/i_belong_icon.svg') %>
        </p>
      </div>
      <div class="hero__heading-wrapper hero__heading-wrapper--unit<%= 'hero__heading-wrapper--full-width' if local_assigns[:full_width] %>">
        <h1 class="govuk-heading-xl hero__heading"><%= @unit.title %></h1>
      </div>
    </div>
  </div>
</div>
<div class="govuk-width-container">
  <%= render partial: 'curriculum/breadcrumb', locals: {
    key_stage_title: @unit.year_group.key_stage.short_title,
    key_stage_path: curriculum_key_stage_units_path(@unit.year_group.key_stage.slug),
    current: 'Unit'
  } %>
	<div class="govuk-main-wrapper resources__wrapper">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<p class="govuk-body govuk-!-margin-bottom-8"><%= @unit.description %></p>
			</div>
			<div class="govuk-grid-column-one-third">
        <% if @unit.isaac_url.present? %>
          <%= render partial: 'curriculum/gcse-revision', locals: { isaac_url: @unit.isaac_url, category: "Unit" } %>
        <% end %>
        <% if current_user %>
				  <%= render partial: 'curriculum/rating', locals: { path: :create_curriculum_unit_rating_path, comment_path: :update_curriculum_unit_rating, choices_path: :update_curriculum_unit_rating_choices, id: @unit.id, user_id: current_user.id } %>
        <% end %>
			</div>
		</div>
    <div class="govuk-grid-row">
	    <div class="govuk-grid-column-full">
          <%= render FileCardsComponent.new(cards: [@unit.unit_guide] + @unit.learning_graphs + @unit.rubrics + @unit.summative_assessments + @unit.summative_answers) %>
      </div>
    </div>
    <%= render partial: 'lessons', locals: { key_stage: @unit.year_group.key_stage, unit: @unit, lessons: @unit.lessons } %>
		<%= render 'curriculum/feedback' %>
	</div>
</div>
