<div class="hero hero--resources hero--orange hero--bottom-glyph">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
			<p class="govuk-body curriculum__label">Unit</p>
      <div class="hero__heading-wrapper hero__heading-wrapper--unit<%= 'hero__heading-wrapper--full-width' if local_assigns[:full_width] %>">
        <h1 class="govuk-heading-xl hero__heading"><%= @unit.title %></h1>
      </div>
    </div>
  </div>
</div>
<div class="govuk-width-container">
	<p class="govuk-body govuk-!-padding-top-4 govuk-!-margin-bottom-0"><%= link_to 'Curriculum', curriculum_key_stages_path, class: 'govuk-link ncce-link' %> > <%= link_to @unit.year_group.key_stage.short_title, curriculum_key_stage_units_path(@unit.year_group.key_stage.slug), class: 'govuk-link ncce-link' %> > Year <%= @unit.year_group.year_number %> - <%= @unit.title %></p>
	<div class="govuk-main-wrapper resources__wrapper">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<p class="govuk-body govuk-!-margin-bottom-8"><%= @unit.description %></p>
			</div>
			<div class="govuk-grid-column-one-third">
				<%= render 'curriculum/rating' %>
			</div>
		</div>
		<%= render partial: 'tiles', locals: { unit: @unit } %>
    <%= render partial: 'lessons', locals: { key_stage_slug: @unit.year_group.key_stage.slug, unit: @unit, lessons: @unit.lessons } %>
		<%= render 'curriculum/feedback' %>
	</div>
</div>
