<!DOCTYPE html>
<html lang="en" class="govuk-template ">
<head>
  <meta charset="utf-8" />
  <title> <%= yield_meta_tag(:title, 'Teach Computing') %> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

  <% default_description = 'Providing resources, training and support for teaching Computing in primary and secondary schools and colleges from Key Stage 1 through to A Level' %>
  <% default_social_image = asset_pack_path 'media/images/social-media/social-image.jpg' %>

  <meta name="description" content="<%= yield_meta_tag(:description, default_description) %>" />

  <meta property="og:description" content="<%= yield_meta_tag(:description, default_description) %>">
  <meta property="og:site_name" content="Teach Computing" />
  <meta property="og:title" content="<%= yield_meta_tag(:title, 'Teach Computing') %>" />
  <meta property="og:url" content="<%= yield_meta_tag(:url, 'https://teachcomputing.org') %>" />
  <meta property="og:image" content="<%= yield_meta_tag(:image, default_social_image) %>">
  <meta property="og:image:alt" content="<%= yield_meta_tag(:image_alt, 'Teaching Computing') %>" />
  <meta property="og:type" content="website" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="<%= yield_meta_tag(:url, 'https://teachcomputing.org') %>">
  <meta name="twitter:title" content="<%= yield_meta_tag(:title, 'Teach Computing') %>">
  <meta name="twitter:description" content="<%= yield_meta_tag(:description, default_description) %>">
  <meta name="twitter:image" content="<%= yield_meta_tag(:image, default_social_image) %>">
  <meta name="twitter:image:alt" content="<%= yield_meta_tag(:image_alt, 'Teaching Computing') %>">
  <meta name="twitter:dnt" content="on">

  <%= favicon_pack_tag 'media/images/favicons/favicon.ico', sizes: '16x16 32x32' %>
  <%= favicon_pack_tag 'media/images/favicons/apple-touch-icon.png', rel: 'apple-touch-icon', sizes: '120x120' %>
  <%= favicon_pack_tag 'media/images/favicons/favicon-32x32.png', rel: 'icon', sizes: '32x32' %>
  <%= favicon_pack_tag 'media/images/favicons/favicon-16x16.png', rel: 'icon', sizes: '16x16' %>
  <%= favicon_pack_tag 'media/images/favicons/safari-pinned-tab.svg', rel: 'mask-icon', color: '#de01a5' %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_pack_tag 'govuk-frontend' %>

  <% if ENV['GOOGLE_TAG_MANAGER_KEY'] %>
    <!-- Google Tag Manager -->
    <%= javascript_tag nonce: true do -%>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;var n=d.querySelector('[nonce]');
      n&&j.setAttribute('nonce',n.nonce||n.getAttribute('nonce'));f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','<%= ENV['GOOGLE_TAG_MANAGER_KEY'] %>');
    <% end -%>
    <!-- End Google Tag Manager -->
  <% end %>
</head>

<body class="govuk-template__body ">
  <% if ENV['GOOGLE_TAG_MANAGER_KEY'] %>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= ENV['GOOGLE_TAG_MANAGER_KEY'] %>"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  <% end %>

  <%= render 'components/header' %>
  <%#= render 'components/announcement' %>
  <%= yield :content %>

  <%= render 'components/footer' %>
</body>
</html>
