<!DOCTYPE html>
<html lang="en" class="govuk-template ">
<head>
  <meta charset="utf-8" />
  <title>National Centre for Computing Education</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', nonce: true %>
</head>

<body class="govuk-template__body ">
  <%= javascript_tag nonce: true do -%>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');<% end -%>

  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

  <%= render 'components/header' %>

  <div class="govuk-width-container">
    <% flash.each do |key, value| %>
      <%= value %>
    <% end %>
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <%= yield %>
    </main>
  </div>

  <%= render 'components/footer' %>

  <%= javascript_tag nonce: true do -%>
      window.GOVUKFrontend.initAll()
  <% end -%>
</body>
</html>
